    *,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    outline: none;
    color: #000;
}

a:hover {
    cursor: pointer
}

*:focus {
    outline: 0;
}

input {
    width: 100%;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #ea5868 inset;
    -webkit-text-fill-color: #fff !important;
}
body.login {
    background-image: url(../img/login-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.login-cont {
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-logo,
.login-form {
    display: block;
    float: left;
    height: 380px;
}

.login-logo {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    position: relative;
    width: 40%;
}

.login-logo img {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-form {
    background: rgba(238, 54, 72, 0.8);
    color: #fff;
    width: 60%;
    padding: 0px 45px;
    position: relative;
}

.login-form .cont {
    top: 50%;
    transform: translatey(-50%);
    position: relative;
    width: 100%;
    display: block;
}

.login-form h1 {
    margin: 0;
    font-size: 1.3em;
    font-weight: 400;
    text-transform: uppercase;
}

p.subtitle {
    font-size: 0.85em;
    font-style: italic;
    margin-top: 5px;
}

.input-wrapper {
    position: relative;
    line-height: 14px;
    display: inline-block;
    font-size: 1em;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.input-wrapper input {
    font-size: 1em;
    color: #fff;
    border: 0;
    outline: 0;
    position: relative;
    text-transform: capitalize;
    height: 40px;
    background: transparent;
    font-family: Raleway, sans-serif;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding: 0;
    padding-top: 8px;
}

.input-wrapper label {
    color: #fff;
    font-size: 0.9em;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 17px;
    pointer-events: none;
    -webkit-transition: -webkit-transform 100ms ease;
    -moz-transition: -moz-transform 100ms ease;
    -o-transition: -o-transform 100ms ease;
    -ms-transition: -ms-transform 100ms ease;
    transition: transform 100ms ease;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.input-wrapper label.lup,
.input-wrapper.input-filled label {
    -webkit-transform: translateY(-22px);
    -moz-transform: translateY(-22px);
    -o-transform: translateY(-22px);
    -ms-transform: translateY(-22px);
    transform: translateY(-22px);
    font-size: 0.8em;
    color: #ffd7dc;
}

.center {
    text-align: center
}

.checkbox {
    display: block;
    padding: 10px 20px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    margin-top: 5px;
}

.checkbox label {
    cursor: pointer;
    padding-left: 0;
}

.checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
}

.checkbox .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 3px;
}

.checkbox .checkbox-material:before {
    position: absolute;
    left: 8px;
    top: 2px;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    height: 4px;
    width: 4px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
}

.checkbox .checkbox-material .check {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid;
    border-radius: 2px;
    overflow: hidden;
    z-index: 1;
    top: -1px;
    margin-right: 5px;
}

.checkbox .checkbox-material .check:before {
    position: absolute;
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    margin-top: -4px;
    margin-left: 6px;
    width: 0;
    height: 0;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
    -webkit-animation: checkbox-off 0.3s forwards ease-out;
    animation: checkbox-off 0.3s forwards ease-out;
}

.checkbox input[type=checkbox]:focus+.checkbox-material .check:after {
    opacity: 0.2;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check:before {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    -webkit-animation: checkbox-on 0.3s forwards ease-out;
    animation: checkbox-on 0.3s forwards ease-out;
}

.checkbox input[type=checkbox]:not(:checked)+.checkbox-material:before {
    -webkit-animation: rippleOff 700ms forwards ease-out;
    animation: rippleOff 700ms forwards ease-out;
}

.checkbox input[type=checkbox]:checked+.checkbox-material:before {
    -webkit-animation: rippleOn 700ms forwards ease-out;
    animation: rippleOn 700ms forwards ease-out;
}

.checkbox input[type=checkbox]:not(:checked)+.checkbox-material .check:after {
    -webkit-animation: rippleOff 700ms forwards ease-out;
    animation: rippleOff 700ms forwards ease-out;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check:after {
    -webkit-animation: rippleOn 700ms forwards ease-out;
    animation: rippleOn 700ms forwards ease-out;
}

.checkbox input[type=checkbox][disabled]:not(:checked)~.checkbox-material .check:before,
.checkbox input[type=checkbox][disabled]+.circle {
    opacity: 0.5;
}

.checkbox input[type=checkbox][disabled]+.checkbox-material .check:after {
    background-color: rgba(0, 0, 0, 0.84);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@-webkit-keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }
    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }
    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }
    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }
    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@-webkit-keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    25% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -4px;
        margin-left: 6px;
        width: 0px;
        height: 0px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
    }
    51% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
    }
}

@keyframes checkbox-off {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    25% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
    }
    50% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -4px;
        margin-left: 6px;
        width: 0px;
        height: 0px;
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
    }
    51% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -2px;
        margin-left: -2px;
        width: 20px;
        height: 20px;
        box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
    }
}

@-webkit-keyframes rippleOn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

@keyframes rippleOn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

@-webkit-keyframes rippleOff {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

@keyframes rippleOff {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(13, 13);
        transform: scale(13, 13);
    }
}

.login-btn {
    display: block;
    border: 2px solid #f6931e;
    padding: 6px;
    text-align: center;
    width: 130px;
    margin: 10px auto 0;
    background: transparent;
    font-size: 0.9em;
    color: #fff;
    border-radius: 100px;
}

.login-btn:hover {
    background: #f6931e;
    cursor: pointer;
}

.error {
    display: block;
    text-align: center;
    font-size: 0.9em;
    color: #ffdd00;
    font-weight: 500;
}

.error span {
    display: block;
}

.validation {
    display: block;
    font-size: 0.75em;
    color: #ffdd00;
    font-weight: 500;
}

@media screen and (max-width: 720px) {
    .login-cont {
        width: 600px;
    }
    .login-logo {
        width: 35%;
    }
    .login-form {
        width: 65%;
        padding: 40px 40px;
    }
    p.subtitle {
        font-size: 0.8em;
        margin-bottom: 0;
        text-align: center;
    }
}

@media screen and (max-width: 620px) {
    .login-cont {
        width: 80%;
    }
    .login-logo,
    .login-form {
        width: 100%;
        height: auto;
    }
    .login-logo {
        height: 60px;
    }
    .login-form {
        height: auto;
        padding: 30px;
    }
    .login-form h1 {
        font-size: 1.2em;
        text-align: center;
    }
    .login-form .cont {
        top: 0;
        transform: initial;
    }
    @media screen and (max-width: 480px) {
        .login-cont {
            width: 90%;
        }
    }
    @media screen and (max-height: 400px) {
        .login-cont {
            position: relative;
            left: 50%;
            top: 10px;
            transform: translatex(-50%);
            margin-bottom: 10px;
        }
    }