.row:after {
    content: "";
    display: table;
    clear: both;
}

.resumen {
    display: block;
    max-width: 1020px;
    margin: 40px auto 20px;
    padding: 0 20px;
}

.inner {
    max-width: 860px;
    margin: 0 auto;
}

.resumen h1 {
    font-size: 1.4em;
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 10px;
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
}

.resumen h2 {
    text-align: left;
    font-size: 1.1em;
    border-bottom: 2px solid #ea2c43;
    padding: 10px 0;
    margin-bottom: 30px;
    position: relative;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
}

.card {
    display: block;
    max-width: 350px;
    background: #ea2c43;
    color: #fff;
    margin: 0 auto;
}

.c-photo,
.c-name {
    display: block;
    float: left;
    text-align: center;
    padding: 20px;
    height: 120px;
    position: relative;
}

.c-photo {
    width: 100px;
    padding-right: 0;
}

.c-nm {
    top: 50%;
    transform: translatey(-50%);
    position: relative;
    width: 100%;
    display: block;
}

.c-nm p {
    margin-top: 0;
}

.p-pic {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    overflow: hidden;
    width: 80px;
    height: 80px;
    background-image: url(../img/profile-icon.png);
    background-size: 80px 80px;
    background-repeat: no-repeat;
}

.c-name {
    width: calc(100% - 100px);
    font-weight: 600;
    text-align: center;
    padding-left: 0;
}

.c-name p {
    margin-bottom: 5px;
}

.c-name span {
    display: block;
    font-weight: 400;
    font-size: 0.9em
}

.num-cont {
    text-align: center;
}

.num {
    display: inline-block;
    width: 100px;
    margin: 0 20px;
}

.num span {
    display: block;
    color: #555;
    background: #fff;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    line-height: 2.2em;
    font-size: 2.6em;
    font-family: Arial, sans-serif;
}

.num p {
    font-size: 1.1em;
    font-weight: 500;
}

.num-total span {
    border: 5px solid #2196F3;
}

.num-aprob span {
    border: 5px solid #4CAF50;
}

.num-rev span {
    border: 5px solid #ffdd00;
}

.num-rechaz span {
    border: 5px solid #F44336;
}
.btn-newbrief {
    display: block;
    width: 240px;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    -webit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 8px 0;
    color: #000;
    font-size: 1.2em;
    transition: 0.3s ease;
}
.btn-newbrief i {
    width: 30px;
    height: 30px;
    background: #2ecc71;
    border-radius: 100px;
    line-height: 1.7em;
    color: #fff;
    margin-right: 5px;
}
.btn-newbrief:hover {
    background: #2ecc71;
    color: #fff;
}
.dtable-container {
    position: relative
}

.check-datos input[type=checkbox] {
    display: none;
}

.check-datos input[type=checkbox]+label {
    position: relative;
    display: flex;
    margin: 5px 0;
    align-items: center;
    color: #000;
    transition: color 250ms cubic-bezier(.4, 0, .23, 1);
    font-size: 1em;
    font-weight: 400;
}

.check-datos input[type=checkbox]+label>span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    width: 20px;
    height: 20px;
    background: 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4, 0, .23, 1);
    position: relative;
}

.check-datos input[type=checkbox]:checked+label>span {
    border: .7em solid #09b310
}

.check-datos input[type=checkbox]:checked+label>span:before {
    position: absolute;
    top: -1px;
    left: -6px;
    content: '';
    display: block;
    width: 4px;
    height: 7px;
    border: solid #fff;
    border-width: 0 3px 0 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.check-datos input[type=checkbox]:checked+label>span:after {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: -1px;
    width: 4px;
    height: 13px;
    border: solid #fff;
    border-width: 0 3px 0 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.brief-type-filter {
    display: block;
    position: absolute;
    top: 0;
    z-index: 100;
}

.brief-type-filter .check-datos {
    display: inline-block;
    width: 120px;
    vertical-align: top;
    font-size: 0.9em;
}

.i-status {
    font-size: 1.1em;
}

.i-status.s-aprob {
    color: #4CAF50;
}

.i-status.s-rechaz {
    color: #f44336;
}

.i-status.s-revis {
    color: #ffdd00;
}

.opt-btn-cont {
    display: block;
    width: 145px;
}

.opt-btn {
    display: inline-block;
    background: #eaeaea;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    border-radius: 100px;
    line-height: 1.9em;
    color: #333;
}

.opt-btn:hover {
    background: #ea2c43;
    color: #fff;
}

#tooltip {
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100000;
    font-size: 0.85em;
    padding: 8px;
}

#tooltip:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto
}

#tooltip.left:after {
    left: 10px;
    margin: 0
}

#tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0
}


/*Datatables*/

#tabla-detalle thead {
    background: #ea2c43;
    color: #fff;
}

#tabla-detalle tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

#tabla-detalle th,
#tabla-detalle td {
    font-size: 0.9em;
    text-align: center;
}

#tabla-detalle tfoot {
    display: table-header-group;
}

#tabla-detalle tfoot th {
    padding: 10px !important;
}

#tabla-detalle tfoot th input {
    font-size: 0.9em;
    padding: 8px;
    border-radius: 5px;
}

th.no-input input {
    display: none;
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 18px
}

table.dataTable thead th:active,
table.dataTable thead td:active {
    outline: none
}

table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 10px 18px 6px 18px
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right
}

table.dataTable thead .sorting {
    background-image: url("../img/sort_both.png")
}

table.dataTable thead .sorting_asc {
    background-image: url("../img/sort_asc.png")
}

table.dataTable thead .sorting_desc {
    background-image: url("../img/sort_desc.png")
}

table.dataTable thead .sorting_asc_disabled {
    background-image: url("../img/sort_asc_disabled.png")
}

table.dataTable thead .sorting_desc_disabled {
    background-image: url("../img/sort_desc_disabled.png")
}

table.dataTable tbody tr {
    background-color: #ffffff
}

table.dataTable tbody tr.selected {
    background-color: #B0BED9
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 8px 10px
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
    border-top: 1px solid #ddd
}

table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td,
table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
    border-top: none
}

table.dataTable.cell-border tbody th,
table.dataTable.cell-border tbody td {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd
}

table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
    border-left: 1px solid #ddd
}

table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
    border-top: none
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #f9f9f9
}

table.dataTable.stripe tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected {
    background-color: #acbad4
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: #f6f6f6
}

table.dataTable.hover tbody tr:hover.selected,
table.dataTable.display tbody tr:hover.selected {
    background-color: #aab7d1
}

table.dataTable.order-column tbody tr>.sorting_1,
table.dataTable.order-column tbody tr>.sorting_2,
table.dataTable.order-column tbody tr>.sorting_3,
table.dataTable.display tbody tr>.sorting_1,
table.dataTable.display tbody tr>.sorting_2,
table.dataTable.display tbody tr>.sorting_3 {
    background-color: #fafafa
}

table.dataTable.order-column tbody tr.selected>.sorting_1,
table.dataTable.order-column tbody tr.selected>.sorting_2,
table.dataTable.order-column tbody tr.selected>.sorting_3,
table.dataTable.display tbody tr.selected>.sorting_1,
table.dataTable.display tbody tr.selected>.sorting_2,
table.dataTable.display tbody tr.selected>.sorting_3 {
    background-color: #acbad5
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #f1f1f1
}

table.dataTable.display tbody tr.odd>.sorting_2,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_2 {
    background-color: #f3f3f3
}

table.dataTable.display tbody tr.odd>.sorting_3,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_3 {
    background-color: whitesmoke
}

table.dataTable.display tbody tr.odd.selected>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_1 {
    background-color: #a6b4cd
}

table.dataTable.display tbody tr.odd.selected>.sorting_2,
table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_2 {
    background-color: #a8b5cf
}

table.dataTable.display tbody tr.odd.selected>.sorting_3,
table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_3 {
    background-color: #a9b7d1
}

table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #fafafa
}

table.dataTable.display tbody tr.even>.sorting_2,
table.dataTable.order-column.stripe tbody tr.even>.sorting_2 {
    background-color: #fcfcfc
}

table.dataTable.display tbody tr.even>.sorting_3,
table.dataTable.order-column.stripe tbody tr.even>.sorting_3 {
    background-color: #fefefe
}

table.dataTable.display tbody tr.even.selected>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_1 {
    background-color: #acbad5
}

table.dataTable.display tbody tr.even.selected>.sorting_2,
table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_2 {
    background-color: #aebcd6
}

table.dataTable.display tbody tr.even.selected>.sorting_3,
table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_3 {
    background-color: #afbdd8
}

table.dataTable.display tbody tr:hover>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
    background-color: #eaeaea
}

table.dataTable.display tbody tr:hover>.sorting_2,
table.dataTable.order-column.hover tbody tr:hover>.sorting_2 {
    background-color: #ececec
}

table.dataTable.display tbody tr:hover>.sorting_3,
table.dataTable.order-column.hover tbody tr:hover>.sorting_3 {
    background-color: #efefef
}

table.dataTable.display tbody tr:hover.selected>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1 {
    background-color: #a2aec7
}

table.dataTable.display tbody tr:hover.selected>.sorting_2,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2 {
    background-color: #a3b0c9
}

table.dataTable.display tbody tr:hover.selected>.sorting_3,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3 {
    background-color: #a5b2cb
}

table.dataTable.no-footer {
    border-bottom: 1px solid #111
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
    white-space: nowrap
}

table.dataTable.compact thead th,
table.dataTable.compact thead td {
    padding: 4px 17px 4px 4px
}

table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
    padding: 4px
}

table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
    padding: 4px
}

table.dataTable th.dt-left,
table.dataTable td.dt-left {
    text-align: left
}

table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
    text-align: center
}

table.dataTable th.dt-right,
table.dataTable td.dt-right {
    text-align: right
}

table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
    text-align: justify
}

table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
    white-space: nowrap
}

table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
    text-align: left
}

table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
    text-align: center
}

table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
    text-align: right
}

table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
    text-align: justify
}

table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
    white-space: nowrap
}

table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
    text-align: left
}

table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
    text-align: center
}

table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
    text-align: right
}

table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
    text-align: justify
}

table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
    white-space: nowrap
}

table.dataTable,
table.dataTable th,
table.dataTable td {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1
}

.dataTables_wrapper .dataTables_length {
    float: left
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    width: initial;
    padding: 5px;
    font-size: 0.9em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 1em;
    width: 100%;
    text-align: center;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.25em 0.7em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    *
    cursor: hand;
    color: #333 !important;
    border: 1px solid transparent;
    border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    background-color: #ea2c43;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #f96b7c;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #2b2b2b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
    box-shadow: inset 0 0 3px #111
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em
}

.dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%)
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #333
}

.dataTables_wrapper .dataTables_scroll {
    clear: both
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td {
    vertical-align: middle
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th>div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td>div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th>div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td>div.dataTables_sizing {
    height: 0;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #111
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead>table,
.dataTables_wrapper.no-footer div.dataTables_scrollBody>table {
    border-bottom: none
}

.dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0
}
ul.dtr-details {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    padding: 10px;
}
ul.dtr-details li {
    margin-bottom: 5px;
}
.dtr-title {
    font-weight: 600;
}
.dtr-title:after {
    content: ":"
}
/*Modal*/
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 100000;
    top: 0;
    left: 0;
}
.modal.modal-off {
    display: none;
}
.message-modal {
    display: block;
    width: 360px;
    max-height: 90%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.message-modal-content {
    padding: 20px;
    height: 100%;
}
.message-modal h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0 40px;
    display: block;
}
.modal-close {
    color: #e74c3c;
    display: block;
    height: 40px;
    width: 40px;
    right: 10px;
    top: 10px;
    position: absolute;
    padding: 10px;
    text-align: center;
}
.modal p {
    font-size: 0.9em;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}
.modal textarea {
    font-size: 0.9em;
    padding: 10px;
    height: 80px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.modal-btns {
text-align: center;
}
.m-btn {
    display: inline-block;
    padding: 10px 15px;
    background: #dadada;
    border: 0;
    font-size: 0.9em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 5px;
    margin-bottom: 0;
}
.m-btn:hover {
    cursor: pointer;
}
.mbtn-send {
    background: #ea2c43;
    color: #fff;
}
.mbtn-send:hover {
    background: #cc172d
}
span.error {
    color: #ea2c43;
    font-size: 0.9em;
    font-weight: 500;
    margin: 10px 0;
    display: block;
}
/*Responsive*/

@media screen and (max-width: 767px) {
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_paginate {
        float: none;
        text-align: center
    }
    .dataTables_wrapper .dataTables_paginate {
        margin-top: 0.5em
    }
    .num span {
        border-width: 4px !important;
    }
    .num span {
        width: 80px;
        height: 80px;
        font-size: 2.1em;
    }
    .num p {
        font-size: 1em;
    }
    .resumen h1 {
        font-size: 1.2em;
    }
    .resumen {
        margin: 30px auto 20px;
        padding: 0 15px;
    }
}

@media screen and (max-width: 640px) {
    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center
    }
    .dataTables_wrapper .dataTables_filter {
        margin-top: 0.5em
    }
    .num p {
        font-size: 0.9em;
    }
    .num {
        width: 90px;
        margin: 0 15px;
    }
    .brief-type-filter {
        position: relative;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 420px) {
    .c-name {
        padding: 15px 15px 15px 0;
        height: 110px;
    }
    .c-photo {
        padding: 15px 0 15px 15px;
        height: 110px;
    }
    .c-name p {
        margin-top: 0;
    }
    .message-modal {
        width: 90%;
    }
}