*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
}

header {
    background: #efefef;
    width: 100%;
    display: block;
}

nav {
    display: block;
    width: 100%;
    background: #91d3d9;
    text-align: center;
}

nav ul,
nav ul li {
    list-style: none;
}
nav ul li {
    display: block;
    float: left;
    width: 18%;
    margin-right: 2.5%;
}
nav ul li:last-child {
    margin-right: 0;
}
nav ul li a {
    padding: 12px;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a.v {
    background: #82c702
}

nav ul li a.t {
    background: #00b5b1
}

nav ul li a.a {
    background: #019ecf;
    margin-right: 0;
}

.inner {
    max-width: 1080px;
    padding: 20px;
    margin: 0 auto;
    display: block;
}

.green-cont {
    background: #c4edf1;
    padding: 20px 0;
}

.white-cont {
    padding: 40px 20px;
}

.row:after, nav ul:after {
    content: "";
    display: table;
    clear: both;
}

.banner-text {
    display: block;
    float: left;
    width: calc(100% - 306px);
    padding-right: 30px;
    text-align: justify;
}

.banner-img {
    display: block;
    float: left;
border: 3px solid #f7931e;
    width: 306px;
    height: 256px;
}
.banner2-text {
    display: block;
    float: left;
    width: calc(100% - 166px);
    padding-right: 50px;
    text-align: justify;
}

.banner2-img {
    display: block;
    float: left;
    width: 166px;
border: 3px solid #f7931e;
    height: 606px;
}

.g-bar {
    background: #656a73;
    height: 20px;
    display: block;
    width: 100%;
    margin: 20px 0
}

.img-s {
    display: block;
    width: 100%;
    background: #91d3d9;
    height: 100px;
    margin: 20px 0;
}

.three-col {
    display: block;
    float: left;
    width: 30%;
    margin-right: 5%;
}

.three-col:last-child {
    margin-right: 0;
}

p {
    font-size: 1em;
    line-height: 1.4em;
}

.phone {
    display: block;
    width: 373px;
    height: 758px;
    background-image: url(../img/phone.png);
    background-size: 373px 758px;
    position: relative;
    float: left;
    background-repeat: no-repeat;
}

.phone-text {
    display: block;
    float: left;
    width: calc(100% - 373px);
    padding-left: 50px;
    font-size: 1.2em;
}

.mobile-banner {
    position: absolute;
    top: 164px;
    left: 26px;
    width: 320px;
    height: 41px;
    border: 3px solid #f79320;
}

.h80 {
    height: 80px !important;
}

.footer {
    width: 100%;
    background: #656a73;
    height: 60px;
    margin-top: 30px;
}

.f-banner {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -364px;
    width: 734px;
    height: 96px;
    border: 3px solid #f79320;
}
.close {
  position: absolute;
  display: inline-block;
  width: 28px;
  height: 28px;
  overflow: hidden;
  border-radius: 100px;
  background: #000;
  padding: 5px;
  right: -16px;
  top: -16px;
  border: 2px solid #f79322;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 60%;
  top: 50%;
  left: 23%;
  margin-top: -2px;
  background: #fff;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}