*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

body {
    display: table;
    width: 100%;
}

a {
    text-decoration: none;
    outline: none;
    color: #000;
}

a:hover {
    cursor: pointer
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

*:focus {
    outline: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*Grid*/

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

@media (min-width: 550px) {
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
    .one-third.column {
        width: 30.6666666667%;
    }
    .two-thirds.column {
        width: 65.3333333333%;
    }
    .one-half.column {
        width: 48%;
    }
}

.two-col {
    display: block;
    width: 50%;
    float: left;
}

.four-col {
    display: block;
    width: 25%;
    float: left;
}

header {
    display: block;
    width: 100%;
    height: 70px;
    padding: 15px;
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
    background: #fff;
    z-index: 10;
}

.logo {
    display: block;
    width: 190px;
    float: left
}

header nav {
    position: relative;
    float: right;
    top: 0;
    display: block;
}

header nav ul {
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
}

header nav ul li {
    position: relative;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li a {
    display: block;
    padding: 10px 15px;
    height: 40px;
    transition: 0.2s ease;
    border-bottom: 1px solid #fff;
}

header nav ul li a:hover {
    border-bottom: 3px solid #68c7cc;
}

li.login {
    margin-left: 20px;
    border-right: 1px solid #999;
}

header nav ul li.login a:hover,
header nav ul li.registro a:hover {
    background: #771552;
    color: #fff;
    border-bottom: 0;
}

.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    z-index: 50;
    display: none;
}

.menu-btn:hover {
    opacity: .7;
}

.menu-btn.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #f9a71f;
}

.menu-btn.active .middle {
    opacity: 0;
    background: #FFF;
}

.menu-btn.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #f9a71f;
}

.menu-btn span {
    background: #771552;
    border: none;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}

.menu-btn span:nth-of-type(2) {
    top: 11px;
}

.menu-btn span:nth-of-type(3) {
    top: 22px;
}

.content {
    width: 100%;
    display: block;
    margin-top: 70px;
}

.inner {
    display: block;
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.banner {
    display: block;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}

.banner1 {
    background-image: url(../img/banner1.jpg);
    height: 300px;
    background-size: auto 300px;
    background-position: left;
    background-color: #781653
}

.banner2 {
    background-color: #f4f6f3;
    background-image: url(../img/banner2.jpg);
    height: 350px;
    background-size: auto 350px;
    background-position: center;
}

.banner2 h1 {
    top: 50%;
    left: 50%;
    max-width: 330px;
    text-align: center;
    transform: translate(-125%, -320%);
    position: relative;
    color: #761451;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.7em;
}

.banner3 {
    background-color: #f4f6f3;
    background-image: url(../img/banner3.jpg);
    height: 350px;
    background-size: auto 350px;
    background-position: center;
}

.banner3 h1 {
    top: 50%;
    left: 50%;
    max-width: 330px;
    text-align: center;
    transform: translate(-125%, -320%);
    position: relative;
    color: #761451;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.7em;
}

.banner4 {
    background-color: #f4f6f3;
    background-image: url(../img/banner4.jpg);
    height: 350px;
    background-size: auto 350px;
    background-position: center;
}

.banner4 h1 {
    top: 50%;
    left: 50%;
    max-width: 380px;
    text-align: center;
    transform: translate(-100%, -210%);
    position: relative;
    color: #761451;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.7em;
}

.banner1-1 {
    background-color: #ebebeb;
}

.bcont-1 {
    margin: 0 auto;
    float: left;
    width: calc(100% - 500px);
    display: block;
    position: relative;
    height: 281px;
    background-repeat: no-repeat;
    background-image: url(../img/banner1-1.jpg);
    background-size: cover;
    background-position: center;
}

.bcont-2 {
    float: left;
    width: 500px;
    display: block;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner1 h1 {
    color: #fff;
    max-width: 500px;
    text-align: center;
    font-weight: 400;
    font-size: 2.2em;
    top: 50%;
    transform: translatey(-50%);
    position: relative;
    margin-left: 45%;
}

.home h2,
.discounts h4 {
    font-size: 1.6em;
    color: #771552;
    font-weight: 400;
}

.cotiza {
    color: #771552;
    text-align: center;
}

.cotiza h4 {
    font-size: 1.4em;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}

.cotiza h4 span {
    font-weight: 400;
}

.cotiza input[type=text],
.cotiza input[type=number] {
    width: 100%;
    font-size: 1.2em;
    color: #000;
    border: 0;
    border-bottom: 1px solid #000;
    padding: 10px;
    text-align: center;
    outline: 0;
    border-radius: 0;
    -webkit-appearance: none;
    background: transparent;
}

.cot-info-1 {
    margin-top: 5px;
    font-style: italic;
}

.checkbox-custom,
.radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom,
.checkbox-custom-label,
.radio-custom,
.radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 5px;
    cursor: pointer;
}

.checkbox-custom-label,
.radio-custom-label {
    position: relative;
}

.checkbox-custom+.checkbox-custom-label:before,
.radio-custom+.radio-custom-label:before {
    content: '';
    background: #fff;
    border: 3px solid #60bdc5;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 7px;
    text-align: center;
}

.checkbox-custom:checked+.checkbox-custom-label:before {
    background: rebeccapurple;
}

.radio-custom+.radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked+.radio-custom-label:before {
    background: #771552;
}

.cotiza button {
    border: 0;
    margin: 20px auto;
    padding: 10px;
    color: #fff;
    background: #771552;
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    transition: 0.3s ease;
}

.cotiza button:hover {
    background: #691349;
    cursor: pointer;
}

.discounts {
    background: #66c8cd;
}

.promo {
    background: #fff;
    padding: 10px;
    font-size: 0.9em;
    color: #555;
    width: 24%;
    display: block;
    float: left;
    margin-right: 1.3333%;
}

.promo:last-child {
    margin-right: 0;
}

.p-costo-o {
    margin-top: 6px;
    text-align: center;
    text-decoration: line-through
}

.p-costo-d {
    margin-top: 0px;
    font-size: 1.1em;
    font-weight: 600;
    color: #771552;
    text-align: center;
}

.p-costo-d span {
    font-size: 0.8em;
    margin-top: 0;
    display: block;
}

.arrow {
    text-decoration: none;
    padding: 0;
    display: inline-block;
    color: black;
    position: relative;
    width: 15px;
    margin-right: 6px;
}

.arrow::before {
    width: 100%;
    border-top: 2px solid #f9a620;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    margin-top: -6px;
}

.arrow::after {
    width: 10px;
    height: 10px;
    border-top: 2px solid #f9a620;
    border-left: 2px solid #f9a620;
    content: "";
    display: block;
    position: absolute;
}

.arrow-right::after {
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    top: calc(50% - 10px);
    right: 0;
}

.arrow-left::before {
    left: 0;
}

.arrow-left::after {
    left: 1px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 10px);
}

.discounts .inner {
    padding: 40px 20px 70px;
}

.footer {
    padding: 20px 0;
    background: #f4f6f3;
    display: table-row;
    height: 1px;
}

ul.f-menu,
ul.f-menu li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.f-menu li a,
.f-title {
    display: block;
    padding: 5px;
    color: #555;
    font-size: 0.9em;
}

ul.f-menu li a:hover {
    color: #111;
}

img.f-pagos {
    margin: 5px;
}

.bcont-1 h3 {
    font-style: italic;
    font-size: 2em;
    font-weight: 300;
    color: #555;
    line-height: 1em;
    text-align: center;
    top: 50%;
    transform: translatey(35%);
    position: relative;
    margin: 0;
    margin-left: 40%;
    padding: 10px;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 15%, rgba(255, 255, 255, 0.8) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 15%, rgba(255, 255, 255, 0.8) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 15%, rgba(255, 255, 255, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccffffff', GradientType=1);
}

.bcont-1 h3 span {
    display: block
}

.bcont-1 h3 span:first-child {
    font-size: 0.8em;
}

.p-ecom-2 {
    text-align: center;
    color: #771552;
    font-weight: bold;
}

.p-ecom-3 {
    text-align: right;
}

.q-icon {
    font-style: normal;
    margin-left: 6px;
    background: #771552;
    padding: 5px;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    display: inline-block;
    color: #fff;
    font-size: 0.9em;
    line-height: 0.9em;
    text-align: center;
}

.cot-info {
    margin-top: 5px;
    font-style: italic;
}

.cot-info-2 .four-col {
    padding: 0 5px;
}

.cot-info-2 .four-col input {
    font-size: 1em;
    padding: 5px;
    border-radius: 0;
    -webkit-appearance: none;
}

.hide {
    display: none;
}


/*Modals*/

.modal {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 500;
}

.modal.modal-off {
    display: none;
}

.modal-box {
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    left: 50%;
    position: relative;
    display: block;
    max-width: 800px;
    background: #fff;
    padding: 20px;
}

.large-modal-text {
    max-height: 500px;
    overflow-y: scroll;
    font-size: 0.9em;
    -webkit-overflow-scrolling: touch
}

.large-modal-text a {
    color: #f05522;
    font-weight: 500;
}

.large-modal-text p:first-child {
    margin-top: 0;
}

.modal-title {
    display: block;
    width: 100%;
    text-align: center;
    color: #771552;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-close {
    position: absolute;
    right: -10px;
    top: -10px;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    line-height: 50px;
    display: inline-block;
    background: #F44336;
    border-radius: 100px;
}

.modal-close:before,
.modal-close:after {
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -8px;
    display: block;
    height: 2px;
    width: 16px;
    background-color: #fff;
}

.modal-close:after {
    transform: rotate(-135deg);
}

.modal-close:hover {
    cursor: pointer;
}

.input-wrapper {
    position: relative;
    line-height: 14px;
    display: inline-block;
    font-size: 1em;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.input-wrapper input {
    font-size: 1em;
    color: #fff;
    border: 0;
    outline: 0;
    position: relative;
    text-transform: capitalize;
    height: 40px;
    background: transparent;
    font-family: Raleway, sans-serif;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding: 0;
    padding-top: 8px;
    border-radius: 0;
    -webkit-appearance: none;
}

.input-wrapper label {
    color: #771552;
    text-align: center;
    width: 100%;
    font-size: 0.85em;
    position: absolute;
    z-index: 2;
    left: 0;
    font-weight: 500;
    top: 15px;
    pointer-events: none;
    -webkit-transition: -webkit-transform 100ms ease;
    -moz-transition: -moz-transform 100ms ease;
    -o-transition: -o-transform 100ms ease;
    -ms-transition: -ms-transform 100ms ease;
    transition: transform 100ms ease;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.input-wrapper label.lup,
.input-wrapper.input-filled label {
    -webkit-transform: translateY(-22px);
    -moz-transform: translateY(-22px);
    -o-transform: translateY(-22px);
    -ms-transform: translateY(-22px);
    transform: translateY(-25px);
    font-size: 0.8em;
}

.desend {
    max-width: 400px;
    margin: 0 auto;
}

.modal-text img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.modal-text ul {
    padding: 10px;
    font-size: 0.9em;
    -webkit-padding-start: 20px;
}

.modal-text ul li {
    margin-bottom: 10px;
}

.paq-title {
    font-size: 1.1em;
    text-align: center;
    margin-top: 10px;
}

.paq-info {
    font-size: 0.9em;
    margin: 10px 0;
    text-align: center
}

.rastrea {
    display: none;
    width: 170px;
    padding: 5px 10px;
}

.rastrea-toggle {
    width: 170px;
}

.rastrea-toggle img {
    margin-right: 5px;
    position: relative;
    top: -3px;
}

.rastrea-toggle span {
    position: relative;
    top: -9px;
}

.rastrea input {
    width: calc(100% - 30px);
    float: left;
    display: block;
    font-size: 1em;
    font-weight: 400;
    padding: 4px 10px 9px;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    -webkit-appearance: none;
}

.rastrea button {
    width: 30px;
    height: 30px;
    border: 0;
    background: #fff;
    padding: 0;
}

.rastrea button:hover {
    cursor: pointer;
}

.rastrea input::placeholder {
    color: #000;
    font-weight: 300;
}

.noscroll {
    overflow: hidden
}


/*Como funcionamos*/

.inner.funcionamos {
    padding: 0 20px;
}

.info-fun {
    padding: 30px 0;
    font-size: 0.95em;
}

.cotiza .four.columns {
    background: #f4f6f3;
    padding: 15px;
    margin-bottom: 4%;
    font-size: 0.9em;
}

.cotiza-fun {
    background: #f4f6f3;
    padding: 15px;
    text-align: center;
    font-size: 0.9em;
}

.cotiza-fun .cotiza h4 {
    margin-top: 30px;
}

.fun-image {
    display: block;
    width: 100px;
    padding: 10px;
    float: left;
    text-align: center;
}

.fun-image p {
    font-size: 2.5em;
    font-weight: normal;
    margin-top: 10px;
    color: #66c8cd;
    margin-bottom: 0;
}

.fun-text-cont {
    display: block;
    width: calc(100% - 100px);
    padding: 10px;
    float: left;
    margin-bottom: 15px;
}

.fun-title {
    font-size: 1.1em;
    color: #771552;
    font-weight: bold;
    margin-bottom: 5px;
}

.fun-title h3 {
    margin: 0;
    font-size: 1em;
}

.info-fr {
    border-bottom: 2px solid #dbdcda;
    padding-top: 20px;
}

.info-fr:last-child {
    border-bottom: none;
}

.funcionamos .fun-text p {
    margin-top: 0;
}


/*Preguntas frecuentes*/

.ayuda h1 {
    color: #771552;
    font-size: 1.4em;
    font-weight: 600;
}

.ayuda h2,
.embalaje h2 {
    font-size: 1.1em;
    color: #009198;
    margin-bottom: 5px;
}

.ayuda ul {
    padding-left: 30px;
}

.ayuda ul li a {
    padding: 5px 0;
    display: block;
}

.title-section-new {
    font-size: 1.2em;
    color: #f9a620;
    margin: 20px 0;
}

h5.title-sub-section {
    font-size: 1em;
    color: #333;
    margin: 20px 0;
}

.consejo {
    line-height: 1.4em;
}

.ayuda ul li {
    line-height: 1.4em;
}

.ayuda ul li a.text-link {
    display: inline-block;
    padding: 0;
    color: #ea950a;
    font-weight: bold;
}


/*Mi Credito*/

.monedero {
    background: #e8e8e8;
}

.monedero h3 {
    margin-bottom: 5px;
}

.fondos input {
    padding: 10px;
    border: 0;
    width: calc(100% - 60px);
    float: left;
    font-size: 1.1em;
    text-align: center;
    height: 41px;
}

.fondos {
    width: 100%;
    display: block;
}

.fondos span {
    float: left;
    width: 60px;
    text-align: center;
    background: #fff;
    display: block;
    height: 41px;
    font-size: 1.1em;
    padding-top: 10px;
    color: #999;
}

.fondos a {
    background: #faa61f;
    color: #000;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: 41px;
    font-size: 0.9em;
    display: block;
}

.fondos a:hover {
    background: #ff9d00
}

.monedero .nota {
    font-size: 0.9em;
    margin-top: 20px;
}

.monedero .nota span {
    color: #d81e10;
    font-weight: bold;
}

.beneficio {
    max-width: 250px;
    margin: 15px auto;
}

.credit-benefits {
    color: #47b0b9;
}

.b-img {
    float: left;
    width: 100px;
    display: block;
}

.b-text {
    float: left;
    width: calc(100% - 100px);
    display: block;
}

.ben {
    font-size: 2em;
    font-weight: bold;
    margin-right: 10px;
    color: #2a5183;
}

.b-text p {
    margin: 5px 0;
}

.b-i {
    font-size: 0.95em;
}

.error-credit,
.error {
    color: #d81e10;
    font-size: 0.9em;
    margin-top: 5px;
    font-weight: 600;
}


/*Embalaje*/

.emb-img {
    width: 150px;
    padding: 10px;
    display: block;
    float: left;
}

.emb-img img {
    width: 100%;
    height: auto;
}

.emb-text {
    display: block;
    float: left;
    width: calc(100% - 150px);
    padding-left: 20px;
}

.consejo-emb {
    max-width: 700px;
    margin: 0 auto;
    border-bottom: 2px solid #ccc;
    padding: 20px 0;
}

.consejo-emb.bbno {
    border-bottom: none;
}

.title-sub-section {
    color: #333;
    font-weight: bold;
}


/*Contacto*/

.contact {
    max-width: 700px;
    margin: 0 auto;
}

.contact-form {
    border-top: 1px dotted #f9a620;
    padding: 10px 30px 30px;
    width: 100%;
    display: block;
}

.input-wrapper.con {
    border-bottom: 1px solid #000;
    margin-bottom: 0;
    margin-top: 40px;
}

.input-wrapper.con input {
    width: 100%;
    color: #000;
    text-transform: none;
    padding: 0 10px;
}

.input-wrapper.con label {
    text-align: left;
    font-size: 0.9em;
    padding: 0 10px;
}

.center {
    width: 100%;
    display: block;
    text-align: center;
}

.contact-form button {
    border: 0;
    margin: 10px auto;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 1em;
    width: 150px;
    text-transform: uppercase;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    transition: .3s ease;
    background: #771552;
    margin-top: 40px;
}

.contact-form button:hover {
    cursor: pointer;
    background: #691349;
}

.error {
    font-size: 0.8em;
    padding: 0 10px;
}

.input-wrapper.con label.error {
    position: absolute;
    display: block;
    transform: translateY(30px);
    color: #F44336;
    font-size: 0.8em;
    height: 15px;
}

.textarea-wrapper {
    position: relative;
    margin-top: 50px;
    display: block;
}

.field-title {
    position: absolute;
    display: block;
    background: #fff;
    z-index: 3;
    top: -8px;
    padding: 0 5px;
    left: 5px;
    font-size: 0.9em;
    color: #771552;
    font-weight: 500;
}

.textarea-wrapper textarea {
    width: 100%;
    height: 80px;
    border-radius: 0;
    background: transparent;
    border: 1px solid #000;
    font-size: 1em;
    padding: 15px;
    font-weight: 300;
}


/*Responsive*/

@media (max-width: 1140px) {
    .bcont-1 h3 {
        font-size: 1.8em;
        transform: translatey(25%);
    }
}

@media (max-width: 1040px) {
    .columns.info-fun {
        width: 100%;
    }
    .columns.cotiza-fun {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 1030px) {
    .cotiza .four.columns {
        width: 48%;
    }
    .cotiza .four.columns:last-child {
        margin-left: 0;
        width: 100%;
    }
    .bcont-1 {
        width: calc(100% - 400px);
    }
    .bcont-2 {
        width: 400px;
    }
    .bcont-1 {
        height: 225px;
    }
}

@media (max-width: 960px) {
    .promo {
        width: 49%;
        margin-bottom: 2%;
        margin-right: 0;
    }
    .promo:nth-child(1),
    .promo:nth-child(3) {
        margin-right: 2%;
    }
    .banner1 h1 {
        font-size: 2em;
    }
    header nav ul li a {
        font-size: 0.9em;
    }
    .discounts .inner {
        padding: 20px 20px 50px;
    }
}

@media (max-width: 920px) {
    header nav {
        display: none;
    }
    .menu-btn {
        display: block;
    }
    header nav.open {
        display: block;
        background: rgba(119, 21, 82, 0.9);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .footer img,
    .footer .logo {
        width: 100%;
        height: auto;
    }
    header nav ul {
        padding: 20px;
        top: 50%;
        transform: translatey(-50%);
        position: relative;
        width: 100%;
        display: block;
    }
    header nav ul li {
        width: 100%;
        float: none;
    }
    header nav ul li a {
        font-size: 1.3em;
        color: #fff;
        border-bottom: none;
        text-align: center;
        padding: 15px 10px;
        height: auto;
    }
    header nav ul li a:hover {
        border-bottom: none;
        color: #f9a71f
    }
    li.login {
        margin-left: 0;
        border-right: none;
    }
    .modal-box {
        width: 80%
    }
    .bcont-1 {
        width: calc(100% - 300px);
    }
    .bcont-2 {
        width: 300px;
    }
    .rastrea-toggle {
        width: 100%;
    }
    .rastrea-toggle img {
        top: -5px;
        margin-right: 10px;
    }
    .rastrea {
        width: 100%;
    }
    .rastrea {
        width: 240px;
        margin: 9px auto;
    }
    .rastrea input {
        border-bottom: 1px solid #f9a71f;
        background: transparent;
        color: #fff;
        padding: 4px 10px 7px;
    }
    .rastrea button {
        background: #f9a71f;
    }
    .rastrea input::placeholder {
        color: #fff;
    }
    header nav ul li.login a:hover,
    header nav ul li.registro a:hover {
        color: #f9a71f;
        background: none;
    }
    .banner2,
    .banner3,
    .banner4 {
        height: 300px;
        background-size: auto 300px;
        background-position: right;
    }
    .banner2 h1,
    .banner3 h1,
    .banner4 h1 {
        transform: translate(-110%, -320%);
        font-size: 1.5em;
    }
    .banner4 h1 {
        max-width: 300px;
    }
    .bcont-1 h3 {
        font-size: 1.5em;
    }
}

@media (max-width: 720px) {
    .banner1 h1 {
        font-size: 1.3em;
        max-width: 240px;
        margin-left: 50%;
    }
    .banner1 {
        background-position: -50px center;
        height: 200px;
        background-size: auto 200px;
    }
    .home h2,
    .discounts h4 {
        font-size: 1.4em;
        text-align: center;
    }
    .cotiza h4 {
        font-size: 1.2em;
    }
    .banner2 h1,
    .banner3 h1,
    .banner3 h1 {
        transform: translate(-85%, -200%);
        font-size: 1.5em;
    }
    .banner2,
    .banner3,
    .banner4 {
        height: 200px;
        background-size: auto 200px;
    }
    .banner4 h1 {
        max-width: 260px;
        transform: translate(-120%, -80%);
    }
    .bcont-1 h3 {
        font-size: 1.3em;
    }
}

@media (max-width: 680px) {
    .bcont-1 {
        width: 100%;
        height: 250px;
    }
    .bcont-2 {
        width: 100%;
    }
    .bcont-1 h3 {
        font-size: 1.6em;
    }
}

@media (max-width: 549px) {
    .banner1 h1 {
        margin: 0;
        width: 100%;
        top: 0;
        transform: initial;
        max-width: initial;
        margin-top: 150px;
        position: absolute;
        padding: 15px;
    }
    .promo {
        width: 100%;
        margin-right: 0;
    }
    .cotiza button {
        font-size: 1em;
        width: 160px;
    }
    .cot-info-1 {
        font-size: 0.9em;
    }
    .banner1 h1 {
        background: #771552;
        color: #fff;
        font-size: 1.1em;
        padding: 15px;
        margin-left: 0;
        vertical-align: middle;
        width: 100%;
        height: auto;
        margin-top: 149px;
    }
    .banner1 {
        background-position: 0% top;
        background-size: auto 150px;
        height: 220px;
    }
    .cotiza .columns {
        padding: 10px;
        background: #f1f1f1;
        margin-bottom: 10px;
    }
    .cotiza input[type=text],
    .cotiza input[type=number] {
        background: transparent;
    }
    .checkbox-custom-label,
    .radio-custom-label {
        font-size: 0.9em;
    }
    .footer img,
    .footer .logo {
        width: 160px;
    }
    ul.f-menu li a,
    .f-title {
        padding: 10px 0;
    }
    .large-modal-text {
        word-break: break-word;
    }
    .cotiza .four.columns {
        width: 100%;
    }
    .paq-text {
        max-height: 500px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        word-break: break-word;
    }
    .modal-text img {
        width: 200px;
    }
    .fun-image {
        width: 60px;
        padding: 5px;
    }
    .fun-image img {
        width: 50px;
        height: 50px;
    }
    .fun-text-cont {
        width: calc(100% - 60px);
        margin-bottom: 0;
    }
    .info-fr {
        border-bottom: none;
        padding-top: 0;
    }
    .banner2 h1,
    .banner3 h1,
    .banner4 h1 {
        transform: translate(-70%, -50%);
        font-size: 1.3em;
    }
    .banner2,
    .banner3,
    .banner4 {
        height: 100px;
        background-size: auto 100px;
    }
    .fun-image p {
        font-size: 2em;
        margin-top: 15px;
    }
    .fondos a {
        margin-top: 10px
    }
    .ayuda,
    .embalaje {
        font-size: 0.9em;
    }
    .ben {
        font-size: 1.6em;
    }
    .emb-img {
        width: 100px;
    }
    .emb-text {
        width: calc(100% - 100px);
    }
    .footer .logo {
        width: 100%;
    }
    .footer {
        text-align: center;
    }
    .footer img {
        width: 240px;
    }
    .footer .logo img {
        width: 180px;
    }
    .contact-form {
        padding: 10px 0;
    }
    .bcont-1 h3 {
        font-size: 1.5em;
        margin-left: 10%;
        transform: translatey(50%);
    }
}

@media (max-width: 420px) {
    .banner2 h1,
    .banner3 h1,
    .banner4 h1 {
        max-width: 200px;
        transform: translate(-90%, -50%);
    }
}

@media (max-width: 380px) {
    .cotiza .four-col {
        width: 50%;
    }
    .banner2,
    .banner3,
    .banner4 {
        margin-bottom: 40px
    }
    .banner2 h1,
    .banner3 h1,
    .banner4 h1 {
        max-width: 300px;
        transform: translate(-50%, 280%);
    }
}

@media (max-height: 640px) {
    .large-modal-text,
    .paq-text {
        max-height: 360px;
    }
}

@media (max-height: 480px) {
    .large-modal-text,
    .paq-text {
        max-height: 200px;
    }
}

@media (max-height: 480px) and (max-width: 920px) {
    header nav ul li a {
        font-size: 1.2em;
    }
}