  
body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }

.login {
            background-color: #2e2e2e!important
        }


.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}



.text-center {
  text-align: center; }

.login .logo {
    margin: 60px auto 0;
    padding: 0 auto 10px;
    text-align: center
}
.logoSA {
    border-top: 1px solid #878787;
    margin: 0 auto 0;
    padding: 5px;
    text-align: center
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    outline: 0!important;
    box-shadow: none!important;

}


.form-control {
  display: block;
  width: 90%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #8d8d8d;
  background-color: #fff;
  background-image: none;
  border: 1px solid #8d8d8d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control:focus {
    border-color: #93a1bb;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 161, 187, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1), 0 0 8px rgba(147, 161, 187, 1); }
  .form-control::-moz-placeholder {
    color: #8d8d8d;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #8d8d8d; }
  .form-control::-webkit-input-placeholder {
    color: #8d8d8d; }
  .form-control::-ms-expand {
    border: 0;
    background-color: transparent; }
  

.control-label {
    margin-top: 1px;
    font-weight: 400;
}

.visible-ie8 {
    display: none
}


.visible-ie9 {
    display: none
}


.mt-checkbox, .mt-radio {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}


.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span,
.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span,
.mt-checkbox.mt-checkbox-outline>input:checked~span,
.mt-checkbox.mt-checkbox-outline>input:focus~span,
.mt-checkbox.mt-checkbox-outline>span {
    border: 1px solid #4d4d4d;
    background: 0 0;
}


.mt-checkbox>span,
.mt-radio>span {
    border: 1px solid transparent;
    position: absolute;
    top: 16px;
    left: 0;
    height: 19px;
    width: 19px;
    background: #E6E6E6
}

.mt-checkbox>span:after,
.mt-radio>span:after {
    content: '';
    position: absolute;
    display: none
}

.mt-checkbox>input:disabled~span,
.mt-radio>input:disabled~span {
    opacity: .6;
    filter: alpha(opacity=60);
    pointer-events: none
}

.input-icon>i,
.mt-checkbox-list .mt-checkbox,
.mt-checkbox-list .mt-radio,
.mt-checkbox>input:checked~span:after,
.mt-radio-list .mt-checkbox,
.mt-radio-list .mt-radio,
.mt-radio>input:checked~span:after {
    display: block
}

.mt-checkbox>span:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #666;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg)
}

.mt-checkbox>input:disabled~span:after {
    border-color: #666
}

.mt-checkbox>input,
.mt-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0)
}


.close {
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat!important;
    text-indent: -10000px;
    outline: 0;
    background-image: url(../Images/remove-icon-small.png);
}

.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }


a:hover {
    cursor: pointer;
    color: #23527c;
}

.login .content {
    background: #FFF;
    display: block;
    border: 2px solid #e6e6e6;
    padding: 40px;
    color: #8d8d8d;
    width: 400px;
    margin: 20px auto 10px;
    padding: 0px 30px 30px;
    /*overflow: hidden;*/
    position: relative
}



.login .content h1 {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 700;
    color: #4d4d4d;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}






.login .ft1, .login .ft2 {
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;


}

.login .ft2 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
}



.login .call{
    color: #FFDD00;
    line-height: 20px


}
.login .content .form-control:active,
.login .content .form-control:focus {
    border: 1px solid #8D8D8D;
}

.login .content .form-control::-moz-placeholder {
    color: #8d8d8d;
    opacity: 1
}

.login .content .form-control:-ms-input-placeholder {
    color: #8d8d8d
}

.login .content .form-control::-webkit-input-placeholder {
    color: #8d8d8d
}



.login .content .forget-form,
.login .content .register-form {
    display: none
}

.login .content .form-title {
    font-weight: 300;
    margin: 20px 0;
}

.login .content .form-actions {
    clear: both;
    border: 0;

}


.login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0
}

.login .content .form-actions .btn {
    height: 45px;
    display: inline-block;
    padding: 10px 20px;
    width: auto;
    margin: 0 auto;
    margin-right: 20px;
    background: #fd0;
    color: #4d4d4d;
    border: none;
    font-size: 18px;
    line-height: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;

}

.login .content .form-actions .btn:hover { 
    background-color: #FFCC00;   
}

.login .content .forget-password {
    font-size: 14px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 30px;
    color: #000;
    text-decoration: none
}

a:hover{
    color: #337ab7;
  
}

.login .content .check {
    color: #4d4d4d;
}

.login .content .rememberme {
    margin-left: 24px;
    padding-top: 20px;

}

.login .content .create-account {
    margin: 0 -40px -30px;
    padding: 15px 0 17px;
    text-align: center;
    background-color: #000;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px
}

.login .content .create-account>p {
    margin: 0
}

.login .content .create-account p a {
    font-weight: 600;
    font-size: 14px;
    color: #F1C40F
}

.login .content .create-account a {
    display: inline-block;
    margin-top: 5px
}



.login .avisos-text {
    color: #2e2e2e
}

.login .copyright a {
    color: #FFFFFF;
    padding: 10px;
    display: inline-flex;
    text-decoration: none;
    list-style-type: none
}

.login .copyright a:hover {
    color: #F1C40F;
    text-decoration: none
}

.login .copyright {
    text-align: center;
    margin: 0 auto 30px 0;
    padding: 10px;
    color: #F1C40F;
    font-size: 13px
}

.login .copyright .ft3{
    display: block;
    color: #FFFFFF;
    font-size: 13px;
    padding-top: 0;
    font-weight: 300
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #27a4b0; }

  .has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #e73d4a; }

   .has-error .help-block{
     padding-left: 10px;
   }


/*Chat Button*/
a.chat-btn, span.chattxt {
    text-decoration: none;
}

a.chat-btn {
    position: absolute;
    display: block;
    height: 40px;
    width: 140px;
    background: #fd0;
    bottom: 80px;
    right: -90px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

span.chaticon {
    height: 30px;
    width: 30px;
    background-image: url(../Images/chat.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 4px 8px 0 13px;
}

span.chattxt {
    font-weight: 400;
    font-size: 14px;
    color: #4d4d4d;
    line-height: 14px;
    display: inline-block;
    max-width: 70px;
    margin-top: 5px;
    text-align: right;
}



/* Modal */

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, .9);
    transition: opacity .25s ease;
    z-index: 5002;
}

.modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.modal-state {
    display: none !important;
}

.modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
    top: 0;
}

.modal__inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 60%;
    overflow: hidden;
}

.modal__inner h4 {
    margin-top: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}

.modal__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

.modal__close:after,
.modal__close:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 1.3em;
    background: #f00;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
    background: #f30;
}

.modal__close:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.popupText {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: .725rem;
    color: #878787;
    font-weight: 700;
    line-height: 1rem
}

.pop-up-content {
    overflow: auto;
    display: block;
    position: relative;
    height: inherit;
    height: 90%;
    padding: 10px;
    -webkit-overflow-scrolling: touch;
}

.pop-up-content ul,
.pop-up-content ol {
    padding-left: 20px;
    font-size: 13px;
}

.pop-up-content ol li {
    margin-bottom: 10px;
}

.pop-up-content table {
    overflow-x: scroll;
    font-size: 11px;
    margin: 10px 0;
    display: block;
    width: 100%;
}

.pop-up-content table th,
.pop-up-content table td {
    border: 1px solid #ccc;
    padding: 10px 5px;
}

.pop-up-content p {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

popup-content {
    background-color: #fff
}

.pop-up-content ul,
.popup h4,
.popup p {
    margin-bottom: 20px
}

.btn-popup {
    display: inline-block !important;
    margin-top: 0 !important;
    color: #0079e0;
    text-decoration: none;
    cursor: pointer;
}

.modal__inner.data-pop {
    width: 40%;
    text-align: center;
}

.modal__inner.data-pop .pop-up-content p {
    font-size: 15px !important;
    margin-bottom: 10px;
}

.modal__inner.data-pop img {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 0;
}

body.noscroll {
    overflow: hidden !important;
}



@media (max-width:440px) {


  .form-group{
    margin-bottom: 30px;
  }
    .login .content,
    .login .logo {
        margin-top: 10px
    }
    .login .content {
        width: 280px
    }
    .login .content h3 {
        font-size: 22px
    }
    .forget-password {
        display: inline-block;
        margin-top: 20px
    }
   
    .login .checkbox {
        font-size: 13px
    }
    .login .content .rememberme {
        margin:0 50px;
        text-align: center;
    }

    .login .content .form-actions {
    padding: 0;
  }

    .login .content .form-actions .btn{
      display: block;
    }

    .login .content .form-actions .btn {
    margin: 10px auto
    }


    .login .ft2 {
    font-size: 18px;
    line-height: 24px;
  }

  .login .copyright{
    margin-top: 0px;
  }

  /*Chat Button*/
a.chat-btn, span.chattxt {
    display: none;
}

.btn-popup {
    display: block !important;
    line-height: 2rem;

}

.row .hide {
    display: none;
}



  
}


@media (max-width:321px) {
  .row {
    margin: 0;
  }

  .login .content {
    padding: 4px 0;
    }

  .form-control {
    display: block;
    width: 90%;
    height: 30px;
  }

  .form-group{
    padding-left: 10px
  }


}



/*Skeleton*/

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}


/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}


/* For devices larger than 550px */

@media (min-width: 780px) {
    .container {
        width: 80%;
    }
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
   
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}

.clear {
    clear: both;
}
