@font-face {
	font-family: "Icons2";
	src: url("icons2.eot");
	src: url("icons2.eot#iefix") format("embedded-opentype"),
	url("icons2.woff") format("woff"),
	url("icons2.ttf") format("truetype"),
	url("icons2.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="icons2-"]:before, [class*=" icons2-"]:before,
[class^="icons2-"]:after, [class*=" icons2-"]:after {   
	font-family: Icons2;
    font-size: 34px;
	font-style: normal;
    padding: 0 5px;
}.icons2-alarm28:before {
	content: "\e000";
    font-size: 30px !important;
    padding: 1px 6px;
}
.icons2-bars24:before {
	content: "\e001";
    font-size: 36px !important;
    padding: 1px 6px;
}
.icons2-cancel10:before {
	content: "\e002";
}
.icons2-coins17:before {
	content: "\e003";
}
.icons2-graphic5:before {
	content: "\e004";
}
.icons2-graphic4:before {
	content: "\e005";
}
.icons2-notification3:before {
	content: "\e006";
}
.icons2-pen68:before {
	content: "\e007";
}
.icons2-play38:before {
	content: "\e008";
}
.icons2-shuffle10:before {
	content: "\e009";
}
.icons2-switch:before {
	content: "\e00a";
}
.icons2-two118:before {
	content: "\e00b";
}
.icons2-write15:before {
	content: "\e00c";
}

