/* Cubic Bezier Transition */
/***
Error Pages
***/

body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,Helvetica,sans-serif;
}

body {
    color: #333;
    padding: 0!important;
    margin: 0!important;
    font-size: 14px;}


.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.btn.btn-outline.yellow:hover {
    border-color: #c49f47;
    color: #fff;
    background-color: #c49f47;
}

.btn.btn-outline.yellow {
    border-color: #c49f47;
    color: #c49f47;
    background: 0 0;
}

.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
.btn:hover {
    transition: all .3s;
}

.btn {
    outline: 0!important;
}

.btn, .form-control {
    box-shadow: none!important;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* 404 page option #1 */
.page-404 {
  text-align: center; }

.page-404 .number {
  position: relative;
  top: 35px;
  display: inline-block;
  letter-spacing: -10px;
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 128px;
  font-size: 128px;
  font-weight: 300;
  color: #7bbbd6;
  text-align: right; }

.page-404 .details {
  margin-left: 40px;
  display: inline-block;
  padding-top: 0px;
  text-align: left; }

/* 500 page option #1 */
.page-500 {
  text-align: center; }

.page-500 .number {
  display: inline-block;
  letter-spacing: -10px;
  line-height: 128px;
  font-size: 128px;
  font-weight: 300;
  color: #ec8c8c;
  text-align: right; }

.page-500 .details {
  margin-left: 40px;
  display: inline-block;
  text-align: left; }

/* 404 page option #2*/
.page-404-full-page {
  overflow-x: hidden;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #2e2e2e !important; }

.page-404-full-page .details input {
  background-color: #ffffff; }

.page-404-full-page .page-404 {
  margin-top: 100px; }

/* 500 page option #2*/
.page-500-full-page {
  overflow-x: hidden;
  padding: 20px;
  background-color: #fafafa !important; }

.page-500-full-page .details input {
  background-color: #ffffff; }

.page-500-full-page .page-500 {
  margin-top: 100px; }

/* 404 page option #3*/
.page-404-3 {
  background: #2e2e2e !important; }

.page-404-3 .page-inner img {
  right: 0;
  bottom: 0;
  z-index: -1;
  position: absolute; }

.page-404-3 .error-404 {
  color: #fff;
  text-align: left;
  padding: 70px 20px 0; }

.page-404-3 h1 {
  color: #ffdd00;
  font-size: 130px;
  line-height: 160px; }

.page-404-3 h2 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px; }

.page-404-3 p {
  color: #fff;
  font-size: 16px; }

@media (max-width: 480px) {
  .page-404 .number,
  .page-500 .number,
  .page-404 .details,
  .page-500 .details {
    text-align: center;
    margin-left: 0px; }
  .page-404-full-page .page-404 {
    margin-top: 30px; }
  .page-404-3 .error-404 {
    text-align: left;
    padding-top: 10px; }
  .page-404-3 .page-inner img {
    right: 0;
    bottom: 0;
    z-index: -1;
    position: fixed; } }
