/*BEGING FORM STYLE*/

.row {
	margin: 0 auto;
	max-width: 1024px;
}

.editable-info{
	text-decoration: none;
	color: #2E2E2E;
    border-bottom: dashed 1px #0088cc;
    padding: 5px 10px 0px;
}


a.editable-click:hover{
	color: #000;
	border-bottom: dashed 1px #0088cc;

}

.popover-content {
    padding: 9px 20px;
}
.help-block{
	font-size: 12px;
}


.form .form-section{
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    max-width: 90%;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover{
	text-decoration: none;
	color: #999;
}

.form .form-row-seperated .form-group{
	border-bottom: none;
}
/*END FORM STYLE*/

/*BEGIN RESPONSIVE*/


/*END RESPONSIVE*/