body {
    color: #333;
    padding: 0!important;
    margin: 0!important;
    font-size: 14px;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,Helvetica,sans-serif;
}


a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0;
  }

label {
    font-weight: 400;
}

/*bootstrap columns*/
.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }


@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
 }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
 }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  
  }


.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.login {
    background-color: #2e2e2e!important
}

.login .logo {
    margin: 60px auto 0;
    padding: 0 auto 10px;
    text-align: center
}
.logoSA {
    border-top: 1px solid #878787;
    margin: 0 auto 0;
    padding: 5px;
    text-align: center
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    outline: 0!important;
    box-shadow: none!important;

}


.form-control {
  display: block;
  width: 90%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #c2cad8;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control:focus {
    border-color: #93a1bb;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 161, 187, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 161, 187, 0.6); }
  .form-control::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #999; }
  .form-control::-webkit-input-placeholder {
    color: #999; }
  .form-control::-ms-expand {
    border: 0;
    background-color: transparent; }
  .form-control[disabled], .form-control[readonly],
  fieldset[disabled] .form-control {
    background-color: #eef1f5;
    opacity: 1; }
  .form-control[disabled],
  fieldset[disabled] .form-control {
    cursor: not-allowed; }

.control-label {
    margin-top: 1px;
    font-weight: 400;
}

.visible-ie8 {
    display: none
}

.ie8 .visible-ie8 {
    display: inherit!important
}

.visible-ie9 {
    display: none
}

.ie9 .visible-ie9 {
    display: inherit!important
}

.alert {
    border-width: 1px;
}

.display-hide, .display-none {
    display: none;
}

.mt-checkbox, .mt-radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}


.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span,
.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span,
.mt-checkbox.mt-checkbox-outline>input:checked~span,
.mt-checkbox.mt-checkbox-outline>input:focus~span,
.mt-checkbox.mt-checkbox-outline>span {
    border: 1px solid #d9d9d9;
    background: 0 0;
}


.mt-checkbox>span,
.mt-radio>span {
    border: 1px solid transparent;
    position: absolute;
    top: 16px;
    left: 0;
    height: 19px;
    width: 19px;
    background: #E6E6E6
}

.mt-checkbox>span:after,
.mt-radio>span:after {
    content: '';
    position: absolute;
    display: none
}

.mt-checkbox>input:disabled~span,
.mt-radio>input:disabled~span {
    opacity: .6;
    filter: alpha(opacity=60);
    pointer-events: none
}

.input-icon>i,
.mt-checkbox-list .mt-checkbox,
.mt-checkbox-list .mt-radio,
.mt-checkbox>input:checked~span:after,
.mt-radio-list .mt-checkbox,
.mt-radio-list .mt-radio,
.mt-radio>input:checked~span:after {
    display: block
}

.mt-checkbox>span:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #666;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg)
}

.mt-checkbox>input:disabled~span:after {
    border-color: #666
}

.mt-checkbox>input,
.mt-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0)
}


.close {
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat!important;
    text-indent: -10000px;
    outline: 0;
    background-image: url(../../global/img/remove-icon-small.png)!important;
}

.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn.disabled, .btn[disabled],
  fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none; }


a:hover {
    cursor: pointer;
    color: #23527c;
}

.login .content {
    background-color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 400px;
    margin: 20px auto 10px;
    padding: 0px 30px 30px;
    /*overflow: hidden;*/
    position: relative
}

.login .registration.login .content {
    background-color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 800px;
    margin: 40px auto 10px;
    padding: 10px 30px 30px;
    overflow: hidden;
    position: relative
}

.login .content h3 {
    color: #2e2e2e;
    text-align: center;
    font-size: 28px;
    font-weight: 400!important
}

.login .content h4 {
    color: #555
}

.login .content .hint {
    color: #999;
    padding: 0;
    margin: 15px 0 7px
}

.login .content .forget-form,
.login .content .login-form {
    padding: 10px 0;
    margin: 0
}

.login .content .form-control {
    background-color: #FFFFFF;
    height: 43px;
    color: #878787;
    border: 1px solid #DDD;
}

.login .ft1, .login .ft2 {
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;


}

.login .ft2 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
}



.login .call{
    color: #FFDD00;
    line-height: 20px


}
.login .content .form-control:active,
.login .content .form-control:focus {
    border: 1px solid #8D8D8D;
}

.login .content .form-control::-moz-placeholder {
    color: #8290a3;
    opacity: 1
}

.login .content .form-control:-ms-input-placeholder {
    color: #8290a3
}

.login .content .form-control::-webkit-input-placeholder {
    color: #8290a3
}

.login .content select.form-control {
    padding-left: 9px;
    padding-right: 9px
}


.login .content .forget-form,
.login .content .register-form {
    display: none
}

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 20px;
}

.login .content .form-actions {
    clear: both;
    border: 0;
    
}

.login .content .form-actions>.btn {
    margin-top: -2px
}

.login-options {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden
}

.login-options h4 {
    float: left;
    font-weight: 600;
    font-size: 15px;
    color: #7d91aa!important
}

.login-options .social-icons {
    float: right;
    padding-top: 3px
}

.login-options .social-icons li a {
    border-radius: 15px!important;
    -moz-border-radius: 15px!important;
    -webkit-border-radius: 15px!important
}

.login .content .form-actions .checkbox {
    margin-left: 0;
    padding-left: 0
}

.login .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px
}

.login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0
}

.login .content .form-actions .btn {
    margin: 4px 25px 20px 10px;
    margin-right: 25px;
    font-weight: 400;
    padding: 10px 15px !important;
    background-color: #FD0;
    border: none;
    color: #4D4D4D;
    font-size: 16px;

}

.login .content .form-actions .btn:hover { 
    background-color: #FFCC00;   
}

.login .content .form-actions .btn-default {
    font-weight: 600;
    padding: 10px 25px!important;
    color: #6c7a8d;
    background-color: #fff;
    border: none
}

.login .content .form-actions .btn-default:hover {
    background-color: #fafaff;
    color: #45b6af
}

.login .content .forget-password {
    font-size: 14px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 10px;
    color: #337ab7;
    text-decoration: none
}

a:hover{
    color: #337ab7;
  
}

.login .content .check {
    color: #878787;
}

.login .content .rememberme {
    margin-left: 8px;
    padding-top: 20px;
}

.login .content .create-account {
    margin: 0 -40px -30px;
    padding: 15px 0 17px;
    text-align: center;
    background-color: #000;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px
}

.login .content .create-account>p {
    margin: 0
}

.login .content .create-account p a {
    font-weight: 600;
    font-size: 14px;
    color: #F1C40F
}

.login .content .create-account a {
    display: inline-block;
    margin-top: 5px
}



.login .avisos-text {
    color: #2e2e2e
}

.login .copyright a {
    color: #FFFFFF;
    padding: 10px;
    display: inline-flex;
    text-decoration: none;
    list-style-type: none
}

.login .copyright a:hover {
    color: #F1C40F;
    text-decoration: none
}

.login .copyright {
    text-align: center;
    margin: 0 auto 30px 0;
    padding: 10px;
    color: #F1C40F;
    font-size: 13px
}

.login .copyright .ft3{
    display: block;
    color: #FFFFFF;
    font-size: 13px;
    padding-top: 0;
    font-weight: 300
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #27a4b0; }

  .has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #e73d4a; }



.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }
  .alert h4 {
    margin-top: 0;
    color: inherit; }
  .alert .alert-link {
    font-weight: bold; }
  .alert > p,
  .alert > ul {
    margin-bottom: 0; }
  .alert > p + p {
    margin-top: 5px; }

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px; }
  .alert-dismissable .close,
  .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit; }

.alert-success {
  background-color: #abe7ed;
  border-color: #abe7ed;
  color: #27a4b0; }
  .alert-success hr {
    border-top-color: #96e1e8; }
  .alert-success .alert-link {
    color: #1d7d86; }

.alert-info {
  background-color: #e0ebf9;
  border-color: #e0ebf9;
  color: #327ad5; }
  .alert-info hr {
    border-top-color: #caddf4; }
  .alert-info .alert-link {
    color: #2462b0; }

.alert-warning {
  background-color: #f9e491;
  border-color: #f9e491;
  color: #c29d0b; }
  .alert-warning hr {
    border-top-color: #f7de79; }
  .alert-warning .alert-link {
    color: #927608; }

.alert-danger {
  background-color: #fbe1e3;
  border-color: #fbe1e3;
  color: #e73d4a; }
  .alert-danger hr {
    border-top-color: #f8cace; }
  .alert-danger .alert-link {
    color: #d71b29; }

/*Chat Button*/
a.chat-btn, span.chattxt {
    text-decoration: none;
}

a.chat-btn {
    position: absolute;
    display: block;
    height: 40px;
    width: 140px;
    background: #fd0;
    bottom: 80px;
    right: -90px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

span.chaticon {
    height: 30px;
    width: 30px;
    background-image: url(../../global/img/chat.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 4px 8px 0 13px;
}

span.chattxt {
    font-weight: 400;
    font-size: 14px;
    color: #4d4d4d;
    line-height: 14px;
    display: inline-block;
    max-width: 70px;
    margin-top: 5px;
    text-align: right;
}


/*Modal Style*/


.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20); }
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50); }

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10049;
  background-color: #000; }
  .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0); }
  .modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5; }
  .modal-header:before, .modal-header:after {
    content: " ";
    display: table; }
  .modal-header:after {
    clear: both; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857; }

.modal-body {
  position: relative;
  padding: 15px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }
  .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table; }
  .modal-footer:after {
    clear: both; }
  .modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; }
  .modal-footer .btn-group .btn + .btn {
    margin-left: -1px; }
  .modal-footer .btn-block + .btn-block {
    margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm {
    width: 300px; } }

@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }

@media (max-width: 414px) {
  .center{
    text-align: center;
  }
  }


@media (max-width:440px) {


  .form-group{
    margin-bottom: 30px;
  }
    .login .content,
    .login .logo {
        margin-top: 10px
    }
    .login .content {
        width: 280px
    }
    .login .content h3 {
        font-size: 22px
    }
    .forget-password {
        display: inline-block;
        margin-top: 20px
    }
    .login-options .social-icons {
        float: left;
        padding-top: 3px
    }
    .login .checkbox {
        font-size: 13px
    }
    .login .content .rememberme {
        margin-top: 10px
    }

    .login .content .form-actions {
    padding: 0;}

    .login .content .form-actions .btn{
      display: block;
    }

    .login .content .form-actions .btn {
    margin: 30px auto 10px
    }


    .login .ft2 {
    font-size: 18px;
    line-height: 24px;
  }

  .login .copyright{
    margin-top: 0px;
  }

  /*Chat Button*/
a.chat-btn, span.chattxt {
    text-decoration: none;
}

a.chat-btn {
    position: absolute;
    display: block;
    height: 40px;
    width: 140px;
    background: #ffdd00;
    bottom: -198px;
    right: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
   -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

span.chaticon {
    height: 30px;
    width: 30px;
    background-image: url(../../global/img/chat.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 4px 8px 0 13px;
}

span.chattxt {
    font-weight: 400;
    font-size: 14px;
    color: #4d4d4d;
    line-height: 14px;
    display: inline-block;
    max-width: 80px;
    margin-top: 5px;
    text-align: left;
}


  
}


@media (max-width:321px) {
  .row {
    margin: 0;
  }

  .login .content {
    padding: 4px 0;
    }

  .form-control {
    display: block;
    width: 85%;
    height: 30px;
  }

  .form-group{
    padding-left: 10px
  }





}