/***
Pago
***/
/* BEGIN HEADER */
.pago-header {
      
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
    color: #4d4d4d;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
  }

.logoSA{
    text-align: center;
    padding-bottom: 20px;
    display: none;
}

.content {
    max-width: 1060px;
    background: #fff;
    display: block;
    margin: 0 auto;
}

.client-info {
    margin-top: 10px;
    color: #2e2e2e;
}

.client-info h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.client-info p {
    font-size: 14px;
    line-height: 14px;
    padding: 0 0 5px;
}

.client-info p.client {
    background: #4d4d4d;
    margin-left: -12px;
    color: #fff;
    padding: 5px;
    max-width: 160px;
    text-align: center;
    border-radius: 20px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 0px solid #000000;
  
}

button.print-btn img {
    display: block;
    margin: 0 auto 5px;
}

button.print-btn, button.print-btn2 {
    display: block;
    border: 0;
    padding: 10px;
}
button.print-btn {
    position: relative;
    vertical-align: middle;
    align-content: center;
    background: #fd0;
    bottom: -180px;
    right: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    font-size: 13px;
}
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

.tab-content select {
    padding: 0 0 0 10px;
    -webkit-appearance: menulist-button;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 5px;
}

.portlet>.portlet-title {
  border-bottom: 2px solid #FD0;

}


/* END HEADER */

/* BEGIN PAGO TABLE */

.pago table {
    width: 100%;
    position: relative;
}

.pago table th {
    padding: 10px 5px;
    font-size: 13px;
    border-bottom: 2px solid #878787;
    font-weight: 700;
    text-align: center;
}

.pago table td {
    padding: 15px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

td.monto input {
    height: 36px;
    font-size: 14px;
    border-radius: 5px;
    width: 80%;
    border: 1px solid #a8a8a8;
    padding: 5px 10px;
}


.pago table td {
    padding: 15px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

td.fecha-pago {
    text-align: center;
    color: #0079e0;
}

.pago table tbody tr:nth-last-child(2) td, tr.total td {
    border-bottom: none;
}

tr.total td {
    background: #fff0b8!important;
    border-top: 2px solid #fd0;
    font-size: 15px;
}

/* END PAGO TABLE */

/* BEGIN ADD EMAIL */

.add-email  {
 text-align: center;
}

h4 {
  font-size: 16px;
  line-height: 1.25em;
  font-weight: 700;

}

p.mail-title {
    color: #0079e0;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.add-email table {
    border: none;
    width: 350px;
    margin: 0 auto;
} 

.add-email table td {
    padding: 5px 0;
}

.add-email table input {
    border: 1px solid #a8a8a8;
    padding: 10px;
    width: 100%;
    font-weight: 400;
}

.main{
  text-align: center;
}

/* END ADD EMAIL */

/* BEGIN FORMAS DE PAGO */
.main {
    padding: 20px 0;
    margin: 20px 0 0 0;
    align-content: center;

}

h3 {
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    font-weight: 400;
}


.form-error {
    color: #f44336;
    display: block;
    width: 100%;
    padding-bottom: 20px;
}

.tab-pane {
    max-width: 650px;
    margin: 0 auto;
    padding: 5px 0 30px;

}

.tab-content label {
    text-align: right;
    font-size: 16px;
    line-height: 18px;
    display: block;
}


.tab-content input, .tab-content select {
    border: 1px solid #a8a8a8;
    background: #fff;
    width: 100%;
    height: 40px;
}

.help-block{
    text-align: left;
} 

input.cvv, input.codigo {
    max-width: 80px;
}

.month, .year,.address {
    padding-left: 0px;
    margin-left: 0px;
}



/* END FORMAS DE PAGO */

/* BEGIN FACTURACION */

.panel-collapse {
    width: 100%;
    margin: 0px auto 0;
    border-top: 1px dashed #ccc;
}

/*END FACTURACION*/

/*BEGIN AVISO LEGAL*/
.check-text {
    display: block;
    max-width: 400px;
    font-size: 15px;
    position: relative;
    margin: 20px auto 0;

}

.check-text input {
    position: absolute;
    width: 15px;
    height: 15px;
    display: block;
    top: 0;
    left: 0;
    padding: 0!important;
}



.check-text span {
    position: relative;
    margin-left: 25px;
    top: 0;
    right: 0;
    display: block;
    width: auto;
    text-align: left;
}

.check-text span label{
    line-height: 16px;
}



.btn-popup {
    display: inline-block!important;
    margin-top: 0!important;
    color: #0079e0;
    text-decoration: underline;
}

/*END AVISO LEGAL*/

/*BEGIN TOTAL PAGO*/

.total-pago {
    max-width: 420px!important;
    background: #fff0b8;
    padding: 10px!important;
    margin-top: 30px!important;
    display: block!important;
    margin: auto;
    height: 36px;
}

.total-pago p{
    font-size: 18px;
    padding: 0;
}


.tab-content form button {
    height: 40px;
    display: block;
    width: 200px;
    color: #4d4d4d;
    border: none;
    font-size: 18px;
    line-height: 16px;
    margin: 40px auto;
}
/*END TOTAL PAGO*/

/* BEGIN RESPONSIVE */

@media (max-width: 550px){
.month {
    width: 39.3333333333%;
        }


.year {
    width: 56.6666666667%;
        }
    
}

@media screen and (max-width: 549px){
.tab-content label {
    text-align: left;
    line-height: 2em;
    }

.month, .year {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0; 
    }

p.mail-title {
    font-size: 14px;
    line-height: 22px;
    }

.add-email table {
    width: 100%;
}

 .total-pago{
    height: 46px;
}
.total-pago p{
    font-size: 14px;
    line-height: 16px;
}
}


@media (min-width: 401px) {
  .portlet>.portlet-title>.actions {
    margin-top: 0px;
}

}

@media (max-width: 414px) {
  .portlet>.portlet-title>.actions {
    margin-top: -15px;
    float: left;
    }

    button.print-btn {
    bottom: 0px;
    }

 }



@media only screen and (max-width:760px),
(min-device-width:768px) and (max-device-width:1024px) {

    .tab-content input, .tab-content select {
   
    width: 100%;
}


    .pago table,
    .pago table tbody,
    .pago table td,
    .pago table th,
    .pago table thead,
    .pago table tr {
        display: block
    }
    .pago table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
    .pago table tr {
        border: 1px solid #ccc;
        position: relative;
        margin-top: 15px
    }
    .pago table tr:nth-of-type(1) {
        margin-top: 0
    }
    .pago table td {
        border: none;
        position: relative;
        text-align: left;
        border-bottom: none;
        width: 50%
    }
    .pago table td:before {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 12px
    }
    .pago table td.monto {
        position: absolute;
        top: 100px;
        right: 0;
        max-width: 50%!important
    }
    .pago table td:nth-of-type(2),
    .pago table td:nth-of-type(3),
    .pago table td:nth-of-type(5) {
        border-right: 1px solid #ddd
    }
    .pago table tbody tr td.ref {
        width: 100%;
        background: #f5f5f5;
        border-bottom: 1px solid #ddd;
        height: 100px
    }
    .pago table tbody tr.total td {
        display: none
    }
    .pago table tbody tr.total td:nth-of-type(4) {
        display: block;
        width: 100%;
        position: relative;
        height: 50px
    }
    .pago table tbody tr.total td:nth-of-type(4) b {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px
    }
    .pago table td:nth-of-type(1):before {
        content: "PRODUCTO";
        font-size: 15px
    }
    .pago table td:nth-of-type(2):before {
        content: "SALDO AL CONTRATO"
    }
    .pago table td:nth-of-type(3):before {
        content: "SALDO ACTUAL"
    }
    .pago table td:nth-of-type(4):before {
        content: "MONTO A PAGAR"
    }
    .pago table td:nth-of-type(5):before {
        content: "FECHA LIMITE DE PAGO";
        color: #000
    }
    .pago table tbody tr.total td:nth-of-type(4):before {
        content: "TOTAL A PAGAR";
        width: 50%;
        font-size: 14px
    }
}


@media screen and (max-width:480px) {
     .row {
        padding: 0;
        margin: 0;
    }
    .content {
        padding: 20px
    }

    .check-text input {
    max-width: 15px;
}

}

/* END RESPONSIVE */

/*BEGIN PRINT*/
@media print {
    .not-print {
        display: none!important
    }

    .logoSA{
        display: block;

    }

    .portlet>.portlet-title {
    border-bottom: 1px solid #878787;
    }
     
   
    .pago table td {
    font-size: 11px;
    border-bottom: 1px solid #ccc;
}

    
    .pago table th {
    padding: 5px;
    font-size: 12px;
    border-bottom: 1px solid #878787;
    font-weight: 700;
    text-align: center;
    }

    tr.total td {
    border-top: 1px solid #878787;
    font-size: 12px
    }

    .client-info p {
    font-size: 14px;
    line-height: 8px;
    padding: 0;
    }

    .client-info {
    margin-top: 0px;
    color: #2e2e2e;
}

    @page {
            size: auto;   /* auto is the current printer page size */
            margin: 0mm;  /* this affects the margin in the printer settings */
        }


}
/*END PRINT*/
