*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}

body.login-bg {
    background: url(../img/login_bg.jpg);
    background-size: cover;
    background-position: center center;
}

textarea,
input {
    outline: none;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}
.login {
    margin: 0 auto;
    max-width: 340px;
    display: block;
    height: 100%;
    padding: 0 30px;
    position: relative;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
    /* IE6-9 */
}

.login form {
    position: absolute;
    top: calc(50% - 120px);
    width: 280px;
}
.login form h1 {
    font-size: 1.3em;
    text-align: center;
    font-weight: 400;
    color: #111;
    text-transform: uppercase;
}
.input-wrapper {
    display: block;
    position: relative;
    height: 50px;
}

.input-wrapper span,
.input-wrapper input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.input-wrapper input {
    background: transparent;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #666;
    height: 2em;
    font-size: 1em;
    padding-left: 40px;
    z-index: 1;
}
.input-wrapper span {
    z-index: 3;
    font-size: 1.5em;
    width: 25px;
    text-align: center;
}
.input-wrapper input:focus {
    border-bottom: 2px solid #ffdd00;
}

.login button {
    display: block;
    border: 0;
    background: #ffdd00;
    color: #000;
    width: 100%;
    font-size: 1em;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: 0.2s ease;
}

.login button:hover {
    background: #ffcc00;
    cursor: pointer;
}

.icon-input svg {
    width: auto;
    height: 20px;
}

.error-msg {
    color: #f00;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 10px;
}

@media only screen and (max-width: 350px) {
    .login {
        max-width: 310px;
    }
    .login form {
    width: 250px;
}
}