.fa-life-ring:before {
    content: "\f1cd";
}

.fa-indent:before {
    content: "\f03c";
}

.reg-title h1 {
    font-size: 1.4em;
    padding: 0 20px;
    color: #444;
    margin: 0 0 10px 0;
    width: calc(100% - 200px);
    float: left;
}

.reg-act {
    float: right;
    top: -4px;
    right: 20px;
    position: relative;
}

.dfilter-cont {
    display: block;
    width: 100%;
    text-align: center;
}

.filter-btn {
    width: 33px;
    height: 33px;
    border-radius: 0;
    display: inline-block;
    background: #e1e5ec;
    border: 0;
    padding-top: 6px;
    transition: 0.3s ease;
    margin-right: 10px;
}

.filter-btn:hover {
    background: #fd0;
}

.reg-search {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.r-search {
    display: inline-block;
    width: 150px;
    padding: 5px;
    vertical-align: middle;
}

.r-search:after {
    content: "";
    display: table;
    clear: both
}

.r-search input {
    width: 100%;
    float: left;
    display: block;
    padding: 5px;
}

.r-search input:focus {
    outline: none;
}

.r-search button.regbtn-search {
    width: 33px;
    height: 33px;
    border-radius: 0;
    display: block;
    float: left;
    background: #e1e5ec;
    border: 0;
    padding-top: 6px;
}

.r-search button.regbtn-search:hover {
    background: #fd0;
    cursor: pointer;
}

.r-search .btn {
    width: 100%;
    height: 33px;
    background: #fff;
    border: 1px solid #bfc1c0;
    font-size: 14px;
}

.r-search .btn:hover {
    background: #fd0;
}

.dropdown-menu>li>a {
    color: #000 !important;
}

.w200 {
    width: 200px !important;
}

.w260 {
    width: 260px !important;
}

.fa-undo:before {
    content: "\f0e2";
    position: relative;
    top: -1px;
    font-size: 1.1em;
}

#registro-tabla {
    width: 100% !important;
}

#registro-tabla th {
    background: #05589a;
    color: #fff;
    border-color: #05589a !important;
}

#registro-tabla th,
#registro-tabla td {
    font-size: 14px;
    vertical-align: middle;
}

.h-small {
    font-size: 12px;
}

#registro-tabla th:nth-child(2),
#registro-tabla th:nth-child(3),
#registro-tabla th:nth-child(5),
#registro-tabla th:nth-child(6),
#registro-tabla th:nth-child(7),
#registro-tabla td:nth-child(2),
#registro-tabla td:nth-child(3),
#registro-tabla td:nth-child(5),
#registro-tabla td:nth-child(6),
#registro-tabla td:nth-child(7) {
    text-align: center;
}

#registro-tabla th:nth-child(1),
#registro-tabla th:nth-child(4),
#registro-tabla td:nth-child(1),
#registro-tabla td:nth-child(4) {
    min-width: 100px;
}

#registro-tabla_filter {
    display: none;
}

.rgt-email {
    font-size: 12px;
    display: block;
    font-weight: bold;
    color: #005896
}

.reg-pagination {
    text-align: center;
    width: 100%;
    display: block;
}

#registro-tabla tr.child ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.dtr-title {
    font-weight: bold;
}

.dtr-title:after {
    content: ":"
}

#registro-tabla tr.child ul li {
    padding: 5px;
    border-bottom: 1px solid #e7ecf1;
}

#registro-tabla tr.child ul li:last-child {
    border-bottom: 0;
}
#tooltip {
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100000;
    padding: 6px;
}

#tooltip:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto;
}

#tooltip.left:after {
    left: 10px;
    margin: 0
}

#tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0
}
@media screen and (max-width: 767px) {
    .reg-title h1 {
        font-size: 1.2em;
        margin-top: -10px;
        margin-bottom: 30px;
        padding: 0 20px;
        width: 100%;
    }
    .reg-act {
        display: none;
    }
    .reg-search {
        margin-top: 0;
    }
}

@media screen and (max-width:680px) {
    .rgt-email {
        word-break: break-all;
    }
}

@media screen and (max-width:340px) {
    .r-search {
        width: 100%;
    }
}