.contrataBox {
	float: left;
	;
	margin: 10px;
	width: 90%;
	border-style: solid;
	border-width: 1px;
	border-color: #B0B0B0;
	overflow: auto;
	border-radius: 10px;
	text-align: center;
	line-height: 14px;
	white-space: pre-line;
	padding: 0 5px 0 0;
	position: relative;
}
.contrataBox li {
	color: grey;
}
.comprar {
	position: absolute;
	bottom: 25px;
	left: 15px;
	width: 90%;
	background: #ffd100;
	padding: 1.5em;
	font-size: 15;
	font-weight: bold;
	border-radius: 5px;
	border: hidden;
	cursor: pointer;
}
.comprar:hover {
	background: #FFBD00;
}

@media screen and (max-width: 699px) and (min-width: 120px) {
.contrataBox {
	width: 100%;
}
}
