/* Solo agregar estos estilos*/
.content, .content-inn {
	max-width: 1060px;
	background: #fff;
}
.content {
	width: 100%;
	height: auto;
	padding: 30px;
	margin: 0 auto 30px;
}
.content-inn {
	margin: 0;
}
.heading {
	width: 100%;
	text-align: center;
}
.row {
	padding: 0 30px;
}
.contrataBox {
	float: left;
	height: 1302px;
	margin: 10px;
	width: 270px;
	border-style: solid;
	border-width: 1px;
	border-color: #B0B0B0;
	overflow: hidden;
	border-radius: 10px;
	text-align: center;
	line-height: 14px;
	white-space: pre-line;
	padding: 0 5px 0 0;
	position: relative;
}
.contrataBox li {
	color: grey;
}
.paraabajo{position: absolute;}
.comprar {
	
	bottom: 25px;
	left: 15px;
	width: 90%;
	background: #ffd100;
	padding: 1em;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	border: hidden;
	cursor: pointer;
}
.comprar:hover {
	background: #FFBD00;
}

@media screen and (max-width: 699px) and (min-width: 120px) {
.contrataBox {
	width: 100%;
}
}