.infoBox {
	margin: auto;
	width: 80%;
	border-style: solid;
	border-width: 1px;
	border-color: #B0B0B0;
	border-radius: 10px;
	padding: 7px 56px 5px 55px;
	overflow:none;
	
}

.contratasteA {
	float: left;
	height: auto;
	width: 100%;
	overflow: none;
	text-align: left;
	line-height: 24px;
	
}
.comprar {
	width: 40%;
	background: #ffd100;
	padding: 1em;
	border-radius: 5px;
	border: hidden;
	cursor: pointer;
}
.comprar:hover {
	background: #FFBD00;
}
.tab-content .row label {
	text-align: left !important;
}
.check-text {
	display: block;
	max-width: 377px;
	font-size: 15px;
	position: relative;
	margin: 20px auto 0;
	text-align: center;
}

@media screen and (max-width: 699px) and (min-width: 120px) {
.contratasteA {
	width: 100%;
}
}
/*Pago Styles*/
body, html {
	height: 100%
}
.main label.tab-menu:hover, .modal__bg, .modal__close, .nfact label:hover, [data-tooltip], a.add-btn:hover, a.remove-btn:hover, a:hover {
	cursor: pointer
}
*, :after, :before {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	margin: 0;
	display: table;
	width: 100%
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
	text-decoration: none
}
.content, .content-inn {
	max-width: 1060px;
	background: #fff
}
a:active, a:hover {
	outline-width: 0
}
b, strong {
	font-weight: bolder
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
img {
	border-style: none
}
button, input, select {
	font: inherit;
	margin: 0
}
button, input {
	overflow: visible
}
button, select {
	text-transform: none
}
[type=submit], button {
	-webkit-appearance: button
}
[type=submit]::-moz-focus-inner, button::-moz-focus-inner {
border-style:none;
padding:0
}
[type=submit]:-moz-focusring, button:-moz-focusring {
outline:ButtonText dotted 1px
}
[type=checkbox], [type=radio] {
	box-sizing: border-box;
	padding: 0
}
::-webkit-input-placeholder {
color:inherit;
opacity:.54
}
::-webkit-file-upload-button {
-webkit-appearance:button;
font:inherit
}
input {
	outline: 0
}
.column, .columns {
	width: 100%;
	float: left;
	box-sizing: border-box
}
.one-half.column {
	width: 48%
}

@media (max-width:549px) {
.ml4 {
	margin-left: 4%
}
}

@media (min-width:550px) {
.column, .columns {
	margin-left: 4%
}
.column:first-child, .columns:first-child {
	margin-left: 0
}
.two.columns {
	width: 13.3333333333%
}
.three.columns {
	width: 22%
}
.four.columns {
	width: 30.6666666667%
}
.five.columns {
	width: 39.3333333333%
}
.seven.columns {
	width: 56.6666666667%
}
.eight.columns {
	width: 65.3333333333%
}
}
.row:after {
	content: "";
	display: table;
	clear: both
}
.add-email, .content, .content-inn, .heading {
	display: block
}
.content {
	width: 100%;
	height: auto;
	padding: 30px;
	margin: 0 auto 30px
}
.content-inn {
	margin: 0
}
.heading {
	width: 100%;
	text-align: center
}
.heading h1 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 0;
	color: #4d4d4d;
	letter-spacing: 1px
}
.client-info {
	margin-top: 40px;
	color: #4d4d4d
}
.client-info h2 {
	font-size: 18px;
	margin-bottom: 10px
}
.client-info p {
	font-size: 14px;
	line-height: 18px
}
.client-info p b {
	display: block;
	background: #4d4d4d;
	color: #fff;
	border-radius: 20px;
	padding: 5px;
	margin-top: 5px;
	max-width: 160px;
	text-align: center
}
.num, td.monto input {
	text-align: right
}
.row {
	padding: 0 30px
}
.top-yellow {
	border-top: 2px solid #fd0
}
.pago table {
	width: 100%;
	position: relative
}
.pago table th {
	padding: 10px;
	font-size: 14px;
	border-bottom: 2px solid #000
}
.pago table td {
	padding: 15px;
	font-size: 14px;
	border-bottom: 1px solid #ccc
}
td.monto {
	max-width: 120px
}
td.monto input {
	height: 40px;
	font-size: 14px;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #a8a8a8;
	padding: 5px 10px
}
.pago table tbody tr:nth-last-child(2) td, tr.total td {
	border-bottom: none
}
td.fecha-pago {
	text-align: center;
	color: #0079e0
}
.alignright {
	text-align: right
}
.add-email, .main h2, .tab-content h3 {
	text-align: center
}
tr.total td {
	background: #fff0b8!important;
	border-top: 2px solid #fd0;
	font-size: 15px
}
.add-email {
	width: 100%;
	margin-top: 50px;
	font-weight: 300
}
.add-email p {
	font-size: 18px
}
.add-email p.mail-title {
	text-transform: uppercase;
	color: #0079e0;
	font-size: 16px;
	font-weight: 400
}
.add-email table {
	border: none;
	width: 350px;
	margin: 0 auto
}
.add-email table input {
	border: 1px solid #a8a8a8;
	padding: 10px;
	width: 100%;
	font-weight: 400
}
a.add-btn, a.remove-btn {
	color: #fff;
	width: 38px;
	height: 38px;
	line-height: 38px;
	display: block;
	font-size: 18px;
	margin-left: 10px
}
.add-email table td {
	padding: 5px 0
}
a.add-btn {
	background: #0079e0;
	font-weight: 700;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}
a.add-btn:hover {
	background: #0162b5
}
a.remove-btn {
	background: #F44336;
	font-weight: 700;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px
}
a.remove-btn:hover {
	background: #da2e21
}
.main {
	max-width: 800px;
	padding: 20px 0;
	margin: 20px auto 0
}
.main h2 {
	width: 100%;
	font-size: 21px
}
.main .tab-content {
	display: none;
	padding: 20px;
	border-top: 5px solid #fd0
}
.main input[name=tabs] {
	display: none
}
.main label.tab-menu {
	display: inline-block;
	margin: 0 -4px 0 0;
	padding: 15px;
	font-weight: 400;
	text-align: center;
	color: #A5ABAF;
	width: 25%;
	font-size: 15px;
	background: #ccc
}
.main label.tab-menu:hover {
	color: #888
}
.main input:checked+label.tab-menu {
	color: #0E202C;
	border: 2px solid #fd0;
	background: #fff;
	border-bottom: 0
}
#tab1:checked~#content1, #tab2:checked~#content2, #tab3:checked~#content3, #tab4:checked~#content4 {
	display: block
}
.tab-content h3 {
	font-size: 18px;
	width: 100%;
	display: block;
	margin-bottom: 30px;
	font-weight: 400
}
.tab-content .row {
	max-width: 500px;
	margin: 0 auto;
	padding: 5px 0
}
.tab-content input, .tab-content select {
	background: #fff;
	width: 100%;
	height: 40px;
	margin-bottom: 5px
}
.tab-content .row label {
	width: 100%;
	text-align: right;
	line-height: 2.5em;
	display: block
}
.fact h4, .form-error, .nfact label {
	text-align: center
}
.tab-content select {
	border: 1px solid #a8a8a8;
	padding: 0 0 0 10px;
	-webkit-appearance: menulist-button;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px
}
.tab-content input {
	border: 1px solid #a8a8a8;
	padding: 0 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px
}
/* cambio este estilo*/
.check-text {
	display: block;
	max-width: 377px;
	font-size: 15px;
	position: relative;
	margin: 20px auto 0;
	text-align: center;
}
.check-text input {
	position: absolute;
	width: 15px;
	height: 15px;
	display: block;
	top: 0;
	left: 0;
	padding: 0!important
}
.check-text span {
	position: relative;
	margin-left: 25px;
	top: 0;
	right: 0;
	line-height: 18px;
	display: block;
	width: auto
}
.tooltip {
	color: #000;
	font-style: normal;
	display: inline-block;
	font-size: 12px;
	background: #fd0;
	padding: 3px 7px;
	margin-left: 5px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-wekit-border-radius: 20px
}
[data-tooltip] {
	position: relative;
	z-index: 2
}
[data-tooltip]:after, [data-tooltip]:before {
	visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter:progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none
}
[data-tooltip]:before {
	position: absolute;
	bottom: 130%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -70px;
	padding: 7px;
	width: 140px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #000;
	background-color: hsla(0,0%,20%,.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 13px;
	line-height: 1.2;
	font-weight: 400
}
[data-tooltip]:after {
	position: absolute;
	bottom: 130%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0,0%,20%,.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0
}
[data-tooltip]:hover:after, [data-tooltip]:hover:before {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter:progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1
}
input.cvv {
	max-width: 80px
}
.total-pago {
	max-width: 320px!important;
	background: #fff0b8;
	padding: 10px!important;
	margin-top: 30px!important;
	display: block!important;
	margin: 0 auto
}
button.continuar-pago {
	height: 45px;
	display: block;
	width: 240px;
	background: #fd0;
	color: #4d4d4d;
	border: none;
	font-size: 18px;
	line-height: 16px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 30px auto 0
}
button.continuar-pago:hover {
	background: #fc0;
	cursor: pointer
}
.hide {
	display: none
}
.fact {
	max-width: 500px;
	margin: 20px auto 0;
	border-top: 1px dashed #ccc;
	display: block
}
.nfact label {
	display: block;
	background-color: #fff;
	border: 1px solid #0079e0;
	border-radius: 20px;
	width: 140px;
	padding: 8px;
	transition: .3s ease;
	margin: 0 auto
}
.nfact input[type=checkbox] {
	display: none
}
.nfact input[type=checkbox]:checked+label {
	background: #0079e0;
	color: #fff
}
img.secureimg {
	display: block;
	margin: 30px auto 0
}
.fail {
	border: 2px solid #f44336!important
}
.form-error {
	color: #f44336;
	display: block;
	width: 100%;
	padding-bottom: 20px
}
.form-error b {
	background: #f44336;
	color: #fff;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	width: 25px;
	display: inline-block;
	height: 25px;
	line-height: 25px
}

@media screen and (max-width:680px) {
.tab-menu img {
	width: 80px;
	height: auto
}
}

@media screen and (max-width:549px) {
.col-half-1, .col-half-2 {
	width: 46%!important;
	float: left!important
}
.tab-content .row label {
	text-align: left;
	line-height: 2em
}
.total-pago {
	font-size: 14px
}
.col-half-1 {
	margin-right: 4%!important
}
.col-half-2 {
	margin-left: 4%!important
}
}

@media screen and (max-width:480px) {
.row {
	padding: 0
}
.content {
	padding: 20px
}
.heading h1 {
	font-size: 21px
}
.add-email p {
	font-size: 14px
}
.add-email table {
	width: 100%
}
.tab-menu img {
	width: 80px;
	height: auto
}
.main input:checked+label.tab-menu {
	border-bottom: 2px solid #fd0
}
.main label.tab-menu {
	width: 50%;
	border: 2px solid #ccc
}
}

@media screen and (max-width:360px) {
.content {
	padding: 20px
}
.main .tab-content {
	padding: 20px 10px
}
.fact h4 {
	text-align: center;
	font-size: 14px
}
}

@media only screen and (max-width:760px), (min-device-width:768px) and (max-device-width:1024px) {
.pago table, .pago table tbody, .pago table td, .pago table th, .pago table thead, .pago table tr {
	display: block
}
.pago table thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px
}
.pago table tr {
	border: 1px solid #ccc;
	position: relative;
	margin-top: 15px
}
.pago table tr:nth-of-type(1) {
	margin-top: 0
}
.pago table td {
	border: none;
	position: relative;
	text-align: left;
	border-bottom: none;
	width: 50%
}
.pago table td:before {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 12px
}
.pago table td.monto {
	position: absolute;
	top: 100px;
	right: 0;
	max-width: 50%!important
}
.pago table td:nth-of-type(2), .pago table td:nth-of-type(3), .pago table td:nth-of-type(5) {
	border-right: 1px solid #ddd
}
.pago table tbody tr td.ref {
	width: 100%;
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	height: 100px
}
.pago table tbody tr.total td {
	display: none
}
.pago table tbody tr.total td:nth-of-type(4) {
	display: block;
	width: 100%;
	position: relative;
	height: 50px
}
.pago table tbody tr.total td:nth-of-type(4) b {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px
}
.pago table td:nth-of-type(1):before {
	content: "PRODUCTO";
	font-size: 15px
}
.pago table td:nth-of-type(2):before {
	content: "SALDO AL CONTRATO"
}
.pago table td:nth-of-type(3):before {
	content: "SALDO ACTUAL"
}
.pago table td:nth-of-type(4):before {
	content: "MONTO A PAGAR"
}
.pago table td:nth-of-type(5):before {
	content: "FECHA LIMITE DE PAGO";
	color: #000
}
.pago table tbody tr.total td:nth-of-type(4):before {
	content: "TOTAL A PAGAR";
	width: 50%;
	font-size: 14px
}
}
.modal, .modal__bg, .modal__inner {
	right: 0;
	bottom: 0;
	left: 0
}
.modal {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	text-align: left;
	background: rgba(0,0,0,.9);
	transition: opacity .25s ease;
	z-index: 5002
}
.modal__bg {
	position: absolute;
	top: 0
}
.modal-state {
	display: none!important
}
.modal-state:checked+.modal {
	opacity: 1;
	visibility: visible
}
.modal-state:checked+.modal .modal__inner {
	top: 0
}
.modal__inner {
	transition: top .25s ease;
	position: absolute;
	top: -20%;
	width: 50%;
	margin: auto;
	background: #fff;
	border-radius: 5px;
	padding: 1em 2em;
	height: 80%;
	overflow: hidden
}
.modal__inner h4 {
	margin-top: 0;
	padding-bottom: 12px;
	border-bottom: 1px solid #ddd;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 5px
}
.modal__close {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 1.1em;
	height: 1.1em
}
.modal__close:after, .modal__close:before {
	content: '';
	position: absolute;
	width: 3px;
	height: 1.3em;
	background: red;
	display: block;
	transform: rotate(45deg);
	left: 50%;
	margin: -3px 0 0 -1px;
	top: 0
}
.modal__close:hover:after, .modal__close:hover:before {
	background: #f30
}
.modal__close:before {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg)
}
.pop-up-content {
	overflow: auto;
	display: block;
	position: relative;
	height: inherit;
	height: 90%;
	padding: 10px
}
.pop-up-content ol, .pop-up-content ul {
	padding-left: 20px;
	font-size: 13px
}
.pop-up-content ol li {
	margin-bottom: 10px
}
.pop-up-content table {
	overflow-x: scroll;
	font-size: 11px;
	margin: 10px 0;
	display: block;
	width: 100%
}
.pop-up-content table td, .pop-up-content table th {
	border: 1px solid #ccc;
	padding: 10px 5px
}
.pop-up-content p {
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 1.5rem
}
.pop-up-content ul {
	margin-bottom: 20px
}
.btn-popup {
	display: inline-block!important;
	margin-top: 0!important;
	color: #0079e0;
	text-decoration: underline
}

@media screen and (max-width:1080px) {
.content {
	margin: 63px auto 0
}
}

@media screen and (max-width:768px) {
.modal__inner {
	width: 90%;
	height: 90%;
	box-sizing: border-box
}
.pop-up-content {
	padding: 0
}
}
