/* Custom CSS */

body {
    font-size: 14px;
    background: #000;
}

.page-header .navbar .page-logo img {
    max-height: 35px;
}

.page-header .navbar .navbar-nav>li:hover>a {
    color: #000;
    background: #ffdd00;
}

.page-header .navbar .page-logo {
    margin-right: 0px;
}

.page-header .navbar .navbar-nav>li>a {
    color: #ababab;
    padding: 22px 30px;
}

.page-header .navbar .navbar-nav li.open:hover>a,
.page-header .navbar .navbar-nav li.open>a {
    background: #fff;
}

.dashboard-stat .details .desc {
    font-size: 14px;
    font-weight: 400;
}

.dashboard-stat .details {
    padding-left: 30px;
}

.dsmall {
    display: block;
    font-size: 12px;
}

.bleft {
    border-left: 1px solid #c2cad8 !important;
}

.w740 {
    max-width: 740px;
    margin: 0 auto;
}

.input-daterange {
    margin: 0 auto;
}

.square {
    display: block;
    height: 18px;
    width: 18px;
    margin: 0 auto;
}

.sc1 {
    background: #9999ff;
}

.sc2 {
    background: #333399;
}

.sc3 {
    background: #336699;
}

.sc4 {
    background: #33ccff;
}

.sc5 {
    background: #009999;
}

.sc6 {
    background: #33cc66;
}

.sc7 {
    background: #009900;
}

.sc8 {
    background: #ffcc00;
}

.sc9 {
    background: #ff6600;
}

.sc10 {
    background: #993300;
}

.sc11 {
    background: #ff3333;
}

.sc12 {
    background: #9933cc;
}

.sc13 {
    background: #660066;
}

.sc14 {
    background: #cc6699;
}

.iblock {
    display: inline-block;
    margin-right: 5px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #fd0;
    border: 1px solid #fd0;
}

table.table-mensajes tbody tr td {
    text-align: right;
}

table.table-mensajes tbody tr td:nth-child(2) {
    text-align: left !important;
}
.dashboard-stat2 .display .number {
    float: none;
    display: block;
    width: 100%;
}
.dashboard-stat2 .display .number h3 {
    font-size: 26px;
    margin-top: 10px;
}
.dashboard-stat2 .progress-info .status .status-title {
    float: left;
    display: inline-block;
    color: #333;
    text-transform: none;
    font-size: 12px;
    margin-bottom: 5px;
}
.dashboard-stat2 .progress-info {
    margin-bottom: 20px;
}
.dashboard-stat2 {
    padding: 15px 15px 10px 15px;
}
.dashboard-stat2 .display .number h3>small {
    font-size: 18px;
}
@media (min-width: 992px) {
    .page-header .navbar-collapse {
        margin-top: 0px;
    }
    .page-header .navbar-fixed-top {
        padding: 20px 25px 0px 25px;
    }
    .page-on-scroll .page-header .navbar-fixed-top {
        padding: 5px 25px 0px 25px;
    }
    .page-content {
        padding-top: 80px;
    }
    .page-header .navbar-fixed-top {
        background: #000;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: right;
    }
    .form-horizontal .control-label {
        text-align: center;
    }
}

@media (max-width: 640px) {
    #grafica-mensajes {
        display: none;
    }
}

@media (max-width: 991px) {
    .page-header .nav-collapse .navbar-nav li.open>a:after {
        color: #6c7b88!important;
        content: none;
    }
}

@media (max-width: 991px) {
    .page-header .nav-collapse .navbar-nav>li>a:after {
        content: none;
    }
}