*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    height: 100%;
}

a:hover,
button:hover {
    cursor: pointer;
}

textarea,
input,
button {
    outline: none;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.sidebar {
    position: relative;
    float: left;
    display: block;
    width: 400px;
    background: #fff;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    -webkit-box-shadow: 3px 0px 31px -6px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 3px 0px 31px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 3px 0px 31px -6px rgba(0, 0, 0, 0.7);
    z-index: 10;
    -webkit-overflow-scrolling: touch;
}

.map {
    position: relative;
    float: left;
    display: block;
    width: calc(100% - 400px);
    height: 100%;
}

.map iframe {
    width: 100% !important;
    height: 100% !important;
    border: 0;
    margin: 0;
}

h1 {
    font-size: 1.1em;
    color: #fff;
    text-align: center;
    background: #2270ff;
    padding: 8px;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-size: 1em;
    padding: 8px;
    font-weight: 500;
    background: #dce8ff;
}

.two-col {
    display: block;
    width: 50%;
    float: left;
}

.three-col {
    display: block;
    width: 33.3333%;
    float: left;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    font-size: 0.95em;
    border: 1px solid #999;
    font-family: 'Raleway', sans-serif;
}

input[type="text"]::-webkit-input-placeholder {
    font-style: italic;
}

input[type="text"]:-moz-placeholder {
    font-style: italic;
}

input[type="text"]::-moz-placeholder {
    font-style: italic;
}

input[type="text"]:-ms-input-placeholder {
    font-style: italic;
}

.label-checkbox {
    position: relative;
    cursor: pointer;
    width: auto;
    display: block;
    padding: 8px 5px 8px 2px;
    text-align: center;
    float: left;
    margin-right: 19px;
    font-size: 0.95em;
}

.label-checkbox:last-child {
    margin-right: 0;
}

.checkbox {
    position: relative;
    top: -4px;
    margin: 0 8px 0 0;
    cursor: pointer;
}

.checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 1px solid #999;
}

.checkbox:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border: 3px solid #4CAF50;
    border-top-style: none;
    border-right-style: none;
}

.checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: #fff;
    cursor: pointer;
}

.search-field input[type="text"] {
    height: 36px;
    width: calc(100% - 36px);
    float: left;
    display: block;
    border-right: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
}

.search-field button {
    padding: 8px;
    float: left;
    display: block;
    border: 0;
    margin: 10px 0;
    width: 36px;
    height: 36px;
    background: #4caf50;
    transition: 0.3s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-field button:hover {
    background: #399a3d;
}

.search-field button img {
    width: 20px;
    height: 20px;
}

.result {
    border-bottom: 1px solid #dce8ff;
    position: relative;
}

.result:last-child {
    border-bottom: 0;
}

.label-radio {
    position: relative;
    cursor: pointer;
    width: auto;
    display: block;
    padding: 8px;
    text-align: left;
    float: left;
    font-size: 0.95em;
}

.label-radio span {
    display: block;
    float: left;
    width: calc(100% - 18px);
    padding-left: 12px;
    line-height: 1.4em;
}

.radio {
    position: relative;
    margin: 0;
    top: 2px;
    cursor: pointer;
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.radio:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    z-index: 1;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.radio:after {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    width: 20px;
    height: 20px;
    background: #fff;
    cursor: pointer;
}

.radio:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
    background: #4CAF50;
    border-radius: 100px;
    border: 0;
}

.center {
    text-align: center;
}

.green-btn {
    padding: 10px 20px;
    font-size: 1em;
    background: #4CAF50;
    color: #fff;
    border: 0;
    margin: 5px 0 0;
    font-family: 'Raleway', sans-serif;
    transition: 0.3s ease;
    width: 180px;
    border-radius: 5px;
}

.green-btn:hover {
    background: #399a3d;
}

.nm-cont {
    padding-top: 10px;
}

.nm-cont input[type=checkbox] {
    display: none;
}

.nm-cont input {
    position: absolute;
    width: 15px;
    height: 15px;
    display: block;
    top: 0;
    left: 0;
}

.nm-cont label {
    display: block;
    background-color: #fff;
    border: 1px solid #FF5722;
    width: 180px;
    padding: 8px;
    transition: .3s ease;
    margin: 5px auto 20px;
    text-align: center;
    border-radius: 5px;
}

.nm-cont label:hover {
    cursor: pointer;
}

.nm-cont input[type=checkbox]:checked+label {
    background: #FF5722;
    color: #fff;
}

.razon-mapa {
    display: none;
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 0.95em;
    color: #000;
    width: 100%;
    height: 36px;
    margin-bottom: 10px;
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 8px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    height: 36px;
    border: 1px solid #999;
}

.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #333 transparent transparent transparent;
    position: absolute;
    top: 14px;
    right: 10px;
}

.select-styled:active,
.select-styled.active {
    background-color: #ffffff;
}

.select-styled:active:after,
.select-styled.active:after {
    top: 7px;
    border-color: transparent transparent #333 transparent;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #999;
    border-top: 0;
}

.select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #999;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.select-options li:first-child {
    border-top: 0
}

.select-options li:hover {
    background: #dce8ff;
}

.select-options li[rel="hide"] {
    display: none;
}

.text-razon {
    margin: 20px 0 8px;
}

.dir-txt {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #dce8ff;
    font-size: 0.95em;
    text-align: center;
}

.modal {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 500;
}

.modal.modal-off {
    display: none !important;
}

.modal-box {
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    left: 50%;
    position: relative;
    display: block;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    text-align: center;
}

.modal-title {
    display: block;
    width: 100%;
    color: #f44336;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.modal-close {
    position: absolute;
    right: -10px;
    top: -10px;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    line-height: 50px;
    display: inline-block;
    background: #F44336;
    border-radius: 100px;
}

.modal-text p {
    margin: 0;
}

.modal-close:after,
.modal-close:before {
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -8px;
    display: block;
    height: 2px;
    width: 16px;
    background-color: #fff;
}

.modal-close:after {
    transform: rotate(-135deg);
}

@media (max-width:760px) {
    .sidebar {
        width: 300px;
    }
    .map {
        width: calc(100% - 300px);
    }
}

@media (max-width:580px) {
    .sidebar,
    .map {
        width: 100%;
        height: 50%;
    }
    .sidebar {
        border-bottom: 20px solid #fff;
        border-top: 20px solid #fff;
        padding: 0 20px;
    }
}

@media (max-width:360px) {
    .modal-box {
        width: 280px;
    }
}