.sliderDesc,
.sliderText {
    text-shadow: 2px 1px 3px #2e2e2e
}

.cta-btn,
.dropMenuText,
.icon-container .servText,
.sliderDesc {
    text-transform: uppercase
}

.inner {
    max-width: 960px;
    margin: 0 auto
}

.slideImage {
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, .1)
}

.sliderTextBox {
    display: block;
    position: absolute;
    text-align: right;
    transform: translateX(0);
    width: 60%;
    height: auto;
    top: 2.5rem;
    right: 3.125rem;
    border: 0
}

.slider .sliderLogo {
    text-align: center;
    max-width: 480px;
    margin-left: 50%;
    float: right
}

.sliderText {
    display: block;
    font-weight: 600;
    color: #FFF;
    font-size: 1.875rem;
    padding: 10px 0;
    line-height: 2rem
}

.sliderText .ubicacion {
    color: #FD0
}

.sliderDesc {
    float: right;
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.5rem;
    text-align: right;
    margin-top: 2.5rem;
    color: #FFF
}

.cl2,
.servicios {
    text-align: center
}
.cl2 {
    margin-top: 12px;
}
.lead {
    font-weight: 700
}

.wrapper-demo {
    margin: 60px 0 0;
    font-weight: 400
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table
}

.wrapper-dropdown {
    position: relative;
    width: 260px;
    padding: 6px 30px 6px 6px;
    margin: 5px 0 0 80px;
    background: #fff;
    color: #000;
    outline: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .9em;
    vertical-align: top;
    border-bottom: 1px solid #999
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #111
}

.wrapper-dropdown .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    list-style: none;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    border: 1px solid #bdc3c7;
    border-top: 1px solid #fd0;
    max-height: 300px;
    display: none
}

.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px;
    text-transform: uppercase
}

.wrapper-dropdown .dropdown li:hover a {
    background: #fd0
}

.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    z-index: 50;
    display: block;
    padding: 0;
    margin: 0
}

.wrapper-dropdown.active:after {
    border-color: #000 transparent;
    border-width: 6px 6px 0;
    margin-top: -3px
}

.wrapper-dropdown.active {
    background: #fff;
    border-bottom: 1px solid #fd0;
    padding: 5px 30px 5px 5px
}

.no-opacity .wrapper-dropdown .dropdown,
.no-pointerevents .wrapper-dropdown .dropdown {
    display: none;
    opacity: 1;
    pointer-events: auto
}

.no-opacity .wrapper-dropdown.active .dropdown,
.no-pointerevents .wrapper-dropdown.active .dropdown {
    display: block
}

.red {
    color: #e74c3c;
    font-weight: 700
}

.filtros-toggle {
    display: none
}

ul.blog-list .blog-img img {
    width: 100%;
    height: auto
}

@media (min-width:780px) {
    .wrapper-dropdown.active .dropdown {
        max-height: 300px;
        overflow-y: auto
    }
}

@media only screen and (max-width:779px) {
    .filtros-tipo,
    .wrapper-dropdown {
        display: block;
        width: 100%
    }
    .wrapper-dropdown {
        margin-left: 0;
        margin-bottom: 5px;
        padding: 12px 30px 12px 6px
    }
    .filtros-tipo.filtros-tipo-off {
        display: none
    }
    .filtros-toggle {
        display: block;
        width: 100%;
        font-size: .9em;
        padding: 5px 0 9px;
        text-align: center
    }
    .filtros-toggle:before {
        display: inline-block;
        font-size: 1.2em;
        position: relative;
        top: 2px;
        margin-right: 4px
    }
    .filtro-title {
        display: none
    }
    .wrapper-dropdown {
        font-size: 1em
    }
    .wrapper-dropdown.active {
        padding: 30px 30px 60px;
        position: fixed;
        z-index: 2000;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .9);
        width: 100%;
        height: 100%;
        border: none
    }
    .wrapper-dropdown.active span {
        display: block;
        z-index: 1000;
        background: #fff;
        width: 100%;
        padding: 10px 0;
        border: 1px solid #fd0;
        position: relative;
        box-sizing: border-box;
        text-align: center
    }
    .wrapper-dropdown.active span:after {
        font-family: sacomfont;
        content: "\e000";
        color: #f73a27;
        position: absolute;
        right: 12px;
        font-weight: 700;
        top: 11px
    }
    .wrapper-dropdown.active .dropdown {
        opacity: 1;
        pointer-events: auto;
        z-index: 50;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        border-top: none;
        -webkit-overflow-scrolling: touch
    }
    .filtro-selected {
        width: 100%;
        padding: 10px 30px 10px 6px;
        margin: 0 auto;
        background: #fff;
        display: block;
        font-size: .9em;
        height: auto;
        line-height: initial
    }
    .filtro-selected:after {
        margin-top: -6px
    }
    .filtros {
        padding-bottom: 7px
    }
    .wrapper-dropdown .dropdown {
        max-height: initial
    }
}

.dropMenu {
    background-color: #e7e9e8;
    height: 40px
}

.dropMenuText {
    font-size: 14px;
    font-weight: 600;
    color: #000
}

.categoriaSeccion {
    margin-top: 45px
}

.serviciosSeccion {
    margin-top: 2rem;
    text-align: center;
}

.icon-container span {
    font-size: 8.125rem;
    color: #4f4f4f;
    line-height: 4rem;
}

.servicios {
    width: 32%;
    margin-top: 2rem;
    display: inline-block;
}

.servicios .icon-container span:hover {
    color: #878787
}
.aparezca {
    width: 100%;
    display: block;
}
.icon-container .servText {
    display: block;
    font-size: 1.3125rem;
    color: #3c3c3c;
    font-weight: 300
}

.cta-btn,
.cta-btn:hover {
    color: #000
}

.action {
    margin: 40px auto 20px;
    padding: 15px;
    background-color: #FD0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    max-width: 350px;
    text-align: center;
}

.action:hover {
    background: #fc0
}

.cta-btn {
    font-size: .9375rem;
    font-weight: 600
}

img {
    max-width: 100%
}

.contactanos {
    padding: 20px;
    margin-top: 10px;
}

p.contus {
    font-size: 1.2rem;
    color: #010101;
    font-weight: 400
}

a.callme span {
    display: inline-block;
    top: 10px;
    margin-right: 10px
}

a.callme {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 auto;
    color: #4e4e4e;
    position: relative
}

body.noscroll {
    overflow: hidden!important
}

@media (max-width:906px) {
    .slider .sliderLogo {
        margin-left: 0
    }
}
@media (max-width:779px) {
    p.contus {
        text-align: center;
    }
}
@media (max-width:768px) {
    .sliderTextBox {
        width: 80%
    }
    .slider .sliderLogo {
        width: 100%;
        margin: 0 auto;
        float: left
    }
    .sliderDesc {
        width: 100%;
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.3125rem;
        margin-top: .5rem
    }
    .serviciosSeccion .columns {
        width: 33%
    }
    .serviciosSeccion .eight {
        width: 65%
    }
}

@media (max-width:665px) {
    .serviciosSeccion .columns,
    .serviciosSeccion .servText {
        width: 100%
    }
    .icon-container .servText,
    .icon-container .servTextLast {
        display: inline-block;
        width: 80%;
        margin-bottom: 20px;
        padding-bottom: 20px
    }
    .icon-container .servTextLast {
        border-bottom: none
    }
    .action {
        margin-top: 0
    }
    .servicios {
        width: 48%;
    }
}

@media (max-width:420px) {
    .icon-container .servText {
        border-bottom: 1px solid #999
    }
    .servicios {
        width: 100%;
    }
}