*,
:after,
:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    display: table;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}

a:active,
a:hover {
    outline-width: 0;
}

a:hover {
    cursor: pointer;
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}

button,
input {
    overflow: visible;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

textarea,
input {
    outline: none;
}

.scrollToTop {
    width: 50px;
    height: 50px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    display: none;
}

.scrollToTop:hover {
    text-decoration: none;
}

.scrollToTop span:before {
    color: #fff;
    position: relative;
    top: 2px;
    left: 3px;
    font-size: 1.5em;
}

.content {
    width: 100%;
    display: block;
    height: auto;
    padding: 0;
}


/*Skeleton*/

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.one-third.column {
    width: 30.6666666667%;
}

.two-thirds.column {
    width: 65.3333333333%;
}

.one-half.column {
    width: 48%;
    margin-left: 2%;
}


/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}


/* For devices larger than 550px */

@media (min-width: 780px) {
    .container {
        width: 80%;
    }
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}

.clear {
    clear: both;
}


/*Iconos*/

@font-face {
    font-family: "sacomfont";
    src: url("../Fonts/sacomfont.eot");
    src: url("../Fonts/sacomfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/sacomfont.woff") format("woff"), url("../Fonts/sacomfont.ttf") format("truetype"), url("../Fonts/sacomfont.svg#sacomfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "sacomfont" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "sacomfont" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-presencia-web:before {
    content: "\e021";
}

.icon-publicidad-digital:before {
    content: "\e022";
}

.icon-e-commerce:before {
    content: "\e025";
}

.icon-close:before {
    content: "\e000";
}

.icon-multicanal:before {
    content: "\e04e";
}

.icon-publi-seccion:before {
    content: "\e04f";
}

.icon-reviews:before {
    content: "\e050";
}

.icon-info-precisa:before {
    content: "\e051";
}

.icon-email:before {
    content: "\e052";
}

.icon-dominio:before {
    content: "\e053";
}

.icon-contacts:before {
    content: "\e054";
}

.icon-mobile:before {
    content: "\e055";
}

.icon-social-media:before {
    content: "\e056";
}

.icon-pagos:before {
    content: "\e057";
}

.icon-buscadores:before {
    content: "\e058";
}

.icon-logistica:before {
    content: "\e059";
}

.icon-agenda:before {
    content: "\e05a";
}

.icon-stock:before {
    content: "\e05d";
}

.icon-speaker:before {
    content: "\e05e";
}

.icon-money-sign:before {
    content: "\e05f";
}

.icon-tel:before {
    content: "\36";
}

.icon-chevron-up:before {
    content: "\53";
}

.icon-back:before {
    content: "\60";
}

.icon-llamar:before {
    content: "\2f";
}


/*Adn*/

.adn-banner {
    width: 100%;
    height: 540px;
    background-size: cover;
    padding: 20px;
    background-position: center;
    color: #fff;
    text-align: right;
}

.abg1 {
    background-image: url(../Images/adn_bg1.jpg);
    background-position: 0 80%;
}

.abg2 {
    background-image: url(../Images/adn_bg2.jpg);
}

.abg3 {
    background-image: url(../Images/adn_bg3.jpg) !important;
}

.abg4 {
    background-image: url(../Images/adn_bg4.jpg) !important;
}

.abg-ty {
    background-image: url(../Images/adn-bg-ty.jpg) !important;
}

.abg2 .inner-ty h1 {
    color: #4d4d4d;
    font-size: 2.5em;
    width: 100%;
    text-align: center;
    text-shadow: none;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 200px;
}

.abg2 .inner-ty p {
    color: #4d4d4d;
    width: 100%;
    text-align: center;
    text-shadow: none;
    font-size: 1.8em;
    font-weight: 300;
    margin-top: 0;
}

.adn-inner {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
}

.abg1 h1 {
    font-size: 2.2em;
    font-weight: 500;
    margin-top: 70px;
    float: right;
    max-width: 600px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.abg1 h1 span {
    font-size: 1.5em;
}

.abg1 p {
    font-size: 1.6em;
    max-width: 440px;
    display: block;
    float: right;
    margin-top: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.abg1 p span {
    font-size: 1.4em;
}

.abg2 h1 {
    font-size: 1.5em;
    font-weight: 400;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.abg2 h1 span {
    font-size: 2em;
    display: block;
    font-weight: 500;
}

.abg2 h1 b {
    display: block;
    font-size: 1.4em;
    color: #fd0;
    font-weight: 500;
}

.abg2 img {
    margin-top: 50px;
}

a.main-btn {
    padding: 12px 25px;
    color: #000;
    background: #fd0;
    display: block;
    border: 0;
    float: right;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 20px;
    transition: 0.3s ease;
}

a.main-btn:hover {
    background: #fc0;
}

a.sol-llam {
    margin-right: 10px;
    width: auto !important;
}

.adn-banner a.main-btn {
    width: auto !important;
}

form.adn-comienza {
    margin-top: 10px;
}

form.adn-comienza input {
    width: 300px;
    padding: 12px;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
}

form.adn-comienza button {
    width: 140px;
    padding: 12px;
    border: 0;
    border-radius: 5px;
    background: #fd0;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
}

form.adn-comienza button:hover {
    background: #fc0;
    cursor: pointer;
}

.adn-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: block;
}

.adn-logo {
    margin: 30px auto;
    display: block;
    width: 240px;
    height: 80px;
}

hr {
    max-width: 600px;
    border-top: 1px solid #999;
    border-bottom: none;
}

.h-description {
    font-size: 1.6em;
    font-weight: 300;
    text-align: center;
    max-width: 820px;
    margin: 40px auto;
}

.abg1-1 {
    background-image: url(../Images/adn_bg1-1.jpg);
    background-position: 0 80%;
    height: 460px;
}

.abg2-1 {
    background-image: url(../Images/adn_bg2-1.jpg);
    height: 300px;
    margin-top: 50px;
}

.abg2-1 h3 {
    text-align: center;
    color: #fff;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    font-size: 2.5em;
    margin-top: 80px;
    text-transform: none;
}

.abg2-1 h3 span {
    color: #fd0;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
}

.ejem {
    float: left;
    width: 30%;
    display: block;
    margin-right: 5%;
    text-align: center;
    height: 380px;
    padding: 20px;
}

.ejem:last-child {
    margin-right: 0;
}

.ejem1,
.ejem.ejem1 i {
    background: rgba(255, 102, 102, 0.85);
}

.ejem2,
.ejem.ejem2 i {
    background: rgba(102, 102, 255, 0.85)
}

.ejem3,
.ejem.ejem3 i {
    background: rgba(102, 202, 255, 0.85)
}

.ejem i {
    font-size: 6em;
    margin: 0 auto 20px;
    display: block;
    width: 140px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    padding-top: 18px;
}

.ejem h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
}

.ejem a {
    margin: 0 auto;
    width: 130px;
    background: #fd0;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-top: 30px;
    display: block;
}

.ejem a:hover {
    background: #fc0;
    cursor: pointer;
}

.ejem-com {
    background: #29aae1;
}

.ejem-com.eweb {
    background: #f46178 !important;
}

.ejem-com h2,
.ejem-com i {
    color: #fff !important;
}

.ejem-com h2 {
    font-size: 1em;
    font-weight: 300;
}

.ejem-com h2 span {
    font-size: 1.2em;
    font-weight: 500;
    display: block;
}

.ejem-com p {
    color: #fff;
    text-align: left;
    font-weight: 300;
}

.ejem-com i {
    font-size: 3.5em;
    margin: 10px auto 20px;
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    padding-top: 32px;
    text-align: center;
    border: 2px solid #fff;
}

.floatno {
    float: none !important;
    display: inline-block !important;
    vertical-align: top !important;
}

.center {
    text-align: center;
}

.ejem-mkt {
    background: #e5e5e5;
    color: #4d4d4d;
    font-weight: 300;
    display: block;
    float: left;
    width: 22.75%;
    margin-right: 3%;
    text-align: center;
    padding: 10px;
    height: 310px;
}

.ejem-mkt:last-child {
    margin-right: 0;
}

.ejem-mkt img {
    margin: 0 auto;
    display: block;
    width: auto;
    height: 45px;
    margin-top: 20px;
}

.ejem-mkt img.w100 {
    width: 100%;
    height: auto;
    margin: 30px auto 30px;
}

.ejem-mkt i {
    font-size: 3.2em;
    margin-top: 10px;
    display: block;
    margin-bottom: -8px;
}

.ejem-mkt h2 {
    font-size: 1.2em;
    font-weight: 500;
}

.ejem-mkt h2 span {
    font-weight: 300;
    display: block;
}

.maxilogo {
    display: block;
    width: 148px;
    height: 45px;
    background-image: url(../Images/maxiclic-logo.png);
    background-size: 148px 45px;
    background-repeat: no-repeat;
    margin: 20px auto;
}

.socialogo {
    display: block;
    width: 147px;
    height: 45px;
    background-image: url(../Images/social-clic-logo.png);
    background-size: 147px 45px;
    background-repeat: no-repeat;
    margin: 20px auto;
}

.gobanlogo {
    display: block;
    width: 76px;
    height: 60px;
    background-image: url(../Images/go-banner.png);
    background-size: 76px 60px;
    background-repeat: no-repeat;
    margin: 13px auto;
}

.goban h2 {
    margin-top: 10px;
}

.black-bg {
    background: #000;
    width: 100% !important;
    max-width: 100% !important;
}

.black-bg p {
    color: #fff !important;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 500;
    color: #333;
    margin-top: 30px;
}

.desempeno {
    text-align: center;
}

.desempeno p {
    font-size: 2em;
    font-weight: 300;
    margin-top: 65px;
}

.desempeno img {
    width: 100%;
    height: auto;
}

a.reporte-btn {
    background: #333333;
    color: #fd0;
    transition: 0.3s ease;
    font-size: 0.85em;
    padding: 12px;
    text-transform: uppercase;
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}

a.reporte-btn:hover {
    color: #333333;
    background: #fd0;
}

.desempeno .columns {
    float: right !important;
}

.casos {
    background: #fd0;
    height: auto !important;
}

.caso {
    text-align: center;
    color: #000;
    font-weight: 300;
}

.caso p {
    max-width: 260px;
    margin: 0 auto;
    font-size: 1em;
    margin-top: 20px;
}

.caso p b {
    font-weight: 600;
}

p.autor {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 0.95em;
    margin-top: 40px;
    display: block;
}

a.caso-btn {
    padding: 10px;
    background: #333;
    color: #fd0;
    font-size: 0.9em;
    font-weight: 500;
    border-radius: 5px;
    margin: 20px auto 0;
    display: block;
    width: 100px;
    transition: 0.3s ease;
    border: 1px solid #333;
}

a.caso-btn:hover {
    background: #fd0;
    color: #000;
    cursor: pointer;
}

p.contus {
    font-size: 1.2em;
    color: #010101;
    text-transform: uppercase;
    font-weight: 400;
}

a.callme {
    font-size: 1.8em;
    font-weight: 500;
    margin: 0 auto;
}

a.callme,
a.callme span {
    color: #4e4e4e;
    position: relative;
}

a.callme span {
    display: inline-block;
    top: 10px;
    margin-right: 10px;
}

.cl2 {
    text-align: center;
}

a.callme span.icon-llamar:before {
    font-size: 40px!important;
}

.ejem-final {
    float: left;
    width: 65%;
    text-align: center;
}

.wf100 {
    width: 100% !important;
}

.wf100 p {
    margin-top: 20px !important;
}

.wf100 a {
    display: inline-block;
    margin: 0 5px 10px 5px !important;
}

.inb a {
    display: inline-block !important;
    margin: 0 5px 10px 5px !important;
}

.ejem-final p {
    font-size: 2em;
    color: #333;
    font-weight: 500;
    margin-top: 120px;
}

.ejem-final.ej-web p {
    font-weight: 300;
    max-width: 530px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.ejem-final.ej-web p span {
    font-weight: 500;
}

.ejem-final a.main-btn {
    float: none !important;
    margin: 0 auto;
}

.adn-video {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 50px;
    height: 400px;
    overflow: hidden;
}

.adn-video video {
    position: relative;
    top: 50%;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
}

.video-bg {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.video-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.video-text p {
    max-width: 800px;
    margin: 0 auto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    padding: 0 10px;
}

.video-text p span {
    color: #fd0;
    display: block;
}

.mkt-video {
    width: 100%;
}

.half-video {
    float: left;
    width: 50%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mkt-video-text {
    float: left;
    width: 50%;
    text-align: center;
    padding: 20px;
    font-size: 1.6em;
}

.mkt-video-text p {
    margin: 0 auto;
    margin-top: 15%;
    max-width: 500px;
}

.mkt-video p.h-description {
    margin: 40px auto 0;
    font-size: 1em;
}

.mkt {
    background: #6666ff;
    height: auto !important;
}

.bottom0 {
    margin-bottom: 0 !important;
}

.noscroll {
    overflow: hidden;
}


/*Llama modal*/

.llama-modal.llama-modal-off {
    display: none;
}

.llama-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 500;
    top: 0;
    left: 0;
}

.llama-modal .message-modal-content {
    max-width: 360px;
}

.modal-close {
    color: #e74c3c;
    text-align: right;
    display: block;
    height: 40px;
    width: 40px;
    right: 0;
    top: 0;
    position: absolute;
    padding: 10px;
    text-align: center;
}

p.llama-help {
    display: block;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 0;
}

.message-modal {
    display: block;
    width: 360px;
    height: auto;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.message-modal-content {
    background: #fff;
    border-radius: 5px;
}

.message-modal-content form {
    padding: 0 20px 20px 20px;
}

.message-modal-content label {
    display: block;
    width: 100%;
    margin: 5px 0;
    text-align: center;
    font-size: 0.85em;
}

.message-modal-content input,
.message-modal-content textarea,
.message-modal-content select {
    display: block;
    width: 100%;
    margin: 5px 0 15px 0;
    text-align: left;
    padding: 7px;
    font-size: 0.9em;
    border: 1px solid #bdc3c7;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #fff;
    height: 35px;
}

.message-modal-content textarea {
    height: 60px;
}

.message-modal-content h5 {
    margin-top: 0;
    font-size: 1em;
    padding: 10px 40px;
    margin-bottom: 0;
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.message-modal-content p {
    font-size: 0.85em;
    margin-top: 0;
}

.message-modal-content button,
.msend {
    background: #ffdd00;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 0 auto;
}

.message-modal-content button:hover,
.msend:hover {
    cursor: pointer;
    background: #fc0;
}

.red {
    color: #e74c3c;
    font-weight: bold;
}

.agree-input {
    float: left;
    display: block;
    width: 25px;
}

.agree-input input {
    width: 20px;
    height: 20px;
    margin: 0;
}

.agree p {
    font-size: 0.7em !important;
    width: 88%;
    margin-bottom: 10px;
    display: block;
    float: left;
    margin-top: 0;
    text-align: left;
}

.check-radios {
    margin-bottom: 10px;
}

.check-radios input {
    display: none;
    visibility: hidden;
}

.check-radios label {
    display: block;
    float: left;
    width: 50%;
    transition: 0.3s ease;
    border: 1px solid #4c8bf3;
    padding: 8px 0;
    text-align: center;
}

.check-radios label:hover {
    cursor: pointer;
}

.check-radios input[type="radio"]:checked + label,
.check-radios input[type="checkbox"]:checked + label {
    background: #4d8cf4;
    padding-left: 20px;
    color: #fff;
}

.check-radios input[type="radio"]:checked + label:before {
    position: absolute;
    content: "\e01d";
    margin-left: -18px;
    font-family: 'sacomfont';
    margin-top: 2px;
    color: #fff;
    font-size: 0.9em;
}

.input-icon {
    display: block;
    width: 100%;
    position: relative;
}

.input-icon input {
    position: relative;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #555;
    padding: 0 0 0 40px;
    border-radius: 0;
}

.input-icon span {
    position: absolute;
    top: 7px;
    left: 6px;
    color: #555;
    font-size: 1.1em;
}

.modal-text {
    width: 100%;
    display: block;
    padding: 10px 20px 20px 20px;
}


/*Flip*/

.message-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 320px;
    height: auto;
    -moz-perspective: 600px;
    -webkit-perspective: 600px;
    perspective: 600px;
    background: transparent;
    box-shadow: none;
    padding: 0;
}

.message-modal .front,
.message-modal .back {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #fff;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.message-modal .front {
    z-index: 900;
    -moz-transform: translate(0%, -50%) rotateY(0deg);
    -ms-transform: translate(0%, -50%) rotateY(0deg);
    -webkit-transform: translate(0%, -50%) rotateY(0deg);
    transform: translate(0%, -50%) rotateY(0deg);
}

.message-modal .back {
    z-index: 800;
    -moz-transform: translate(0%, -50%) rotateY(-180deg);
    -ms-transform: translate(0%, -50%) rotateY(-180deg);
    -webkit-transform: translate(0%, -50%) rotateY(-180deg);
    transform: translate(0%, -50%) rotateY(-180deg);
}

.message-modal.flip .front {
    -moz-transform: translate(0%, -50%) rotateY(180deg);
    -ms-transform: translate(0%, -50%) rotateY(180deg);
    -webkit-transform: translate(0%, -50%) rotateY(180deg);
    transform: translate(0%, -50%) rotateY(180deg);
    z-index: 900;
}

.message-modal.flip .back {
    -moz-transform: translate(0%, -50%) rotateY(0deg);
    -ms-transform: translate(0%, -50%) rotateY(0deg);
    -webkit-transform: translate(0%, -50%) rotateY(0deg);
    transform: translate(0%, -50%) rotateY(0deg);
    z-index: 1000;
}

.captcha-container {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.g-recaptcha {
    transform: scale(0.8) !important;
    -webkit-transform: scale(0.8) !important;
    transform-origin: 0 0 !important;
    -webkit-transform-origin: 0 0 !important;
    left: 50%;
    position: relative;
    margin-left: -120px !important;
}


/*Registro modal*/

.registro-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 500;
    top: 0;
    left: 0;
}

.registro-modal.registro-modal-off {
    display: none;
}

.exit-registro-modal {
    color: #ffdd00;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
    z-index: 1000;
}

.registro-form {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.registro-form .animated-input {
    display: block;
    position: relative;
    margin-bottom: 30px;
}

.registro-form .floated {
    display: inline-block;
    width: 100%;
    padding: 10px 5px;
    border-radius: 0px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.registro-form .floated:focus {
    outline: none;
}

.registro-form .floated + label {
    display: inline-block;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    left: 5px;
    top: -20px;
    transition: all 0.3s ease-in-out;
    transform: translateY(30px);
    font-weight: 400;
}

.registro-form .floated:focus,
.registro-form .floated:active,
.registro-form floated:invalid {
    text-indent: 0px;
}

.registro-form .floated:focus + label,
.registro-form .floated:active + label,
.registro-form floated:invalid + label {
    transform: translateY(0px);
    opacity: 0.7;
}

.registro-form .floated:focus + label,
.registro-form .floated:valid + label,
.registro-form .floated:focus + label {
    transform: translateY(0px);
    opacity: 1;
    color: #fd0;
    font-size: 14px;
    top: -11px;
}

.select-options {
    position: relative;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 10px 10px 0 10px;
    margin: 50px 0 20px 0;
    text-align: center;
    display: block;
}

.select-options p {
    text-align: center;
    color: #fd0;
    font-size: 1.1em;
    text-transform: uppercase;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    top: -20px;
}

.check-datos {
    width: auto;
    margin: 20px auto;
    margin-top: 0;
    padding: 0 10px;
    display: inline-block;
}

.check-datos input[type='checkbox'] {
    display: none;
}

.check-datos input[type='checkbox'] + label {
    position: relative;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    color: #fff;
    transition: color 250ms cubic-bezier(.4, 0, .23, 1);
    font-size: 15px;
}

.check-datos input[type='checkbox'] + label:hover {
    cursor: pointer;
}

.check-datos input[type='checkbox'] + label > span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4, .0, .23, 1);
}

.check-datos input[type='checkbox']:checked + label > span {
    background: #2ecc71;
    border: 1px solid #2ecc71;
}

.check-datos input[type='checkbox']:checked + label > span:before {
    position: absolute;
    top: 10px;
    left: 5px;
    content: '';
    display: block;
    width: 4px;
    height: 11px;
    border: solid #fff;
    border-width: 0 5px 0 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.check-datos input[type='checkbox']:checked + label > span:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 12px;
    width: 5px;
    height: 17px;
    border: solid #fff;
    border-width: 0 5px 0 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.captcha-container {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.g-recaptcha {
    transform: scale(0.8) !important;
    -webkit-transform: scale(0.8) !important;
    transform-origin: 0 0 !important;
    -webkit-transform-origin: 0 0 !important;
    left: 50%;
    position: relative;
    margin-left: -120px !important;
}

button.r-send-btn {
    color: #000;
    background: #fd0;
    border: 0;
    padding: 10px;
    display: block;
    border-radius: 10px;
    margin: 0 auto 10px;
    font-size: 1.1em;
    width: 150px;
    text-transform: uppercase;
    font-weight: 500;
}

button.r-send-btn:hover {
    background: #fc0;
}

.errorBlock {
    margin: 20px 0 0;
    text-align: center;
}

.v-error {
    color: #fff;
    background: #e03d2c;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.ejemplo-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 500;
    top: 0;
    left: 0;
}

.ejemplo-modal.ejemplo-modal-off {
    display: none;
}

.exit-ejemplo-modal {
    color: #e74c3c;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.1em;
    z-index: 1000;
    background: #fff;
    border-radius: 100px;
    height: 35px;
    width: 35px;
    text-align: center;
    padding-top: 9px;
}

.ejemplo-modal-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 920px;
    height: auto;
    padding: 0;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.ej-left {
    float: left;
    width: 20%;
}

.ej-left img {
    width: 100%;
    height: auto;
}

.ej-right {
    float: left;
    width: 80%
}

.bluebg {
    background: #448aff;
    color: #fff;
    padding: 20px;
}

.bluebg h4 {
    font-size: 1em;
    margin: 0;
}

.bluebg p {
    font-size: 0.9em;
    margin-bottom: 0;
}

.ej-cont {
    color: #555;
    padding: 0 20px;
}

.ej-cont h5 {
    font-size: 1em;
    font-weight: 500;
    margin: 15px 0 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.ej-cont p {
    font-size: 0.8em;
    margin-bottom: 5px;
}

.des {
    margin-bottom: 15px;
}

.des-one {
    width: 30px;
    float: left;
}

.des-one i {
    width: 30px;
    height: 30px;
    background: #757575;
    display: block;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    padding-top: 7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.des-two {
    float: left;
    width: calc(100% - 30px);
    padding-left: 10px;
}

.des-two p {
    margin-top: 0;
}

.res-one {
    float: left;
    display: block;
    width: 60%;
    margin-top: 15px;
    padding-right: 20px;
}

.res-two {
    float: left;
    display: block;
    width: 40%;
    margin-top: 15px;
}

.res-two .bluebg p {
    margin: 0;
    font-size: 0.8em;
}

.result {
    float: left;
    display: block;
    width: 31%;
    background: #f6f6f6;
    margin-right: 3.5%;
}

.result:last-child {
    margin-right: 0;
}

.result p {
    font-size: 0.8em;
    color: #555;
    padding: 10px;
    margin: 0 0 10px 0;
}

.res-one h5 {
    font-size: 1em;
    font-weight: 500;
    margin: 0 0 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    text-align: center;
    color: #555;
}

.result b {
    color: #448aff;
}

.result i {
    display: block;
    width: 25px;
    height: 25px;
    background: #757575;
    color: #fff;
    font-size: 1em;
    text-align: center;
    padding-top: 4px;
    margin: 10px;
}

p.perc {
    font-size: 1.5em;
    margin: 0;
    padding: 0 10px;
}

.line {
    display: block;
    width: 25px;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-bottom: 5px;
}

.img-cont {
    text-align: center;
}

.img-cont a {
    display: block;
    color: #555;
    font-size: 0.8em;
    text-decoration: none;
}

a.mq1 {
    margin: 8px 8px 8px 0;
    width: 100px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

a.mq2 {
    margin: 8px 0 8px 0;
    width: 220px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

a.mq1 img,
a.mq2 img {
    width: 100%;
    height: auto;
}

.adn-back {
    text-align: center;
    padding: 40px 20px 20px 20px;
}

.back-home {
    color: #000;
    text-align: center;
    font-size: 1.5em;
}

.adn-back a,
.adn-back i {
    display: inline-block;
    vertical-align: middle;
}

.adn-back a {
    margin-right: 10px
}

.adn-back i {
    font-size: 0.8em;
}

.adn-back a.bimg {
    width: 150px;
    height: 50px;
    display: inline-block;
    background-image: url(../Images/adn-logo-black.png);
    background-size: 150px 50px;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 2500px) {
    .adn-banner {
        height: 1000px;
        padding-top: 150px!important;
    }
}
@media only screen and (min-width: 2200px) and (max-width: 2499px) {
    .adn-banner {
        height: 900px;
        padding-top: 140px!important;
    }
}
@media only screen and (min-width: 1900px) and (max-width: 2199px) {
    .adn-banner {
        height: 800px;
        padding-top: 130px!important;
    }
}
@media only screen and (min-width: 1650px) and (max-width: 1899px) {
    .adn-banner {
        height: 700px;
        padding-top: 120px!important;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1649px) {
    .adn-banner {
        height: 600px;
        padding-top: 50px !important;
    }
}

@media only screen and (min-width: 681px) {
    .two-ejem {
        margin: 30px auto 20px;
    }
    .two-ejem .adn-content {
        max-width: 700px;
    }
    .two-ejem .adn-content .ejem {
        width: 47.5% !important;
    }
}

@media only screen and (max-width: 1200px) {
    .mkt-video-text img.adn-logo {
        width: 180px;
        height: 60px;
    }
    .mkt-video p.h-description {
        font-size: 0.8em;
        margin: 20px auto 0;
    }
}

@media only screen and (max-width: 920px) {
    .ejem i {
        font-size: 5em;
        width: 120px;
    }
    .ejem-com i {
        font-size: 3em;
        width: 100px;
        height: 100px;
        padding-top: 24px;
    }
    .desempeno p {
        font-size: 1.8em;
        margin-top: 60px;
    }
    .ejem-mkt h2 {
        font-size: 1.1em;
    }
    .ejem-mkt img {
        height: 40px;
    }
    .ejem-mkt i {
        font-size: 3em;
    }
    .ejem-mkt p {
        font-size: 0.9em;
    }
    .ejemplo-modal-container {
        width: 95%;
    }
    .ej-left {
        display: none;
    }
    .ej-right {
        width: 100%;
    }
    .mkt-video-text p {
        margin-top: 5%;
        font-size: 0.8em;
    }
    .mkt-video-text img.adn-logo {
        width: 150px;
        height: 50px;
        margin: 0 auto;
    }
    .mkt-video p.h-description {
        font-size: .75em;
        margin: 15px auto 0;
    }
}

@media only screen and (max-width: 860px) {
    .ejem-mkt {
        width: 48%;
        margin-right: 4%;
        height: 220px;
    }
    .ejem-mkt:first-child {
        margin-bottom: 4%;
    }
    .ejem-mkt:nth-child(2) {
        margin-right: 0%;
        margin-bottom: 4%;
    }
    .ejem-mkt img {
        height: 40px;
    }
    .ejem-mkt i {
        font-size: 3em;
    }
    .ejem-mkt p {
        font-size: 0.9em;
    }
    .ejem-mkt img.w100 {
        height: auto;
        width: 195px;
    }
}

@media only screen and (max-width: 779px) {
    .desempeno img {
        max-width: 400px;
    }
    .desempeno p {
        margin-top: -30px;
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.4em;
    }
    .caso p {
        max-width: 600px;
        margin-top: 5px;
    }
    p.autor {
        margin-bottom: 50px;
        margin-top: 20px;
    }
    p.contus {
        font-size: 1.2em;
        text-align: center;
    }
    a.callme {
        font-size: 1.5em;
    }
    .adn-video {
        height: 300px;
    }
    .video-text {
        font-size: 1.5em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    }
    .res-one,
    .res-two {
        width: 100%;
        padding-right: 0;
    }
    .ej-cont {
        padding: 0;
    }
    .ejemplo-modal-container {
        height: 95%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .half-video,
    .mkt-video-text {
        width: 100%;
    }
    .mkt-video-text img.adn-logo {
        width: 180px;
        height: 60px;
        margin: 10px auto;
    }
    .mkt-video p.h-description {
        font-size: .8em;
        margin: 20px auto;
    }
}

@media only screen and (max-width: 760px) {
    .adn-banner {
        height: 400px;
    }
    .abg2-1 {
        height: 300px;
    }
    .abg1 h1 {
        font-size: 1.6em;
        margin-top: 40px;
    }
    .abg1 p {
        font-size: 1.4em;
        max-width: 350px;
    }
    .h-description {
        font-size: 1.5em;
    }
    .ejem i {
        font-size: 4em;
        width: 97px;
    }
    .ejem-com i {
        font-size: 2.6em;
        width: 90px;
        height: 90px;
    }
    .ejem-com p {
        font-size: 0.95em;
    }
    .abg1-1 {
        height: 460px;
    }
    .abg1 {
        background-position: 70% 80%;
    }
    .abg2 img {
        margin-top: 20px;
        width: 300px;
        height: auto;
    }
    .abg2 h1 {
        font-size: 1.2em;
    }
    a.main-btn {
        padding: 10px;
        font-size: 1em;
        margin-top: 5px;
    }
    .abg2 .inner-ty h1 {
        font-size: 2.1em;
        margin-top: 140px;
    }
    .abg2 .inner-ty p {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 680px) {
    .ejem {
        width: 100%;
        margin-right: 0;
        height: auto;
        margin-bottom: 20px;
    }
    .ejem:last-child {
        margin-bottom: -20px;
    }
    .ejem a {
        margin-top: 10px;
    }
    .ejem-final {
        width: 100%;
    }
    .abg1-1 {
        height: auto;
        background-position: 50% 50%;
        padding: 40px 20px;
    }
    .ejem-final p {
        font-size: 1.6em;
        margin-top: 20px;
    }
    .abg2-1 h3 {
        font-size: 1.8em;
        margin-top: 95px;
    }
    .adn-video {
        margin-bottom: 20px;
    }
    .adn-banner .adn-content {
        padding: 0;
    }
    .ejem-mkt {
        height: 240px;
    }
}

@media only screen and (max-width: 540px) {
    .abg1 h1 {
        font-size: 1.2em;
        max-width: 400px;
        margin-top: 110px;
    }
    .abg1 p {
        font-size: 1.1em;
        max-width: 280px;
    }
    form.adn-comienza input {
        margin-bottom: 10px;
    }
    .h-description {
        font-size: 1.2em;
        margin: 20px auto;
    }
    .adn-logo {
        margin: 20px auto;
        width: 180px;
        height: auto;
    }
    .abg2 h1 {
        font-size: 1.1em;
    }
    .abg2 img {
        margin-top: 100px;
        width: 240px;
    }
    .abg3 img {
        margin-top: 80px !important;
    }
    .abg4 img {
        margin-top: 80px !important;
    }
    .video-text {
        font-size: 1.2em;
    }
    .adn-video {
        height: auto !important
    }
    .adn-video video {
        transform: initial;
        -webkit-transform: initial;
        -moz-transform: initial;
    }
    .registro-form {
        width: 90%;
        font-size: 0.9em;
    }
    .ejem-mkt {
        height: 310px;
    }
    .abg2.abg3 img {
        margin-top: 40px!important;
    }
    .abg2 .inner-ty h1 {
        font-size: 1.8em;
    }
    .abg2 .inner-ty p {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 480px) {
    form.adn-comienza input {
        width: 100%;
    }
    .abg1 h1 {
        font-size: 1.1em;
        margin-top: 90px;
    }
    .abg1 p {
        font-size: 1em;
    }
    form.adn-comienza button {
        width: 130px;
        font-size: 0.9em;
    }
    .abg1 {
        background-position: 38% 80%;
    }
    .abg2 h1 {
        font-size: 1em;
    }
    .abg2 {
        background-position: 30% 50%;
    }
    .abg2-1 {
        height: 220px;
    }
    .abg2-1 h3 {
        font-size: 1.6em;
        margin-top: 55px;
    }
    .video-text {
        font-size: 1em;
    }
    .ejem-mkt {
        width: 100%;
        margin-right: 0;
        height: auto;
        margin-bottom: 20px !important;
    }
    .ejem-mkt:last-child {
        margin-bottom: 0 !important;
    }
    .result {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .result:last-child {
        margin-bottom: 0;
    }
    .result i {
        display: inline-block;
        margin: 10px 10px 0 10px;
    }
    .line {
        display: none;
    }
    p.perc {
        font-size: 1.3em;
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    .abg2 .inner-ty h1 {
        margin-top: 125px;
    }
}

@media only screen and (max-width: 400px) {
    .adn-banner a.main-btn {
        font-size: 0.9em;
    }
    .abg2 img {
        margin-top: 115px;
    }
    .abg2 h1 span {
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 375px) {
    .adn-banner a.main-btn {
        width: 220px !important;
    }
    a.sol-llam {
        margin-right: 0;
    }
    .abg2 img {
        margin-top: 90px;
    }
}

@media only screen and (max-width: 360px) {
    .abg2 h1 {
        font-size: 0.8em;
    }
    a.back-home {
        display: block;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .abg2.abg3 img {
        margin-top: 80px!important;
    }
}

@media only screen and (max-width: 320px) {
    .message-modal {
        width: 300px;
    }
    .message-modal-content label,
    .message-modal-content p {
        font-size: .8em;
    }
}

@media only screen and (max-height: 640px) {
    .registro-form {
        margin: 50px auto 0;
        position: relative;
        left: initial;
        top: initial;
        transform: initial;
        -moz-transform: initial;
        -o-transform: initial;
        -webkit-transform: initial;
        -ms-transform: initial;
        height: 85%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        padding: 15px 0;
    }
}

@media only screen and (max-height: 720px) {
    .ejemplo-modal-container {
        height: 95%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}