/*Anunciate */

.inner {
    max-width: 960px;
    margin: 0 auto;
}

.head-menu a {
    margin-right: 10px;
}

.section3 {
    margin-top: 2.25rem;
    background: #fff;
    padding: 1.5625rem 3.75rem;
    text-align: center;
}

.section1 {
    padding-top: 0;
    margin-top: 1rem;
    background: #fff;
    padding: 0;
    text-align: center;
}

.text-intro p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
    color: #333;
    text-align: center;
}

.underline {
    max-width: 650px;
    margin: 1.25rem auto;
    border-bottom: 1px solid #b2b2b2;
}

.title {
    font-size: 2.25rem;
    line-height: 2.72rem;
    font-weight: 700;
}

.yellow {
    color: #FFD100;
}

.servicios-cont {
    padding: 0 20px;
    text-align: left;
    height: 16.25rem;
    margin-bottom: 1.5rem;
}

.servicios-cont h2 {
    font-size: 1.125rem;
    padding-top: 0px;
    font-weight: 500;
    text-transform: uppercase;
    color: #0d72b1;
}

.servicios-cont .service-text {
    text-align: justify;
    font-size: .875rem;
    line-height: 1.5rem;
    color: #1a1a1a;
}

.servicios-cont .destacado {
    font-size: .8125rem;
    line-height: 1rem;
    color: #000;
    margin-top: 1.2rem;
    padding: 10px 20px;
    background-color: #FD0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ejemplo-btn {
    font-size: .9rem;
    text-transform: uppercase;
    color: #2e2e2e;
    width: 6.75rem;
    padding: 12px 24px;
    background-color: #FD0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.ejemplo-btn:hover {
    color: #000;
    background-color: #ffcc00;
    cursor: pointer;
}

.action {
    width: 16rem;
    margin: 1.5rem auto;
    padding: 14px 40px;
    background-color: #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.action:hover {
    background: #878787;
}

.cta-btn {
    font-size: 1.5rem;
    color: #eee;
    text-transform: uppercase;
}

.cta-btn:hover {
    color: #fff;
}

.icon-container span,
.iconBig-container span {
    display: block;
    height: auto;
    font-size: 6.25rem;
    color: #4D4E4E;
    padding-top: .75rem;
    display: none;
}

.section2 {
    background-color: #FBDA33;
    margin-top: 1rem;
    padding: 1.5625rem 3.75rem;
    text-align: center;
}

.section2 .underline {
    border-bottom: 1px solid #878274;
}

.section2 .title {
    font-size: 2.25rem;
    color: rgba(0, 0, 0, .4);
    font-weight: 400;
}

img {
    max-width: 100%;
}

.frase {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.section4 {
    background-color: #EAEAEA;
    margin-top: 1rem;
    padding: 1.5625rem 3.75rem;
    text-align: center;
}

.section4 .title {
    font-size: 2.25rem;
    font-weight: 400;
    color: #808080
}

.certificados {
    padding: 2.75rem 0;
}


/*CONTACTANOS*/

.contactanos {
    padding: 20px;
}

p.contus {
    font-size: 1.2rem;
    color: #010101;
    text-transform: uppercase;
    font-weight: 400;
}

.cl2 {
    text-align: center;
}

a.callme span {
    display: inline-block;
    top: 10px;
    margin-right: 10px;
    position: relative;
    font-size: 40px;
}

a.callme {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 auto;
    color: #4e4e4e;
    /* position: relative; */
    display: block;
}


/*Slider*/

.slideImage {
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, .1);
}

.sliderTextBox {
    display: block;
    position: absolute;
    text-align: left;
    transform: translateX(0%);
    width: 32%;
    height: auto;
    top: 12%;
    left: 15%;
    border: 0px;
}

.sliderHead {
    background-color: rgba(255, 221, 0, .6);
    display: block;
    padding: 8px 42px 8px 8px;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 700;
    float: left;
    text-align: left;
    color: #333;
}

.sliderText {
    float: left;
    color: #FFF;
    font-size: 1.75rem;
    padding: 10px 0;
    line-height: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.sliderBig {
    font-size: 2rem;
    letter-spacing: -1px;
    float: left;
    background-color: rgba(255, 221, 0, .6);
    font-weight: 300;
    display: block;
    padding: 10px 80px 10px 8px;
    color: #333;
    text-transform: uppercase;
}


/* default full-width cells */

.gallery-cell {
    width: 100%;
    height: 400px;
}


/*Carousel Testimonios*/

.carousel {
    background: #fff;
}

.carousel-cell {
    width: 30%;
    height: 375px;
    margin-right: 30px;
}

.testimonioText {
    width: 90%;
    min-height: 180px;
    text-align: center;
    font-size: .875rem;
    line-height: 1.375rem;
    color: #000;
    font-weight: 500;
}

.testimonioText .grey {
    color: #808080;
    font-weight: 300;
}

.slider-testimonios .underline {
    max-width: 80%;
    margin: 1.25rem auto;
    border-bottom: 1px solid #FD0;
}

.clientName {
    text-align: center;
    font-size: .875rem;
    line-height: 1.375rem;
    color: #1a1a1a;
}

.slider-testimonios .flickity-page-dots {
    bottom: -15px;
}

.slider-testimonios .flickity-prev-next-button.next {
    right: -20px;
}

.slider-testimonios .flickity-prev-next-button.previous {
    left: -20px;
}

.slider .flickity-prev-next-button.next {
    right: 50px;
}

.slider .flickity-prev-next-button.previous {
    left: 50px;
}


/* Modal */

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, .9);
    transition: opacity .25s ease;
    z-index: 5002;
}

.modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.modal-state {
    display: none !important;
}

.modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
    top: 0;
}

.modal__inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 80%;
    overflow: hidden;
}

.modal__inner h4 {
    margin-top: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;
}

.modal__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

.modal__close:after,
.modal__close:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 1.3em;
    background: #f00;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
    background: #f30;
}

.modal__close:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.popupText {
    font-size: .725rem;
    color: #878787;
    font-weight: 700;
    line-height: 1rem
}

.pop-up-content {
    overflow: auto;
    display: block;
    position: relative;
    height: inherit;
    height: 90%;
    padding: 10px;
    -webkit-overflow-scrolling: touch;
}

.pop-up-content ul,
.pop-up-content ol {
    padding-left: 20px;
    font-size: 13px;
}

.pop-up-content ol li {
    margin-bottom: 10px;
}

.pop-up-content table {
    overflow-x: scroll;
    font-size: 11px;
    margin: 10px 0;
    display: block;
    width: 100%;
}

.pop-up-content table th,
.pop-up-content table td {
    border: 1px solid #ccc;
    padding: 10px 5px;
}

.pop-up-content p {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

popup-content {
    background-color: #fff
}

.pop-up-content ul,
.popup h4,
.popup p {
    margin-bottom: 20px
}

.btn-popup {
    display: inline-block !important;
    margin-top: 0 !important;
    color: #0079e0;
    text-decoration: underline;
}

.btn-popup-foot {
    display: inline-block !important;
    margin-top: 0 !important;
    color: #fff;
    text-decoration: underline;
    font-weight: 300 !important;
}

.modal__inner.data-pop {
    width: 40%;
    text-align: center;
}

.modal__inner.data-pop .pop-up-content p {
    font-size: 15px !important;
    margin-bottom: 10px;
}

.modal__inner.data-pop img {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 0;
}

body.noscroll {
    overflow: hidden !important;
}


/*Responsive*/

@media only screen and (max-width: 1110px) {
    .servicios-cont .destacado {
        text-align: center;
        padding: 5px 10px;
        max-width: 80%;
        margin: 0 auto
    }
}

@media only screen and (max-width: 779px) {
    .servicios-cont .destacado {
        padding: 10px 10px;
        max-width: 80%;
    }
    .cta-btn {
        font-size: 1.25rem;
    }
    .action {
        width: 12rem;
        margin: 1.5rem auto;
        padding: 14px 20px;
    }
    p.contus {
        text-align: center;
    }
    .certificados .columns {
        width: 33%;
        padding-left: 1%;
    }
    .servicios-cont {
        height: auto;
        text-align: center;
        width: 80%;
        margin: 10px auto 20px;
    }
    .servicios {
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #eee;
    }
    .carousel-cell {
        width: 100%;
    }
    .hideIcon {
        display: none;
    }
    .testimonioText {
        min-height: auto;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 779px) {
    .icon-container span,
    .iconBig-container span {
        display: block;
    }
    .flickity-prev-next-button.next,
    .flickity-prev-next-button.previous {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .gallery-cell {
        height: 300px;
    }
    .sliderTextBox {
        width: 60%;
        top: 18%;
    }
    .sliderHead {
        padding: 4px 20px 4px 4px;
        font-size: 1rem;
    }
    .sliderText {
        color: #FFF;
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
    .sliderBig {
        font-size: 1.25rem;
        line-height: 1.125rem;
        font-weight: 300;
        display: block;
        padding: 4px 20px 4px 0;
    }
    .flickity-page-dots {
        display: none;
    }
}