.header, .head-search, .footer, .button-panel, .btn-p, .social-share, .calificar, .c-calificar, #video, a.llama-gratis, .pricetag-container, .p-price a, .reserva-modal, .llama-modal, .email-modal, .rating-modal, .sms-modal, .load-modal, .navbar-toggle  {
    display: none;
}
.agree:after, .llama-container:after, .product-row:after, li.comment-row:after, ul.comments:after, ul.menu-container:after, ul.sucursales:after {
    content: "";
    display: table;
    clear: both;
}
body {
    font-size: 9pt;
}
.header {
    height: 0;
}
.content {
    padding-top: 0;
}
.title {
    padding: 0 20px;
}
.title h1 {
    font-size: 12pt;
    display: block;
    width: 100%;
    margin-bottom: 0;
}
.full-item {
    display: block;
    width: 100%;
    padding: 0 20px;
    position: relative;
}
.detalle h3, .title h1 {
    font-weight: 500;
    border-bottom: 2px solid #fd0;
    padding-bottom: 10px;
}
.detalle h3 {
    font-size: 11pt;
}
.grid {
    width: 20cm !important;
    height: auto !important;
    margin-bottom: 5cm !important;
}
.grid-item:first-child {
    height: 1cm;
}
.grid-item {
    width: 6.5cm !important;
    padding: 0.5cm !important;
    position: relative !important;
    top: 0 !important;
    float: left !important;
    left: 0 !important;
}

#general-info {
    height: 5cm;
}

.button-panel {
    height: 0;
}

.info-half-col.alignright {
    width: 100% !important;
}

.s-tel {
    text-align: left !important;
}

.print-content {
    display: block;
    font-weight: bold;
    margin-top: 0;
    font-size: 7pt
}

.print-content span {
    display: block;
    font-weight: normal;
}

.f-main-info {
    width: 6cm;
}

.f-plus-info {
    width: 11cm;
    margin-left: 1cm;
}

#show-map-franquicias {
    height: 7cm;
}

#show-map-franquicias iframe {
    height: 7cm;
}
.product-row {
    margin-top: 20px;
}
.p-img {
    float: left;
    width: 50%;
}
.p-img img {
    border: 1px solid #bdc3c7;
    width: 100%;
    height: auto;
}
.p-price {
    float: left;
    width: 44%;
    margin-left: 6%;
}
.p-price p {
    margin-top: 0;
}
.p-price p, h4.product-title {
    font-weight: 500;
    font-size: 9pt;
}
p.tag {
    display: inline-block;
    color: #000;
    margin: 5px 9px 5px 0;
    background: 0 0;
    border-right: 1px solid #fd0;
    padding: 0 10px 0 0;
    font-size: 8pt;
}
.sucursales h4,
.sucursales p {
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 8px;
}

ul.sucursales li {
    display: block;
    border-right: 1px solid #bdc3c7;
    margin-bottom: 10px;
    padding-bottom: 20px;
    float: left;
    width: 30.6666666667%;
    margin-left: 4%;
    padding-right: 30px;
    box-sizing: border-box;
}

ul.sucursales li:first-child {
    margin-left: 0;
}

ul.sucursales li:last-child {
    border-right: none;
}
ul.sucursales li:nth-child(3n+1) {
    margin-left: 0;
}

ul.sucursales li:nth-child(3n) {
    border-right: none;
}
ul.sucursales li:last-child {
    border-right: none;
}
.s-tel {
    font-size: 0.9em;
    margin-top: 3px;
    margin-bottom: 0;
    color: #000;
    display: block;
    width: 100%;
    padding: 5px 0;
}

.s-tel span {
    font-size: 1.2em;
    position: relative;
    top: 4px;
    margin-right: 6px;
}
li.food-menu {
    border-left: 1px solid #ffdd00;
    display: block;
    margin-bottom: 20px;
    float: left;
    width: 17.6%;
    margin-left: 3%;
    box-sizing: border-box;
}

li.food-menu:first-child {
    margin-left: 0;
}

li.food-menu h4 {
    font-size: 0.9em;
    padding: 5px 5px 5px 30px;
    margin-bottom: 10px;
    border: 1px solid #ffdd00;
    border-left: none;
    margin-top: 0;
}

.food-menu ul {
    padding: 0 20px;
}

.food-menu ul li {
    font-size: 0.85em;
    list-style: initial;
    margin-left: 10px;
    margin-bottom: 2px;
}

.comments h4 {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    font-weight: 500;
    margin-top: 0;
}

.comment-name {
    float: left;
    width: 40%;
    text-align: center;
}

.comment-text {
    float: left;
    width: 55%;
    margin-left: 5%;
    border: 1px solid #bdc3c7;
    padding: 15px;
    height: 100%;
    position: relative;
}

.comment-text:before {
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    top: 20px;
    position: absolute;
    border-top: 13px solid transparent;
    border-right: 20px solid #bdc3c7;
    border-bottom: 13px solid transparent;
}

.comment-text:after {
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    margin-right: -2px;
    top: 20px;
    position: absolute;
    border-top: 13px solid transparent;
    border-right: 20px solid #ffffff;
    border-bottom: 13px solid transparent;
}

.comment-name .d-comments {
    margin-bottom: 0;
}
.comment-name .d-comments {
    font-size: 7pt;
}
li.comment-row {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 31%;
    margin-right: 2%;
    box-sizing: border-box;
    vertical-align: top;
}

.comment-text p {
    margin-top: 0;
    font-size: 0.85em;
    margin-bottom: 0;
}
.ratingstars {
    width: 100%;
    display: block;
    color: #ffd100;
    font-size: 12pt;
}

.star00:before {
    font-family: "sacomfont";
    content: "\3e \3e \3e \3e \3e";
}

.star05:before {
    font-family: "sacomfont";
    content: "\3f \3e \3e \3e \3e";
}

.star10:before {
    font-family: "sacomfont";
    content: "\5d \3e \3e \3e \3e";
}

.star15:before {
    font-family: "sacomfont";
    content: "\5d \3f \3e \3e \3e";
}

.star20:before {
    font-family: "sacomfont";
    content: "\5d \5d \3e \3e \3e";
}

.star25:before {
    font-family: "sacomfont";
    content: "\5d \5d \3f \3e \3e";
}

.star30:before {
    font-family: "sacomfont";
    content: "\5d \5d \5d \3e \3e";
}

.star35:before {
    font-family: "sacomfont";
    content: "\5d \5d \5d \3f \3e";
}

.star40:before {
    font-family: "sacomfont";
    content: "\5d \5d \5d \5d \3e";
}

.star45:before {
    font-family: "sacomfont";
    content: "\5d \5d \5d \5d \3f";
}

.star50:before {
    font-family: "sacomfont";
    content: "\5d \5d \5d \5d \5d";
}

.clear {
    clear: both;
}
.comment-text:after, .comment-text:before {
    top: 11px;
}
.verde .title h1,
.detalle.verde h3 {
    border-bottom: 2px solid #8dc63f !important;
}

.verde .button-panel a:hover,
.verde a.llama-gratis,
.verde .calificar,
.verde .c-calificar,
.verde .p-price a:hover {
    background: #8dc63f !important;
}

.verde .p-cost {
    border: 1px solid #8dc63f !important;
}

.verde .food-menu h4 {
    border: 1px solid #8dc63f !important;
    border-left: none !important;
}
.verde #direccion {
    margin-bottom: 3cm;
    }
.f-info-buttons {
    margin-top: 0;
}
.verde .food-menu {
    border-left: 1px solid #8dc63f !important;
}

.verde p.tag {
    border-right: 1px solid #8dc63f !important;
}
.f-logo-link img {
    width: 100%;
    display: block;
    height: auto;
}
@page {
    margin: 1cm;
}