/*Listado*/

.detalle {
    display: block;
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px 20px 40px 20px;
}

.detalle .title {
    padding: 0 20px;
}

.title h1 {
    font-size: 1.3em;
    display: block;
    width: 100%;
    font-weight: 500;
    border-bottom: 2px solid #ffdd00;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.col-1 {
    margin-top: 2em;
}

.detalle h3 {
    font-size: 1.1em;
    font-weight: 500;
    border-bottom: 2px solid #ffdd00;
    padding-bottom: 10px;
    margin-top: 2em;
}

.d-logo {
    text-align: center;
}

.logo-link {
    margin: 0 auto;
    border: 2px solid #bdc3c7;
    margin-bottom: 10px;
    background-image: url(../Images/logo_generico.svg);
    display: block;
    width: 124px;
    height: 64px;
    background-size: 120px 60px;
    background-repeat: no-repeat;
    background-position: center center;
}

.d-rating {
    width: 100%;
    display: block;
    text-align: center;
}

.ratingstars {
    width: 100%;
    display: block;
    color: #ffd100;
    font-size: 1.5em;
}

.star00:before {
    font-family: "sacomfont";
    content: "\3e \3e \3e \3e \3e";
}

.star05:before {
    font-family: "sacomfont";
    content: "\3f \3e \3e \3e \3e";
}

.star10:before {
    font-family: "sacomfont";
    content: "\5d \3e \3e \3e \3e";
}

.star15:before {
    font-family: "sacomfont";
    content: "\5d \3f \3e \3e \3e";
}

.star20:before {
    font-family: "sacomfont";
    content: "\5d \5d \3e \3e \3e";
}

.star25:before {
    font-family: "sacomfont";
    content: "\5d \5d \3f \3e \3e";
}

.star30:before {
    font-family: "sacomfont";
    content: "\5d \5d \5d \3e \3e";
}

.star35:before {
    font-family: "sacomfont";
    content: "\5d \5d \5d \3f \3e";
}

.star40:before {
    font-family: "sacomfont";
    content: "\5d \5d \5d \5d \3e";
}

.star45:before {
    font-family: "sacomfont";
    content: "\5d \5d \5d \5d \3f";
}

.star50:before {
    font-family: "sacomfont";
    content: "\5d \5d \5d \5d \5d";
}

.clear {
    clear: both;
}

.info-half-col {
    float: left;
    display: block;
    width: 48%;
    margin-left: 4%;
    text-align: center;
}

.info-half-col:first-child {
    margin-left: 0;
}

.alignleft {
    text-align: left;
}

.alignright {
    text-align: right;
}

.grid {
    width: 100%;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 33.3%;
    height: auto;
    float: left;
    box-sizing: border-box;
    padding: 0 20px;
}

.grid-item:nth-child(1) {
    padding-top: 2em;
}

.grid-item img {
    width: 100%;
    height: auto;
}

.grid p {
    font-size: 0.9em;
    margin-bottom: 0;
}

.full-item {
    display: block;
    width: 100%;
    padding: 0 20px;
    position: relative;
}

.full-item p {
    font-size: 0.9em;
}

.social-share {
    display: block;
    max-width: 180px;
    text-align: center;
    margin: 10px auto;
}

.social-share a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    color: #000;
    text-align: center;
    background: #eff1f0;
    margin: 3px;
}

.s-face:hover {
    background: #3b5998;
    color: #fff;
}

.s-twit:hover {
    background: #55acee;
    color: #fff;
}

.s-google:hover {
    background: #dd4b39;
    color: #fff;
}

.s-whats:hover {
    background: #4dc247;
    color: #fff;
}

.social-share a span {
    font-size: 1em;
    top: 7px;
    position: relative;
}

.button-panel {
    display: block;
    width: 100%;
}

.btn-p {
    background: #eff1f0;
    float: left;
    width: 48%;
    margin-left: 4%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #000;
    font-size: 0.85em;
    text-align: left;
    padding: 10px 0px 12px 10px;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    height: 45px;
    border: 0;
    outline: 0;
}

.btn-p:hover {
    background: #ffdd00;
}

.btn-p span {
    margin-right: 10px;
    font-size: 1.4em;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.btn-p span:before {
    position: relative;
    top: 2px;
}

.btn-p:nth-child(odd) {
    margin-left: 0;
}

a.llama-gratis {
    background: #fd0;
    color: #000;
    font-size: .85em;
    padding: 10px;
    display: block;
    max-width: 100px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    float: right;
}

a.llama-gratis:hover {
    background: #fc0;
}

a.llama-gratis span {
    display: block;
    font-size: 2.3em;
}

.pricetag-container {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 8px;
}

.llama-container {
    display: block;
    width: 100%;
    position: relative;
}

.pricetag {
    white-space: nowrap;
    position: relative;
    displaY: inline-block;
    height: 30px;
    border-radius: 0 5px 5px 0;
    padding: 0 14px 0 15px;
    background: #e74c3c;
    color: #fff;
    border: 0;
    font-size: 0.9em;
    line-height: 30px;
    letter-spacing: 1px;
}

.pricetag:before {
    position: absolute;
    content: "\25CF";
    color: white;
    font-size: 11px;
    line-height: 0px;
    text-indent: 12px;
    left: -14px;
    width: 1px;
    height: 0px;
    border-right: 14px solid #e74c3c;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

p.tag {
    font-size: .85em;
    display: inline-block;
    color: #000;
    margin: 5px 9px 5px 0;
    background: none;
    border-right: 1px solid #ffdd00;
    padding: 0px 10px 0px 0;
    font-size: 0.85em;
}

.d-comments {
    display: block;
    color: #888;
    text-align: center;
    width: 100%;
    font-size: 0.85em;
    margin-bottom: 10px;
}

.l-distance {
    display: block;
    width: 100%;
    text-align: right;
    color: #333;
    font-size: 0.9em;
    margin: 5px 0 0 0;
    float: right;
    margin-right: 5px;
}

.l-distance span {
    margin-right: 3px;
}

.d-map {
    text-align: right;
    position: relative;
    padding: 8px;
    border: 1px solid #bdc3c7;
    margin-top: 15px;
}

#show-map {
    width: 100%;
    height: 300px;
}

#show-map iframe {
    pointer-events: none;
}

#show-map iframe.clicked {
    pointer-events: auto;
}

#show-map-franquicias {
    width: 100%;
    height: 500px;
}

#show-map-franquicias iframe {
    pointer-events: none;
}

#show-map-franquicias iframe.clicked {
    pointer-events: auto;
}

.gm-style .gm-style-iw {
    text-align: left !important;
}

a.ProductosMx {
    color: #1693e4 !important;
    font-weight: 500;
}

#show-video {
    width: 100%;
    height: 210px;
}

.sucursales h4,
.sucursales p {
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 8px;
}

ul.sucursales li {
    display: block;
    border-right: 1px solid #bdc3c7;
    margin-bottom: 10px;
    padding-bottom: 20px;
    float: left;
    width: 30.6666666667%;
    margin-left: 4%;
    padding-right: 30px;
    box-sizing: border-box;
    height: 150px;
}

ul.sucursales li:nth-child(3n+1) {
    margin-left: 0;
}

ul.sucursales li:nth-child(3n) {
    border-right: none;
}

ul.sucursales li:last-child {
    border-right: none;
}

.s-tel {
    font-size: 0.9em;
    margin-top: 3px;
    margin-bottom: 0;
    color: #000;
    display: block;
    width: 100%;
    padding: 5px 0;
}

.s-tel span {
    font-size: 1.2em;
    position: relative;
    top: 4px;
    margin-right: 6px;
}

.p-img img {
    border: 1px solid #bdc3c7;
    width: 100%;
    height: auto;
}

.p-img {
    float: left;
    width: 50%;
    min-height: 186px;
}

.p-price {
    float: left;
    width: 44%;
    margin-left: 6%;
}

.product-row {
    margin-top: 20px;
}

.llama-container:after,
.product-row:after,
li.comment-row:after,
ul.sucursales:after,
ul.comments:after,
ul.menu-container:after,
.agree:after {
    content: "";
    display: table;
    clear: both;
}

h4.product-title {
    font-size: 1em;
    margin-bottom: 0;
    font-weight: 500;
}

.p-price p {
    margin-top: 0;
    font-size: 1em;
    font-weight: 500;
}

.p-cost {
    display: block;
    padding: 5px;
    border: 1px solid #ffdd00;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 0.9em;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.p-price a {
    display: block;
    width: 100%;
    background: #eff1f0;
    margin-top: 10px;
    padding: 10px 0px 12px 8px;
    border-radius: 5px;
    font-size: 0.85em;
    color: #000;
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}

.p-price a span {
    margin-right: 10px;
    font-size: 1.2em;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.p-price a span:before {
    position: relative;
    top: 2px;
}

.p-price a:hover {
    background: #ffdd00;
}

li.food-menu {
    border-left: 1px solid #ffdd00;
    display: block;
    margin-bottom: 20px;
    float: left;
    width: 17.6%;
    margin-left: 3%;
    box-sizing: border-box;
}

li.food-menu:first-child {
    margin-left: 0;
}

li.food-menu h4 {
    font-size: 0.9em;
    padding: 5px 5px 5px 30px;
    margin-bottom: 10px;
    border: 1px solid #ffdd00;
    border-left: none;
    margin-top: 0;
}

.food-menu ul {
    padding: 0 20px;
}

.food-menu ul li {
    font-size: 0.85em;
    list-style: initial;
    margin-left: 10px;
    margin-bottom: 2px;
}

.comments h4 {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    font-weight: 500;
    margin-top: 0;
}

.comment-name {
    float: left;
    width: 40%;
    text-align: center;
}

.comment-text {
    float: left;
    width: 55%;
    margin-left: 5%;
    border: 1px solid #bdc3c7;
    padding: 15px;
    height: 100%;
    position: relative;
}

.comment-text:before {
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    top: 20px;
    position: absolute;
    border-top: 13px solid transparent;
    border-right: 20px solid #bdc3c7;
    border-bottom: 13px solid transparent;
}

.comment-text:after {
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    margin-right: -2px;
    top: 20px;
    position: absolute;
    border-top: 13px solid transparent;
    border-right: 20px solid #ffffff;
    border-bottom: 13px solid transparent;
}

.comment-name .d-comments {
    margin-bottom: 0;
}

li.comment-row {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 31%;
    margin-right: 2%;
    box-sizing: border-box;
    vertical-align: top;
}

.comment-text p {
    margin-top: 0;
    font-size: 0.85em;
    margin-bottom: 0;
}

.calificar {
    display: block;
    max-width: 124px;
    margin: 0 auto;
    color: #000;
    background: #ffdd00;
    padding: 8px;
    font-size: 0.9em;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 10px;
}

.calificar:hover {
    background: #ffcc00;
}

.c-calificar {
    display: block;
    color: #000;
    background: #ffdd00;
    padding: 8px 20px;
    font-size: 0.9em;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 10px;
    position: absolute;
    right: 20px;
    top: -10px;
}

.c-calificar:hover {
    background: #ffcc00;
}


/*SMS*/

.sms-modal.sms-modal-off {
    display: none;
}

.sms-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 500;
    top: 0;
    left: 0;
}

p.sms-help {
    display: block;
    width: 100%;
    font-size: 0.8em !important;
    text-align: center;
    margin-bottom: 10px;
}


/*Email*/

.email-modal.email-modal-off {
    display: none;
}

.email-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 500;
    top: 0;
    left: 0;
}


/*Anuncio*/

.anuncio-modal.anuncio-modal-off {
    display: none;
}

.anuncio-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 500;
    top: 0;
    left: 0;
}

.anuncio-modal .message-modal {
    width: 600px;
}

.anuncio-img {
    padding: 10px 20px 20px 20px;
}


/*Reserva*/

.reserva-modal.reserva-modal-off {
    display: none;
}

.reserva-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 500;
    top: 0;
    left: 0;
}

.qty {
    margin-bottom: 15px;
    display: block;
}

.qty span,
.qty a,
.qty input {
    display: block;
    float: left;
}

.qty span {
    font-size: 0.9em;
    margin-right: 10px;
    padding-top: 3px;
    margin-left: 10%;
}

.qty a {
    height: 25px;
    width: 25px;
    border: 1px solid #aaa;
    font-size: 1.3em;
    line-height: 1em;
    background: #eff1f0;
}

.qty a:hover {
    background: #ffdd00;
}

.qty input {
    width: 30px !important;
    height: 25px !important;
    margin: 0 !important;
    text-align: center!important;
    border: 0!important;
    border-top: 1px solid #aaa!important;
    border-bottom: 1px solid #aaa!important;
}


/*Rating*/

.rating-modal.rating-modal-off {
    display: none;
}

.rating-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 500;
    top: 0;
    left: 0;
}

.rating-modal-content {
    display: block;
    width: 360px;
    height: auto;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.rating-modal-content form {
    margin-top: 15px;
}

.rating-modal-content .label {
    display: block;
    width: 100%;
    margin: 5px 0;
    text-align: left;
    font-size: 0.9em;
}

.rating-modal-content input,
.rating-modal-content textarea {
    display: block;
    width: 100%;
    margin: 5px 0 15px 0;
    text-align: left;
    padding: 7px;
    font-size: 0.9em;
    border: 1px solid #bdc3c7;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #fff;
    height: 35px;
}

.rating-modal-content textarea {
    height: 80px;
}

.rating-modal-content h5 {
    margin-top: 0;
    font-size: 1em;
    padding-bottom: 15px;
    margin-bottom: 0;
    padding: 10px;
}

.rating-modal-content p {
    font-size: 0.85em;
    text-align: left;
    margin-bottom: 5px;
}

.red {
    color: #e74c3c;
    font-weight: bold;
}

.agree-input {
    float: left;
    display: block;
    width: 25px;
}

.agree-input input {
    width: 20px;
    height: 20px;
    margin: 0;
}

.agree p {
    font-size: 0.75em;
    width: 88%;
    margin-bottom: 10px;
    display: block;
    float: left;
    margin-top: 0;
}

.switch {
    display: block;
    width: 100%;
}

.switch input {
    display: none;
    visibility: hidden;
}

.switch label {
    float: left;
    width: 50%;
    padding: 10px;
    margin: 5px 0 15px 0;
}

.switch label::first-child {
    border: 2px solid #111;
}

#celular:checked ~ .switch {
    background: red;
}


/*Rating Check*/

.rating-check {
    position: relative;
    height: 40px;
    margin-bottom: 10px;
}

#star-1:checked ~ .rating-check-stars [for='star-1'] svg,
#star-2:checked ~ .rating-check-stars [for='star-1'] svg,
#star-2:checked ~ .rating-check-stars [for='star-2'] svg,
#star-3:checked ~ .rating-check-stars [for='star-1'] svg,
#star-3:checked ~ .rating-check-stars [for='star-2'] svg,
#star-3:checked ~ .rating-check-stars [for='star-3'] svg,
#star-4:checked ~ .rating-check-stars [for='star-1'] svg,
#star-4:checked ~ .rating-check-stars [for='star-2'] svg,
#star-4:checked ~ .rating-check-stars [for='star-3'] svg,
#star-4:checked ~ .rating-check-stars [for='star-4'] svg,
#star-5:checked ~ .rating-check-stars [for='star-1'] svg,
#star-5:checked ~ .rating-check-stars [for='star-2'] svg,
#star-5:checked ~ .rating-check-stars [for='star-3'] svg,
#star-5:checked ~ .rating-check-stars [for='star-4'] svg,
#star-5:checked ~ .rating-check-stars [for='star-5'] svg {
    -webkit-transform: scale(1);
    transform: scale(1);
}

#star-1:checked ~ .rating-check-stars [for='star-1'] svg path,
#star-2:checked ~ .rating-check-stars [for='star-1'] svg path,
#star-2:checked ~ .rating-check-stars [for='star-2'] svg path,
#star-3:checked ~ .rating-check-stars [for='star-1'] svg path,
#star-3:checked ~ .rating-check-stars [for='star-2'] svg path,
#star-3:checked ~ .rating-check-stars [for='star-3'] svg path,
#star-4:checked ~ .rating-check-stars [for='star-1'] svg path,
#star-4:checked ~ .rating-check-stars [for='star-2'] svg path,
#star-4:checked ~ .rating-check-stars [for='star-3'] svg path,
#star-4:checked ~ .rating-check-stars [for='star-4'] svg path,
#star-5:checked ~ .rating-check-stars [for='star-1'] svg path,
#star-5:checked ~ .rating-check-stars [for='star-2'] svg path,
#star-5:checked ~ .rating-check-stars [for='star-3'] svg path,
#star-5:checked ~ .rating-check-stars [for='star-4'] svg path,
#star-5:checked ~ .rating-check-stars [for='star-5'] svg path {
    fill: #ffdd00;
    stroke: #ffdd00;
}

.rating-check .rating-check-stars {
    width: 200px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.rating-check label {
    display: inline-block !important;
    width: 30px !important;
    text-align: center !important;
    cursor: pointer !important;
}

.rating-check label svg {
    width: 100%;
    height: auto;
    fill: white;
    stroke: #bdc3c7;
    stroke-width: 3px;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.rating-check label svg path {
    -webkit-transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;
    transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;
}

.rating-check label[for="star-null"] {
    display: block;
    margin: 0 auto;
    color: #999;
}

.rating-check input {
    margin-top: 1rem;
    display: none !important;
}


/*Llama gratis*/

.llama-modal.llama-modal-off {
    display: none;
}

.llama-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 500;
    top: 0;
    left: 0;
}

.llama-modal .message-modal-content {
    max-width: 360px;
}

.modal-close {
    color: #e74c3c;
    text-align: right;
    display: block;
    height: 40px;
    width: 40px;
    right: 0;
    top: 0;
    position: absolute;
    padding: 10px;
    text-align: center;
}

p.llama-help {
    display: block;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 0;
}

.message-modal {
    display: block;
    width: 360px;
    height: auto;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.message-modal-content {
    background: #fff;
    border-radius: 5px;
}

.message-modal-content form {
    padding: 0 20px 20px 20px;
}

.message-modal-content label {
    display: block;
    width: 100%;
    margin: 5px 0;
    text-align: center;
    font-size: 0.9em;
}

.message-modal-content input,
.message-modal-content textarea,
.message-modal-content select {
    display: block;
    width: 100%;
    margin: 5px 0 15px 0;
    text-align: left;
    padding: 7px;
    font-size: 0.9em;
    border: 1px solid #bdc3c7;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #fff;
    height: 35px;
}

.message-modal-content textarea {
    height: 60px;
}

.message-modal-content h5 {
    margin-top: 0;
    font-size: 1em;
    padding: 10px 40px;
    margin-bottom: 0;
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.message-modal-content p {
    font-size: 0.9em;
    margin-top: 0;
}

.message-modal-content button,
.msend {
    background: #ffdd00;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 0 auto;
}

.message-modal-content button:hover,
.msend:hover {
    cursor: pointer;
    background: #fc0;
}

.red {
    color: #e74c3c;
    font-weight: bold;
}

.agree-input {
    float: left;
    display: block;
    width: 25px;
}

.agree-input input {
    width: 20px;
    height: 20px;
    margin: 0;
}

.agree p {
    font-size: 0.7em !important;
    width: 88%;
    margin-bottom: 10px;
    display: block;
    float: left;
    margin-top: 0;
    text-align: left;
}

.check-radios {
    margin-bottom: 10px;
}

.check-radios input {
    display: none;
    visibility: hidden;
}

.check-radios label {
    display: block;
    float: left;
    width: 50%;
    transition: 0.3s ease;
    border: 1px solid #4c8bf3;
    padding: 8px 0;
    text-align: center;
}

.check-radios label:hover {
    cursor: pointer;
}

.check-radios input[type="radio"]:checked + label,
.check-radios input[type="checkbox"]:checked + label {
    background: #4d8cf4;
    padding-left: 20px;
    color: #fff;
}

.check-radios input[type="radio"]:checked + label:before {
    position: absolute;
    content: "\e01d";
    margin-left: -18px;
    font-family: 'sacomfont';
    margin-top: 2px;
    color: #fff;
    font-size: 0.9em;
}

.input-icon {
    display: block;
    width: 100%;
    position: relative;
}

.input-icon input {
    position: relative;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #555;
    padding: 0 0 0 40px;
    border-radius: 0;
}

.input-icon span {
    position: absolute;
    top: 7px;
    left: 6px;
    color: #555;
    font-size: 1.1em;
}

.modal-text {
    width: 100%;
    display: block;
    padding: 10px 20px 20px 20px;
}


/*Flip*/

.message-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 320px;
    height: auto;
    -moz-perspective: 600px;
    -webkit-perspective: 600px;
    perspective: 600px;
    background: transparent;
    box-shadow: none;
    padding: 0;
}

.message-modal .front,
.message-modal .back {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #fff;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.message-modal .front {
    z-index: 900;
    -moz-transform: translate(0%, -50%) rotateY(0deg);
    -ms-transform: translate(0%, -50%) rotateY(0deg);
    -webkit-transform: translate(0%, -50%) rotateY(0deg);
    transform: translate(0%, -50%) rotateY(0deg);
}

.message-modal .back {
    z-index: 800;
    -moz-transform: translate(0%, -50%) rotateY(-180deg);
    -ms-transform: translate(0%, -50%) rotateY(-180deg);
    -webkit-transform: translate(0%, -50%) rotateY(-180deg);
    transform: translate(0%, -50%) rotateY(-180deg);
}

.message-modal.flip .front {
    -moz-transform: translate(0%, -50%) rotateY(180deg);
    -ms-transform: translate(0%, -50%) rotateY(180deg);
    -webkit-transform: translate(0%, -50%) rotateY(180deg);
    transform: translate(0%, -50%) rotateY(180deg);
    z-index: 900;
}

.message-modal.flip .back {
    -moz-transform: translate(0%, -50%) rotateY(0deg);
    -ms-transform: translate(0%, -50%) rotateY(0deg);
    -webkit-transform: translate(0%, -50%) rotateY(0deg);
    transform: translate(0%, -50%) rotateY(0deg);
    z-index: 1000;
}

.captcha-container {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.g-recaptcha {
    transform: scale(0.8) !important;
    -webkit-transform: scale(0.8) !important;
    transform-origin: 0 0 !important;
    -webkit-transform-origin: 0 0 !important;
    left: 50%;
    position: relative;
    margin-left: -120px !important;
}

.rating-check {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
}

.message-modal.flip .rating-check {
    opacity: 0;
}


/* EFECTO RING RING */

hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}


/* Buzz */

@-webkit-keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

@keyframes hvr-buzz {
    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.hvr-buzz {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-buzz:hover,
.hvr-buzz:focus,
.hvr-buzz:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


/* Bounce In */

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


/*Verde*/

.verde .title h1,
.detalle.verde h3 {
    border-bottom: 2px solid #8dc63f !important;
}

.verde .btn-p:hover,
.verde a.llama-gratis,
.verde .calificar,
.verde .c-calificar,
.verde .p-price a:hover {
    background: #8dc63f !important;
}

.verde .p-cost {
    border: 1px solid #8dc63f !important;
}

.verde .food-menu h4 {
    border: 1px solid #8dc63f !important;
    border-left: none !important;
}

.verde .food-menu {
    border-left: 1px solid #8dc63f !important;
}

.verde p.tag {
    border-right: 1px solid #8dc63f !important;
}


/*Franquicia*/

.f-row {
    padding: 0 20px;
}

.f-logo {
    text-align: center;
    width: 100%;
}

.f-logo-link {
    margin: 0 auto 20px;
    border: 2px solid #bdc3c7;
    background-image: url(../Images/logo_generico.svg);
    display: block;
    width: 100%;
    height: auto;
    background-size: 120px 60px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px;
}

.f-logo-link img {
    width: 87%;
    height: auto;
}

.f-row p {
    font-size: .9em;
}

.cupon-print-container {
    width: 100%;
    text-align: right;
}

a.printcupon {
    padding: 10px;
    background: #eff1f0;
    margin-top: 5px;
    display: block;
    font-size: 0.85em;
    text-align: center;
    border-radius: 5px;
    right: 0;
    float: right;
}

a.printcupon:hover {
    background: #8dc63f;
}

a.printcupon span {
    margin-right: 8px;
    position: relative;
    top: 2px;
}


/*Responsive*/


/*Messages*/

@media (max-width: 1140px) {
    .comment-name {
        width: 50%;
    }
    .comment-text {
        width: 45%;
    }
}

@media (max-width: 1020px) {
    .grid-item {
        width: 50%;
    }
    .comment-name {
        width: 100%;
    }
    .comment-text {
        width: 100%;
        margin-left: 0;
        margin-top: 27px;
    }
    .comment-text:before {
        right: 50%;
        top: -23px;
        margin-right: -13px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
    }
    .comment-text:after {
        right: 50%;
        top: -21px;
        margin-right: -13px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
    }
    li.comment-row {
        width: 30%;
    }
    #show-map-franquicias {
        height: 400px !important;
    }
}

@media (min-width: 780px) {
    .six.columns.l-datos {
        width: 55%;
    }
    .wrapper-dropdown.active .dropdown {
        max-height: 300px;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 779px) {
    .three.columns.rank {
        width: 100%;
        text-align: left;
    }
    .three.columns.l-logo {
        width: 100%;
        margin-bottom: 5px;
    }
    .l-plus {
        position: absolute;
        top: 13px;
        left: 150px;
    }
    .l-distance {
        float: right;
        top: 60px;
        position: absolute;
        width: 70%;
        margin-left: 20%;
    }
    .pagination {
        max-width: 334px;
        float: none;
        padding: 10px 0px;
        margin: 20px auto 10px;
        text-align: center;
    }
    .l-product {
        width: 75%;
    }
    .wrapper-dropdown {
        width: 100%;
        display: block;
        margin-bottom: 5px;
        padding: 12px 30px 12px 6px;
    }
    .wrapper-dropdown.active {
        padding: 11px 30px 11px 5px;
    }
    .filtros-tipo {
        display: block;
        width: 100%;
    }
    .filtros-tipo.filtros-tipo-off {
        display: none;
    }
    .filtros-toggle {
        display: block;
        width: 100%;
        font-size: 0.9em;
        padding: 5px 0px 9px 0px;
        text-align: center;
    }
    .filtros-toggle:before {
        display: inline-block;
        font-size: 1.2em;
        position: relative;
        top: 2px;
        margin-right: 4px;
    }
    .filtro-title {
        display: none;
    }
    .wrapper-dropdown {
        font-size: 1em;
    }
    .wrapper-dropdown.active {
        padding: 30px 30px 60px 30px;
        position: fixed;
        z-index: 2000;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        height: 100%;
        border: none;
    }
    .wrapper-dropdown.active span {
        display: block;
        z-index: 1000;
        background: #fff;
        width: 100%;
        padding: 10px 0;
        border: 1px solid #fd0;
        position: relative;
        box-sizing: border-box;
    }
    .wrapper-dropdown.active span:after {
        font-family: "sacomfont";
        content: "\e000";
        color: #f73a27;
        position: absolute;
        right: 12px;
        font-weight: bold;
        top: 11px;
    }
    .wrapper-dropdown.active .dropdown {
        opacity: 1;
        pointer-events: auto;
        z-index: 50;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        border-top: none;
        -webkit-overflow-scrolling: touch;
    }
    li.comment-row {
        width: 47%;
    }
    #show-map-franquicias {
        height: 400px !important;
    }
    #show-map-franquicias iframe {
        height: 400px !important;
    }
}

@media only screen and (max-width: 720px) {
    .grid-item {
        width: 100%;
    }
    .detalle {
        padding: 10px 0 40px 0;
    }
    .title h1 {
        font-size: 1.2em;
    }
    .detalle h3 {
        margin-top: 1.5em;
    }
    li.food-menu {
        width: 100%;
        margin-left: 0;
    }
    #show-map-franquicias {
        height: 300px !important;
    }
}

@media only screen and (max-width: 600px) {
    .grid-item:nth-child(1) {
        padding-top: 1em;
    }
    a.l-btn {
        width: 50%;
        font-size: 0.8em;
        float: right;
        border-right: 0;
        border-left: 0;
    }
    .hidem {
        display: none !important;
    }
    a.l-btn.mail-btn {
        border-right: 1px solid #bdc3c7;
    }
    .l-product {
        width: 70%;
    }
    .l-product a span.l-precio {
        display: block;
        margin-left: 0;
        margin-top: 5px;
    }
    ul.sucursales li {
        border-right: none;
        width: 100%;
        margin-left: 0;
        padding-right: 0;
        border-bottom: 1px solid #bdc3c7;
    }
    #show-map-franquicias {
        height: 300px !important;
    }
    #show-map-franquicias iframe {
        height: 300px !important;
    }
    .anuncio-modal .message-modal {
        width: 95%;
    }
}

@media only screen and (max-width: 490px) {
    .three.columns.l-logo {
        margin-bottom: 60px;
    }
    .l-plus {
        top: 75px;
        float: left;
        margin-top: 10px;
        left: 17px;
    }
    .ratingstars {
        margin-bottom: 0;
    }
    li.comment-row {
        width: 100%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 480px) {
    .flickity-slider {
        margin: 0;
    }
    .l-distance {
        display: block;
    }
}

@media only screen and (max-width: 380px) {
    .social-share a {
        margin: 2px;
    }
}

@media only screen and (max-width: 350px) {
    .btn-p,
    .p-price a {
        font-size: 0.8em;
    }
    .btn-p span {
        margin-right: 8px;
        font-size: 1.5em;
        border-right: 1px solid #ccc;
        padding-right: 8px;
    }
    .rating-modal-content h5 {
        padding-right: 20px;
    }
    .social-share a {
        margin: 0;
    }
}

@media only screen and (max-width: 320px) {
    .p-price a {
        font-size: 0.75em;
        padding: 10px 0px 12px 6px;
    }
    .p-img img {
        margin-top: 15px;
    }
    .p-price a span {
        margin-right: 6px;
        padding-right: 5px;
    }
    .message-modal {
        width: 300px;
    }
    .message-modal-content p {
        font-size: 0.8em;
    }
    .message-modal-content label {
        font-size: 0.8em;
    }
    .message-modal-content {
        max-width: 300px;
    }
}


/*Impresion*/

.print-content {
    display: none;
}


/*Date Time Picker*/

.datepicker {
    display: inline-block;
    font-weight: 300;
    border: 1px solid #aaa;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.datepicker > .datepicker_header {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #eff1f0;
    color: #3f3f3f;
    text-align: center;
    font-size: 9pt;
    font-weight: bold;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    vertical-align: top;
    position: relative;
}

.datepicker > .datepicker_header > a {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    color: #000;
    height: 24px;
    display: inline-block;
    padding: 0 20px;
    position: absolute;
    top: 0;
    font-size: 1.3em;
    padding-top: 1px;
}

.datepicker > .datepicker_header > a[title="Previous month"] {
    left: 0;
}

.datepicker > .datepicker_header > a[title="Next month"] {
    right: 0;
}

.datepicker > .datepicker_header > a:hover {
    color: #303030;
    background-color: #ffdd00;
}

.datepicker > .datepicker_header > a:active {
    color: #000;
    background-color: #ffcc00;
}

.datepicker > .datepicker_header > span {
    margin-left: 20px;
    margin-right: 20px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    height: 20px;
    display: inline-block;
    font-size: 1.1em;
    padding-top: 1px;
}

.datepicker > .datepicker_header > .icon-home {
    position: absolute;
    display: block;
    float: left;
    margin-top: 2px;
    margin-left: 5px;
    width: 11pt;
    height: 11pt;
    vertical-align: middle;
}

.datepicker > .datepicker_header > .icon-home > svg > g > path {
    fill: #3b7796;
}

.datepicker > .datepicker_header > a:hover > svg > g > path {
    fill: #303030;
    /* Icon button hover color */
}


/*
 * datepicker_inner_container 
*/

.datepicker > .datepicker_inner_container {
    background-color: #fff;
}

.datepicker > .datepicker_inner_container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*
 * datepicker_inner_container > datepicker_calendar
*/

.datepicker > .datepicker_inner_container > .datepicker_calendar {
    float: left;
    width: auto;
    background-color: #ffffff;
    border-right: 1px solid #aaaaaa;
}

.datepicker > .datepicker_inner_container > .datepicker_calendar > table {
    padding: 0;
    border-collapse: collapse;
    border: none;
}


/*
 * datepicker_inner_container > datepicker_calendar > datepicker_table > tbody > tr > th (WDay-cell)
*/

.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > th {
    color: #646464;
    width: 18px;
    font-size: small;
    font-weight: normal;
    text-align: center;
    padding: 5px 0;
}


/*
 * datepicker_inner_container > datepicker_calendar > datepicker_table > tbody > tr > td (Day-cell)
*/

.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td {
    color: #000000;
    font-size: small;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
    padding: 6px 8px;
}

.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.today {
    border-bottom: #ffdd00 solid 2px;
    margin-bottom: -2px;
}

.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.wday_sat {
    color: #0044aa;
}

.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.wday_sun {
    color: #e13b00;
}

.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.day_another_month {
    color: #cccccc;
}

.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.day_in_past {
    cursor: default;
    color: #cccccc;
}

.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.day_in_unallowed {
    cursor: default;
    color: #cccccc;
}

.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.out_of_range {
    cursor: default;
    color: #cccccc;
}

.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.active {
    color: #ffffff;
    background-color: #27ae60;
}

.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.hover {
    color: #000000;
    background-color: #ffdd00;
}


/*
 * datepicker_inner_container > datepicker_timelist
*/

.datepicker > .datepicker_inner_container > .datepicker_timelist {
    float: left;
    width: 55px;
    height: 118px;
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    -webkit-overflow-scrolling: touch;
}


/*
.datepicker > .datepicker_inner_container > .datepicker_timelist::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
*/

.datepicker > .datepicker_inner_container > .datepicker_timelist::-webkit-scrollbar {
    overflow: hidden;
    width: 6px;
    background: #fafafa;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
}

.datepicker > .datepicker_inner_container > .datepicker_timelist::-webkit-scrollbar:horizontal {
    height: 1px;
}

.datepicker > .datepicker_inner_container > .datepicker_timelist::-webkit-scrollbar-button {
    display: none;
}

.datepicker > .datepicker_inner_container > .datepicker_timelist::-webkit-scrollbar-piece {
    background: #eff1f0;
}

.datepicker > .datepicker_inner_container > .datepicker_timelist::-webkit-scrollbar-piece:start {
    background: #eff1f0;
}

.datepicker > .datepicker_inner_container > .datepicker_timelist::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.datepicker > .datepicker_inner_container > .datepicker_timelist::-webkit-scrollbar-corner {
    background: #333;
}

.datepicker > .datepicker_inner_container > .datepicker_timelist > div.timelist_item {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 25px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: small;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}

.datepicker > .datepicker_inner_container > .datepicker_timelist > div.timelist_item.time_in_past {
    cursor: default;
    color: #cccccc;
}

.datepicker > .datepicker_inner_container > .datepicker_timelist > div.timelist_item.out_of_range {
    cursor: default;
    color: #cccccc;
}

.datepicker > .datepicker_inner_container > .datepicker_timelist > div.timelist_item.active {
    color: #ffffff;
    background-color: #27ae60;
}

.datepicker > .datepicker_inner_container > .datepicker_timelist > div.timelist_item.hover {
    color: #000000;
    background-color: #ffdd00;
}

@media only screen and (max-width: 320px) {
    .datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td {
        padding: 6px;
    }
    .qty span {
        margin-left: 7%;
    }
}

@media only screen and (max-height: 580px) {
    .reserva-modal .message-modal-content {
        overflow: auto;
    }
    .reserva-modal .message-modal-content form {
        height: 500px !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
    .datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td {
        padding: 6px;
    }
}

@media only screen and (max-height: 480px) {
    .reserva-modal .message-modal-content form {
        height: 360px !important;
    }
}

@media only screen and (max-height: 420px) {
    .reserva-modal .message-modal-content form {
        height: 300px !important;
    }
}

@media only screen and (max-height: 320px) {
    .reserva-modal .message-modal-content form {
        height: 240px !important;
    }
}

.btn-map {
    background: #eff1f0;
    width: 140px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: .85em;
    text-align: left;
    padding: 10px 0 12px 10px;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    height: 45px;
    border: 0;
    outline: 0;
    margin: 10px auto 0;
}

.btn-map:hover {
    background: #ffdd00;
    cursor: pointer;
}

.btn-map span {
    margin-right: 10px;
    font-size: 1.4em;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    position: relative;
    top: 2px;
}

.mapa-modal.mapa-modal-off {
    display: none;
}

.mapa-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 500;
    top: 0;
    left: 0;
}

.map-modal-content {
    padding: 0 20px 20px;
    width: 100%;
    display: block;
}

.btn-m-app {
    display: block;
    width: 100%;
    padding: 13px 0;
    border-top: 1px solid #ccc;
    line-height: 0;
    padding: 13px 0 13px 60px;
    text-align: left;
}

.btn-m-app:first-child {
    border-top: none;
}

.btn-m-app img {
    margin-right: 13px;
}

.btn-m-app span {
    position: relative;
    top: -12px;
    color: #000;
}

.btn-m-app:visited span {
    color: #000;
}