.content {
    width: 1080px;
    margin: 0 auto
}

.space-top {
    margin-top: 120px;
    margin-bottom: 120px
}

.col-middle {
    vertical-align: middle
}

.text-jumbo {
    font-size: 140px;
    line-height: 140px;
    font-weight: 700;
    color: #878787;
    margin-bottom: 20px;
    margin-top: 20px
}

h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 400;
    color: #484848
}

h6 {
    font-size: 21px;
    font-weight: 700;
    color: #333;
    width: 180px;
    background: #fd0;
    padding: 10px;
    text-align: center;
    margin: 20px 0
}

img.icon-error {
    width: 100%
}

@media screen and (max-width:1104px) {
    .content {
        width: 96%
    }
    img.icon-error {
        width: 90%;
        float: right
    }
}

@media screen and (max-width:779px) {
    .content {
        width: 100%
    }
    .col-middle {
        text-align: center;
        padding: 0 20px
    }
    img.icon-error {
        margin-top: 20px
    }
    .text-jumbo {
        font-size: 120px;
        margin-bottom: 10px;
        margin-top: 10px
    }
    h6 {
        margin: 10px auto 20px
    }
    .space-top {
        margin-top: 80px;
        margin-bottom: 80px
    }
    .icon-500 {
        width: 60%;
        margin: 0 10% 0 auto
    }
}

@media screen and (max-width:414px) {
    .space-top {
        margin-top: 40px;
        margin-bottom: 40px
    }
}

@media screen and (max-width:320px) {
    .content {
        width: 90%
    }
    .col-middle {
        text-align: center;
        padding: 0 10px
    }
    .text-jumbo {
        font-size: 70px;
        line-height: 70px;
        margin-bottom: 10px;
        margin-top: 20px
    }
    h2 {
        font-size: 28px;
        line-height: 28px
    }
    h6 {
        margin: 10px auto
    }
    .space-top {
        margin-top: 20px;
        margin-bottom: 20px
    }
}