.oficina,
.page,
.page h1 {
    display: block
}

table.fedex-table,
table.fedex-table td {
    border-collapse: collapse;
    border-spacing: 0
}

.silo-location a:hover,
a.blog-link,
a.sp-link:hover {
    text-decoration: underline
}

.organico h3,
.pagination ul li a,
.silo-location h3,
a.silo-btn {
    text-transform: uppercase
}

.page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px 20px 40px
}

.page h1 {
    font-size: 1.4em;
    width: 100%;
    margin-bottom: 1em;
    font-weight: 500
}

.page h2 {
    font-size: 1.3em;
    font-weight: 500
}

.page h3 {
    font-size: 1.1em;
    font-weight: 600
}

.page h4 {
    font-size: 1em;
    font-weight: 600
}

.page h5 {
    font-size: .9em;
    font-weight: 800
}

.page-content {
    padding: 0 20px;
    width: 100%
}

.confidencial-text {
    margin-bottom: 200px
}

.confidencial-text p {
    font-size: .9em;
    font-weight: 400;
    text-align: left;
    line-height: 1.5em
}

.legal-text img {
    display: block;
    margin: 10px 0;
}

.legal-text a {
    word-break: break-all;
}

.legal-text p {
    font-size: 1em;
    font-weight: 400;
    text-align: justify;
    line-height: 1.4em
}

.legal-text ol,
.legal-text ul {
    font-size: 1em;
    margin-left: 2em;
    line-height: 1.4em
}

.legal-text ol.list-decimal li {
    list-style: decimal;
    margin-bottom: 10px
}

.legal-text ol.latin li {
    list-style: lower-latin;
    margin-bottom: 10px
}

.legal-text ul.bullet li {
    list-style: disc;
    margin-bottom: 5px
}

.legal-text ul li {
    margin-left: 0;
    list-style: outside;
    margin-bottom: 10px
}

.oficina {
    float: left;
    background: #eff1f0;
    height: 200px;
    margin-left: 2%;
    margin-bottom: 2%;
    position: relative
}

.oficina h2 {
    width: 100%;
    background: #424244;
    color: #fff;
    text-align: center;
    font-size: .9em;
    padding: 10px;
    margin-top: 0
}

.superp h2 {
    background: 0 0!important;
    display: table-cell!important;
    vertical-align: middle;
    padding: 0 10px
}

.sp-head {
    background: #424244;
    height: 60px;
    margin-bottom: 10px;
    display: table;
    width: 100%
}

.oficina a.telefono,
.oficina span {
    margin: 10px;
    display: block;
    font-size: .8em;
    color: #111
}

.oficina i.icon-tel {
    font-size: 1.2em;
    margin-right: 5px;
    position: relative;
    top: 3px
}

a.sp-link {
    display: block;
    width: 100%;
    padding: 0 10px;
    font-size: .85em;
    color: #000!important
}

a.sp-info {
    display: block;
    padding: 5px;
    border: 1px solid #0d71ba;
    font-size: .8em;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    position: absolute;
    bottom: 10px;
    right: 10px
}

a.sp-info:hover {
    background: #0d71ba;
    color: #fff!important
}

.left5em {
    margin-left: 5em
}

table.fpago {
    font-size: 0.9em;
    border-collapse: collapse;
}

table.fpago thead th {
    background: #2196F3;
    color: #fff
}

table.fpago td,
table.fpago th {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0;
    border-collapse: collapse;
}

table.fpago tr td:nth-child(2) {
    width: 300px;
}

table.fpago tr td:nth-child(1) {
    width: 200px;
}

table.fpago tr:nth-child(even) {
    background: #f1f1f1;
}

table.privacy-table {
    font-size: .9em
}

table.privacy-table td {
    padding-right: 15px
}

table.fedex-table {
    margin-bottom: 20px;
}

table.fedex-table td,
table.fedex-table th {
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc
}

table.fedex-table th {
    font-size: .85em;
    background: #eff1f0
}

table.fedex-table td {
    font-size: .9em
}

.space-table {
    font-size: 1em !important;
    margin-left: 50px;
}

.page-content a,
.page-content a:visited {
    color: #0d71ba
}

.silo-col-1 {
    display: block;
    float: left;
    width: 65%
}

.silo-col-2 {
    display: block;
    float: left;
    width: 30%;
    margin-left: 5%
}

.silo-description {
    background: #eff1f0;
    width: 100%;
    padding: 20px
}

.silo-description h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 500
}

.silo-description p {
    margin: 0 0 15px;
    font-size: 1em;
    line-height: 1.2em;
    text-align: justify
}

.silo-description ul {
    list-style: outside;
    padding-left: 2em
}

.silo-location a,
a.silo-btn {
    display: block;
    padding: 10px;
    font-weight: 400
}

.silo-description ul li {
    list-style: outside;
    margin-bottom: 5px
}

a.silo-btn {
    float: right;
    border: 2px solid #0d71ba;
    font-size: .9em;
    transition: .3s ease;
    -moz-transition: .3s ease;
    -webkit-transition: .3s ease
}

a.silo-btn:hover {
    background: #0d71ba;
    color: #fff
}

.silo-location h3 {
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 2em
}

.silo-location a {
    float: left;
    width: 23.5%;
    margin-left: 2%;
    margin-bottom: 15px;
    height: 80px;
    transition: .3s ease;
    -moz-transition: .3s ease;
    -webkit-transition: .3s ease;
    color: #000!important;
    border: 1px solid #0d71ba;
    font-size: .95em;
    text-align: center
}

.silo-location a div {
    display: table;
    height: 100%;
    width: 100%
}

.silo-location a div span {
    display: table-cell;
    vertical-align: middle
}

.silo-location a:nth-child(4n+1) {
    margin-left: 0
}

.silo-col-2 .icon-buildings {
    float: left;
    font-size: 2em;
    margin-top: .4em
}

.silo-col-2 h2 {
    float: left;
    font-size: 1.3em;
    margin-left: 10px;
    margin-top: 1.1em;
    font-weight: 500;
    margin-bottom: 0
}

.blog h3,
.cat-relacionadas a {
    display: block;
    font-weight: 400
}

.organico {
    margin-top: 30px;
    display: block
}

.organico h3 {
    font-size: .9em!important;
    border-bottom: 2px solid #fd0;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #000
}

.o-dir,
.o-tel {
    font-size: .85em;
    margin-bottom: 0
}

.organico a.o-hlink:visited {
    color: #000
}

.organico a.o-hlink:hover {
    cursor: pointer
}

.o-dir {
    margin-top: 5px
}

.o-tel {
    margin-top: 3px
}

.o-dir span,
.o-tel span {
    position: relative;
    font-size: 1.4em;
    margin-right: 5px
}

.o-dir span {
    top: 4px
}

.o-tel span {
    top: 6px
}

.silo-col-2 .blog {
    margin-top: 75px
}

.blog h3 {
    width: 100%;
    margin: 26px 0 0;
    padding: 10px;
    background: #303030;
    color: #fff;
    font-size: 1em
}

a.blog-link,
a.blog-link:visited {
    color: #0e72ba
}

ul.blog-list li {
    padding: 20px 0 10px;
    border-bottom: 1px dashed #303030
}

ul.blog-list .blog-img {
    float: left;
    width: 25%;
    margin-right: 5%;
    text-align: left
}

ul.blog-list .blog-img img {
    width: 100%;
    height: auto
}

ul.blog-list .blog-content {
    float: left;
    width: 70%
}

.blog-content h4 {
    margin: 0;
    font-size: .95em
}

.blog-content p {
    margin: 5px 0;
    font-size: .85em
}

a.blog-link {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: right;
    font-size: .9em
}

.l-categoria-tags a {
    display: block;
    width: 100%;
    font-size: .8em;
    padding: 10px 0;
    margin: 5px 0 0;
    color: #0d71ba
}

.l-categoria-tags a:visited {
    color: #0d71ba
}

.cat-relacionadas h2 {
    margin-left: 0
}

.cat-relacionadas a {
    width: 100%;
    padding: 10px;
    border-bottom: 1px dashed #66bdfb;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease
}

.cat-relacionadas a:hover {
    background: #0d71ba;
    color: #fff;
    border-bottom: 1px dashed #66bdfb
}

.abc {
    max-width: 100%!important;
    margin-bottom: 15px
}

.pagination {
    max-width: 360px;
    float: right
}

.pagination ul {
    width: 100%;
    position: relative;
    right: 0
}

.pagination li,
.pagination ul {
    list-style: none;
    display: inline-block;
    padding-left: 0
}

.pagination ul li:hover a {
    color: #303030;
    background-color: #fd0;
    border: 1px solid #fd0
}

.pagination ul li.active a {
    color: #fdfdfd;
    background-color: #303030;
    border: 1px solid #303030
}

.pagination ul li.active a:visited {
    color: #fff
}

.pagination ul li a.page-next:visited,
.pagination ul li a.page-prev:visited,
.pagination ul li a:visited {
    color: #000
}

.pagination ul li a {
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 8px 13px;
    background: #fff;
    font-size: .9em;
    margin: 0 2px
}

.pagination.abc,
.pagination.abc li {
    margin-bottom: 10px
}

.pagination ul li a.page-next,
.pagination ul li a.page-prev {
    padding: 9px 13px;
    top: 1px;
    position: relative
}

.pagination.abc {
    width: 100%!important;
    max-width: 100%!important
}

.separate {
    letter-spacing: 3px
}

@media only screen and (max-width:980px) {
    img.wf980 {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width:820px) {
    .legal-text img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width:1061px) {
    .oficina {
        width: 23.5%
    }
    .oficina:nth-child(4n+1) {
        margin-left: 0
    }
}

@media only screen and (max-width:1140px) {
    .silo-col-1 {
        width: 60%
    }
    .silo-col-2 {
        width: 35%;
        margin-left: 5%
    }
    .silo-location a {
        width: 32%;
        font-size: .9em
    }
    .silo-location a:nth-child(4n+1) {
        margin-left: 2%
    }
    .silo-location a:nth-child(3n+1) {
        margin-left: 0
    }
}

@media only screen and (max-width:1060px) and (min-width:861px) {
    .oficina {
        width: 32%
    }
    .oficina:nth-child(3n+1) {
        margin-left: 0
    }
    .silo-col-1 {
        width: 55%
    }
    .silo-col-2 {
        width: 40%;
        margin-left: 5%
    }
}

@media only screen and (max-width:890px) {
    .silo-col-1 {
        width: 100%
    }
    .silo-col-2 {
        width: 100%;
        margin-left: 0
    }
    .silo-col-2 .blog {
        margin-top: 0;
        float: left;
        width: 58%
    }
    .silo-col-2 .cat-relacionadas {
        float: left;
        width: 38%;
        margin-left: 4%
    }
}

@media only screen and (max-width:860px) {
    .oficina {
        width: 48%;
        margin-left: 4%;
        margin-bottom: 4%
    }
    .oficina:nth-child(2n+1),
    .silo-col-2 {
        margin-left: 0
    }
    .confidencial-text {
        margin-bottom: 0
    }
    .silo-col-1,
    .silo-col-2 {
        width: 100%
    }
}

@media only screen and (max-width:779px) {
    .pagination {
        max-width: 334px;
        float: none;
        padding: 10px 0;
        margin: 20px auto 10px;
        text-align: center
    }
}

@media only screen and (max-width:720px) {
    .page h1,
    .page-content {
        padding: 0
    }
    .left5em {
        margin-left: 2em
    }
    .silo-col-2 .blog {
        width: 100%
    }
    .silo-col-2 .cat-relacionadas {
        width: 100%;
        margin-left: 0
    }
}

@media only screen and (max-width:620px) {
    .pagination.abc {
        width: 460px!important
    }
    .pagination.abc ul {
        white-space: nowrap;
        overflow-x: auto
    }
    .pagination.abc,
    .pagination.abc li {
        margin-bottom: 5px
    }
    .page {
        padding: 10px 20px
    }
}

@media only screen and (max-width:520px) {
    .silo-location a {
        width: 48%;
        margin-left: 4%
    }
    .silo-location a:nth-child(3n+1) {
        margin-left: 4%
    }
    .silo-location a:nth-child(2n+1) {
        margin-left: 0
    }
    .pagination.abc {
        width: 400px!important
    }
}

@media only screen and (max-width:480px) {
    .oficina {
        width: 100%;
        margin-left: 0!important;
        margin-bottom: 4%;
        height: auto;
        padding-bottom: 20px
    }
    table.privacy-table td {
        display: block;
        width: 100%;
        padding-right: 0
    }
    table.fedex-table td {
        display: table-cell;
        width: auto;
        padding-right: 5px
    }
    .page h1 {
        font-size: 1.2em
    }
    .page h2 {
        font-size: 1.1em
    }
    .page h3 {
        font-size: 1em
    }
    .oficina h2,
    .silo-description p {
        font-size: .9em
    }
    a.silo-btn {
        width: 100%;
        text-align: center
    }
    a.sp-link {
        margin-bottom: 30px
    }
    .pagination.abc {
        width: 300px!important
    }
}

@media only screen and (max-width:380px) {
    .silo-location a {
        font-size: .8em
    }
    .pagination.abc {
        width: 260px!important
    }
}