/*Normalize*/

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: table;
    width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}

a:active,
a:hover {
    outline-width: 0;
}

a:hover {
    cursor: pointer;
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}

button,
input {
    overflow: visible;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

textarea,
input {
    outline: none;
}


/*Skeleton*/

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.one-third.column {
    width: 30.6666666667%;
}

.two-thirds.column {
    width: 65.3333333333%;
}

.one-half.column {
    width: 48%;
    margin-left: 2%;
}


/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}


/* For devices larger than 550px */

@media (min-width: 780px) {
    .container {
        width: 80%;
    }
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}

.clear {
    clear: both;
}


/*Iconos*/

@font-face {
    font-family: "sacomfont";
    src: url("../Fonts/sacomfont.eot");
    src: url("../Fonts/sacomfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/sacomfont.woff") format("woff"), url("../Fonts/sacomfont.ttf") format("truetype"), url("../Fonts/sacomfont.svg#sacomfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "sacomfont" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "sacomfont" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {
    content: "\63";
}

.icon-paypal:before {
    content: "\6b";
}

.icon-youtube:before {
    content: "\6d";
}

.icon-facebook-places:before {
    content: "\6e";
}

.icon-location:before {
    content: "\6f";
}

.icon-play:before {
    content: "\70";
}

.icon-plus-circled:before {
    content: "\72";
}

.icon-right-dir:before {
    content: "\74";
}

.icon-twitter:before {
    content: "\75";
}

.icon-vimeo:before {
    content: "\76";
}

.icon-rss:before {
    content: "\78";
}

.icon-youtube-alt:before {
    content: "\7a";
}

.icon-floppy:before {
    content: "\41";
}

.icon-map:before {
    content: "\42";
}

.icon-reply-mail:before {
    content: "\44";
}

.icon-zoom-in:before {
    content: "\46";
}

.icon-zoom-out:before {
    content: "\47";
}

.icon-globe-world:before {
    content: "\48";
}

.icon-polaroid:before {
    content: "\49";
}

.icon-angle-double-right:before {
    content: "\4b";
}

.icon-attention:before {
    content: "\4e";
}

.icon-chevron-down:before {
    content: "\50";
}

.icon-thumbs-down:before {
    content: "\52";
}

.icon-chevron-up:before {
    content: "\53";
}

.icon-plus:before {
    content: "\56";
}

.icon-envelope:before {
    content: "\57";
}

.icon-whatsapp:before {
    content: "\58";
}

.icon-facebook:before {
    content: "\59";
}

.icon-ojosacom:before {
    content: "\31";
}

.icon-carritosacom:before {
    content: "\32";
}

.icon-heart:before {
    content: "\33";
}

.icon-heart-empty:before {
    content: "\34";
}

.icon-ver-listado:before {
    content: "\35";
}

.icon-ver-mosaico:before {
    content: "\37";
}

.icon-letramin:before {
    content: "\38";
}

.icon-font:before {
    content: "\39";
}

.icon-letramax:before {
    content: "\21";
}

.icon-menumania:before {
    content: "\22";
}

.icon-otros:before {
    content: "\23";
}

.icon-three-bars:before {
    content: "\24";
}

.icon-thumbs-up:before {
    content: "\26";
}

.icon-viajes:before {
    content: "\27";
}

.icon-salud:before {
    content: "\2a";
}

.icon-restaurante:before {
    content: "\2b";
}

.icon-distancia:before {
    content: "\2d";
}

.icon-quehacer:before {
    content: "\2e";
}

.icon-llamar:before {
    content: "\2f";
}

.icon-search:before {
    content: "\3a";
}

.icon-bubbles-talk:before {
    content: "\3b";
}

.icon-hotel:before {
    content: "\3c";
}

.icon-hospital:before {
    content: "\3d";
}

.icon-star-outline:before {
    content: "\3e";
}

.icon-star-half:before {
    content: "\3f";
}

.icon-escuela:before {
    content: "\40";
}

.icon-busqueda:before {
    content: "\5b";
}

.icon-star-full:before {
    content: "\5d";
}

.icon-filtros:before {
    content: "\5e";
}

.icon-seccionamarilla:before {
    content: "\7b";
}

.icon-mic:before {
    content: "\62";
}

.icon-right:before {
    content: "\51";
}

.icon-left:before {
    content: "\7c";
}

.icon-page-left:before {
    content: "\7d";
}

.icon-page-right:before {
    content: "\7e";
}

.icon-close:before {
    content: "\e000";
}

.icon-mic-exit:before {
    content: "\e001";
}

.icon-more-info:before {
    content: "\61";
}

.icon-anuncio:before {
    content: "\65";
}

.icon-descargar:before {
    content: "\66";
}

.icon-facebook-text:before {
    content: "\67";
}

.icon-franquicias:before {
    content: "\68";
}

.icon-google-plus:before {
    content: "\69";
}

.icon-pin-off:before {
    content: "\73";
}

.icon-pin-on:before {
    content: "\43";
}

.icon-llegar:before {
    content: "\4d";
}

.icon-print:before {
    content: "\54";
}

.icon-resena:before {
    content: "\55";
}

.icon-reserva:before {
    content: "\25";
}

.icon-menu:before {
    content: "\29";
}

.icon-sms:before {
    content: "\e004";
}

.icon-cat-autopartes:before {
    content: "\71";
}

.icon-cat-construccion:before {
    content: "\79";
}

.icon-cat-electronica:before {
    content: "\4a";
}

.icon-cat-herramientas:before {
    content: "\4c";
}

.icon-cat-hogar:before {
    content: "\5a";
}

.icon-cat-industrial:before {
    content: "\e002";
}

.icon-cat-jardineria:before {
    content: "\e005";
}

.icon-cat-juguetes:before {
    content: "\e006";
}

.icon-cat-limpieza:before {
    content: "\e007";
}

.icon-cat-moda:before {
    content: "\e008";
}

.icon-cat-oficina:before {
    content: "\e009";
}

.icon-cat-muebles:before {
    content: "\e00a";
}

.icon-map-user:before {
    content: "\e00b";
}

.icon-map-to-phone:before {
    content: "\e00c";
}

.icon-map-switch:before {
    content: "\e00d";
}

.icon-map-road:before {
    content: "\e00e";
}

.icon-map-plus:before {
    content: "\e00f";
}

.icon-map-o:before {
    content: "\e010";
}

.icon-cat-vinos:before {
    content: "\e011";
}

.icon-cat-viajes:before {
    content: "\e012";
}

.icon-map-menu:before {
    content: "\e013";
}

.icon-map-car:before {
    content: "\e014";
}

.icon-cat-salud:before {
    content: "\e015";
}

.icon-cat-renta-autos:before {
    content: "\e016";
}

.icon-map-bus:before {
    content: "\e017";
}

.icon-share:before {
    content: "\e018";
}

.icon-map-plane:before {
    content: "\e019";
}

.icon-map-bike:before {
    content: "\e01a";
}

.icon-map-walk:before {
    content: "\e01b";
}

.icon-map-pin:before {
    content: "\64";
}

.icon-oferta:before {
    content: "\6a";
}

.icon-llama-gratis:before {
    content: "\6c";
}

.icon-superpagina:before {
    content: "\45";
}

.icon-tel:before {
    content: "\36";
}

.icon-tienda:before {
    content: "\28";
}

.icon-web:before {
    content: "\2c";
}

.icon-papel-web:before {
    content: "\5c";
}

.icon-mapa:before {
    content: "\e003";
}

.icon-mail:before {
    content: "\e01c";
}

.icon-check:before {
    content: "\e01d";
}

.icon-sacomtest:before {
    content: "\4f";
}

.icon-24h:before {
    content: "\5f";
}

.icon-back:before {
    content: "\60";
}

.icon-buildings:before {
    content: "\e01e";
}

.icon-gear:before {
    content: "\e01f";
}

.icon-clock:before {
    content: "\e020";
}

.icon-presencia-web:before {
    content: "\e021";
}

.icon-publicidad-digital:before {
    content: "\e022";
}

.icon-money:before {
    content: "\e023";
}

.icon-download:before {
    content: "\e024";
}

.icon-e-commerce:before {
    content: "\e025";
}

.icon-smartphone:before {
    content: "\e026";
}

.icon-user:before {
    content: "\e027";
}

.icon-belleza:before {
    content: "\77";
}

.icon-quecomer:before {
    content: "\e028";
}

.icon-minegocio:before {
    content: "\e029";
}

.icon-tag:before {
    content: "\30";
}

.icon-logout:before {
    content: "\e02a";
}

.icon-farmacias:before {
    content: "\e02b";
}

.icon-florerias:before {
    content: "\e02c";
}

.icon-medicos:before {
    content: "\e02d";
}

.icon-plomeros:before {
    content: "\e02e";
}

.icon-gruas:before {
    content: "\e02f";
}

.icon-cerrajerias:before {
    content: "\e030";
}

.icon-taxis:before {
    content: "\e031";
}

.icon-arrow-right:before {
    content: "\e032";
}

.icon-info:before {
    content: "\e033";
}

.icon-send:before {
    content: "\e034";
}

.icon-veterinarias:before {
    content: "\e035";
}


/*Main*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    height: 60px;
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    background: #eff1f0;
    z-index: 100;
    padding: 10px;
}

.head-logo {
    display: block;
    width: 203px;
    height: 35px;
    background-size: 203px 35px;
    background-image: url(../Images/logo-seccion-amarilla.svg);
    background-repeat: no-repeat;
    margin-top: 3px;
}

.head-menu {
    position: absolute;
    right: 60px;
    top: 12px;
}

.head-menu a {
    display: inline-block;
    margin-right: 20px;
    font-size: 0.85em;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px;
    color: #000000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.head-menu a.sesion {
    background: #ffdd00;
}

.head-search {
    display: block;
    position: fixed;
    top: 16px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    z-index: 150;
}

.head-search input#typed {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    position: absolute;
    right: 0;
    font-size: 1.3em;
    padding-right: 95px;
}

.head-search input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #eff1f0 inset !important;
    background-color: #eff1f0;
    background-image: none;
    color: rgb(0, 0, 0);
}

.head-search input#search {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    position: absolute;
    right: 0;
    font-size: 1.3em;
    padding-right: 95px;
    padding-left: 15px;
}

.cancel-search {
    display: none;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 65px;
    font-size: 0.9em;
    color: #e74c3c;
    padding-top: 6px;
    text-align: center;
}

.cancel-search:hover {
    cursor: pointer;
}

.cancel-search:visited {
    color: #eff1f0;
}

button.head-search-btn {
    position: absolute;
    right: 0;
    border: 0;
    background: transparent;
}

button.head-search-btn:hover {
    color: #444;
}

button.head-search-btn:before {
    font-size: 1.2em;
}

button.mic-btn {
    position: absolute;
    right: 30px;
    border: 0;
    background: transparent;
}

button.mic-btn:hover {
    color: #444;
}

button.mic-btn:before {
    font-size: 1.2em;
}

.exit-search-modal {
    display: none;
}

.voice-modal {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    margin-left: 0;
    padding: 20px;
    z-index: 2000;
}

.voice-modal.voice-modal-off {
    display: none;
}

.search-modal-toggle {
    display: none;
}

.voice-text {
    color: #fff;
    font-weight: 300;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
}

.icon-mic-exit:before {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    z-index: 10;
    font-size: 2em;
    margin-top: -0.5em;
    margin-left: -0.5em;
}

.exit-voice-modal {
    position: fixed;
    left: 50%;
    top: 130px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 80px;
    height: 80px;
}

.exit-voice-modal:before {
    content: '';
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 200px;
    background-color: #ffdd00;
    -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.exit-voice-modal:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f73a27;
    border-radius: 200px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@-webkit-keyframes pulse-ring {
    0% {
        -webkit-transform: scale(0.33);
        transform: scale(0.33);
    }
    80%,
    100% {
        opacity: 0;
    }
}

@keyframes pulse-ring {
    0% {
        -webkit-transform: scale(0.33);
        transform: scale(0.33);
    }
    80%,
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes pulse-dot {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes pulse-dot {
    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

nav ul li a.sesion {
    background: #ffdd00;
    color: #000000;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

nav ul li a.sesion:hover {
    background: #ffcc00;
    color: #000;
}

nav ul li a.sesion:visited {
    color: #000;
}

nav,
.navbar-toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav {
    position: fixed;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}

.nav-hide {
    display: none;
}

nav ul {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0 !important;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 1.5em;
    color: #e2e2e2;
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}

nav ul li a:visited {
    color: #fff;
}

nav ul li a:hover {
    color: #ffdd00;
}

.navbar-toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    z-index: 300;
    padding: 20px 15px;
}

.bar1,
.bar2,
.bar3 {
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.navbar-on .bar1,
.navbar-on .bar3 {
    background-color: #ffdd00;
}

.navbar-on .bar2 {
    background-color: transparent;
}

.navbar-on .bar1 {
    transform-origin: 10% 40%;
    transform: rotate(45deg);
    width: 28px;
}

.navbar-on .bar3 {
    transform-origin: 10% 40%;
    transform: rotate(-45deg);
    width: 28px;
}

.logged {
    background: #ffdd00;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: 400;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position: relative;
}

.logged span {
    padding: 10px;
    text-transform: capitalize;
}

.logged a {
    font-size: 1em;
    margin-right: 0;
    padding: 0;
    padding-left: 10px;
    border-left: 1px solid #fb0;
    border-radius: 0;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-transform: capitalize;
    color: #000;
}

.logged a i {
    position: relative;
    top: 2px;
}

.logged a:visited {
    color: #000;
}

.logged a:hover {
    background: #ffcc00;
    color: #000;
}

.logged img {
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    top: 3px;
    position: relative;
    margin-right: 5px;
}

.hint {
    position: relative;
    display: inline-block;
    text-transform: capitalize;
}

.hint:before,
.hint:after {
    position: absolute;
    opacity: 0;
    z-index: 1000000;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    pointer-events: none;
    text-transform: capitalize;
}

.hint:hover:before,
.hint:hover:after {
    opacity: 1;
}

.hint:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: -14px 0 0 -7px;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

.hint:after {
    content: attr(data-hint);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 10px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 50%;
    margin: -2px 0 0 -45px;
}

.hint:hover:before {
    margin-top: -9px;
    margin-left: -7px;
}

.hint:hover:after {
    margin-top: 3px;
}

.menu-social a {
    display: inline-block;
    margin: 10px 5px;
    height: 40px;
    width: 40px;
    background: #000000;
    color: #ffffff;
    padding: 8px 0 0 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    text-align: center;
}

.menu-social a:hover {
    color: #fff !important;
}

.menu-social a span:before {
    font-size: 25px !important;
    line-height: 25px !important;
}

.menu-social a.s-face {
    background: #3b5998;
}

.menu-social a.s-twit {
    background: #55acee;
}

.menu-social a.s-plus {
    background: #dd4b39;
}

.menu-social a.s-you {
    background: #bb0000;
}

.footer {
    background: #303030;
    color: #ffffff;
    padding: 20px;
    padding-top: 40px;
    display: table-row;
    height: 1px;
}

.infoot {
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 30px;
}

ul,
li {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    padding-left: 0;
    list-style: none;
}

ul.f-list li a {
    display: block;
    padding: 5px;
    width: 100%;
    font-size: 0.85em;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    color: #ffffff;
    font-weight: 300;
}

.f-title {
    border-bottom: 1px solid #aaaaaa;
    color: #ffffff;
    display: block;
    width: 100%;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

ul.f-list li a:hover {
    color: #ffdd00;
}
.sellos-container {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

.g-partnersbadge {
    display: block!important;
    width: 97px!important;
    height: 55px!important;
    position: absolute;
    z-index: 1;
    left: 92px;
    top: 2px;
}
.g-partnersbadge:hover {
    cursor: pointer;
}
.sellos {
    margin: 25px auto;
    display: block;
}

.social {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.social a {
    display: inline-block;
    margin: 5px;
    height: 40px;
    width: 40px;
    background: #000000;
    color: #ffffff;
    padding-top: 2px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    text-align: center;
}

.social a span:before {
    font-size: 1.5em !important;
    line-height: 1.5em !important;
}

.social a.s-face:hover {
    background: #3b5998;
}

.social a.s-twit:hover {
    background: #55acee;
}

.social a.s-plus:hover {
    background: #dd4b39;
}

.social a.s-you:hover {
    background: #bb0000;
}

.scrollToTop {
    width: 50px;
    height: 50px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    display: none;
}

.scrollToTop:hover {
    text-decoration: none;
}

.scrollToTop span:before {
    color: #fff;
    position: relative;
    top: 2px;
    left: 3px;
    font-size: 1.5em;
}

.content {
    width: 100%;
    display: block;
    height: auto;
    padding-top: 60px;
}


/*Breadcrumbs*/

.hide {
    display: none;
}

.breadcrumbs {
    width: 100%;
    padding: 0 20px;
    display: block;
}

.crumbs {
    display: block;
    margin-left: 0;
}

.crumbs li {
    display: inline;
    font-size: 0.75em;
    color: #2e2e2e;
}

.crumbs li a,
.crumbs li a:link,
.crumbs li a:visited {
    color: #2e2e2e;
    display: inline-block;
    padding: 10px 1px;
    text-decoration: none;
}

.crumbs li a.last:after {
    content: " ";
}

.crumbs li a:hover {
    color: #333;
    cursor: pointer;
    text-decoration: underline;
}

.crumbs li span.icon-angle-double-right {
    font-size: 1em;
    position: relative;
    top: 2px;
    margin: 0 3px;
}


/*Autocomplete*/

.easy-autocomplete {
    position: relative;
    width: 100% !important;
}

.easy-autocomplete input:hover,
.easy-autocomplete input:focus {
    box-shadow: none
}

.easy-autocomplete a {
    display: block
}

.easy-autocomplete.eac-bootstrap input {
    border-color: #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #555;
    padding: 6px 12px
}

.easy-autocomplete-container {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 29px;
}

.easy-autocomplete-container ul {
    background: none repeat scroll 0 0 #ffffff;
    border-top: 1px dotted #ccc;
    display: none;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
    top: -1px
}

.easy-autocomplete-container ul li,
.easy-autocomplete-container ul .eac-category {
    background: inherit;
    border-color: #eff1f0;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    display: block;
    font-size: 1em;
    font-weight: normal;
    padding: 10px 15px;
}

.easy-autocomplete-container ul li:last-child {
    border-radius: 0 0 2px 2px;
    border-width: 0 1px 1px
}

.easy-autocomplete-container ul li.selected {
    background: none repeat scroll 0 0 #ffdd00;
    cursor: pointer;
}

.easy-autocomplete-container ul li.selected div {
    font-weight: normal
}

.easy-autocomplete-container ul li div {
    display: block;
    font-weight: normal;
    word-break: break-all
}

.easy-autocomplete-container ul li b {
    font-weight: bold
}


/*Load page*/

.load-modal.load-modal-off {
    display: none;
}

.load-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1000000000;
    top: 0;
    left: 0;
}

.load-modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 600px;
}

.load-pin1 {
    fill: #3d3d3f;
}

.load-pin2 {
    fill: #ffdd00;
}

.pin {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    animation: ball 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
}

#pin {
    enable-background: new 0 0 250.3 250.3;
}

.shadow {
    width: 50px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffdd00;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -5px;
    opacity: 0.2;
    animation: shadow 500ms infinite alternate;
}

@keyframes ball {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-120px);
    }
}

@keyframes shadow {
    0% {
        transform: scale(1.1);
        opacity: 0.6;
    }
    100% {
        transform: scale(.5);
    }
}

.rotate-y {
    -webkit-animation: rotate-y 1s linear .2s infinite;
    -moz-animation: rotate-y 1s linear .2s infinite;
    animation: rotate-y 1s linear .2s infinite;
}

@-webkit-keyframes rotate-y {
    0% {
        -webkit-transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
    }
}

@-moz-keyframes rotate-y {
    0% {
        -moz-transform: rotateY(0deg);
    }
    100% {
        -moz-transform: rotateY(360deg);
    }
}

@keyframes rotate-y {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.city-bg {
    max-width: 600px;
    height: 130px;
    background-image: url(../Images/city.svg);
    background-size: 1511px 130px;
    background-position: 0 0;
    background-repeat: repeat-x;
    -webkit-animation: animatedBackground 15s linear infinite;
    animation: animatedBackground 15s linear infinite;
    margin: 0 auto;
    position: relative;
    top: 65px;
}

@-webkit-keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1511px 0;
    }
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1511px 0;
    }
}


/*Iniciar Sesion*/

.sesion-modal {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: #191919;
    top: 0;
    left: 0;
    margin-left: 0;
    padding: 20px;
}

.sesion-modal.sesion-modal-off {
    display: none;
}

.exit-sesion-modal {
    position: fixed;
    top: 22px;
    right: 20px;
    color: #ffdd00;
    font-size: 1.4em;
}

.sesion-modal-content {
    display: block;
    max-width: 870px;
    height: auto;
    text-align: center;
    position: relative;
    padding: 50px 20px;
    margin: 0 auto;
}

.sesion-modal-content h1 {
    color: #ffdd00;
    font-weight: 500;
    text-align: center;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 20px;
}

.sesion-modal-content p {
    color: #fff;
    font-size: 0.85em;
    margin-top: 0;
}

button.sesion-facebook {
    display: block;
    width: 100%;
    color: #fff;
    background: #3b5998;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 40px;
    border: 0;
}

button.sesion-facebook img {
    height: 18px;
    margin-left: 5px;
    position: relative;
    top: 1px;
}

button.sesion-google {
    display: block;
    width: 100%;
    color: #fff;
    background: #dd4b39;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 40px;
    border: 0;
}

button.sesion-google img {
    height: 18px;
    margin: 0 34px;
    position: relative;
    top: 1px;
}

.sesion-o {
    display: block;
    border-top: 1px solid #fff;
    margin: 20px 0 10px 0;
    position: relative;
}

.sesion-o span {
    display: block;
    color: #fff;
    margin: 0 auto;
    position: relative;
    top: -11px;
    background: #191919;
    height: 15px;
    width: 30px;
}

.sesion-modal-content form {
    text-align: left;
}

.sesion-modal-content input,
.sesion-modal-content select {
    color: #fff;
    background: #555;
    text-align: left;
    padding: 10px;
    width: 100%;
    display: block;
    border: 0;
    font-size: 0.95em;
    margin-bottom: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 40px;
}

.sesion-modal-content select option {
    background: #fff;
}

.sesion-modal-content input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.sesion-modal-content input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #555 inset;
    -webkit-text-fill-color: #fff;
}

.sesion-modal-content input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #555 inset;
    -webkit-text-fill-color: #fff;
}

.sesion-modal-content input:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.sesion-modal-content input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.sesion-modal-content input:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.sesion-modal-content input:focus::-webkit-input-placeholder {
    opacity: 0.3;
}

.sesion-modal-content button.login-btn {
    color: #000;
    background: #ffdd00;
    border: 0;
    padding: 10px 30px;
    font-size: 0.9em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 20px;
}

.sesion-modal-content button.login-btn:hover {
    background: #fc0;
    cursor: pointer;
}

p.pass-info {
    margin: 0;
    font-size: 0.8em;
}

p.sesion-help {
    color: #fff;
    font-size: 0.8em;
    text-align: left;
    margin-top: 10px;
    display: block;
}

p.sesion-help a {
    color: #fd0;
}

img.sesion-img {
    margin-top: 70px;
    width: 100%;
    height: auto;
}

.top0 {
    margin-top: 0 !important;
}

.top10 {
    margin-top: 10px !important;
}

.margin3020 {
    margin: 30px 0 20px !important;
}

.seven.columns.sesion-image-container {
    width: 50%;
    margin-left: 10%;
}

.error {
    border: 2px solid #e74c3c !important;
}

.form-col-6 {
    float: left;
    width: 48.5%;
    margin-left: 3%;
}

.form-col-6:first-child {
    margin-left: 0;
}

.form-col-4 {
    float: left;
    width: 31.5%;
    margin-left: 2.75%;
}

.form-col-4:first-child {
    margin-left: 0;
}

.recupera-contra {
    margin-top: 60px;
}


/*Recupera Modal*/

.recupera-modal.recupera-modal-off {
    display: none;
}

.recupera-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 500;
    top: 0;
    left: 0;
}

.rec-message-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 320px;
    height: auto;
    -moz-perspective: 600px;
    -webkit-perspective: 600px;
    perspective: 600px;
    background: transparent;
    box-shadow: none;
    padding: 0;
}

.rec-message-modal-content {
    background: #fff;
    border-radius: 5px;
    text-align: center;
}

.rec-message-modal-content form {
    padding: 0 20px 20px 20px;
}

.rec-message-modal-content label {
    display: block;
    width: 100%;
    margin: 5px 0;
    text-align: center;
    font-size: 0.9em;
}

.rec-message-modal-content input,
.rec-message-modal-content textarea,
.rec-message-modal-content select {
    display: block;
    width: 100%;
    margin: 5px 0 15px 0;
    text-align: left;
    padding: 7px;
    font-size: 0.9em;
    border: 1px solid #bdc3c7;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #fff;
    height: 35px;
}

.rec-message-modal-content h5 {
    margin-top: 0;
    font-size: 1em;
    padding: 10px 40px;
    margin-bottom: 0;
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.modal-close {
    color: #e74c3c;
    text-align: right;
    display: block;
    height: 40px;
    width: 40px;
    right: 0;
    top: 0;
    position: absolute;
    padding: 10px;
    text-align: center;
}

.rec-message-modal-content p {
    font-size: 0.9em;
    margin-top: 0;
}

.input-icon {
    display: block;
    width: 100%;
    position: relative;
}

.input-icon input {
    position: relative;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #555;
    padding: 0 0 0 40px;
    border-radius: 0;
}

.input-icon span {
    position: absolute;
    top: 7px;
    left: 6px;
    color: #555;
    font-size: 1.1em;
    z-index: 2;
}

.rec-message-modal-content button,
.msend {
    background: #ffdd00;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 0 auto;
}

.rec-message-modal-content button:hover,
.msend:hover {
    cursor: pointer;
    background: #fc0;
}

.rec-message-modal .front,
.rec-message-modal .back {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #fff;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.rec-message-modal .front {
    z-index: 900;
    -moz-transform: translate(0%, -50%) rotateY(0deg);
    -ms-transform: translate(0%, -50%) rotateY(0deg);
    -webkit-transform: translate(0%, -50%) rotateY(0deg);
    transform: translate(0%, -50%) rotateY(0deg);
}

.rec-message-modal .back {
    z-index: 800;
    -moz-transform: translate(0%, -50%) rotateY(-180deg);
    -ms-transform: translate(0%, -50%) rotateY(-180deg);
    -webkit-transform: translate(0%, -50%) rotateY(-180deg);
    transform: translate(0%, -50%) rotateY(-180deg);
}

.rec-message-modal.flip .front {
    -moz-transform: translate(0%, -50%) rotateY(180deg);
    -ms-transform: translate(0%, -50%) rotateY(180deg);
    -webkit-transform: translate(0%, -50%) rotateY(180deg);
    transform: translate(0%, -50%) rotateY(180deg);
    z-index: 900;
}

.rec-message-modal.flip .back {
    -moz-transform: translate(0%, -50%) rotateY(0deg);
    -ms-transform: translate(0%, -50%) rotateY(0deg);
    -webkit-transform: translate(0%, -50%) rotateY(0deg);
    transform: translate(0%, -50%) rotateY(0deg);
    z-index: 1000;
}


/*Politicas Modal*/

.politicas-modal.politicas-modal-off {
    display: none;
}

.politicas-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 500;
    top: 0;
    left: 0;
}

.politicas-modal .rec-message-modal {
    width: 800px;
    height: 90%;
}

.politicas-modal .rec-message-modal .rec-message-modal-content {
    height: 100%;
}

.politicas-text {
    padding: 20px;
    height: calc(100% - 40px);
}

.politicas-text-content {
    text-align: left;
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.politicas-text-content h6 {
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-top: 20px;
}

.politicas-text-content p {
    font-size: 0.85em;
    line-height: 1.4em;
}

.politicas-text-content ul {
    list-style: circle;
    padding-left: 1.5em;
}

.politicas-text-content ul li {
    font-size: 0.85em;
    margin-bottom: 0;
    line-height: 1.4em;
    list-style: initial;
}

.bottom15 {
    margin-bottom: 15px;
}


/*Registro Dropdown*/

.wrapper-reg-dropdown {
    position: relative;
    width: 100%;
    background: #555;
    color: #fff;
    outline: none;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    border-radius: 3px;
    padding: 12px;
    font-size: 0.95em;
}

.wrapper-reg-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;
    transform: rotate(90deg);
}

.wrapper-reg-dropdown .reg-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #555;
    list-style: none;
    font-weight: normal;
    opacity: 0;
    pointer-events: none;
    max-height: 140px;
    display: none;
}

.wrapper-reg-dropdown .reg-dropdown li {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.wrapper-reg-dropdown .reg-dropdown li:hover {
    background: #191919;
}

.wrapper-reg-dropdown.active .reg-dropdown {
    opacity: 1;
    pointer-events: auto;
    z-index: 50;
    display: block;
    overflow: auto;
}

.wrapper-reg-dropdown.active:after {
    transform: rotate(270deg);
}

.wrapper-reg-dropdown.active {
    background: #555;
}

.no-opacity .wrapper-reg-dropdown .dropdown,
.no-pointerevents .wrapper-reg-dropdown .reg-dropdown {
    display: none;
    opacity: 1;
    pointer-events: auto;
}

.no-opacity .wrapper-reg-dropdown.active .dropdown,
.no-pointerevents .wrapper-reg-dropdown.active .reg-dropdown {
    display: block;
}

.error-text {
    display: block !important;
    width: 100% !important;
    text-align: center !important;
    font-size: 0.9em !important;
    color: #e74c3c !important;
    margin: 10px 0 !important;
}

.noscroll {
    overflow: hidden;
}

.bottom20 {
    margin-bottom: 20px !important;
}

.top40 {
    margin-top: 40px !important;
}

.reg-title {
    margin: 20px 0 10px !important;
}


/*Opinion*/

#nebula_div_btn {
    bottom: -4px !important;
    left: -1px !important;
}

#kampyleFormContainer,
#kampyleFormModal {
    background-color: rgba(0, 0, 0, 0.85) !important;
}

#liveForm .kpl_builder .panel-footer .btn.submit-btn {
    background: #ffdd00 !important;
    background-color: #ffdd00 !important;
    color: #000 !important;
}

#liveForm .kpl_builder .panel-footer .btn.submit-btn:hover {
    background: #ffcc00 !important;
    background-color: #ffcc00 !important;
}


/*Responsive*/

@media only screen and (max-width: 1060px) {
    .head-search {
        margin-left: -170px;
    }
}

@media only screen and (max-width: 860px) {
    .head-search {
        width: 400px;
        margin-left: -120px;
    }
}

@media only screen and (min-width: 781px) {
    .hidesk {
        display: none !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 920px) {
    .three.columns.tcol {
        margin-left: 4%;
    }
    .three.columns.tcol:first-child {
        margin-left: 0;
    }
    .three.columns.tcol:nth-child(3) {
        margin-left: 0;
    }
    .three.columns.tcol {
        width: 48%;
    }
    .six.columns.acol {
        width: 48%;
    }
    .columns.acol:first-child {
        margin-left: 0;
    }
    .columns.acol {
        margin-left: 4%;
    }
}

@media only screen and (max-width: 840px) {
    .politicas-modal .rec-message-modal {
        width: 90%;
    }
}

@media only screen and (max-width: 780px) {
    nav ul li a {
        font-size: 1.2em;
    }
    .head-menu {
        display: none;
    }
    .f-title:hover {
        cursor: pointer;
    }
    .f-title::after {
        position: relative;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        float: right;
        content: "+";
    }
    .f-title.active::after {
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -webkit-transform: rotate(-45deg);
        /* Safari */
        -moz-transform: rotate(-45deg);
        /* Firefox */
        -ms-transform: rotate(-45deg);
        /* IE */
        -o-transform: rotate(-45deg);
        /* Opera */
        filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1.5);
        /* Internet Explorer */
    }
    ul.f-list {
        margin-bottom: 15px;
    }
    .f-title {
        padding: 20px 0;
    }
    .footer {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 779px) {
    .seven.columns.sesion-image-container {
        display: none;
    }
    .sesion-modal-content {
        max-width: 360px;
    }
    .logged {
        font-size: 1.2em;
    }
    .recupera-contra {
        margin-top: 0;
    }
}

@media only screen and (max-width: 720px) {
    .head-search {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 0;
        margin-left: 0;
        padding: 20px;
        z-index: 1000;
    }
    .head-search.search-modal-off {
        display: none !important;
    }
    .search-modal-toggle {
        display: block;
        position: fixed;
        right: 60px;
        top: 0;
        font-size: 1.5em;
        z-index: 150;
        width: 60px;
        height: 60px;
        padding: 17px;
    }
    button.mic-btn {
        position: fixed;
        bottom: 20px;
        border: 0;
        color: #000000;
        right: 20px;
        width: 60px;
        height: 60px;
        background: #ffdd00;
        font-size: 26px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        padding: 0;
        text-align: center;
    }
    .head-search form {
        position: relative;
        margin-top: 70px;
        width: 100%;
    }
    .head-search input#search,
    .head-search input#typed {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #ffdd00;
        position: relative;
        right: 0;
        font-size: 1.3em;
        padding-right: 0;
        color: #ffffff;
        -webkit-appearance: textfield;
        border-radius: 0;
        padding: 0;
        padding-right: 85px;
        padding-left: 15px;
        padding-bottom: 5px;
    }
    button.head-search-btn {
        position: absolute;
        right: 0;
        border: 0;
        background: 0 0;
        color: #fd0;
        bottom: 5px;
        padding: 0;
        height: 30px;
        width: 30px;
        display: block;
        font-size: 1.3em;
    }
    .exit-search-modal,
    .close-all {
        display: block;
        color: #ffdd00;
        font-size: 1.3em;
        position: absolute;
        right: 5px;
        top: 0;
        width: 60px;
        height: 60px;
        padding: 20px 0;
        text-align: center;
    }
    .exit-voice-modal {
        bottom: 10px;
        right: 10px;
        position: fixed;
        margin-left: 0;
        left: initial;
        transform: initial;
        -webkit-transform: initial;
        top: initial;
    }
    .easy-autocomplete-container ul {
        background: none;
        border-top: none;
    }
    .easy-autocomplete-container ul li,
    .easy-autocomplete-container ul .eac-category {
        color: #fff;
    }
    .easy-autocomplete-container {
        top: 32px;
    }
    .easy-autocomplete-container ul li.selected {
        color: #000;
    }
    .voice-text {
        margin-top: 70px;
    }
    button.mic-btn:before {
        position: relative;
        top: 3px;
    }
    .cancel-search {
        height: 25px;
        width: 25px;
        right: 40px;
        font-size: 1em;
        padding-top: 7px;
        top: -6px;
    }
}

@media only screen and (max-width: 480px) {
    .breadcrumbs {
        display: none;
    }
    nav ul li a {
        font-size: 1em;
    }
    .social {
        max-width: 100%;
        text-align: left;
    }
    .logged {
        font-size: 1.1em;
    }
    .sellos {
        margin: 10px auto 40px;
        display: block;
        width: 280px;
        height: auto;
    }
}

@media only screen and (max-width: 360px) {
    .navbar-toggle {
        width: 50px;
        padding: 20px 10px;
    }
    .search-modal-toggle {
        width: 50px;
        padding: 18px 12px;
        right: 50px;
    }
    .sesion-modal-content {
        padding: 0 10px;
    }
    .sesion-modal-content p {
        font-size: 0.8em;
    }
    .politicas-text-content p,
    .politicas-text-content ul li {
        font-size: 0.8em;
    }
    .politicas-text-content h6 {
        font-size: .85em;
    }
}

@media only screen and (max-width: 320px) {
    .rec-message-modal {
        width: 300px;
    }
}

@media only screen and (max-height: 580px) {
    .sesion-modal-content {
        transform: initial;
        -webkit-transform: initial;
        -moz-transform: initial;
        overflow: auto;
        height: 100%;
        left: initial;
        top: initial;
        margin: 0 auto;
        margin-top: 0;
        padding: 10px;
    }
}

@media only screen and (max-height: 420px) {
    nav ul {
        height: 95%;
        overflow: auto;
        display: block;
        margin: 10px 0;
    }
}