body,
html {
    padding: 0;
    margin: 0;
    height: 100%
}

a.chat-p:hover,
abbr[title] {
    text-decoration: underline
}

button,
hr,
input {
    overflow: visible
}

.chat-room,
textarea {
    overflow: auto
}

body,
html,
legend {
    padding: 0
}

li,
nav ul li,
ul,
ul.list {
    list-style: none
}

.comienza,
nav {
    text-align: center
}

a:hover,
button.mic-btn:hover {
    cursor: pointer
}

*,
:after,
:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    display: table;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted
}

.open-chat:hover,
.scrollToTop:hover,
a.blog-title h4,
nav ul li a {
    text-decoration: none
}

b,
strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

.column,
.columns,
.container,
.exit-voice-modal:before,
legend {
    box-sizing: border-box
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: 700
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

[class*=" icon-"]:before,
[class^=icon-]:before,
[data-icon]:before {
    font-family: sacomfont!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px
}

.column,
.columns {
    width: 100%;
    float: left
}

.one-third.column {
    width: 30.6666666667%
}

.two-thirds.column {
    width: 65.3333333333%
}

.one-half.column {
    width: 48%;
    margin-left: 2%
}

@media (min-width:400px) {
    .container {
        width: 85%;
        padding: 0
    }
}

@media (min-width:780px) {
    .container {
        width: 80%
    }
    .column,
    .columns {
        margin-left: 4%
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%
    }
    .two.columns {
        width: 13.3333333333%
    }
    .three.columns {
        width: 22%
    }
    .four.columns {
        width: 30.6666666667%
    }
    .five.columns {
        width: 39.3333333333%
    }
    .six.columns {
        width: 48%
    }
    .seven.columns {
        width: 56.6666666667%
    }
    .eight.columns {
        width: 65.3333333333%
    }
    .nine.columns {
        width: 74%
    }
    .ten.columns {
        width: 82.6666666667%
    }
    .eleven.columns {
        width: 91.3333333333%
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0
    }
}

.chat-room span,
.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both
}

@font-face {
    font-family: sacomfont;
    src: url(../Fonts/sacomfont.eot);
    src: url(../Fonts/sacomfont.eot?#iefix) format("embedded-opentype"), url(../Fonts/sacomfont.woff) format("woff"), url(../Fonts/sacomfont.ttf) format("truetype"), url(../Fonts/sacomfont.svg#sacomfont) format("svg");
    font-weight: 400;
    font-style: normal
}

[data-icon]:before {
    content: attr(data-icon)
}

.head-menu a,
.logged span {
    padding: 10px;
    text-transform: uppercase
}

.icon-shopping-cart:before {
    content: "\63"
}

.icon-paypal:before {
    content: "\6b"
}

.icon-youtube:before {
    content: "\6d"
}

.icon-facebook-places:before {
    content: "\6e"
}

.icon-location:before {
    content: "\6f"
}

.icon-play:before {
    content: "\70"
}

.icon-plus-circled:before {
    content: "\72"
}

.icon-right-dir:before {
    content: "\74"
}

.icon-twitter:before {
    content: "\75"
}

.icon-vimeo:before {
    content: "\76"
}

.icon-rss:before {
    content: "\78"
}

.icon-youtube-alt:before {
    content: "\7a"
}

.icon-floppy:before {
    content: "\41"
}

.icon-map:before {
    content: "\42"
}

.icon-reply-mail:before {
    content: "\44"
}

.icon-zoom-in:before {
    content: "\46"
}

.icon-zoom-out:before {
    content: "\47"
}

.icon-globe-world:before {
    content: "\48"
}

.icon-polaroid:before {
    content: "\49"
}

.icon-angle-double-right:before {
    content: "\4b"
}

.icon-attention:before {
    content: "\4e"
}

.icon-chevron-down:before {
    content: "\50"
}

.icon-thumbs-down:before {
    content: "\52"
}

.icon-chevron-up:before {
    content: "\53"
}

.icon-plus:before {
    content: "\56"
}

.icon-envelope:before {
    content: "\57"
}

.icon-whatsapp:before {
    content: "\58"
}

.icon-facebook:before {
    content: "\59"
}

.icon-ojosacom:before {
    content: "\31"
}

.icon-carritosacom:before {
    content: "\32"
}

.icon-heart:before {
    content: "\33"
}

.icon-heart-empty:before {
    content: "\34"
}

.icon-ver-listado:before {
    content: "\35"
}

.icon-ver-mosaico:before {
    content: "\37"
}

.icon-letramin:before {
    content: "\38"
}

.icon-font:before {
    content: "\39"
}

.icon-letramax:before {
    content: "\21"
}

.icon-menumania:before {
    content: "\22"
}

.icon-otros:before {
    content: "\23"
}

.icon-three-bars:before {
    content: "\24"
}

.icon-thumbs-up:before {
    content: "\26"
}

.icon-viajes:before {
    content: "\27"
}

.icon-salud:before {
    content: "\2a"
}

.icon-restaurante:before {
    content: "\2b"
}

.icon-distancia:before {
    content: "\2d"
}

.icon-quehacer:before {
    content: "\2e"
}

.icon-llamar:before {
    content: "\2f"
}

.icon-search:before {
    content: "\3a"
}

.icon-bubbles-talk:before {
    content: "\3b"
}

.icon-hotel:before {
    content: "\3c"
}

.icon-hospital:before {
    content: "\3d"
}

.icon-star-outline:before {
    content: "\3e"
}

.icon-star-half:before {
    content: "\3f"
}

.icon-escuela:before {
    content: "\40"
}

.icon-busqueda:before {
    content: "\5b"
}

.icon-star-full:before {
    content: "\5d"
}

.icon-filtros:before {
    content: "\5e"
}

.icon-seccionamarilla:before {
    content: "\7b"
}

.icon-mic:before {
    content: "\62"
}

.icon-right:before {
    content: "\51"
}

.icon-left:before {
    content: "\7c"
}

.icon-page-left:before {
    content: "\7d"
}

.icon-page-right:before {
    content: "\7e"
}

.icon-close:before {
    content: "\e000"
}

.icon-mic-exit:before {
    content: "\e001"
}

.icon-more-info:before {
    content: "\61"
}

.icon-anuncio:before {
    content: "\65"
}

.icon-descargar:before {
    content: "\66"
}

.icon-facebook-text:before {
    content: "\67"
}

.icon-franquicias:before {
    content: "\68"
}

.icon-google-plus:before {
    content: "\69"
}

.icon-pin-off:before {
    content: "\73"
}

.icon-pin-on:before {
    content: "\43"
}

.icon-llegar:before {
    content: "\4d"
}

.icon-print:before {
    content: "\54"
}

.icon-resena:before {
    content: "\55"
}

.icon-reserva:before {
    content: "\25"
}

.icon-menu:before {
    content: "\29"
}

.icon-sms:before {
    content: "\e004"
}

.icon-cat-autopartes:before {
    content: "\71"
}

.icon-cat-construccion:before {
    content: "\79"
}

.icon-cat-electronica:before {
    content: "\4a"
}

.icon-cat-herramientas:before {
    content: "\4c"
}

.icon-cat-hogar:before {
    content: "\5a"
}

.icon-cat-industrial:before {
    content: "\e002"
}

.icon-cat-jardineria:before {
    content: "\e005"
}

.icon-cat-juguetes:before {
    content: "\e006"
}

.icon-cat-limpieza:before {
    content: "\e007"
}

.icon-cat-moda:before {
    content: "\e008"
}

.icon-cat-oficina:before {
    content: "\e009"
}

.icon-cat-muebles:before {
    content: "\e00a"
}

.icon-map-user:before {
    content: "\e00b"
}

.icon-map-to-phone:before {
    content: "\e00c"
}

.icon-map-switch:before {
    content: "\e00d"
}

.icon-map-road:before {
    content: "\e00e"
}

.icon-map-plus:before {
    content: "\e00f"
}

.icon-map-o:before {
    content: "\e010"
}

.icon-cat-vinos:before {
    content: "\e011"
}

.icon-cat-viajes:before {
    content: "\e012"
}

.icon-map-menu:before {
    content: "\e013"
}

.icon-map-car:before {
    content: "\e014"
}

.icon-cat-salud:before {
    content: "\e015"
}

.icon-cat-renta-autos:before {
    content: "\e016"
}

.icon-map-bus:before {
    content: "\e017"
}

.icon-share:before {
    content: "\e018"
}

.icon-map-plane:before {
    content: "\e019"
}

.icon-map-bike:before {
    content: "\e01a"
}

.icon-map-walk:before {
    content: "\e01b"
}

.icon-map-pin:before {
    content: "\64"
}

.icon-oferta:before {
    content: "\6a"
}

.icon-llama-gratis:before {
    content: "\6c"
}

.icon-superpagina:before {
    content: "\45"
}

.icon-tel:before {
    content: "\36"
}

.icon-tienda:before {
    content: "\28"
}

.icon-web:before {
    content: "\2c"
}

.icon-papel-web:before {
    content: "\5c"
}

.icon-mapa:before {
    content: "\e003"
}

.icon-mail:before {
    content: "\e01c"
}

.icon-check:before {
    content: "\e01d"
}

.icon-sacomtest:before {
    content: "\4f"
}

.icon-24h:before {
    content: "\5f"
}

.icon-back:before {
    content: "\60"
}

.icon-buildings:before {
    content: "\e01e"
}

.icon-gear:before {
    content: "\e01f"
}

.icon-clock:before {
    content: "\e020"
}

.icon-presencia-web:before {
    content: "\e021"
}

.icon-publicidad-digital:before {
    content: "\e022"
}

.icon-money:before {
    content: "\e023"
}

.icon-download:before {
    content: "\e024"
}

.icon-e-commerce:before {
    content: "\e025"
}

.icon-smartphone:before {
    content: "\e026"
}

.icon-user:before {
    content: "\e027"
}

.icon-belleza:before {
    content: "\77"
}

.icon-quecomer:before {
    content: "\e028"
}

.icon-minegocio:before {
    content: "\e029"
}

.icon-tag:before {
    content: "\30"
}

.icon-logout:before {
    content: "\e02a"
}

.icon-farmacias:before {
    content: "\e02b"
}

.icon-florerias:before {
    content: "\e02c"
}

.icon-medicos:before {
    content: "\e02d"
}

.icon-plomeros:before {
    content: "\e02e"
}

.icon-gruas:before {
    content: "\e02f"
}

.icon-cerrajerias:before {
    content: "\e030"
}

.icon-taxis:before {
    content: "\e031"
}

.icon-arrow-right:before {
    content: "\e032"
}

.icon-info:before {
    content: "\e033"
}

.icon-send:before {
    content: "\e034"
}

.header {
    height: 60px;
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    background: #eff1f0;
    z-index: 100;
    padding: 10px
}

.headin {
    position: relative
}

.head-logo {
    display: block;
    width: 203px;
    height: 35px;
    background-size: 203px 35px;
    background-image: url(../Images/logo-seccion-amarilla.svg);
    background-repeat: no-repeat;
    margin-top: 3px
}

.head-menu {
    position: absolute;
    right: 60px;
    top: 12px
}

.head-menu a,
.hint,
.logged,
.logged img {
    position: relative
}

.head-menu a {
    color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.head-menu a,
.logged {
    font-weight: 400;
    display: inline-block;
    margin-right: 20px;
    font-size: .85em;
    border-radius: 5px
}

.logged {
    background: #fd0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.hint,
.hint:after,
.hint:before,
.logged a {
    text-transform: capitalize
}

.logged a {
    font-size: 1em;
    margin-right: 0;
    border-left: 1px solid #fb0;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    color: #000
}

.logged a:hover {
    background: #fc0;
    color: #000
}

.logged img {
    border-radius: 100px;
    height: 24px;
    width: 24px;
    margin-right: 7px;
    top: 6px
}

.hint {
    display: inline-block
}

.hint:after,
.hint:before {
    position: absolute;
    opacity: 0;
    z-index: 1000000;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    pointer-events: none
}

.hint:hover:after,
.hint:hover:before {
    opacity: 1
}

.hint:before {
    content: '';
    background: 0 0;
    border: 6px solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: -14px 0 0 -7px;
    border-bottom-color: rgba(0, 0, 0, .8)
}

.hint:after {
    content: attr(data-hint);
    background: rgba(0, 0, 0, .8);
    color: #fff;
    padding: 8px 10px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .3);
    top: 100%;
    left: 50%;
    margin: -2px 0 0 -45px
}

.hint:hover:before {
    margin-top: -9px;
    margin-left: -7px
}

.hint:hover:after {
    margin-top: 3px
}

.head-menu a.sesion {
    background: #fd0
}

nav ul li a.sesion {
    background: #fd0;
    color: #000;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

nav ul li a.sesion:hover {
    background: #fc0;
    color: #000
}

.navbar-toggle,
nav {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

nav {
    position: fixed;
    z-index: 1100;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
    display: table
}

.nav-hide {
    display: none
}

nav ul {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0!important
}

nav ul li a {
    font-size: 1.5em;
    color: #e2e2e2;
    font-weight: 400;
    display: block;
    padding: 10px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease
}

nav ul li a:hover {
    color: #fd0
}

.navbar-toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    z-index: 1200;
    padding: 20px 15px
}

.bar1,
.bar2,
.bar3 {
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background-color: #000;
    transition: all .3s ease-in-out
}

.navbar-on .bar1,
.navbar-on .bar3 {
    transform-origin: 10% 40%;
    width: 28px;
    background-color: #fd0
}

.navbar-on .bar2 {
    background-color: transparent
}

.navbar-on .bar1 {
    transform: rotate(45deg)
}

.navbar-on .bar3 {
    transform: rotate(-45deg)
}

.search-container {
    width: 100%;
    height: 540px;
    background-image: url(../Images/bg.jpg);
    background-size: cover;
    padding: 20px;
    background-position: center;
    margin-top: 60px
}

.inner {
    max-width: 960px;
    margin: 0 auto
}

.type-wrap {
    background: 0 0;
    border: none;
    border-bottom: 2px solid #fd0;
    width: 100%;
    font-size: 3.2em;
    margin-top: 3.4em;
    color: #fff;
    position: relative;
    height: 66px
}

#typed {
    font-weight: 600;
    margin-top: 0
}

.typed-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 85%
}

input#typefield {
    display: none;
    width: 85%;
    font-weight: 600;
    background: 0 0;
    border: 0;
    outline: 0;
    padding: 0;
    margin-bottom: 2px;
    color: #FD0;
    text-shadow: 0 0 0 #fff;
    -webkit-text-fill-color: transparent
}

input#typefield:-webkit-autofill {
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1000px #000 inset;
    color: #fff;
    -webkit-text-fill-color: #fff!important
}

.typed-cursor {
    position: relative;
    top: -1px;
    opacity: 1;
    -webkit-animation: blink .7s infinite;
    -moz-animation: blink .7s infinite;
    animation: blink .7s infinite;
    color: #fd0;
    font-weight: 700;
    display: inline-block
}

@keyframes blink {
    0%,
    100% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

@-webkit-keyframes blink {
    0%,
    100% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

@-moz-keyframes blink {
    0%,
    100% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

form.main-search {
    width: 100%;
    padding: 0;
    margin: 0
}

a.search-btn,
button.mic-btn,
button.search-btn {
    position: absolute;
    bottom: 10px;
    color: #fd0;
    background-color: transparent;
    border: 0;
    width: 55px;
    height: 55px
}

button.mic-btn {
    z-index: 2;
    display: block;
    right: 70px
}

a.search-btn,
button.search-btn {
    right: 0;
    margin: 0;
    overflow: visible;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    padding: 2px 6px 3px
}

a.search-btn {
    display: block
}

button.search-btn {
    display: none
}

a.search-btn:hover,
button.search-btn:hover {
    cursor: pointer
}

.search-icons {
    display: block;
    width: 100%;
    padding: 20px 0;
    position: relative
}

.src-icon {
    display: inline-block;
    margin-right: 30px;
    color: #fd0!important;
    font-size: 3.5em!important
}

.src-icon.icon-24h {
    right: 0;
    position: absolute;
    margin-right: 0
}

.comienza {
    background: #fd0;
    padding: 20px
}

.sol-1,
.sol-2 {
    padding: 20px 0
}

.comienza img {
    display: block;
    margin: 0 auto 20px
}

.comienza p {
    font-size: 1.2em;
    font-weight: 200;
    max-width: 200px;
    margin: 0 auto
}

.sol-1 img,
.sol-2 h2 {
    margin-top: 30px
}

.sol-1 {
    text-align: right
}

.sol-2 {
    text-align: left
}

.sol-2 h2 {
    font-weight: 400
}

.sol-2 h2 span {
    display: block;
    color: #1693e4
}

.sol-2 p {
    font-size: 1.2em;
    font-weight: 200;
    margin-bottom: 38px
}

.solbtn,
.tsbtn {
    text-align: center;
    font-size: .9em;
    text-transform: uppercase
}

.solbtn {
    background: #fd0;
    color: #000;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

.solbtn,
.tsbtn {
    display: block;
    padding: 10px;
    max-width: 160px;
    border-radius: 5px
}

.tsbtn {
    background: #000;
    color: #fff;
    margin: 20px auto 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

.blog h3,
.recomendaciones h2 {
    text-transform: uppercase;
    margin-bottom: 20px
}

ul.list,
ul.list li a,
ul.list li a:visited {
    color: #1693e4
}

.blog {
    background: #f3f3f3;
    padding: 20px
}

.recomendaciones {
    background: #fff;
    padding: 30px 20px 40px
}

.recomendaciones h2 {
    font-weight: 400;
    font-size: 1.3em;
    width: 100%;
    text-align: center
}

li,
ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    padding-left: 0
}

ul.list {
    font-size: 1em;
    display: block;
    float: left;
    width: 27%
}

ul.list:last-child {
    width: 18%
}

ul.list li a {
    display: block;
    padding: 5px 0;
    font-weight: 300
}

ul.list li a:hover {
    cursor: pointer;
    font-weight: 400
}

.blog h3,
a.blog-title h4 {
    width: 100%;
    text-align: center;
    font-weight: 300
}

ul.list li a span {
    color: #045386;
    position: relative;
    font-size: 1.6em;
    top: 4px;
    margin-right: 8px
}

.blog h3 {
    display: block;
    font-size: 1em;
    position: relative
}

span.rec-icon {
    display: inline-block;
    font-size: 1.8em;
    margin-right: 10px;
    position: relative;
    top: 13px
}

.app,
.app h3,
.app p,
a.app-btn,
a.blog-title,
ul.articles,
ul.articles li {
    display: block
}

.h-orange {
    color: #f15c27!important
}

.h-pink {
    color: #ed237a!important
}

.h-blue {
    color: #2aaae2!important
}

.h-green {
    color: #3db54a!important
}

a.blog-title:hover {
    cursor: pointer
}

a.blog-title {
    background: #fff;
    width: 100%;
    padding: 8px
}

a.blog-title h4 {
    color: #1693e4;
    min-height: 55px;
    margin: 15px 0 7px
}

.blog-img {
    width: 100%;
    overflow: hidden
}

ul.articles {
    width: 100%;
    margin: 20px 0
}

ul.articles li {
    width: 100%;
    border-bottom: 1px solid #b4b4b4;
    font-size: .9em
}

ul.articles li:last-child {
    border-bottom: none
}

ul.articles li a {
    padding: 10px 0;
    display: block;
    width: 100%;
    color: #010101
}

a.callme,
a.callme span {
    color: #4e4e4e;
    position: relative
}

.app {
    width: 100%;
    text-align: center;
    background: #fd0;
    padding: 50px 20px
}

.app h3 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4em
}

.app p {
    width: 100%;
    text-align: center;
    font-weight: 300;
    max-width: 340px;
    margin: 20px auto 0;
    font-size: 1.3em
}

.app-inter {
    padding-top: 40px
}

.ap1 {
    text-align: right
}

.ap2 {
    text-align: left
}

a.callme {
    font-size: 1.8em;
    font-weight: 500;
    margin: 0 auto
}

a.callme span {
    display: inline-block;
    top: 10px;
    margin-right: 10px
}

a.callme span.icon-llamar:before {
    font-size: 40px!important
}

.contactanos {
    padding: 20px
}

p.contus {
    font-size: 1.2em;
    color: #010101;
    text-transform: uppercase;
    font-weight: 400
}

.cl2 {
    text-align: center
}

.noscroll {
    overflow-x: hidden;
    position: fixed
}

.footer {
    background: #303030;
    color: #fff;
    padding: 40px 20px 20px;
    display: table-row;
    height: 1px
}

.f-title,
ul.f-list li a {
    color: #fff;
    display: block;
    width: 100%
}

.infoot {
    max-width: 1020px;
    margin: 0 auto;
    padding: 30px 20px 20px
}

ul.f-list li a {
    padding: 5px;
    font-size: .85em;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    font-weight: 300
}

.f-title {
    border-bottom: 1px solid #aaa;
    font-weight: 500;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: .8em
}

ul.f-list li a:hover {
    color: #fd0
}

.sellos-container {
    max-width: 300px;
    margin: 0 auto;
    position: relative
}

.g-partnersbadge {
    display: block!important;
    width: 97px!important;
    height: 55px!important;
    position: absolute;
    z-index: 1;
    left: 92px;
    top: 2px
}

.g-partnersbadge:hover {
    cursor: pointer
}

.sellos {
    margin: 25px auto;
    display: block
}

.menu-social a,
.social a {
    text-align: center;
    display: inline-block;
    height: 40px;
    width: 40px
}

.menu-social a {
    margin: 10px 5px;
    background: #000;
    color: #fff;
    padding: 8px 0 0;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease
}

.menu-social a:hover {
    color: #fff!important
}

.menu-social a span:before {
    font-size: 25px!important;
    line-height: 25px!important
}

.menu-social a.s-face {
    background: #3b5998
}

.menu-social a.s-twit {
    background: #55acee
}

.menu-social a.s-plus {
    background: #dd4b39
}

.menu-social a.s-you {
    background: #b00
}

.social {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px
}

.social a {
    margin: 5px;
    background: #000;
    color: #fff;
    padding-top: 2px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease
}

.open-chat,
.social a,
ul.h24-list li a {
    transition: .3s ease
}

.social a span:before {
    font-size: 1.5em!important;
    line-height: 1.5em!important
}

.social a.s-face:hover {
    background: #3b5998
}

.social a.s-twit:hover {
    background: #55acee
}

.social a.s-plus:hover {
    background: #dd4b39
}

.social a.s-you:hover {
    background: #b00
}

.scrollToTop {
    width: 60px;
    height: 60px;
    padding: 10px;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    display: none;
    text-align: center
}

.exit-voice-modal:after,
.exit-voice-modal:before {
    content: '';
    border-radius: 200px
}

.scrollToTop span:before {
    color: #fff;
    position: relative;
    top: 5px;
    font-size: 1.7em
}

.voice-modal {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    top: 0;
    left: 0;
    margin-left: 0;
    padding: 20px;
    z-index: 2000
}

.search-modal-toggle,
.voice-modal.voice-modal-off {
    display: none
}

.voice-text {
    color: #fff;
    font-weight: 300;
    text-align: center;
    width: 100%;
    font-size: 1.2em
}

.icon-mic-exit:before {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    z-index: 10;
    font-size: 2em;
    margin-top: -.5em;
    margin-left: -.5em
}

.exit-voice-modal {
    position: fixed;
    left: 50%;
    top: 130px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 80px;
    height: 80px
}

.exit-voice-modal:before {
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    margin-left: -100%;
    margin-top: -100%;
    background-color: #fd0;
    -webkit-animation: pulse-ring 1.25s cubic-bezier(.215, .61, .355, 1) infinite;
    animation: pulse-ring 1.25s cubic-bezier(.215, .61, .355, 1) infinite
}

.exit-voice-modal:after {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f73a27;
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    -webkit-animation: pulse-dot 1.25s cubic-bezier(.455, .03, .515, .955) -.4s infinite;
    animation: pulse-dot 1.25s cubic-bezier(.455, .03, .515, .955) -.4s infinite
}

@-webkit-keyframes pulse-ring {
    0% {
        -webkit-transform: scale(.33);
        transform: scale(.33)
    }
    100%,
    80% {
        opacity: 0
    }
}

@keyframes pulse-ring {
    0% {
        -webkit-transform: scale(.33);
        transform: scale(.33)
    }
    100%,
    80% {
        opacity: 0
    }
}

@-webkit-keyframes pulse-dot {
    0%,
    100% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes pulse-dot {
    0%,
    100% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.easy-autocomplete {
    position: relative;
    width: 100%!important
}

.easy-autocomplete input:focus,
.easy-autocomplete input:hover {
    box-shadow: none
}

.easy-autocomplete a {
    display: block
}

.easy-autocomplete-container {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 67px
}

.easy-autocomplete-container ul {
    background: rgba(0, 0, 0, .7);
    display: none;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
    top: -1px
}

.easy-autocomplete-container ul .eac-category,
.easy-autocomplete-container ul li {
    background: inherit;
    border: none;
    display: block;
    font-size: .7em;
    font-weight: 400;
    padding: 10px 15px
}

.easy-autocomplete-container ul li:last-child {
    border-radius: 0 0 2px 2px;
    border-width: 0 1px 1px
}

.easy-autocomplete-container ul li.selected {
    background: #fd0;
    cursor: pointer;
    color: #000
}

.easy-autocomplete-container ul li.selected div {
    font-weight: 400
}

.easy-autocomplete-container ul li div {
    display: block;
    font-weight: 400;
    word-break: break-all
}

.h24-modal.h24-modal-off {
    display: none
}

.h24-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 3000;
    top: 0;
    left: 0
}

.h24-message-modal {
    display: block;
    width: 760px;
    height: auto;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%)
}

.h24-message-modal-content {
    background: #000;
    border-radius: 5px;
    padding: 40px
}

.h24-message-modal-content h5 {
    color: #fff;
    border-bottom: 1px solid #fd0;
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px
}

.h24-modal-close {
    position: absolute;
    right: 0;
    top: -10px;
    color: #fd0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px
}

ul.h24-list li {
    display: block;
    float: left;
    width: 25%
}

ul.h24-list li a {
    display: block;
    text-align: left;
    padding: 10px 0;
    color: #fff
}

.exit-chat-modal,
.open-chat {
    display: block;
    text-align: center
}

ul.h24-list li a:hover {
    color: #fd0;
    cursor: pointer
}

.open-chat {
    width: 60px;
    height: 60px;
    padding: 10px;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    bottom: 20px;
    right: 90px;
    border-radius: 30px
}

.open-chat span:before {
    color: #fff;
    position: relative;
    top: 7px;
    font-size: 1.7em
}

.open-chat.alert:after {
    content: attr(data-chat);
    display: block;
    background: #F44336;
    width: 22px;
    height: 22px;
    color: #fff;
    font-size: .85em;
    border-radius: 50px;
    top: -2px;
    right: -2px;
    position: absolute;
    padding-top: 3px
}

.chat-modal {
    display: block;
    background: #fff;
    width: 280px;
    height: 360px;
    position: fixed;
    bottom: 20px;
    border-radius: 5px;
    right: 20px;
    padding: 20px;
    z-index: 2000
}

.chat-modal.chat-modal-off {
    display: none
}

.exit-chat-modal {
    width: 30px;
    height: 30px;
    background: #F44336;
    border-radius: 100px;
    color: #fff;
    padding-top: 9px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: .8em
}

.chat-modal-content input {
    display: block;
    width: 100%;
    margin: 5px 0 15px;
    text-align: left;
    padding: 7px;
    font-size: .9em;
    border: 1px solid #bdc3c7;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #fff;
    height: 35px;
    outline: 0
}

.chat-modal-content input:focus {
    border-bottom: 1px solid #fd0
}

.chat-modal-content h5 {
    font-size: .95em;
    text-align: center;
    margin: 0 0 15px
}

.chat-modal-content p {
    font-size: .8em;
    text-align: center
}

.input-icon {
    display: block;
    width: 100%;
    position: relative
}

.input-icon input {
    position: relative;
    top: 0;
    left: 0;
    background: 0 0;
    border: none;
    border-bottom: 1px solid #555;
    padding: 0 0 0 40px;
    border-radius: 0
}

.input-icon span {
    position: absolute;
    top: 7px;
    left: 6px;
    color: #555;
    font-size: 1.1em
}

.chat-modal-content button.c-login {
    background: #fd0;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 0 auto
}

.chat-modal-content button.c-login:hover {
    cursor: pointer;
    background: #fc0
}

a.chat-p {
    display: block;
    width: 100%;
    text-align: center;
    font-size: .8em;
    color: #1693e4
}

.wrapper-dropdown {
    position: relative;
    width: 100%;
    background: #fff;
    color: #000;
    outline: 0;
    cursor: pointer;
    display: block;
    height: 40px;
    padding: 12px;
    font-size: .95em;
    margin-bottom: 15px;
    border-bottom: 1px solid #555
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #000;
    transform: rotate(90deg)
}

.wrapper-dropdown .reg-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    list-style: none;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    max-height: 140px;
    display: none
}

.wrapper-dropdown .reg-dropdown li {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px
}

.chat-s,
.chat-u {
    font-size: .8em;
    padding: 5px 10px;
    color: #000;
    margin-bottom: 5px;
    max-width: 190px
}

.wrapper-dropdown .reg-dropdown li:hover {
    background: #fd0
}

.wrapper-dropdown.active .reg-dropdown {
    opacity: 1;
    pointer-events: auto;
    z-index: 50;
    display: block;
    overflow: auto;
    border: 1px solid #555
}

.wrapper-dropdown.active:after {
    transform: rotate(270deg)
}

.wrapper-dropdown.active {
    background: #fff;
    border: 1px solid #fd0
}

.no-opacity .wrapper-dropdown .dropdown,
.no-pointerevents .wrapper-dropdown .reg-dropdown {
    display: none;
    opacity: 1;
    pointer-events: auto
}

.chat-room,
.chat-s,
.chat-u,
.no-opacity .wrapper-dropdown.active .dropdown,
.no-pointerevents .wrapper-dropdown.active .reg-dropdown {
    display: block
}

.chat-room {
    height: 245px
}

.chat-s {
    float: left;
    border-radius: 10px 10px 10px 0;
    background: #ffef8a
}

.chat-u {
    float: right;
    border-radius: 10px 10px 0;
    background: #ececec
}

.chat-input {
    position: relative
}

.chat-input input {
    font-size: .85em;
    padding-right: 45px
}

.chat-input input:focus {
    border: 1px solid #fd0
}

button.icon-send {
    position: absolute;
    right: 2px;
    top: 5px;
    color: #67737b;
    font-size: 1.2em;
    width: 35px;
    height: 25px;
    text-align: center;
    padding-top: 3px;
    background: 0 0;
    border: 0;
    border-left: 1px solid #bdc3c7
}

.pin,
.shadow {
    border-radius: 50%
}

button.icon-send:hover {
    color: #000
}

button.icon-send:before {
    margin: 0 auto
}

.load-modal.load-modal-off {
    display: none
}

.load-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .9);
    z-index: 1000000000;
    top: 0;
    left: 0
}

.load-modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 600px
}

.city-bg,
.shadow {
    margin: 0 auto;
    position: relative
}

.load-pin1 {
    fill: #3d3d3f
}

.load-pin2 {
    fill: #fd0
}

.pin {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    animation: ball 500ms cubic-bezier(.165, .84, .44, 1) infinite alternate
}

#pin {
    enable-background: new 0 0 250.3 250.3
}

.shadow {
    width: 50px;
    height: 15px;
    background-color: #fd0;
    display: block;
    top: -5px;
    opacity: .2;
    animation: shadow 500ms infinite alternate
}

@keyframes ball {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-120px)
    }
}

@keyframes shadow {
    0% {
        transform: scale(1.1);
        opacity: .6
    }
    100% {
        transform: scale(.5)
    }
}

.rotate-y {
    -webkit-animation: rotate-y 1s linear .2s infinite;
    -moz-animation: rotate-y 1s linear .2s infinite;
    animation: rotate-y 1s linear .2s infinite
}

@-webkit-keyframes rotate-y {
    0% {
        -webkit-transform: rotateY(0)
    }
    100% {
        -webkit-transform: rotateY(360deg)
    }
}

@-moz-keyframes rotate-y {
    0% {
        -moz-transform: rotateY(0)
    }
    100% {
        -moz-transform: rotateY(360deg)
    }
}

@keyframes rotate-y {
    0% {
        transform: rotateY(0)
    }
    100% {
        transform: rotateY(360deg)
    }
}

.city-bg {
    max-width: 600px;
    height: 130px;
    background-image: url(../Images/city.svg);
    background-size: 1511px 130px;
    background-position: 0 0;
    background-repeat: repeat-x;
    -webkit-animation: animatedBackground 15s linear infinite;
    animation: animatedBackground 15s linear infinite;
    top: 65px
}

@-webkit-keyframes animatedBackground {
    from {
        background-position: 0 0
    }
    to {
        background-position: -1511px 0
    }
}

@keyframes animatedBackground {
    from {
        background-position: 0 0
    }
    to {
        background-position: -1511px 0
    }
}

#nebula_div_btn {
    bottom: 0!important;
    left: -1px!important
}

#kampyleFormContainer,
#kampyleFormModal {
    background-color: rgba(0, 0, 0, .85)!important
}

#liveForm .kpl_builder .panel-footer .btn.submit-btn {
    background: #fd0!important;
    color: #000!important
}

#liveForm .kpl_builder .panel-footer .btn.submit-btn:hover {
    background: #fc0!important
}

.adn-home {
    background-image: url(../Images/home-adn-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
}

.adn-home .inner {
    padding: 40px 20px;
    max-width: 1200px;
}

.propd {
    width: 250px;
    height: 240px;
    display: block;
    background-image: url(../Images/propiedades-digitales.png);
    background-repeat: no-repeat;
    background-size: 250px 240px;
    margin: 0 auto;
}

.adn-home h2 {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
}

.adn-home h2 b {
    display: block;
}

.adn-home .row .columns {
    padding: 0 10px;
}

.adn-home p {
    text-align: center;
    font-size: 1.1em;
}

p.adnp {
    font-size: 0.9em;
    margin-bottom: 30px;
}

a.adn-btn {
    display: block;
    border: 0;
    color: #fff;
    background: #006A92;
    font-weight: 500;
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

img.adnh-img {
    display: block;
    margin: 0 auto;
    height: auto;
    margin-bottom: 20px;
}

img.adnh-img2 {
    display: block;
    margin: 0 auto;
    height: auto;
}

@media (max-width: 1060px) and (min-width: 780px) {
    .adn-home .five.columns {
        width: 30.3333333333%;
    }
    .adn-home .four.columns {
        width: 39.6666666667%;
    }
    .adn-home h2 {
        font-size: 1.3em;
    }
    .adn-home p {
        font-size: 1em;
    }
    .adn-home p {
        font-size: 0.9em;
        margin-bottom: 15px;
    }
}

@media (min-width: 780px) {
    img.adnh-img {
        width: 100%;
        margin-top: 50px;
    }
    img.adnh-img2 {
        width: 100%;
    }
}

@media (max-width: 420px) {
    img.adnh-img {
        width: 100%;
    }
    img.adnh-img2 {
        width: 100%;
    }
}

.paketia-icon {
    display: inline-block;
    position: absolute;
    right: 70px;
}

@media (max-width:680px) {
    .paketia-icon img {
        width: 45px;
        height: 45px;
    }
}

@media (max-width:480px) {
    .paketia-icon {
        right: 55px;
    }
    .paketia-icon img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width:410px) {
    .src-icon {
        margin-right: 10px;
    }
    .paketia-icon img {
        width: 35px;
        height: 35px;
    }
    .paketia-icon {
        right: 50px;
        padding-top: 5px;
    }
}

@media (max-width:360px) {
    .paketia-icon {
        right: 40px;
        padding-top: 1px;
    }
}

@media only screen and (min-width:781px) {
    .hidesk {
        display: none!important
    }
}

@media only screen and (min-width:480px) and (max-width:920px) {
    .three.columns.tcol {
        margin-left: 4%
    }
    .columns.acol:first-child,
    .three.columns.tcol:first-child,
    .three.columns.tcol:nth-child(3) {
        margin-left: 0
    }
    .six.columns.acol,
    .three.columns.tcol {
        width: 48%
    }
    .columns.acol {
        margin-left: 4%
    }
}

@media only screen and (max-width:960px) {
    .type-wrap {
        font-size: 3em;
        margin-top: 3em;
        height: 62px
    }
    img.app-img {
        width: 80%;
        height: auto;
        margin: 0 auto
    }
    .app h3 {
        margin-top: 0
    }
    ul.list {
        font-size: .9em
    }
    span.rec-icon {
        font-size: 1.6em;
        top: 10px
    }
    .easy-autocomplete-container {
        top: 63px
    }
    .search-container {
        height: 480px
    }
}

@media only screen and (max-width:780px) {
    .logged {
        margin-right: 0;
        font-size: 1.1em
    }
    .logged span {
        text-transform: capitalize
    }
    .logged a i {
        top: 2px;
        position: relative
    }
    .sol-1,
    .sol-2 {
        text-align: center;
        padding: 20px
    }
    .solbtn {
        margin: 0 auto
    }
    .sol-2 h2 span {
        display: inline-block
    }
    .sol-1 img,
    .sol-2 h2 {
        margin-top: 0
    }
    img.app-img {
        width: 340px;
        height: auto;
        margin-bottom: 30px
    }
    .app-inter {
        padding-top: 20px
    }
    a.app-btn {
        margin-bottom: 10px
    }
    .contactanos {
        text-align: center;
        padding-bottom: 30px
    }
    p.contus {
        font-size: 1.3em
    }
    a.callme {
        font-size: 1.5em
    }
    a.callme span.icon-llamar:before {
        font-size: 35px!important
    }
    nav ul li a {
        font-size: 1.2em
    }
    .head-menu {
        display: none
    }
    .f-title:hover {
        cursor: pointer
    }
    .f-title::after {
        position: relative;
        transition-duration: .3s;
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        float: right;
        content: "+"
    }
    .f-title.active::after {
        transition-duration: .3s;
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1.5)
    }
    ul.f-list {
        margin-bottom: 15px
    }
    .f-title {
        padding: 10px 0 20px
    }
    .blog h3 {
        font-size: 1.4em
    }
    .footer {
        padding-top: 30px
    }
    button.mic-btn {
        bottom: 90px;
        border: 0;
        color: #000;
        right: 20px;
        background: #fd0;
        font-size: 26px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        padding: 0;
        text-align: center;
        width: 60px;
        position: fixed;
        height: 60px;
        z-index: 100
    }
    .exit-voice-modal {
        bottom: 10px;
        right: 10px;
        position: fixed;
        margin-left: 0;
        left: initial;
        transform: initial;
        -webkit-transform: initial;
        top: initial
    }
    .voice-text {
        margin-top: 70px
    }
    button.mic-btn:before {
        position: relative;
        top: 3px;
        font-size: 1.2em
    }
    ul.list,
    ul.list:last-child {
        width: 50%
    }
    .h24-message-modal {
        width: 480px
    }
    .h24-message-modal-content {
        padding: 30px
    }
    ul.h24-list li {
        display: block;
        float: left;
        width: 33%;
        font-size: .95em
    }
    .h24-message-modal-content h5 {
        padding: 0 20px 15px;
        font-size: 1.1em;
        margin-bottom: 15px
    }
    .h24-modal-close {
        right: -10px;
        top: -10px
    }
}

@media only screen and (max-width:680px) {
    .type-wrap {
        font-size: 2.5em;
        margin-top: 2.1em;
        height: 53px
    }
    .src-icon {
        font-size: 3em!important;
        margin-right: 20px
    }
    .search-container {
        height: 460px;
        padding-top: 80px
    }
    p.contus {
        font-size: 1.2em
    }
    .easy-autocomplete-container {
        top: 54px
    }
    a.search-btn,
    button.search-btn {
        bottom: 0
    }
}

@media only screen and (max-width:480px) {
    .src-icon {
        margin-right: 20px;
        font-size: 2.5em!important
    }
    .type-wrap {
        margin-top: 1.1em;
        font-size: 2em;
        height: 43px
    }
    .sol-1 img {
        max-width: 240px;
        height: auto
    }
    img.app-img {
        width: 300px
    }
    .app h3 {
        font-size: 1.2em
    }
    .app p {
        font-size: 1.1em
    }
    p.contus {
        font-size: 1em
    }
    nav ul li a {
        font-size: 1.1em
    }
    .ap1,
    .ap2 {
        text-align: center
    }
    .search-container {
        height: 340px
    }
    a.search-btn,
    button.search-btn {
        right: -2px;
        width: 40px;
        height: 40px;
        bottom: 0
    }
    .easy-autocomplete-container {
        top: 44px
    }
    .logged {
        font-size: 1em
    }
    .h24-message-modal {
        width: 95%
    }
    .h24-message-modal-content {
        padding: 25px
    }
    .h24-message-modal-content h5 {
        padding: 0 20px 10px;
        font-size: 1em;
        margin-bottom: 10px
    }
    ul.h24-list li {
        font-size: .85em
    }
    .social {
        text-align: left;
        margin: 0
    }
    .sellos {
        margin: 10px auto 40px;
        display: block;
        width: 280px;
        height: auto
    }
    .typed-container {
        height: 35px;
        overflow: hidden
    }
}

@media only screen and (max-width:420px) {
    ul.list {
        font-size: .8em
    }
    ul.list li a span {
        margin-right: 5px
    }
    ul.h24-list li {
        width: 50%
    }
    .h24-message-modal-content {
        padding: 20px
    }
    .h24-message-modal-content h5 {
        font-size: .95em
    }
}

@media only screen and (max-width:360px) {
    .src-icon {
        font-size: 2em!important
    }
    .sol-1 img {
        max-width: 180px;
        height: auto
    }
    .sol-1 {
        padding-bottom: 0
    }
    .sol-2 h2 {
        font-size: 1.2em
    }
    .comienza p,
    .sol-2 p {
        font-size: 1em;
        font-weight: 400
    }
    .recomendaciones h2 {
        font-size: 1.1em
    }
    img.app-img {
        width: 90%
    }
    ul.list {
        font-size: .75em;
        font-weight: 400
    }
    .recomendaciones {
        padding: 20px 10px
    }
    .type-wrap {
        font-size: 1.8em;
        height: 39px
    }
    .typed-container,
    input#typefield {
        width: 85%
    }
}

@media only screen and (max-height:420px) {
    nav ul {
        height: 95%;
        overflow: auto;
        display: block;
        margin: 10px 0
    }
}

@media only screen and (max-height:680px) and (max-width:780px) {
    .h24-message-modal {
        top: 0;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        height: 100%
    }
    .h24-message-modal-content {
        height: 100%
    }
    ul.h24-list {
        overflow-y: scroll;
        height: calc(100% - 50px);
        -webkit-overflow-scrolling: touch
    }
}