.carousel-container,
.filtros,
.filtros span,
.list,
.listado,
.listado-banner {
    display: block
}

.filtros span,
.l-logo,
a.llama-gratis {
    text-align: center
}

.filtros,
.l-info,
.l-map,
.l-tel span.icon-tel,
.listado-banner,
a.l-btn span,
a.llama-gratis span:before,
a.vista-mapa span {
    position: relative
}

.organico a.o-hlink:hover,
a.l-btn:hover {
    cursor: pointer
}

a.blog-link,
ul.list a h2 {
    text-decoration: underline
}

.filtros-tipo select,
.filtros-tipo ul li a,
.organico h3,
.pagination ul li a,
ul.list a h2 {
    text-transform: uppercase
}

.filtro-selected:after,
.star00:before,
.star05:before,
.star10:before,
.star15:before,
.star20:before,
.star30:before,
.star35:before,
.star40:before,
.star45:before,
.star50:before {
    font-family: sacomfont
}

.p-description ul,
.p-description ul li {
    list-style-type: disc
}

.listado {
    max-width: 1240px;
    margin: 0 auto;
    padding: 10px 20px 20px
}

.listado .breadcrumbs {
    padding: 0
}

.listado-banner {
    width: 100%;
    margin-bottom: 15px;
    z-index: 1
}

.listado-banner img {
    max-width: 728px;
    display: block;
    margin: 0 auto;
}

.carousel-container {
    width: 100%;
    padding: 30px 60px 20px
}

.filtros {
    background: #eff1f0;
    width: 100%;
    padding: 2px 7px
}

.filtros span {
    font-size: .85em
}

.filtro-title,
.filtros-tipo {
    display: inline-block;
    vertical-align: top
}

.filtro-title {
    margin: 10px 5px;
    font-size: .9em
}

.filtros-tipo ul {
    margin: 0
}

.filtros-tipo ul li {
    display: block;
    font-size: .9em;
    width: 100%
}

.filtros-tipo ul li a {
    display: block;
    padding: 10px;
    background: #fff;
    font-size: .9em;
    color: #000;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease
}

.filtros-tipo ul li a:hover {
    background: #fd0;
    cursor: pointer
}

.filtros-tipo select {
    height: 31px;
    line-height: 31px;
    -webkit-appearance: menulist-button;
    display: block;
    background: #fff;
    border: 0;
    font-size: .7em;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0
}

.list-title h1 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 20px
}

.list-title span {
    color: #555;
    font-size: .9em;
    margin-bottom: 5px;
    display: block
}

.list-title span.do-you-mean {
    color: #e74c3c;
    font-size: 1.2em;
    margin-top: 15px;
    display: block
}

.list-title span.do-you-mean a:visited,
ul.list a h2 {
    color: #0d71ba
}

.list-title span.do-you-mean a {
    color: #0d71ba;
    text-decoration: underline;
    font-style: italic
}

ul.list {
    margin-top: 20px
}

ul.list li {
    border: 1px solid #bdc3c7;
    width: 100%;
    display: block;
    margin-bottom: 20px
}

.l-info {
    padding: 15px
}

ul.list a h2 {
    font-size: 1em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px
}

.three.columns.l-logo {
    width: 17%
}

.six.columns.l-datos {
    width: 55%
}

.logo-link,
a.llama-gratis {
    display: block;
    width: 124px;
    margin: 0 auto 10px
}

.logo-link {
    border: 2px solid #bdc3c7;
    background-image: url(../Images/logo_generico.svg);
    height: 64px;
    background-size: 120px 60px;
    background-repeat: no-repeat;
    background-position: center center
}

a.llama-gratis {
    background: #fd0;
    color: #000;
    font-size: .85em;
    padding: 5px 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

.l-address a,
.l-address a:visited,
.l-categoria-tags a:visited {
    color: #0d71ba
}

a.llama-gratis:hover {
    background: #fc0
}

a.llama-gratis span:before {
    font-size: 1.4em;
    top: 4px;
    margin-right: 5px
}

.l-address {
    font-size: .85em
}

.l-categoria-tags a {
    display: block;
    width: 100%;
    font-size: .8em;
    padding: 10px 0;
    color: #0d71ba
}

.l-product a,
.l-product a:visited {
    color: #e74c3c
}

.l-product a {
    display: block;
    width: 100%;
    font-size: .9em;
    padding: 5px 0
}

.l-product a span.icon-oferta {
    font-size: 1.8em;
    margin-right: 3px;
    top: 6px;
    position: relative
}

.l-product a span.l-precio {
    display: block;
    margin-left: 28px;
    margin-top: 2px
}

.three.columns.rank {
    width: 20%;
    text-align: right
}

.l-plus {
    width: 120px;
    display: block;
    float: right
}

.l-tel {
    display: block;
    width: 100%;
    float: left;
    font-size: 1em;
    padding-bottom: 15px;
    margin-right: 5px;
    padding-top: 10px
}

.l-distance,
a.l-btn {
    display: block;
    float: right
}

.l-tel span.icon-tel {
    font-size: 1.2em;
    top: 3px;
    margin-right: 7px
}

.l-tel a,
.l-tel a:visited {
    color: #000
}

.l-rating {
    width: 100%;
    display: block;
    text-align: center
}

.ratingstars {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    color: #ffd100;
    font-size: 1.5em
}

.star00:before {
    content: "\3e \3e \3e \3e \3e"
}

.star05:before {
    content: "\3f \3e \3e \3e \3e"
}

.star10:before {
    content: "\5d \3e \3e \3e \3e"
}

.star15:before {
    content: "\5d \3f \3e \3e \3e"
}

.star20:before {
    content: "\5d \5d \3e \3e \3e"
}

.star25:before {
    font-family: sacomfont;
    content: "\5d \5d \3f \3e \3e"
}

.star30:before {
    content: "\5d \5d \5d \3e \3e"
}

.star35:before {
    content: "\5d \5d \5d \3f \3e"
}

.star40:before {
    content: "\5d \5d \5d \5d \3e"
}

.star45:before {
    content: "\5d \5d \5d \5d \3f"
}

.star50:before {
    content: "\5d \5d \5d \5d \5d"
}

.r-comments {
    display: block;
    color: #888;
    text-align: center;
    width: 100%;
    font-size: .85em;
    margin-bottom: 10px
}

.l-distance {
    width: 100%;
    text-align: right;
    color: #333;
    font-size: .9em;
    margin: 5px 5px 0 0
}

a.l-btn,
a.l-btn:visited {
    color: #000
}

.l-distance span {
    margin-right: 3px
}

.l-btn-container {
    background: #eff1f0;
    border-top: 1px solid #bdc3c7
}

a.l-btn {
    width: 25%;
    background: #eff1f0;
    padding: 4px 0 10px;
    text-align: center;
    font-size: .85em;
    border-left: 1px solid #bdc3c7;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    height: 100%
}

a.l-btn:nth-child(4) {
    border-left: none
}

a.l-btn:hover {
    background: #fd0
}

a.l-btn span {
    font-size: 1.4em;
    margin-right: 5px;
    top: 4px
}

.l-map {
    text-align: right;
    padding: 8px;
    border: 1px solid #bdc3c7;
    margin-top: 25px
}

#show-map {
    width: 100%;
    height: 300px
}

#show-map iframe {
    pointer-events: none
}

#show-map iframe.clicked {
    pointer-events: auto
}

.gm-style .gm-style-iw {
    text-align: left!important
}

.gm-style .gm-style-iw div div {
    overflow: hidden!important
}

.gm-style .gm-style-iw a {
    color: #0d71ba!important;
    font-weight: 500!important
}

.organico a.o-hlink:visited,
.organico h3,
a.vista-mapa:visited {
    color: #000
}

a.vista-mapa {
    display: block;
    font-size: .85em;
    margin: 10px auto 0;
    padding: 0 5px 8px;
    background: #fff;
    color: #000;
    width: 180px;
    text-align: center;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease
}

a.vista-mapa:hover {
    background: #fd0
}

a.vista-mapa span {
    font-size: 1.5em;
    margin-right: 5px;
    top: 6px
}

.clear {
    clear: both
}

.organico {
    margin-top: 30px;
    display: block
}

.organico h3 {
    font-size: .9em;
    border-bottom: 2px solid #fd0;
    padding-bottom: 5px;
    margin-bottom: 10px
}

.o-dir,
.o-tel {
    font-size: .85em;
    margin-bottom: 0
}

.o-dir {
    margin-top: 5px
}

.o-tel {
    margin-top: 3px
}

.o-dir span,
.o-tel span {
    position: relative;
    font-size: 1.4em
}

.o-dir span {
    top: 4px;
    margin-right: 5px
}

.o-tel span {
    top: 6px
}

.blog h3 {
    display: block;
    width: 100%;
    margin: 26px 0 0;
    padding: 10px;
    background: #303030;
    color: #fff;
    font-size: 1em;
    font-weight: 400
}

a.blog-link,
a.blog-link:visited {
    color: #0e72ba
}

ul.blog-list li {
    padding: 20px 0 10px;
    border-bottom: 1px dashed #303030
}

ul.blog-list .blog-img {
    float: left;
    width: 25%;
    margin-right: 5%;
    text-align: left
}

ul.blog-list .blog-content {
    float: left;
    width: 70%
}

.blog-content h4 {
    margin: 0;
    font-size: .95em
}

.blog-content p {
    margin: 5px 0;
    font-size: .85em
}

a.blog-link {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: right;
    font-size: .9em
}

.pagination {
    width: 100%;
    display: block;
    text-align: center
}

.pagination ul {
    width: 100%;
    position: relative;
    right: 0
}

.pagination li,
.pagination ul {
    list-style: none;
    display: inline;
    padding-left: 0
}

.pagination ul li:hover a {
    color: #303030;
    background-color: #fd0;
    border: 1px solid #fd0
}

.pagination ul li.active a {
    color: #fdfdfd;
    background-color: #303030;
    border: 1px solid #303030
}

.pagination ul li a {
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 8px 13px;
    background: #fff;
    font-size: .9em;
    margin: 0 2px
}

.pagination ul li a.page-next,
.pagination ul li a.page-prev {
    padding: 9px 13px;
    top: 1px;
    position: relative
}

.pricetag {
    white-space: nowrap;
    position: relative;
    displaY: inline-block;
    height: 30px;
    border-radius: 0 5px 5px 0;
    padding: 0 14px 0 15px;
    background: #e74c3c;
    color: #fff;
    border: 0;
    font-size: .9em;
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: 10px
}

.pricetag:before {
    position: absolute;
    content: "\25CF";
    color: #fff;
    font-size: 11px;
    line-height: 0;
    text-indent: 12px;
    left: -14px;
    width: 1px;
    height: 0;
    border-right: 14px solid #e74c3c;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent
}

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.hvr-bounce-in:active,
.hvr-bounce-in:focus,
.hvr-bounce-in:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(.47, 2.02, .31, -.36);
    transition-timing-function: cubic-bezier(.47, 2.02, .31, -.36)
}

.flickity-enabled {
    position: relative
}

.flickity-enabled:focus {
    outline: 0
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%
}

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.flickity-prev-next-button {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 210px;
    background: #fff;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 1px solid #eee
}

.flickity-prev-next-button:hover {
    background: #fff
}

.flickity-prev-next-button:focus {
    outline: 0;
    box-shadow: 0 0 0 5px #09F
}

.flickity-prev-next-button.previous {
    left: -60px
}

.flickity-prev-next-button.next {
    right: -60px
}

.flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px
}

.flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px
}

.flickity-prev-next-button:disabled {
    opacity: .3;
    cursor: auto
}

.flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%
}

.flickity-prev-next-button .arrow {
    fill: #333
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
    display: none
}

.flickity-rtl .flickity-page-dots {
    direction: rtl
}

.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: .25;
    cursor: pointer
}

.flickity-page-dots .dot.is-selected {
    opacity: 1
}

.carousel-cell {
    display: block;
    height: 210px;
    width: 180px;
    padding: 0 10px;
    text-align: center
}

.carousel-cell a {
    border: 1px solid #eff1f0;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px
}

.carousel-cell a:hover {
    border: 1px solid #fd0;
    cursor: pointer
}

.carousel-cell a img {
    height: 100px;
    width: auto
}

.carousel-cell.is-selected a {
    border: 1px solid #bdc3c7
}

.carousel-cell.is-selected a:hover {
    border: 1px solid #fd0
}

h5.c-title {
    color: #000;
    font-size: .85em;
    display: block;
    width: 100%;
    height: 56px;
    padding: 5px 0;
    margin: 0;
    font-weight: 400;
    overflow: hidden
}

.c-img,
.c-img2 {
    display: block;
    background-image: url(../Images/producto_generico.svg);
    margin: 0 auto
}

.c-img {
    height: 100px;
    width: 100px;
    background-size: 100px 100px
}

.c-img2 {
    height: 120px;
    width: 120px;
    background-size: 120px 120px
}

p.c-precio {
    color: #2581be;
    font-size: .9em;
    display: block;
    width: 100%;
    margin: 15px 0 0;
    font-weight: 500
}

.filtro-selected {
    position: relative;
    width: 210px;
    padding: 6px 30px 6px 6px;
    margin: 5px auto;
    background: #fff;
    color: #000;
    outline: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .8em;
    text-align: center;
    height: 27px;
    overflow: hidden;
    line-height: 18px
}

.filtro-selected:after {
    content: "\e000";
    position: absolute;
    right: 11px;
    top: 50%;
    margin-top: -9px;
    color: #e74c3c;
    font-size: .9em
}

.c-mas {
    display: block;
    font-size: 5em;
    padding-top: 23px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    color: #b5b8bb;
    transition: .3s ease
}

.carousel-cell a:hover .c-mas {
    color: #fd0
}

.wrapper-demo {
    margin: 60px 0 0;
    font-weight: 400
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table
}

.wrapper-dropdown {
    position: relative;
    width: 210px;
    padding: 6px 30px 6px 6px;
    margin: 5px auto;
    background: #fff;
    color: #000;
    outline: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .9em;
    vertical-align: top
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #111
}

.wrapper-dropdown .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    list-style: none;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    border: 1px solid #bdc3c7;
    border-top: 1px solid #fd0;
    max-height: 300px;
    display: none
}

.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #111;
    padding: 10px
}

.wrapper-dropdown .dropdown li:hover a {
    background: #fd0
}

.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    z-index: 50;
    display: block
}

.wrapper-dropdown.active:after {
    border-color: #000 transparent;
    border-width: 6px 6px 0;
    margin-top: -3px
}

.wrapper-dropdown.active {
    background: #fff;
    border: 1px solid #fd0;
    padding: 5px 30px 5px 5px
}

.no-opacity .wrapper-dropdown .dropdown,
.no-pointerevents .wrapper-dropdown .dropdown {
    display: none;
    opacity: 1;
    pointer-events: auto
}

.no-opacity .wrapper-dropdown.active .dropdown,
.no-pointerevents .wrapper-dropdown.active .dropdown {
    display: block
}

.email-modal.email-modal-off,
.filtros-toggle,
.llama-modal.llama-modal-off {
    display: none
}

ul.blog-list .blog-img img {
    width: 100%;
    height: auto
}

.email-modal,
.llama-modal {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    z-index: 500
}

.llama-modal .message-modal-content {
    max-width: 360px
}

.modal-close {
    color: #e74c3c;
    display: block;
    height: 40px;
    width: 40px;
    right: 0;
    top: 0;
    position: absolute;
    padding: 10px;
    text-align: center
}

p.llama-help {
    display: block;
    width: 100%;
    font-size: .8em;
    text-align: center;
    margin-bottom: 0
}

.message-modal {
    display: block;
    text-align: center
}

.message-modal-content {
    background: #fff;
    border-radius: 5px
}

.message-modal-content form {
    padding: 0 20px 20px
}

.message-modal-content label {
    display: block;
    width: 100%;
    margin: 5px 0;
    text-align: center;
    font-size: .9em
}

.message-modal-content input,
.message-modal-content select,
.message-modal-content textarea {
    display: block;
    width: 100%;
    margin: 5px 0 15px;
    text-align: left;
    padding: 7px;
    font-size: .9em;
    border: 1px solid #bdc3c7;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #fff;
    height: 35px
}

.message-modal-content textarea {
    height: 60px
}

.message-modal-content h5 {
    margin-top: 0;
    font-size: 1em;
    padding: 10px 40px;
    margin-bottom: 0;
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative
}

.message-modal-content p {
    font-size: .9em;
    margin-top: 0
}

.message-modal-content button,
.msend {
    background: #fd0;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 0 auto
}

.message-modal-content button:hover,
.msend:hover {
    cursor: pointer;
    background: #fc0
}

.red {
    color: #e74c3c;
    font-weight: 700
}

.agree-input {
    float: left;
    display: block;
    width: 25px
}

.agree-input input {
    width: 20px;
    height: 20px;
    margin: 0
}

.agree p {
    font-size: .7em!important;
    width: 88%;
    margin-bottom: 10px;
    display: block;
    float: left;
    margin-top: 0;
    text-align: left
}

.check-radios input {
    display: none;
    visibility: hidden
}

.check-radios label {
    display: block;
    float: left;
    width: 50%;
    transition: .3s ease;
    border: 1px solid #4c8bf3;
    padding: 8px 0;
    text-align: center
}

.input-icon,
.modal-text {
    display: block;
    width: 100%
}

.p-buy a,
.switch-btn {
    text-align: center;
    float: right
}

.check-radios label:hover {
    cursor: pointer
}

.check-radios input[type=radio]:checked+label,
.check-radios input[type=checkbox]:checked+label {
    background: #4d8cf4;
    padding-left: 20px;
    color: #fff
}

.check-radios input[type=radio]:checked+label:before {
    position: absolute;
    content: "\e01d";
    margin-left: -18px;
    font-family: sacomfont;
    margin-top: 2px;
    color: #fff;
    font-size: .9em
}

.input-icon {
    position: relative
}

.input-icon input {
    position: relative;
    top: 0;
    left: 0;
    background: 0 0;
    border: none;
    border-bottom: 1px solid #555;
    padding: 0 0 0 40px;
    border-radius: 0
}

.input-icon span {
    position: absolute;
    top: 7px;
    left: 6px;
    color: #555;
    font-size: 1.1em
}

.modal-text {
    padding: 10px 20px 20px
}

.message-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 320px;
    height: auto;
    -moz-perspective: 600px;
    -webkit-perspective: 600px;
    perspective: 600px;
    background: 0 0;
    box-shadow: none;
    padding: 0
}

.message-modal .back,
.message-modal .front {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #fff;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px
}

.message-modal .front {
    z-index: 900;
    -moz-transform: translate(0, -50%) rotateY(0);
    -ms-transform: translate(0, -50%) rotateY(0);
    -webkit-transform: translate(0, -50%) rotateY(0);
    transform: translate(0, -50%) rotateY(0)
}

.message-modal .back {
    z-index: 800;
    -moz-transform: translate(0, -50%) rotateY(-180deg);
    -ms-transform: translate(0, -50%) rotateY(-180deg);
    -webkit-transform: translate(0, -50%) rotateY(-180deg);
    transform: translate(0, -50%) rotateY(-180deg)
}

.message-modal.flip .front {
    -moz-transform: translate(0, -50%) rotateY(180deg);
    -ms-transform: translate(0, -50%) rotateY(180deg);
    -webkit-transform: translate(0, -50%) rotateY(180deg);
    transform: translate(0, -50%) rotateY(180deg);
    z-index: 900
}

.message-modal.flip .back {
    -moz-transform: translate(0, -50%) rotateY(0);
    -ms-transform: translate(0, -50%) rotateY(0);
    -webkit-transform: translate(0, -50%) rotateY(0);
    transform: translate(0, -50%) rotateY(0);
    z-index: 1000
}

.captcha-container {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 10px
}

.g-recaptcha {
    transform: scale(.8)!important;
    -webkit-transform: scale(.8)!important;
    transform-origin: 0 0!important;
    -webkit-transform-origin: 0 0!important;
    left: 50%;
    position: relative;
    margin-left: -120px!important
}

.rating-check {
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out
}

.message-modal.flip .rating-check {
    opacity: 0
}

.h1-p h1 {
    margin-top: 0
}

h2.product-name {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: capitalize!important
}

.old-price {
    color: #777;
    font-size: .9em
}

.old-price span {
    text-decoration: line-through;
    margin-right: 5px
}

.p-price {
    color: #e74c3c;
    font-size: 1.1em;
    margin-top: 5px
}

.p-buy a {
    display: block;
    padding: 10px;
    background: #fd0;
    max-width: 100px;
    color: #000;
    font-size: .9em;
    margin-top: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

.p-store a,
.p-store a:visited {
    color: #0d71bc
}

.p-buy a:hover {
    background: #fc0;
    cursor: pointer
}

.p-description {
    font-size: .8em
}

.p-description p {
    margin: 0;
    padding-right: 5px;
    max-height: 47px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

.p-description ul li {
    border: 0;
    margin-bottom: 0
}

.product .l-categoria-tags a {
    padding: 5px 0
}

.p-store {
    font-size: .85em
}

.p-store a {
    padding-bottom: 5px;
    display: block
}

.p-store a:hover {
    text-decoration: underline
}

.switch-btn {
    display: block;
    height: 40px;
    width: 40px;
    border: 1px solid #bdc3c7;
    padding-top: 7px;
    font-size: 1.5em;
    color: #333;
    margin-top: 10px
}

.switch-btn.icon-ver-listado:before {
    content: "\35"!important
}

.product-name .icon-tag {
    color: #e74c3c;
    font-size: 1.3em;
    position: relative;
    top: 5px;
    margin-left: 5px
}

@media (min-width:1141px) {
    ul.list.product li {
        float: left;
        width: 49%;
        margin-left: 2%;
        height: 153px
    }
    ul.list.product li:nth-child(2n+1) {
        margin-left: 0
    }
    .three.columns.p-image {
        width: 21.5%
    }
    .three.columns.p-image img {
        width: auto;
        height: 120px;
        margin: 0 auto
    }
    .six.columns.p-datos {
        width: 50.5%
    }
    ul.list.product.mosaico li {
        float: left;
        width: 15.4%;
        height: 380px;
        margin-right: 1.5%;
        margin-left: 0
    }
    ul.list.product.mosaico li h2.product-name {
        margin-top: 5px
    }
    ul.list.product.mosaico li:last-child,
    ul.list.product.mosaico li:nth-child(6n) {
        margin-right: 0
    }
    ul.list.product.mosaico li .three.columns.p-image {
        text-align: center
    }
    ul.list.product.mosaico li .three.columns.p-image img {
        max-width: 120px;
        height: auto;
        margin: 0 auto
    }
    ul.mosaico li .l-info {
        height: 100%!important
    }
    ul.mosaico li .p-description {
        display: none!important
    }
    ul.mosaico li .three.columns.l-logo {
        width: 100%!important
    }
    ul.mosaico li .six.columns,
    ul.mosaico li .three.columns {
        width: 100%!important;
        margin: 0
    }
    ul.mosaico li .rank {
        text-align: left!important
    }
    ul.mosaico li .p-buy {
        position: absolute!important;
        bottom: 15px!important
    }
    ul.mosaico li .p-buy a {
        float: left!important
    }
}

@media (max-width:1140px) {
    .switch-btn {
        display: none!important
    }
    ul.list.product li {
        float: left;
        margin-left: 0;
        margin-right: 1.5%;
        margin-bottom: 1.5%
    }
    .three.columns.p-image {
        width: 100%;
        text-align: center
    }
    .three.columns.p-image img {
        max-width: 120px;
        height: auto
    }
    .six.columns.p-datos {
        width: 100%
    }
    ul.list.product li h2.product-name {
        margin-top: 5px
    }
    ul.list.product li .rank {
        width: 100%;
        text-align: left
    }
    ul.list.product li .p-buy {
        position: absolute;
        bottom: 15px;
        width: 100%
    }
    ul.list.product li .p-buy a {
        float: left
    }
    .p-description {
        display: none
    }
    .l-info {
        height: 100%
    }
}

@media (max-width:1140px) and (min-width:1021px) {
    ul.list.product li {
        width: 15.41%;
        height: 360px
    }
    ul.list.product li:last-child,
    ul.list.product li:nth-child(6n) {
        margin-right: 0
    }
}

@media (max-width:1020px) and (min-width:681px) {
    ul.list.product li {
        width: 23.875%;
        height: 340px;
        font-size: .95em
    }
    ul.list.product li:last-child,
    ul.list.product li:nth-child(4n) {
        margin-right: 0
    }
}

@media (max-width:680px) and (min-width:521px) {
    ul.list.product li {
        width: 32.333%;
        height: 340px;
        font-size: .95em
    }
    ul.list.product li:last-child,
    ul.list.product li:nth-child(3n) {
        margin-right: 0
    }
    .three.columns.p-image img {
        width: 100%!important
    }
}

@media (max-width:520px) and (min-width:361px) {
    ul.list.product li {
        width: 49.25%;
        height: 340px;
        font-size: .95em
    }
    ul.list.product li:last-child,
    ul.list.product li:nth-child(2n) {
        margin-right: 0
    }
    .three.columns.p-image img {
        width: 100%!important
    }
}

@media (max-width:360px) {
    ul.list.product li {
        width: 100%;
        height: auto;
        margin-bottom: 10px
    }
    .three.columns.p-image img {
        width: 100%!important
    }
    ul.list.product li .p-buy {
        position: initial;
        bottom: initial
    }
    .six.columns.p-datos,
    ul.list.product li .rank {
        text-align: center
    }
    ul.list.product li .p-buy a {
        float: none;
        width: 100%;
        display: block;
        margin: 10px auto 0
    }
}

@media only screen and (max-width:1060px) {
    .three.columns.l-logo {
        width: 23%
    }
    .six.columns.l-datos {
        width: 49%
    }
}

@media (min-width:780px) {
    .wrapper-dropdown.active .dropdown {
        max-height: 300px;
        overflow-y: auto
    }
}

@media only screen and (max-width:979px) and (min-width:779px) {
    .pricetag {
        padding: 0 15px
    }
}

@media only screen and (max-width:860px) {
    .three.columns.rank {
        width: 100%;
        text-align: left
    }
    .six.columns.l-datos {
        margin-left: 0;
        width: 100%
    }
    .three.columns.l-logo {
        width: 100%;
        margin-bottom: 5px
    }
    a.logo-link {
        float: left;
        width: 124px;
        height: 64px;
        margin-right: 10px
    }
    .l-distance,
    a.llama-gratis {
        float: right
    }
    .l-plus {
        position: absolute;
        top: 13px;
        left: 150px
    }
    .l-distance {
        top: 60px;
        position: absolute;
        width: 39%;
        margin-left: 50%
    }
    .pagination {
        max-width: 334px;
        float: none;
        padding: 10px 0;
        margin: 20px auto 10px;
        text-align: center
    }
    .pricetag {
        left: 20px;
        margin-top: 15px
    }
    .pricetag-container {
        position: absolute;
        bottom: 20px;
        right: 35px
    }
    .l-product {
        width: 75%
    }
    .wrapper-dropdown {
        width: 100%;
        display: block;
        margin-bottom: 0;
        padding: 6px 30px 6px 6px
    }
    .filtros-tipo {
        display: block;
        width: 100%
    }
    .filtros-tipo.filtros-tipo-off {
        display: none
    }
    .filtros-toggle {
        display: block;
        width: 100%;
        font-size: .9em;
        padding: 5px 0 3px;
        text-align: center
    }
    .filtros-toggle:before {
        display: inline-block;
        font-size: 1.2em;
        position: relative;
        top: 2px;
        margin-right: 4px
    }
    .filtro-title {
        display: none
    }
    .wrapper-dropdown {
        font-size: 1em
    }
    .wrapper-dropdown.active {
        padding: 30px 30px 60px;
        position: fixed;
        z-index: 2000;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .9);
        width: 100%;
        height: 100%;
        border: none
    }
    .wrapper-dropdown.active span {
        display: block;
        z-index: 1000;
        background: #fff;
        width: 100%;
        padding: 10px 0;
        border: 1px solid #fd0;
        position: relative;
        box-sizing: border-box
    }
    .wrapper-dropdown.active span:after {
        font-family: sacomfont;
        content: "\e000";
        color: #f73a27;
        position: absolute;
        right: 12px;
        font-weight: 700;
        top: 11px
    }
    .wrapper-dropdown.active .dropdown {
        opacity: 1;
        pointer-events: auto;
        z-index: 50;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        border-top: none;
        -webkit-overflow-scrolling: touch
    }
    .filtro-selected {
        width: 100%;
        padding: 10px 30px 10px 6px;
        margin: 0 auto;
        background: #fff;
        display: block;
        font-size: .9em;
        height: auto;
        line-height: initial
    }
    .filtro-selected:after {
        margin-top: -6px
    }
    .filtros {
        padding-bottom: 7px
    }
    .wrapper-dropdown .dropdown {
        max-height: initial
    }
}

@media only screen and (max-width:600px) {
    a.l-btn {
        width: 50%;
        font-size: .8em;
        float: right;
        border-right: 0;
        border-left: 0
    }
    .hidem {
        display: none!important
    }
    a.l-btn.mail-btn {
        border-right: 1px solid #bdc3c7
    }
    .l-product {
        width: 70%
    }
}

@media only screen and (max-width:490px) {
    .three.columns.l-logo {
        margin-bottom: 60px
    }
    .l-plus {
        top: 75px;
        float: left;
        margin-top: 10px;
        left: 17px
    }
    .ratingstars {
        margin-bottom: 0
    }
}

@media only screen and (max-width:480px) {
    .flickity-slider {
        margin: 0
    }
    .l-distance {
        display: block
    }
    .pricetag {
        padding: 0 15px
    }
}

@media only screen and (max-width:420px) {
    .flickity-slider {
        margin: 0
    }
    .blog-content h4 {
        font-size: .9em
    }
    .l-product {
        width: 60%
    }
}

@media only screen and (max-width:350px) {
    a.llama-gratis {
        display: block;
        width: 110px;
        font-size: .8em;
        padding: 8px 0 10px
    }
    .pricetag {
        padding: 0 10px
    }
    .flickity-viewport {
        border-left: none;
        border-right: none
    }
}

@-webkit-keyframes loader {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}

@keyframes loader {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}

.l-load {
    overflow: hidden;
    width: 100%;
    margin: 13px 0;
    background: #eff1f0
}

.l-load span {
    display: block;
    -webkit-animation: loader 1.5s ease infinite;
    animation: loader 1.5s ease infinite;
    color: #fff;
    padding: 5px;
    width: 0
}

.ld-yellow span {
    background: #fd0
}

.ld-grey span {
    background: #ddd
}

.ld-red span {
    background: #e74c3c
}

.ld-blue span {
    background: #86c6f5
}

.l-r-load {
    width: 100%;
    height: auto
}

.ld-o-title-bar {
    display: block;
    width: 100%;
    height: 2px;
    background: #fd0
}

.w300 {
    max-width: 300px
}

.w200 {
    max-width: 200px
}

.w100 {
    max-width: 100px
}

.noborder {
    border: 0!important
}

.ld-carousel-container {
    padding: 30px 0 20px
}

.ld-carousel {
    display: block;
    height: 210px;
    width: 100%;
    border: 1px solid transparent
}

.ld-carousel .pin {
    width: 70px!important;
    height: 70px!important;
    animation: ball2 500ms cubic-bezier(.165, .84, .44, 1) infinite alternate!important;
    margin-top: 85px!important
}

@keyframes ball2 {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-50px)
    }
}

.ld-carousel {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='180' height='210' stroke='white'><rect fill='white' stroke='#bdc3c7' stroke-width='1' x='0' y='0' width='90%' height='99%'/></svg>");
    background-size: 180px 210px;
    background-position: 0 0;
    background-repeat: repeat-x;
    -webkit-animation: animatedBackground 15s linear infinite;
    animation: animatedBackground 15s linear infinite
}

.btn-map {
    background: #eff1f0;
    width: 140px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: .85em;
    text-align: left;
    padding: 10px 0 12px 10px;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    height: 45px;
    border: 0;
    outline: 0;
    margin: 10px auto 0
}

.btn-map:hover {
    background: #fd0;
    cursor: pointer
}

.btn-map span {
    margin-right: 10px;
    font-size: 1.4em;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    position: relative;
    top: 2px
}

.mapa-modal.mapa-modal-off {
    display: none
}

.mapa-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    z-index: 500;
    top: 0;
    left: 0
}

.map-modal-content {
    padding: 0 20px 20px;
    width: 100%;
    display: block
}

.btn-m-app {
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
    line-height: 0;
    padding: 13px 0 13px 60px;
    text-align: left
}

.btn-m-app:first-child {
    border-top: none
}

.btn-m-app img {
    margin-right: 13px
}

.btn-m-app span {
    position: relative;
    top: -12px;
    color: #000
}

.btn-m-app:visited span {
    color: #000
}

.filtro-mobile,
.l-mobile,
a.gomap-top {
    display: none
}

@media (max-width:680px) {
    .l-mobile-btn,
    a.gomap-top {
        text-align: center;
        color: #000
    }
    a.logo-link {
        width: 82px;
        height: 43px;
        border: 1px solid #bdc3c7;
        background-size: 80px 41px
    }
    a.logo-link img {
        width: 80px;
        height: 41px
    }
    ul.list li {
        border: none;
        margin-bottom: 15px;
        border-bottom: 1px solid #bdc3c7;
        padding-bottom: 10px
    }
    .l-info {
        padding: 0 0 10px
    }
    .l-product {
        display: none
    }
    .do-you-mean,
    .l-btn-container,
    .l-categoria-tags,
    .l-distance,
    .l-tel,
    .list-title span,
    .llama-gratis,
    .pricetag-container,
    .r-comments {
        display: none!important
    }
    .l-mobile,
    .l-mobile-btn,
    a.gomap-top {
        display: block
    }
    .list-title h1 {
        font-size: 1em;
        margin-top: 9px;
        height: 1.1em;
        overflow: hidden
    }
    .l-plus {
        top: 46px;
        float: left;
        left: 0;
        margin-top: 0;
        width: 82px
    }
    .ratingstars {
        font-size: 1em
    }
    .three.columns.l-logo {
        width: 85px;
        float: left;
        margin-bottom: 0
    }
    .six.columns.l-datos {
        margin-left: 5px;
        width: calc(100% - 90px)
    }
    ul.list a h2 {
        font-size: .9em;
        margin-bottom: 5px;
        max-height: 2.4em;
        overflow: hidden
    }
    .l-address {
        font-size: .8em;
        max-height: 1.2em;
        overflow: hidden
    }
    .filtros {
        padding-bottom: 4px
    }
    .listado-banner {
        margin-bottom: 0
    }
    .l-mobile-btn {
        width: 40px;
        height: 40px;
        background: #eff1f0;
        float: right;
        font-size: .8em;
        padding: 7px 0;
        margin-right: 7px;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px
    }
    .filtros-toggle,
    a.gomap-top {
        padding: 9px;
        float: left;
        width: 50%
    }
    .l-mobile-btn:last-child {
        border-right: none
    }
    .l-mobile-btn i {
        font-size: 1.3em;
        top: 5px;
        position: relative
    }
    .filtros-toggle {
        border-right: 1px solid #dadada
    }
    a.gomap-top {
        font-size: .9em
    }
    .filtros {
        padding: 0
    }
    .filtros-tipo {
        padding: 0 5px 5px
    }
    .filtros-toggle i,
    a.gomap-top i {
        position: relative;
        top: 1px;
        margin-right: 4px
    }
    .l-map {
        display: none!important
    }
    .filtro-mobile {
        display: block
    }
    .mbtn-tel {
        background: #fd0
    }
}

@media (max-width:380px) {
    .listado {
        padding: 10px 10px 20px
    }
}