.footer {
    display: none !important;
}

.content-maps {
    display: block;
    width: 100%;
    height: calc(100% - 60px);
    height: -o-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    position: absolute;
    top: 0;
    padding-top: 60px;
}

.content-maps .breadcrumbs {
    padding: 0 !important;
}

.back-to-list {
    display: block;
    padding: 5px;
    background: #eff1f0;
    font-size: 0.85em;
    border-radius: 4px;
    width: 150px;
    transition: 0.3 ease;
    -webkit-transition: 0.3 ease;
    -moz-transition: 0.3 ease;
}

.back-to-list span {
    font-size: 0.8em;
    margin-right: 5px;
}

.back-to-list:hover {
    background: #ffdd00;
}

.map-list {
    float: left;
    display: block;
    height: 100%;
    width: 30%;
    overflow: auto;
    padding: 0 20px 20px 20px;
    position: absolute;
    background: #fff;
    -webkit-overflow-scrolling: touch;
}

.map-full {
    display: block;
    height: 100% !important;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.map-full iframe {
    height: 100% !important;
    width: 100% !important;
    border: 0;
    margin: 0;
    padding: 0;
}

.map-road {
    display: block;
    height: 100% !important;
    width: 70%;
    position: absolute;
    margin: 0 0 0 30%;
    padding: 0;
}

.map-road iframe {
    height: 100% !important;
    width: 100% !important;
    border: 0;
    margin: 0;
    padding: 0;
}

.list-title h1 {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 0;
}

.list-title span {
    color: #555;
    font-size: 0.8em;
    margin-bottom: 5px;
    display: block;
}

.list-title span.do-you-mean {
    color: #e74c3c;
    font-size: 1em;
    margin-top: 15px;
    display: block;
}

.list-title span.do-you-mean a {
    color: #0d71ba;
    text-decoration: underline;
    font-style: italic;
}

.list-title span.do-you-mean a:visited {
    color: #0d71ba;
}

ul.map-list-results {
    width: 100%;
    padding: 10px 0;
}

ul.map-list-results li {
    display: block;
    width: 100%;
    border: 1px solid #bdc3c7;
    margin-bottom: 20px;
    position: relative;
}

ul.map-list-results li.active {
    border: 2px solid #ffdd00 !important;
}

.map-l-info {
    padding: 10px;
}

ul.map-list-results li h2 {
    color: #0d71ba;
    font-weight: 400;
    font-size: 1em;
    margin-top: 0;
    text-decoration: underline;
    padding-right: 20px;
}

.m-dir {
    font-size: 0.85em;
    margin: 3px 0;
}

.m-tel {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    margin-top: 15px;
}

.m-tel span {
    margin: 5px;
}

.map-l-btn {
    display: block;
    float: right;
    width: 50%;
    background: #eff1f0;
    padding: 4px 0 10px;
    text-align: center;
    font-size: .85em;
}

.map-l-btn-full {
    display: block;
    float: right;
    width: 100%;
    background: #eff1f0;
    padding: 4px 0 10px;
    text-align: center;
    font-size: .85em;
}

.map-l-btn:first-child {
    border-left: 1px solid #fff;
}

.map-l-btn span.icon-tel,
.map-l-btn span.icon-llegar,
.map-l-btn-full span.icon-tel,
.map-l-btn-full span.icon-llegar {
    font-size: 1.2em;
    margin-right: 5px;
    top: 3px;
    position: relative;
}

.map-l-btn:hover,
.map-l-btn-full:hover {
    background: #ffdd00;
}

.map-l-btn.como-llegar-toggle:hover,
.map-l-btn-full.como-llegar-toggle:hover {
    background: #ffdd00;
    color: #000;
}

.como-llegar-toggle.active {
    background: #303030;
    color: #fff;
}

.llegar-wrap:before {
    content: "";
    display: table;
    clear: both;
}

.llegar-wrap {
    display: none;
}

.llegar-content {
    padding: 10px;
}

.llegar-buttons {
    border-top: 1px solid #ccc;
    background: #008eff;
    color: #fff;
}

.llegar-buttons input {
    display: none;
}

.llegar-buttons label {
    float: left;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    font-size: 1.1em;
    background: #008eff;
}

.llegar-buttons [id^="tab"]:checked + label {
    background: #0079da;
}

.llegar-buttons label.active {
    background: #0079da;
}

#tab-road:checked ~ #content-road,
#tab-walk:checked ~ #content-walk,
#tab-car:checked ~ #content-car,
#tab-bus:checked ~ #content-bus,
#tab-bike:checked ~ #content-bike,
#tab-plane:checked ~ #content-plane {
    display: block;
    padding: 20px;
    background: #fff;
    color: #999;
    border-bottom: 2px solid #f0f0f0;
}

.tab_container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: #fff;
}

.tab_container input,
.tab_container section {
    clear: both;
    display: none;
}

.tab_container label {
    font-weight: 700;
    font-size: 18px;
    display: block;
    float: left;
    width: 25%;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #303030;
    height: 40px;
    font-size: 1.3em;
    padding-top: 8px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6 {
    display: block;
    background: #fff;
    color: #999;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}

.tab_container .tab-content h3 {
    text-align: center;
}

.tab_container [id^="tab"]:checked + label {
    color: #ffdd00;
}

.tab_container [id^="tab"]:checked + label .fa {
    color: #0CE;
}

label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}

.search-place {
    position: relative;
}

.searchbox {
    display: block;
    width: 100%;
    background: #303030;
    padding: 15px 45px 0px 45px;
}

.searchbox:last-child {
    padding: 10px 45px 15px 45px;
}

.searchbox input {
    display: block !important;
    width: 100%;
    border: 0;
    background: transparent;
    padding: 10px;
    height: 40px;
    font-size: 0.9em;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-weight: 300;
    border-radius: 0;
    -webkit-appearance: none;
}

.searchbox input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.searchbox input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.searchbox input:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.searchbox input:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.search-place-icons {
    display: block;
    width: 45px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 25px;
}

.search-place-icons span {
    display: block;
    color: #eff1f0;
    margin-bottom: 7px;
}

.search-place-icons span.icon-map-pin {
    font-size: 1.3em;
}

.search-place a.icon-search,
.search-place a.icon-map-switch {
    display: block;
    width: 45px;
    position: absolute;
    right: 0;
    top: 0;
    color: #eff1f0;
    text-align: center;
    height: 60px;
    font-size: 1.3em;
}

.search-place a.icon-search {
    top: 0;
    padding-top: 25px;
}

.search-place a.icon-map-switch {
    top: 60px;
    padding-top: 18px;
    transition: 0.3s ease;
}

.search-place a.icon-search:hover,
.search-place a.icon-map-switch:hover {
    color: #ffdd00;
}

.send-to-phone {
    padding: 10px 0;
}

.dir-to-phone {
    float: left;
    display: block;
    width: 83.33%;
    text-align: left;
    color: #0d71ba;
    font-size: 0.8em;
    text-decoration: underline;
    padding-right: 15px;
}

.road-direction {
    padding: 10px 0;
    border-top: 1px solid #ccc;
}

.road-direction.active {
    border-left: 3px solid #ffdd00;
}

.dir-icon {
    float: left;
    display: block;
    width: 16.66%;
    text-align: center;
    color: #303030;
    font-size: 1.2em;
}

.dir-street {
    float: left;
    display: block;
    width: 58.34%;
    font-size: 0.9em;
    color: #000;
    padding-right: 15px;
}

.dir-street span,
.dir-distance span {
    display: block;
    color: #888;
    font-size: 0.9em;
    margin-top: 5px;
    font-weight: 400;
}

.dir-distance {
    float: left;
    display: block;
    width: 25%;
    font-size: 0.9em;
    color: #e74c3c;
    text-align: right;
    padding-right: 15px;
    font-weight: 500;
}

span.dir-detalle {
    display: none;
    font-size: 0.8em;
    color: #0d71ba;
    margin-top: 10px;
    font-weight: 500;
}

.road-direction.active .dir-street span.dir-detalle {
    display: block;
}

.dir-street i {
    color: #303030;
    font-size: 1.2em;
    margin-right: 5px;
}

.dir-street i.icon-page-right {
    font-size: 0.9em;
    position: relative;
    top: -1px;
    color: #888;
}

i.map-bus-line {
    background: #e74d3d;
    color: #fff;
    padding: 2px 5px;
    display: inline-block;
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    position: relative;
    top: -2px;
}


/*Content Animation*/

@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.no_wrap {
    text-align: center;
    color: #0ce;
}

.link {
    text-align: center;
}


/*Pagination*/

.pagination {
    width: 100%;
    display: block;
    text-align: center;
    float: left;
}

.pagination ul {
    width: 100%;
    position: relative;
    right: 0;
}

.pagination ul,
.pagination li {
    list-style: none;
    display: inline;
    padding-left: 0px;
}

.pagination ul li:hover a {
    color: #303030;
    background-color: #ffdd00;
    border: solid 1px #ffdd00;
}

.pagination ul li.active a {
    color: #fdfdfd;
    background-color: #303030;
    border: solid 1px #303030;
}

.pagination ul li a {
    border: solid 1px #d7d7d7;
    border-radius: 3px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 8px 13px;
    background: #ffffff;
    font-size: 0.9em;
    margin: 0 2px;
}

.pagination ul li a.page-prev,
.pagination ul li a.page-next {
    padding: 9px 13px;
    top: 1px;
    position: relative;
}


/*Llama gratis*/

.llama-modal.llama-modal-off {
    display: none;
}

.llama-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 500;
    top: 0;
    left: 0;
}

.llama-modal .message-modal-content {
    max-width: 360px;
}

.modal-close {
    color: #e74c3c;
    text-align: right;
    display: block;
    height: 40px;
    width: 40px;
    right: 0;
    top: 0;
    position: absolute;
    padding: 10px;
    text-align: center;
}

p.llama-help {
    display: block;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 0;
}

.message-modal {
    display: block;
    width: 360px;
    height: auto;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.message-modal-content {
    background: #fff;
    border-radius: 5px;
}

.message-modal-content form {
    padding: 0 20px 20px 20px;
}

.message-modal-content label {
    display: block;
    width: 100%;
    margin: 5px 0;
    text-align: left;
    font-size: 0.9em;
}

.message-modal-content input,
.message-modal-content textarea,
.message-modal-content select {
    display: block;
    width: 100%;
    margin: 5px 0 15px 0;
    text-align: left;
    padding: 7px;
    font-size: 0.9em;
    border: 1px solid #bdc3c7;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #fff;
    height: 35px;
}

.message-modal-content textarea {
    height: 60px;
}

.message-modal-content button {
    background: #ffdd00;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
    padding: 10px;
    width: 140px;
}

.message-modal-content button:hover {
    cursor: pointer;
    background: #fc0;
}

.message-modal-content h5 {
    margin-top: 0;
    font-size: 1em;
    padding: 10px 40px;
    margin-bottom: 0;
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

.message-modal-content p {
    font-size: 0.9em;
    margin-top: 0;
}

.message-modal-content button,
.msend {
    background: #ffdd00;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 0 auto;
}

.message-modal-content button:hover,
.msend:hover {
    cursor: pointer;
    background: #fc0;
}

.modal-text {
    width: 100%;
    display: block;
    padding: 10px 20px 20px 20px;
}

.red {
    color: #e74c3c;
    font-weight: bold;
}

.check-radios input {
    display: none;
    visibility: hidden;
}

.check-radios label {
    display: block;
    float: left;
    width: 50%;
    transition: 0.3s ease;
    border: 1px solid #4c8bf3;
    padding: 8px 0;
    text-align: center;
}

.check-radios label:hover {
    cursor: pointer;
}

.check-radios input[type="radio"]:checked + label,
.check-radios input[type="checkbox"]:checked + label {
    background: #4d8cf4;
    padding-left: 20px;
    color: #fff;
}

.check-radios input[type="radio"]:checked + label:before {
    position: absolute;
    content: "\e01d";
    margin-left: -18px;
    font-family: 'sacomfont';
    margin-top: 2px;
    color: #fff;
    font-size: 0.9em;
}

.input-icon {
    display: block;
    width: 100%;
    position: relative;
}

.input-icon input {
    position: relative;
    top: 0;
    left: 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #555;
    padding: 0 0 0 40px;
    border-radius: 0;
}

.input-icon span {
    position: absolute;
    top: 7px;
    left: 6px;
    color: #555;
    font-size: 0.9em;
}


/*Flip*/

.message-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 320px;
    height: auto;
    -moz-perspective: 600px;
    -webkit-perspective: 600px;
    perspective: 600px;
    background: transparent;
    box-shadow: none;
    padding: 0;
}

.message-modal .front,
.message-modal .back {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background-color: #fff;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.message-modal .front {
    z-index: 900;
    -moz-transform: translate(0%, -50%) rotateY(0deg);
    -ms-transform: translate(0%, -50%) rotateY(0deg);
    -webkit-transform: translate(0%, -50%) rotateY(0deg);
    transform: translate(0%, -50%) rotateY(0deg);
}

.message-modal .back {
    z-index: 800;
    -moz-transform: translate(0%, -50%) rotateY(-180deg);
    -ms-transform: translate(0%, -50%) rotateY(-180deg);
    -webkit-transform: translate(0%, -50%) rotateY(-180deg);
    transform: translate(0%, -50%) rotateY(-180deg);
}

.message-modal.flip .front {
    -moz-transform: translate(0%, -50%) rotateY(180deg);
    -ms-transform: translate(0%, -50%) rotateY(180deg);
    -webkit-transform: translate(0%, -50%) rotateY(180deg);
    transform: translate(0%, -50%) rotateY(180deg);
    z-index: 900;
}

.message-modal.flip .back {
    -moz-transform: translate(0%, -50%) rotateY(0deg);
    -ms-transform: translate(0%, -50%) rotateY(0deg);
    -webkit-transform: translate(0%, -50%) rotateY(0deg);
    transform: translate(0%, -50%) rotateY(0deg);
    z-index: 1000;
}

.captcha-container {
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 10px;
}

.g-recaptcha {
    transform: scale(0.8) !important;
    -webkit-transform: scale(0.8) !important;
    transform-origin: 0 0 !important;
    -webkit-transform-origin: 0 0 !important;
    left: 50%;
    position: relative;
    margin-left: -120px !important;
}

.rating-check {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
}

.message-modal.flip .rating-check {
    opacity: 0;
}


/*Mapa API*/

.adp,
.adp table,
.adp-list {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #2c2c2c !important;
}

.adp-list {
    border: 0 !important;
}

.adp-list li {
    margin-bottom: 0 !important;
    border: 0 !important;
    border-top: 1px solid #bdc3c7 !important;
    font-size: 0.85em !important;
    padding: 8px !important;
}

.adp,
.adp table {
    font-weight: 400 !important;
    background: #fff !important;
    font-size: .9em !important;
}

.adp b,
.adp-list b {
    font-weight: 500 !important;
}

.warnbox-content {
    background: #fff1a8 !important;
    padding: 5px 6px !important;
}

.warnbox-c1,
.warnbox-c2 {
    background: #fff1a8 !important;
    font-size: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
}

.warnbox-c1 {
    margin: 0 2px !important;
}

.warnbox-c2 {
    margin: 0 1px !important;
}

.adp-list {
    background: #fff !important;
    cursor: pointer !important;
    font-weight: 400 !important;
    padding: 0 !important;
}

.adp-fullwidth {
    width: 100% !important;
    font-size: .85em !important;
    border-spacing: 0 !important;
    border-bottom: 2px solid #303030;
}

.adp-fullwidth td {
    padding: 8px !important;
    border-top: 1px solid #cdcdcd;
}

.adp-listsel {
    background: #acd1ff !important;
    text-decoration: none !important;
}

.adp-listheader {
    padding: 4px !important;
    font-size: 1.1em !important;
    color: #0d71ba !important;
}

.adp-placemark {
    background: #fff !important;
    border: 0 !important;
    border-bottom: 1px solid #bdc3c7 !important;
    border-top: 1px solid #bdc3c7 !important;
    color: #000 !important;
    cursor: pointer !important;
    margin: 0 !important;
    vertical-align: middle !important;
    padding: 5px !important;
}

img.adp-marker {
    width: 22px !important;
    height: 40px !important;
}

.adp-details,
.adp-legal {
    color: #676767 !important;
}

.adp-summary {
    padding: 10px !important;
    font-size: .9em !important;
    color: #e74c3c !important;
}

.adp-step,
.adp-substep {
    border-top: 1px solid #cdcdcd !important;
    margin: 0 !important;
    padding: 5px !important;
    vertical-align: top !important;
}

.adp-list img,
.adp-substep img {
    width: 15px !important;
    height: 15px !important;
    position: relative !important;
    top: 2px !important;
    margin-right: 3px !important;
}

.adp-distance {
    white-space: nowrap;
}

.adp-step,
.adp-text {
    width: 100% !important;
    padding-left: 8px !important;
}

.adp-directions {
    cursor: pointer !important;
    border-collapse: collapse !important;
}

.adp-list .gm-arrow {
    width: 8px !important;
    height: 9px !important;
    margin: 5px 0 3px !important;
}

.adp-summary-duration {
    float: right !important;
    margin-left: 7px !important;
    white-space: nowrap !important;
}

.adp-substep .gm-line {
    margin-right: 4px !important;
}

.adp-substep .adp-stepicon {
    overflow: hidden !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    width: 16px !important;
    height: 16px !important;
}

.adp-substep .adp-stepicon .adp-maneuver {
    background-size: 19px 630px;
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/maneuvers.png)
}

.adp-substep .adp-stepicon .adp-maneuver.adp-ferry {
    background-position: 0 -614px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-ferry-train {
    background-position: 0 -566px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-merge {
    background-position: 0 -143px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-straight {
    background-position: 0 -534px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-fork-left {
    background-position: 0 -550px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-ramp-left {
    background-position: 0 -598px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-roundabout-left {
    background-position: 0 -197px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-keep-left,
.adp-substep .adp-stepicon .adp-maneuver.adp-turn-left {
    background-position: 0 -413px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-turn-sharp-left {
    background-position: 0 0
}

.adp-substep .adp-stepicon .adp-maneuver.adp-turn-slight-left {
    background-position: 0 -378px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-uturn-left {
    background-position: 0 -305px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-fork-right {
    background-position: 0 -499px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-ramp-right {
    background-position: 0 -429px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-roundabout-right {
    background-position: 0 -232px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-keep-right,
.adp-substep .adp-stepicon .adp-maneuver.adp-turn-right {
    background-position: 0 -483px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-turn-sharp-right {
    background-position: 0 -582px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-turn-slight-right {
    background-position: 0 -51px
}

.adp-substep .adp-stepicon .adp-maneuver.adp-uturn-right {
    background-position: 0 -35px
}

.adp-details,
.adp-legal,
.warnbox-content,
.adp-agencies,
.adp-warnbox {
    display: none !important;
}

.adp-directions a {
    color: #0d71ba !important;
}


/*Responsive*/

@media only screen and (max-width: 1080px) {
    .map-road {
        width: 60%;
        margin-left: 40%;
    }
    .map-list {
        width: 40%;
    }
}

@media only screen and (max-width: 760px) {
    .map-road {
        width: 50%;
        margin-left: 50%;
    }
    .map-list {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .dir-street {
        width: 53.34%;
    }
    .dir-distance {
        width: 30%;
    }
    .back-to-list {
        margin-left: 10px;
    }
    .map-road {
        width: 40%;
        margin-left: 60%;
    }
    .map-list {
        width: 60%;
    }
    .m-tel,
    .m-tel span,
    .m-dir span:nth-child(3),
    .m-dir span:nth-child(4),
    .m-dir span:nth-child(5),
    .m-dir span:nth-child(6),
    .m-dir span:nth-child(7),
    .m-dir span:nth-child(8),
    .m-dir span:nth-child(9) {
        display: none;
    }
    .map-l-btn:first-child {
        border-left: 1px solid #fff;
        display: none;
    }
    .map-l-btn,
    .map-l-btn-full {
        float: initial;
        width: 45px;
        padding: 0;
        position: absolute;
        top: 0;
        height: 100%;
        right: 0;
        text-align: center;
    }
    .map-l-btn span.icon-llegar,
    .map-l-btn-full span.icon-llegar {
        font-size: 1.5em;
        margin-right: 0;
        position: relative;
        top: 23px;
    }
    .cmll-text {
        display: none;
    }
    .map-l-info {
        padding-right: 55px;
    }
    .map-list {
        padding: 0 0 10px 0;
    }
    .list-title {
        padding: 10px 10px 0 10px;
    }
    ul.map-list-results li {
        margin-bottom: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
    ul.map-list-results li:first-child {
        border-top: 1px solid #bdc3c7;
    }
    .pagination {
        padding: 0 10px;
    }
    .breadcrumbs {
        display: none;
    }
    a.llama-modal-toggle {
        display: none;
    }
}

@media only screen and (max-width: 540px) {
    .map-road {
        display: block;
        position: relative;
        width: 100%;
        height: 140px !important;
        margin-left: 0;
    }
    .map-list {
        width: 100%;
        display: block;
        position: absolute;
        height: calc(100% - 140px);
        height: -o-calc(100% - 140px);
        height: -webkit-calc(100% - 140px);
        height: -moz-calc(100% - 140px);
    }
}


/*Filtros*/


/*Filtro Select*/

.wrapper-demo {
    margin: 60px 0 0 0;
    *zoom: 1;
    font-weight: 400;
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}

.wrapper-dropdown {
    position: relative;
    width: 210px;
    padding: 6px 30px 6px 6px;
    margin: 5px auto;
    background: #fff;
    color: #000;
    outline: none;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    vertical-align: top;
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #111;
}

.wrapper-dropdown .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    list-style: none;
    font-weight: normal;
    opacity: 0;
    pointer-events: none;
    border: 1px solid #bdc3c7;
    border-top: 1px solid #ffdd00;
    max-height: 300px;
    display: none;
}

.wrapper-dropdown .dropdown li a {
    display: block;
    text-decoration: none;
    color: #111;
    padding: 10px;
}

.wrapper-dropdown .dropdown li:hover a {
    background: #ffdd00;
}

.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    z-index: 50;
    display: block;
}

.wrapper-dropdown.active:after {
    border-color: #000 transparent;
    border-width: 6px 6px 0 6px;
    margin-top: -3px;
}

.wrapper-dropdown.active {
    background: #fff;
    border: 1px solid #ffdd00;
    padding: 5px 30px 5px 5px;
}

.no-opacity .wrapper-dropdown .dropdown,
.no-pointerevents .wrapper-dropdown .dropdown {
    display: none;
    opacity: 1;
    pointer-events: auto;
}

.no-opacity .wrapper-dropdown.active .dropdown,
.no-pointerevents .wrapper-dropdown.active .dropdown {
    display: block;
}

.red {
    color: #e74c3c;
    font-weight: bold;
}

.wrapper-dropdown {
    width: 100%;
    display: block;
    margin-bottom: 0;
    padding: 6px 30px 6px 6px;
}

.filtros-tipo {
    display: block;
    width: 100%;
    padding: 0 5px 5px 5px;
}

.filtros-tipo.filtros-tipo-off {
    display: none;
}

.filtros-toggle {
    display: block;
    width: 50%;
    font-size: .9em;
    padding: 5px 0 3px;
    text-align: center;
    float: left;
    border-right: 1px solid #dadada;
}

.filtros-toggle:before {
    display: inline-block;
    font-size: 1.2em;
    position: relative;
    top: 2px;
    margin-right: 4px;
}

.filtro-title {
    display: none;
}

.wrapper-dropdown {
    font-size: 0.85em;
}

.filtro-selected {
    width: 100%;
    padding: 10px 30px 10px 6px;
    margin: 0px auto;
    background: #fff;
    display: block;
    font-size: 0.9em;
    height: auto;
    line-height: initial;
}

.filtro-selected:after {
    margin-top: -6px;
}

.wrapper-dropdown .dropdown {
    max-height: initial;
}

a.gomap-top {
    text-align: center;
    font-size: 0.9em;
    color: #000;
    padding: 5px;
    float: left;
    width: 50%;
    display: block;
}

.filtros {
    background: #eff1f0;
    display: block;
    margin-top: 10px;
}

a.gomap-top i,
.filtros-toggle i {
    position: relative;
    top: 1px;
    margin-right: 4px;
}

@media (min-width: 780px) {
    .wrapper-dropdown.active .dropdown {
        max-height: 300px;
        overflow-y: auto;
    }
}

@media (max-width: 779px) {
    .wrapper-dropdown.active .dropdown {
        max-height: 150px;
        overflow-y: auto;
    }
}