/*Normalize*/

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: table;
    width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

template,
[hidden] {
    display: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}

a:active,
a:hover {
    outline-width: 0;
}

a:hover {
    cursor: pointer;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}

optgroup {
    font-weight: bold;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

textarea,
input {
    outline: none;
}


/*Skeleton*/

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.one-third.column {
    width: 30.6666666667%;
}

.two-thirds.column {
    width: 65.3333333333%;
}

.one-half.column {
    width: 48%;
    margin-left: 2%;
}


/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}


/* For devices larger than 550px */

@media (min-width: 780px) {
    .container {
        width: 80%;
    }
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}

.clear {
    clear: both;
}
/*Iconos*/

@font-face {
    font-family: "sacomfont";
    src: url("../Fonts/sacomfont.eot");
    src: url("../Fonts/sacomfont.eot?#iefix") format("embedded-opentype"), url("../Fonts/sacomfont.woff") format("woff"), url("../Fonts/sacomfont.ttf") format("truetype"), url("../Fonts/sacomfont.svg#sacomfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "sacomfont" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "sacomfont" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {
    content: "\63";
}

.icon-paypal:before {
    content: "\6b";
}

.icon-youtube:before {
    content: "\6d";
}

.icon-facebook-places:before {
    content: "\6e";
}

.icon-location:before {
    content: "\6f";
}

.icon-play:before {
    content: "\70";
}

.icon-plus-circled:before {
    content: "\72";
}

.icon-right-dir:before {
    content: "\74";
}

.icon-twitter:before {
    content: "\75";
}

.icon-vimeo:before {
    content: "\76";
}

.icon-facebook-alt:before {
    content: "\77";
}

.icon-rss:before {
    content: "\78";
}

.icon-youtube-alt:before {
    content: "\7a";
}

.icon-floppy:before {
    content: "\41";
}

.icon-map:before {
    content: "\42";
}

.icon-reply-mail:before {
    content: "\44";
}

.icon-zoom-in:before {
    content: "\46";
}

.icon-zoom-out:before {
    content: "\47";
}

.icon-globe-world:before {
    content: "\48";
}

.icon-polaroid:before {
    content: "\49";
}

.icon-angle-double-right:before {
    content: "\4b";
}

.icon-attention:before {
    content: "\4e";
}

.icon-check:before {
    content: "\4f";
}

.icon-chevron-down:before {
    content: "\50";
}

.icon-thumbs-down:before {
    content: "\52";
}

.icon-chevron-up:before {
    content: "\53";
}

.icon-plus:before {
    content: "\56";
}

.icon-envelope:before {
    content: "\57";
}

.icon-whatsapp:before {
    content: "\58";
}

.icon-facebook:before {
    content: "\59";
}

.icon-tag:before {
    content: "\30";
}

.icon-ojosacom:before {
    content: "\31";
}

.icon-carritosacom:before {
    content: "\32";
}

.icon-heart:before {
    content: "\33";
}

.icon-heart-empty:before {
    content: "\34";
}

.icon-ver-listado:before {
    content: "\35";
}

.icon-ver-mosaico:before {
    content: "\37";
}

.icon-letramin:before {
    content: "\38";
}

.icon-font:before {
    content: "\39";
}

.icon-letramax:before {
    content: "\21";
}

.icon-menumania:before {
    content: "\22";
}

.icon-otros:before {
    content: "\23";
}

.icon-three-bars:before {
    content: "\24";
}

.icon-thumbs-up:before {
    content: "\26";
}

.icon-viajes:before {
    content: "\27";
}

.icon-salud:before {
    content: "\2a";
}

.icon-restaurante:before {
    content: "\2b";
}

.icon-distancia:before {
    content: "\2d";
}

.icon-quehacer:before {
    content: "\2e";
}

.icon-llamar:before {
    content: "\2f";
}

.icon-search:before {
    content: "\3a";
}

.icon-bubbles-talk:before {
    content: "\3b";
}

.icon-hotel:before {
    content: "\3c";
}

.icon-hospital:before {
    content: "\3d";
}

.icon-star-outline:before {
    content: "\3e";
}

.icon-star-half:before {
    content: "\3f";
}

.icon-escuela:before {
    content: "\40";
}

.icon-busqueda:before {
    content: "\5b";
}

.icon-star-full:before {
    content: "\5d";
}

.icon-filtros:before {
    content: "\5e";
}

.icon-belleza:before {
    content: "\5f";
}

.icon-24h:before {
    content: "\60";
}

.icon-seccionamarilla:before {
    content: "\7b";
}

.icon-mic:before {
    content: "\62";
}

.icon-right:before {
    content: "\51";
}

.icon-left:before {
    content: "\7c";
}

.icon-page-left:before {
    content: "\7d";
}

.icon-page-right:before {
    content: "\7e";
}

.icon-close:before {
    content: "\e000";
}

.icon-mic-exit:before {
    content: "\e001";
}

.icon-more-info:before {
    content: "\61";
}

.icon-oferta:before {
    content: "\64";
}

.icon-anuncio:before {
    content: "\65";
}

.icon-descargar:before {
    content: "\66";
}

.icon-facebook-text:before {
    content: "\67";
}

.icon-franquicias:before {
    content: "\68";
}

.icon-google-plus:before {
    content: "\69";
}

.icon-papel-web:before {
    content: "\6a";
}

.icon-pin-off:before {
    content: "\73";
}

.icon-pin-on:before {
    content: "\43";
}

.icon-llama-gratis:before {
    content: "\45";
}

.icon-llegar:before {
    content: "\4d";
}

.icon-print:before {
    content: "\54";
}

.icon-resena:before {
    content: "\55";
}

.icon-mail:before {
    content: "\36";
}

.icon-reserva:before {
    content: "\25";
}

.icon-mapa:before {
    content: "\28";
}

.icon-menu:before {
    content: "\29";
}

.icon-tienda:before {
    content: "\5c";
}

.icon-superpagina:before {
    content: "\e003";
}

.icon-sms:before {
    content: "\e004";
}

.icon-web:before {
    content: "\2c";
}

.icon-tel:before {
    content: "\6c";
}


/*Main*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    height: 60px;
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 10px;
    text-align: center;
}

.head-logo {
    display: block;
    width: 203px;
    height: 35px;
    background-size: 203px 35px;
    background-image: url(../Images/logo-seccion-amarilla.svg);
    background-repeat: no-repeat;
    margin-top: 3px;
}



.footer {
    background: #303030;
    color: #ffffff;
    padding: 20px;
    padding-top: 40px;
    display: table-row;
    height: 1px;
}

.infoot {
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 30px;
}


.content {
    width: 100%;
    display: block;
    height: auto;
    padding-top: 60px;
}

.hide {
    display: none;
}



/*Iniciar Sesion*/

.sesion-modal {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: #191919;
    top: 0;
    left: 0;
    margin-left: 0;
    padding: 20px;
}

.sesion-modal.sesion-modal-off {
    display: none;
}

.exit-sesion-modal {
    position: fixed;
    top: 22px;
    right: 20px;
    color: #ffdd00;
    font-size: 1.4em;
}

.sesion-modal-content {
    display: block;
    max-width: 840px;
    height: auto;
    text-align: center;
    position: relative;
    padding: 50px 20px;
    margin: 0 auto;
}

.sesion-modal-content h1 {
    color: #ffdd00;
    font-weight: 500;
    text-align: center;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 20px;
}

.sesion-modal-content p {
    color: #fff;
    font-size: 0.85em;
    margin-top: 0;
}

button.sesion-facebook {
    display: block;
    width: 100%;
    color: #fff;
    background: #3b5998;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 40px;
    border: 0;
}

button.sesion-facebook img {
    height: 18px;
    margin-left: 5px;
    position: relative;
    top: 1px;
}

button.sesion-google {
    display: block;
    width: 100%;
    color: #fff;
    background: #dd4b39;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 40px;
    border: 0;
}

button.sesion-google img {
    height: 18px;
    margin: 0 34px;
    position: relative;
    top: 1px;
}

.sesion-o {
    display: block;
    border-top: 1px solid #fff;
    margin: 20px 0 10px 0;
    position: relative;
}

.sesion-o span {
    display: block;
    color: #fff;
    margin: 0 auto;
    position: relative;
    top: -11px;
    background: #191919;
    height: 15px;
    width: 30px;
}

.sesion-modal-content form {
    text-align: left;
}

.sesion-modal-content input,
.sesion-modal-content select {
    color: #fff;
    background: #555;
    text-align: left;
    padding: 10px;
    width: 100%;
    display: block;
    border: 0;
    font-size: 0.95em;
    margin-bottom: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    height: 40px;
}

.sesion-modal-content select option {
    background: #fff;
}

.sesion-modal-content input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.sesion-modal-content input:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.sesion-modal-content input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.sesion-modal-content input:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.sesion-modal-content input:focus::-webkit-input-placeholder {
    opacity: 0.3;
}

.sesion-modal-content button.login-btn {
    color: #000;
    background: #ffdd00;
    border: 0;
    padding: 10px 30px;
    font-size: 0.9em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 20px;
}

.sesion-modal-content button.login-btn:hover {
    background: #fc0;
    cursor: pointer;
}

p.pass-info {
    margin: 0;
    font-size: 0.8em;
}

p.sesion-help {
    color: #fff;
    font-size: 0.8em;
    text-align: left;
    margin-top: 10px;
    display: block;
}

p.sesion-help a {
    color: #fd0;
}

img.sesion-img {
    margin-top: 70px;
    width: 100%;
    height: auto;
}

.seven.columns.sesion-image-container {
    width: 50%;
    margin-left: 10%;
}

.error {
    border: 2px solid #e74c3c !important;
}

.form-col-6 {
    float: left;
    width: 48.5%;
    margin-left: 3%;
}

.form-col-6:first-child {
    margin-left: 0;
}

.form-col-4 {
    float: left;
    width: 31.5%;
    margin-left: 2.75%;
}

.form-col-4:first-child {
    margin-left: 0;
}


/*Registro Dropdown*/

.wrapper-reg-dropdown {
    position: relative;
    width: 100%;
    background: #555;
    color: #fff;
    outline: none;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    border-radius: 3px;
    padding: 12px;
    font-size: 0.95em;
}

.wrapper-reg-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;
    transform: rotate(90deg);
}

.wrapper-reg-dropdown .reg-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #555;
    list-style: none;
    font-weight: normal;
    opacity: 0;
    pointer-events: none;
    max-height: 140px;
    display: none;
}

.wrapper-reg-dropdown .reg-dropdown li {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.wrapper-reg-dropdown .reg-dropdown li:hover {
    background: #191919;
}

.wrapper-reg-dropdown.active .reg-dropdown {
    opacity: 1;
    pointer-events: auto;
    z-index: 50;
    display: block;
    overflow: auto;
}

.wrapper-reg-dropdown.active:after {
    transform: rotate(270deg);
}

.wrapper-reg-dropdown.active {
    background: #555;
}

.no-opacity .wrapper-reg-dropdown .dropdown,
.no-pointerevents .wrapper-reg-dropdown .reg-dropdown {
    display: none;
    opacity: 1;
    pointer-events: auto;
}

.no-opacity .wrapper-reg-dropdown.active .dropdown,
.no-pointerevents .wrapper-reg-dropdown.active .reg-dropdown {
    display: block;
}

.error-text {
    display: block !important;
    width: 100% !important;
    text-align: center !important;
    font-size: 0.9em !important;
    color: #e74c3c !important;
    margin: 10px 0 !important;
}

.noscroll {
    overflow: hidden;
    position: fixed;
}

.bottom20 {
    margin-bottom: 20px !important;
}

.top40 {
    margin-top: 40px !important;
}

.reg-title {
    margin: 20px 0 10px !important;
}


/*Responsive*/

@media only screen and (max-width: 1060px) {
    .head-search {
        margin-left: -170px;
    }
}

@media only screen and (max-width: 860px) {
    .head-search {
        width: 400px;
        margin-left: -120px;
    }
}

@media only screen and (min-width: 781px) {
    .hidesk {
        display: none !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 920px) {
    .three.columns.tcol {
        margin-left: 4%;
    }
    .three.columns.tcol:first-child {
        margin-left: 0;
    }
    .three.columns.tcol:nth-child(3) {
        margin-left: 0;
    }
    .three.columns.tcol {
        width: 48%;
    }
    .six.columns.acol {
        width: 48%;
    }
    .columns.acol:first-child {
        margin-left: 0;
    }
    .columns.acol {
        margin-left: 4%;
    }
}

@media only screen and (max-width: 780px) {
    nav ul li a {
        font-size: 1.2em;
    }
    .head-menu {
        display: none;
    }
    li.f-title:hover {
        cursor: pointer;
    }
    li.f-title::after {
        position: relative;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        float: right;
        content: "+";
    }
    li.f-title.active::after {
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -webkit-transform: rotate(-45deg);
        /* Safari */
        -moz-transform: rotate(-45deg);
        /* Firefox */
        -ms-transform: rotate(-45deg);
        /* IE */
        -o-transform: rotate(-45deg);
        /* Opera */
        filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1.5);
        /* Internet Explorer */
    }
    ul.f-list {
        margin-bottom: 15px;
    }
    li.f-title {
        padding: 20px 0;
    }
    .footer {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 779px) {
    .seven.columns.sesion-image-container {
        display: none;
    }
    .sesion-modal-content {
        max-width: 360px;
    }
}

@media only screen and (max-width: 720px) {
    .head-search {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.9);
        top: 0;
        left: 0;
        margin-left: 0;
        padding: 20px;
        z-index: 1000;
    }
    .head-search.search-modal-off {
        display: none !important;
    }
    .search-modal-toggle {
        display: block;
        position: fixed;
        right: 60px;
        top: 0;
        font-size: 1.5em;
        z-index: 150;
        width: 60px;
        height: 60px;
        padding: 17px;
    }
    button.mic-btn {
        position: fixed;
        bottom: 20px;
        border: 0;
        color: #000000;
        right: 20px;
        width: 60px;
        height: 60px;
        background: #ffdd00;
        font-size: 26px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        padding: 0;
        text-align: center;
    }
    .head-search form {
        position: relative;
        margin-top: 70px;
        width: 100%;
    }
    .head-search input#search,
    .head-search input#typed {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #ffdd00;
        position: relative;
        right: 0;
        font-size: 1.3em;
        padding-right: 0;
        color: #ffffff;
        -webkit-appearance: none;
        border-radius: 0;
        padding: 0;
        padding-right: 35px;
        padding-left: 15px;
        padding-bottom: 5px;
    }
    button.head-search-btn {
        position: absolute;
        right: 0;
        border: 0;
        background: 0 0;
        color: #fd0;
        bottom: 5px;
        padding: 0;
        height: 30px;
        width: 30px;
        display: block;
        font-size: 1.3em;
    }
    .exit-search-modal,
    .close-all {
        display: block;
        color: #ffdd00;
        font-size: 1.3em;
        position: absolute;
        right: 5px;
        top: 0;
        width: 60px;
        height: 60px;
        padding: 20px 0;
        text-align: center;
    }
    .exit-voice-modal {
        bottom: 10px;
        right: 10px;
        position: fixed;
        margin-left: 0;
        left: initial;
        transform: initial;
        -webkit-transform: initial;
        top: initial;
    }
    .easy-autocomplete-container ul {
        background: none;
        border-top: none;
    }
    .easy-autocomplete-container ul li,
    .easy-autocomplete-container ul .eac-category {
        color: #fff;
    }
    .easy-autocomplete-container {
        top: 32px;
    }
    .easy-autocomplete-container ul li.selected {
        color: #000;
    }
    .voice-text {
        margin-top: 70px;
    }
    button.mic-btn:before {
        position: relative;
        top: 3px;
    }
    .breadcrumbs {
        padding: 0;
    }
}

@media only screen and (max-width: 480px) {
    .breadcrumbs {
        display: none;
    }
    nav ul li a {
        font-size: 1em;
    }
    .social {
        max-width: 100%;
        text-align: left;
    }
}

@media only screen and (max-width: 360px) {
    .navbar-toggle {
        width: 50px;
        padding: 20px 10px;
    }
    .search-modal-toggle {
        width: 50px;
        padding: 18px 12px;
        right: 50px;
    }
    .sesion-modal-content {
        padding: 0 10px;
    }
    .sesion-modal-content p {
        font-size: 0.8em;
    }
}

@media only screen and (max-height: 580px) {
    .sesion-modal-content {
        transform: initial;
        -webkit-transform: initial;
        -moz-transform: initial;
        overflow: auto;
        height: 100%;
        left: initial;
        top: initial;
        margin: 0 auto;
        margin-top: 0;
        padding: 10px;
    }
}

@media only screen and (max-height: 420px) {
    nav ul {
        height: 95%;
        overflow: auto;
        display: block;
        margin: 10px 0;
    }
}