.header,
.heading,
span.term {
    text-align: center
}

body,
html {
    height: 100%
}

progress,
sub,
sup {
    vertical-align: baseline
}

.modal__inner,
svg:not(:root) {
    overflow: hidden
}

button,
hr,
input {
    overflow: visible
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

*,
.column,
.columns,
.container,
:after,
:before,
legend {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    display: table;
    width: 100%;
    background: #eff1f0;
    font-family: Roboto, Helvetica, sans-serif
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none
}

a:active,
a:hover {
    outline-width: 0
}

a:hover {
    cursor: pointer
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: 700
}

button,
select {
    text-transform: none
}

.add-email p.mail-title,
.heading h1,
.login-head,
.thankyou h2,
a.sesion-btn,
table.tytable td {
    text-transform: uppercase
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

input,
textarea {
    outline: 0
}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px
}

.column,
.columns {
    width: 100%;
    float: left
}

.one-third.column {
    width: 30.6666666667%
}

.two-thirds.column {
    width: 65.3333333333%
}

.one-half.column {
    width: 48%
}

@media only screen and (max-width:580px) {
    .ml4 {
        margin-left: 4%
    }
}

@media only screen and (min-width:400px) {
    .container {
        width: 85%;
        padding: 0
    }
}

@media only screen and (min-width:581px) {
    .container {
        width: 80%
    }
    .column,
    .columns {
        margin-left: 4%
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%
    }
    .two.columns {
        width: 13.3333333333%
    }
    .three.columns {
        width: 22%
    }
    .four.columns {
        width: 30.6666666667%
    }
    .five.columns {
        width: 39.3333333333%
    }
    .six.columns {
        width: 48%
    }
    .seven.columns {
        width: 56.6666666667%
    }
    .eight.columns {
        width: 65.3333333333%
    }
    .nine.columns {
        width: 74%
    }
    .ten.columns {
        width: 82.6666666667%
    }
    .eleven.columns {
        width: 91.3333333333%
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0
    }
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both
}

.clear {
    clear: both
}

.header {
    height: 63px;
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 10px;
    border-bottom: 3px solid #eff1f0
}

.head-logo {
    display: block;
    width: 203px;
    height: 35px;
    background-size: 203px 35px;
    background-image: url(../Images/logo-seccion-amarilla.svg);
    background-repeat: no-repeat;
    margin-top: 3px;
    position: absolute;
    left: 10px;
    float: left
}

.date,
.footer-print,
.header-print {
    display: none
}

.center-logo {
    float: initial!important;
    left: 50%!important;
    margin-left: -101px!important
}

a.sesion-btn {
    display: block;
    position: absolute;
    margin-top: 2px;
    right: 10px;
    font-size: .85em;
    font-weight: 400;
    padding: 10px;
    color: #000;
    background: #fd0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}

.input-container,
.login-container {
    position: relative
}

a.sesion-btn:hover {
    background: #fc0;
    cursor: pointer
}

.footer {
    background: #303030;
    color: #fff;
    padding: 40px 20px 20px;
    display: table-row;
    height: 1px
}

.infoot {
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px 10px
}

.content,
.content-inn {
    max-width: 1060px;
    background: #fff;
    display: block
}

.content {
    width: 100%;
    height: auto;
    padding: 40px 30px;
    margin: 90px auto 30px
}

.content-inn {
    padding: 20px 0;
    margin: 0
}

.heading {
    display: block;
    width: 100%
}

.heading h1 {
    font-size: 24px;
    margin: 10px 0 0;
    font-weight: 700;
    color: #4d4d4d;
    letter-spacing: 1px
}

.heading p {
    font-size: 18px;
    margin-top: 5px;
    color: #4d4d4d;
    font-weight: 300;
    margin-bottom: 30px
}

.login-head,
span.login-term {
    font-size: 14px;
    text-align: center
}

.login-container {
    display: block;
    max-width: 400px;
    margin: 0 auto
}

.login-head {
    background: #fff0b8;
    color: #1d72be;
    padding: 10px
}

.login-content,
.login-head {
    display: block;
    border: 2px solid #e6e6e6
}

.login-content {
    padding: 40px;
    color: #ccc
}

span.login-term {
    margin-top: 15px;
    text-decoration: none;
    width: 100%;
    display: block;
    color: #878787
}

.input-container input,
span.term {
    font-size: 16px;
    width: 100%;
    display: block
}

span.login-term label {
    text-decoration: none!important
}

span.term {
    text-decoration: none;
    color: #fff!important
}

span.term label {
    text-decoration: none!important
}

a.chat-btn,
span.chattxt {
    text-decoration: none;
    position: absolute
}

.input-container input {
    height: 45px;
    margin-bottom: 20px;
    border: 1px solid #8d8d8d;
    font-weight: 400;
    padding: 0 0 0 50px;
    color: #4d4d4d
}

.icon-contract,
.icon-phone,
.icon-user {
    position: absolute;
    background-size: 25px 25px;
    display: block;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    top: 10px;
    left: 13px
}

.check-text,
.p-btn-container,
.pago table,
.y-alert,
.y-alert span {
    position: relative
}

.icon-user {
    background-image: url(../Images/user.svg)
}

.icon-phone {
    background-image: url(../Images/phone.svg)
}

.icon-contract {
    background-image: url(../Images/contract.svg)
}

.login-content form button {
    height: 45px;
    display: block;
    width: 100%;
    background: #fd0;
    color: #4d4d4d;
    border: none;
    font-size: 18px;
    line-height: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

.login-content form button:hover {
    background: #fc0;
    cursor: pointer
}

a.chat-btn {
    display: block;
    height: 40px;
    width: 140px;
    background: #fd0;
    bottom: 92px;
    right: -90px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

a.chat-btn:hover {
    background: #fc0
}

span.chaticon {
    height: 30px;
    width: 30px;
    background-image: url(../Images/chat.svg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 4px 8px 0 13px
}

span.chattxt {
    font-weight: 400;
    font-size: 14px;
    color: #4d4d4d;
    line-height: 14px;
    display: inline-block;
    max-width: 70px;
    margin-top: 5px;
    text-align: right
}

.client-info p b,
.foot-text {
    text-align: center;
    display: block
}

.foot-text {
    margin: 30px auto 0;
    width: 100%
}

p.ft1 {
    display: block;
    font-size: 18px;
    color: #4d4d4d;
    margin-bottom: 10px
}

p.ft2 {
    font-size: 24px;
    color: #4d4d4d;
    font-weight: 300;
    margin-top: 0
}

.client-info {
    margin-top: 20px;
    color: #4d4d4d
}

.client-info h2 {
    font-size: 18px;
    margin-bottom: 10px
}

.client-info p {
    font-size: 14px;
    line-height: 18px
}

.client-info p b {
    background: #4d4d4d;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
    margin-top: 5px;
    max-width: 160px
}

.y-alert {
    display: block;
    float: left;
    width: 80%
}

.y-alert span {
    display: block;
    width: 100%;
    background: #fff0b8;
    font-size: 13px;
    padding: 10px;
    top: 130px;
    text-align: center
}

.y-alert span a {
    color: #000;
    font-weight: 700
}

.p-btn-container {
    display: block;
    float: left;
    width: 20%
}

.num,
td.monto input {
    text-align: right
}

.row {
    padding: 0 15px
}

.top-yellow {
    border-top: 2px solid #fd0
}

.pago table {
    width: 100%
}

.pago table th {
    padding: 10px;
    font-size: 14px;
    border-bottom: 2px solid #000
}

.pago table td {
    padding: 15px;
    font-size: 14px;
    border-bottom: 1px solid #ccc
}

td.monto {
    max-width: 120px
}

td.monto input {
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #a8a8a8;
    padding: 5px 10px
}

.pago table tbody tr:nth-last-child(2) td,
tr.total td {
    border-bottom: none
}

td.fecha-pago {
    text-align: center;
    color: #0079e0;
    white-space: nowrap
}

.alignright {
    text-align: right
}

.add-email,
.fact h4,
.main h2,
.main label.tab-menu,
.thankyou p span.bold,
[data-tooltip]:before {
    text-align: center
}

tr.total td {
    background: #fff0b8!important;
    border-top: 2px solid #fd0;
    font-size: 15px
}

.add-email {
    display: block;
    width: 100%;
    margin-top: 50px;
    font-weight: 300
}

.add-email p {
    font-size: 18px
}

.add-email p.mail-title {
    color: #0079e0;
    font-size: 16px;
    font-weight: 400
}

.add-email table {
    border: none;
    width: 350px;
    margin: 0 auto
}

.add-email table input {
    border: 1px solid #a8a8a8;
    padding: 10px;
    width: 100%;
    font-weight: 400
}

a.add-btn,
a.remove-btn {
    color: #fff;
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-weight: 700;
    display: block;
    font-size: 18px;
    margin-left: 10px
}

.add-email table td {
    padding: 5px 0
}

a.add-btn {
    background: #0079e0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

a.add-btn:hover {
    cursor: pointer;
    background: #0162b5
}

a.remove-btn {
    background: #F44336;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px
}

a.remove-btn:hover {
    cursor: pointer;
    background: #da2e21
}

.fact {
    padding: 20px
}

.main {
    max-width: 800px;
    padding: 20px 0;
    margin: 20px auto 0
}

.main h2 {
    width: 100%;
    font-size: 21px
}

.main .tab-content {
    display: none;
    padding: 20px;
    border-top: 5px solid #fd0
}

.main input[name=tabs] {
    display: none
}

.main label.tab-menu {
    display: inline-block;
    margin: 0 -4px 0 0;
    padding: 15px;
    font-weight: 400;
    color: #A5ABAF;
    width: 25%;
    font-size: 15px;
    background: #ccc
}

.main label.tab-menu:hover {
    color: #888;
    cursor: pointer
}

.main input:checked+label.tab-menu {
    color: #0E202C;
    border: 2px solid #fd0;
    background: #fff;
    border-bottom: 0
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
    display: block
}

.fact h3,
.tab-content h3 {
    font-size: 18px;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400
}

.fact .row,
.tab-content .row {
    max-width: 500px;
    margin: 0 auto;
    padding: 5px 0
}

.fact .row label,
.tab-content .row label {
    width: 100%;
    text-align: right;
    line-height: 2.5em;
    display: block
}

.fact select,
.tab-content select {
    padding: 0 0 0 10px;
    -webkit-appearance: menulist-button;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 5px
}

.fact input,
.fact select,
.tab-content input,
.tab-content select {
    border: 1px solid #a8a8a8;
    background: #fff;
    width: 100%;
    height: 40px
}

.fact input,
.tab-content input {
    padding: 0 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 5px
}

.check-text {
    display: block;
    max-width: 340px;
    font-size: 15px;
    margin: 0 auto 20px
}

.check-text input {
    position: absolute;
    width: 15px;
    height: 15px;
    display: block;
    top: 0;
    left: 0;
    padding: 0!important
}

.check-text span {
    position: relative;
    margin-left: 25px;
    top: 0;
    right: 0;
    line-height: 18px;
    display: block;
    width: auto
}

.check-text span a {
    color: #0079e0
}

.tooltip {
    color: #000;
    font-style: normal;
    display: inline-block;
    font-size: 12px;
    background: #fd0;
    padding: 3px 7px;
    margin-left: 5px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -wekit-border-radius: 20px
}

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer
}

[data-tooltip]:after,
[data-tooltip]:before {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none
}

[data-tooltip]:before {
    position: absolute;
    bottom: 130%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -70px;
    padding: 7px;
    width: 140px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, .9);
    color: #fff;
    content: attr(data-tooltip);
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400
}

[data-tooltip]:after {
    position: absolute;
    bottom: 130%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, .9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0
}

[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1
}

input.cvv {
    max-width: 80px
}

.total-pago {
    max-width: 320px!important;
    background: #fff0b8;
    padding: 10px!important;
    margin-top: 30px!important;
    display: block!important;
    margin: 0 auto
}

button.continuar-pago {
    height: 45px;
    display: block;
    width: 240px;
    background: #fd0;
    color: #4d4d4d;
    border: none;
    font-size: 18px;
    line-height: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 30px auto 0
}

button.continuar-pago:hover {
    background: #fc0;
    cursor: pointer
}

.hide {
    display: none
}

.fact,
.show {
    display: block
}

.fact {
    max-width: 500px;
    margin: 20px auto;
    border-top: 1px dashed #ccc
}

.w400 {
    max-width: 400px!important
}

.thankyou {
    max-width: 630px;
    margin: 40px auto 0;
    font-weight: 400;
    color: #4d4d4d
}

.thankyou p span.bold {
    background: #333;
    color: #fff;
    font-weight: 400;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    display: inline-block;
    width: 140px;
    margin-top: 5px;
    padding: 2px;
    line-height: 16px
}

.thankyou h2 {
    text-align: left;
    font-size: 18px;
    margin-top: 40px;
    font-weight: 400
}

.blue {
    color: #0079e0;
    font-style: italic
}

table.tytable {
    width: 100%
}

table.tytable td {
    background: #fff0b8;
    padding: 10px;
    border-bottom: 4px solid #fff
}

table.tytable td:first-child {
    font-weight: 700;
    width: 25px;
    padding-right: 0
}

table.tytable td:last-child {
    text-align: right;
    width: 120px
}

table.tytable tr:first-child td {
    border-top: 2px solid #fd0
}

table.tytable tr:last-child td {
    border-bottom: 2px solid #fd0
}

table.tytable tr.total td:nth-child(2) {
    text-align: right;
    font-weight: 700
}

.ty-foot {
    max-width: 630px;
    margin: 20px auto 10px
}

.ty-foot table {
    width: 100%;
    border: 0
}

.ty-foot table td {
    text-align: right;
    color: #4d4d4d;
    font-size: 17px
}

.ty-foot table td p span {
    display: block;
    font-size: 21px;
    margin-top: 5px
}

.ty-foot table td:last-child {
    width: 60px
}

table.reftable {
    width: 100%
}

table.reftable th {
    font-size: 14px;
    border-top: 2px solid #4d4d4d;
    padding: 10px 0;
    color: #000
}

table.reftable td {
    background: #fff0b8;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-bottom: 2px solid #fd0
}

table.reftable td:last-child {
    text-align: right
}

table.ref-data {
    border-collapse: collapse;
    margin: 30px auto 0
}

table.ref-data tr td {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px
}

table.ref-data tr td:first-child {
    text-align: right;
    font-weight: 700;
    font-size: 15px;
    background: #f5f5f5
}

.form-error,
.nfact label,
a.submit {
    text-align: center
}

.nfact label {
    display: block;
    background-color: #fff;
    border: 1px solid #0079e0;
    border-radius: 20px;
    width: 140px;
    padding: 8px;
    transition: .3s ease;
    margin: 0 auto
}

a.submit,
img.secureimg {
    margin: 30px auto 0;
    display: block
}

.nfact label:hover {
    cursor: pointer
}

.nfact input[type=checkbox] {
    display: none
}

.nfact input[type=checkbox]:checked+label {
    background: #0079e0;
    color: #fff
}

a.call,
a.submit {
    color: #4d4d4d;
    text-decoration: none
}

a.call {
    font-weight: 700
}

a.submit {
    height: 45px;
    width: 240px;
    background: #fd0;
    border: none;
    font-size: 18px;
    line-height: 45px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

a.submit:hover {
    background: #fc0;
    cursor: pointer
}

.fail {
    border: 2px solid #f44336!important
}

.form-error {
    color: #f44336;
    display: block;
    width: 100%;
    padding-bottom: 20px
}

.form-error b {
    background: #f44336;
    color: #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    width: 25px;
    display: inline-block;
    height: 25px;
    line-height: 25px
}

.datos-pop {
    color: #4d4d4d!important;
    text-align: center!important;
    width: 100%!important;
    text-decoration: none!important;
    display: block!important;
    font-size: 14px!important;
    margin-bottom: 20px!important
}

button.print-btn,
button.print-btn2 {
    padding: 10px;
    font-size: 13px;
    display: block;
    text-align: center
}

.datos-pop:hover {
    cursor: pointer
}

.relative {
    position: relative
}

button.print-btn {
    border: 0;
    background: #fd0;
    position: absolute;
    bottom: -195px;
    right: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

button.print-btn:hover {
    background: #fc0
}

button.print-btn img {
    display: block;
    margin: 0 auto 5px
}

button.print-btn2 {
    border: 0;
    background: #fd0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 30px
}

button.print-btn2:hover {
    background: #fc0
}

button.print-btn2 img {
    display: block;
    margin: 0 auto 5px
}

.for-print {
    display: none
}

.browsers {
    display: block;
    width: 100%;
    text-align: center;
    color: #4d4d4d;
    margin-top: 10px
}

.browsers p {
    margin-bottom: 10px
}

.check-datos {
    max-width: 132px;
    margin: 0 auto
}

.check-datos input[type=checkbox] {
    display: none
}

.check-datos input[type=checkbox]+label {
    position: relative;
    display: flex;
    margin: .6em 0;
    align-items: center;
    color: #4d4d4d;
    transition: color 250ms cubic-bezier(.4, 0, .23, 1);
    font-size: .9em
}

.check-datos input[type=checkbox]+label>span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: 0 0;
    border: 1px solid #8d8d8d;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4, 0, .23, 1)
}

.check-datos input[type=checkbox]:checked+label>span {
    border: .7em solid #55d64c
}

.check-datos input[type=checkbox]:checked+label>span:before {
    position: absolute;
    top: 9px;
    left: 4px;
    content: '';
    display: block;
    width: 4px;
    height: 7px;
    border: solid #fff;
    border-width: 0 3px 0 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.check-datos input[type=checkbox]:checked+label>span:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 9px;
    width: 4px;
    height: 13px;
    border: solid #fff;
    border-width: 0 3px 0 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

@keyframes checkbox-check {
    0% {
        width: 0;
        height: 0;
        border-color: #212121;
        transform: translate3d(0, 0, 0) rotate(45deg)
    }
    33% {
        width: .2em;
        height: 0;
        transform: translate3d(0, 0, 0) rotate(45deg)
    }
    100% {
        width: .2em;
        height: .5em;
        border-color: #212121;
        transform: translate3d(0, -.5em, 0) rotate(45deg)
    }
}

@media only screen and (max-width:890px) {
    .y-alert {
        display: block;
        float: initial;
        width: 100%;
        padding-top: 30px
    }
    .y-alert span {
        top: 0
    }
    .p-btn-container {
        float: initial;
        width: 100%;
        padding-top: 20px
    }
    button.print-btn {
        bottom: initial
    }
}

@media only screen and (max-width:680px) {
    .tab-menu img {
        width: 80px;
        height: auto
    }
}

@media only screen and (max-width:580px) {
    .col-half-1,
    .col-half-2 {
        width: 46%!important;
        float: left!important
    }
    .fact .row label,
    .tab-content .row label {
        text-align: left;
        line-height: 2em
    }
    .total-pago {
        font-size: 14px
    }
    .col-half-1 {
        margin-right: 4%!important
    }
    .col-half-2 {
        margin-left: 4%!important
    }
    button.print-btn {
        position: relative;
        bottom: 0;
        left: 0
    }
    .y-alert {
        padding-top: 0!important
    }
    .p-btn-container {
        padding-top: 10px
    }
    .nopad {
        padding: 0!important
    }
}

@media only screen and (max-width:480px) {
    a.chat-btn {
        display: none
    }
    .login-content {
        padding: 30px
    }
    .row {
        padding: 0
    }
    .content {
        padding: 20px
    }
    p.ft2 {
        font-size: 18px
    }
    .heading h1 {
        font-size: 21px
    }
    .heading p {
        font-size: 16px
    }
    .add-email p {
        font-size: 14px
    }
    .add-email table {
        width: 100%
    }
    .tab-menu img {
        width: 80px;
        height: auto
    }
    .main input:checked+label.tab-menu {
        border-bottom: 2px solid #fd0
    }
    .main label.tab-menu {
        width: 50%;
        border: 2px solid #ccc
    }
}

@media only screen and (max-width:380px) {
    table.ref-data {
        width: 100%
    }
    table.ref-data tr td {
        display: block;
        width: 100%;
        font-size: 15px
    }
    table.ref-data tr td:first-child {
        text-align: left;
        border-bottom: 0;
        margin-top: 10px
    }
}

@media only screen and (max-width:360px) {
    .content {
        padding: 20px
    }
    .fact,
    .main .tab-content {
        padding: 20px 10px
    }
    .fact h4 {
        text-align: center;
        font-size: 14px
    }
    .datos-pop {
        font-size: 12px!important
    }
}

@media only screen and (max-width:760px),
(min-device-width:768px) and (max-device-width:1024px) {
    .pago table,
    .pago table tbody,
    .pago table td,
    .pago table th,
    .pago table thead,
    .pago table tr {
        display: block
    }
    .pago table td.for-print {
        display: none!important
    }
    .pago table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
    .pago table tr {
        border: 1px solid #ccc;
        position: relative;
        margin-top: 15px
    }
    .pago table tr:nth-of-type(1) {
        margin-top: 0
    }
    .pago table td {
        border: none;
        position: relative;
        text-align: left;
        border-bottom: none;
        width: 50%
    }
    .pago table td:before {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 12px
    }
    .pago table td.monto {
        position: absolute;
        top: 100px;
        right: 0;
        max-width: 50%!important
    }
    .pago table td:nth-of-type(2),
    .pago table td:nth-of-type(3),
    .pago table td:nth-of-type(4),
    .pago table td:nth-of-type(5),
    .pago table td:nth-of-type(7) {
        border-right: 1px solid #ddd
    }
    .pago table tbody tr td.ref {
        width: 100%;
        background: #f5f5f5;
        border-bottom: 1px solid #ddd;
        height: 100px
    }
    .pago table tbody tr.total td {
        display: none
    }
    .pago table tbody tr.total td:nth-of-type(4) {
        display: block;
        width: 100%;
        position: relative;
        height: 50px;
        text-align: right
    }
    .pago table tbody tr.total td:nth-of-type(4) b {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px
    }
    .pago table td:nth-of-type(1):before {
        content: "PRODUCTO";
        font-size: 15px
    }
    .pago table td:nth-of-type(2):before {
        content: "MENSUALIDAD A PAGAR"
    }
    .pago table td:nth-of-type(3):before {
        content: "SALDO AL CONTRATO"
    }
    .pago table td:nth-of-type(4):before {
        content: "SALDO VENCIDO"
    }
    .pago table td:nth-of-type(5):before {
        content: "SALDO ACTUAL"
    }
    .pago table td:nth-of-type(6):before {
        content: "MONTO A PAGAR"
    }
    .pago table td:nth-of-type(7):before {
        content: "FECHA LIMITE PAGO";
        color: #000
    }
    .pago table tbody tr.total td:nth-of-type(4):before {
        content: "TOTAL A PAGAR";
        width: 50%;
        font-size: 14px;
        display: block;
        float: left;
        text-align: left
    }
}

.modal,
.modal__bg,
.modal__inner {
    right: 0;
    bottom: 0;
    left: 0
}

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    text-align: left;
    background: rgba(0, 0, 0, .9);
    transition: opacity .25s ease;
    z-index: 5002
}

.aligncenter,
.modal__inner h4 {
    text-align: center
}

.modal__bg {
    position: absolute;
    top: 0;
    cursor: pointer
}

.modal-state {
    display: none!important
}

.modal-state:checked+.modal {
    opacity: 1;
    visibility: visible
}

.modal-state:checked+.modal .modal__inner {
    top: 0
}

.modal__inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    width: 50%;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 80%
}

.modal__inner h4 {
    margin-top: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px
}

.modal__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer
}

.modal__close:after,
.modal__close:before {
    content: '';
    position: absolute;
    width: 3px;
    height: 1.3em;
    background: red;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0
}

.modal__close:hover:after,
.modal__close:hover:before {
    background: #f30
}

.modal__close:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg)
}

.pop-up-content {
    overflow: auto;
    display: block;
    position: relative;
    height: inherit;
    height: 90%;
    padding: 10px;
    -webkit-overflow-scrolling: touch
}

.pop-up-content ol,
.pop-up-content ul {
    padding-left: 20px;
    font-size: 13px
}

.pop-up-content ol li {
    margin-bottom: 10px
}

.pop-up-content table {
    overflow-x: scroll;
    font-size: 11px;
    margin: 10px 0;
    display: block;
    width: 100%
}

.btn-popup,
.btn-popup-foot {
    display: inline-block!important;
    margin-top: 0!important;
    text-decoration: underline
}

.pop-up-content table td,
.pop-up-content table th {
    border: 1px solid #ccc;
    padding: 10px 5px
}

.pop-up-content p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 1.5rem
}

popup-content {
    background-color: #fff
}

.pop-up-content ul,
.popup h4,
.popup p {
    margin-bottom: 20px
}

.btn-popup {
    color: #0079e0
}

.btn-popup-foot {
    color: #fff;
    font-weight: 300!important
}

.modal__inner.data-pop {
    width: 40%;
    text-align: center
}

.modal__inner.data-pop .pop-up-content p {
    font-size: 15px!important;
    margin-bottom: 10px
}

.modal__inner.data-pop img {
    max-width: 100%;
    margin: 0 auto
}

body.noscroll {
    overflow: hidden!important
}

@media only screen and (max-width:1080px) {
    .content {
        margin: 63px auto 0
    }
}

@media only screen and (max-width:768px) {
    .modal__inner {
        width: 90%;
        height: 90%;
        box-sizing: border-box
    }
    .pop-up-content {
        padding: 0
    }
    .modal__inner.data-pop {
        width: 90%
    }
}

@media only screen and (max-width:360px) {
    .head-logo {
        width: 180px;
        height: 31px;
        background-size: 180px 31px
    }
    a.sesion-btn {
        font-size: .8em;
        padding: 8px 5px
    }
    .content {
        margin: 60px auto 0
    }
    .header {
        height: 60px
    }
    .center-logo {
        margin-left: -90px!important
    }
}