body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }



.login {
    background-color: #2e2e2e!important
}

.login .logo {
    margin: 60px auto 0;
    padding: 0 auto 10px;
    text-align: center
}
.logoSA {
    border-top: 1px solid #878787;
    margin: 0 auto 0;
    padding: 5px;
    text-align: center
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    outline: 0!important;
    box-shadow: none!important;
}

.form-control {
  display: block;
  width: 90%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #8d8d8d;
  background-color: #fff;
  background-image: none;
  border: 1px solid #8d8d8d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control:focus {
    border-color: #93a1bb;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(147, 161, 187, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1), 0 0 8px rgba(147, 161, 187, 1); }
  .form-control::-moz-placeholder {
    color: #8d8d8d;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #8d8d8d; }
  .form-control::-webkit-input-placeholder {
    color: #8d8d8d; }
  .form-control::-ms-expand {
    border: 0;
    background-color: transparent; }
 
.control-label {
    margin-top: 1px;
    font-weight: 400;
    margin-bottom: 4px;
}


.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  
a:hover {
    cursor: pointer;
    color: #23527c;
}

.login .content {
    background: #FFF;
    display: block;
    border: 2px solid #e6e6e6;
    padding: 40px;
    color: #8d8d8d;
    width: 400px;
    margin: 20px auto 10px;
    padding: 0px 30px 30px;
    /*overflow: hidden;*/
    position: relative
}


.login .content h1 {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 700;
    color: #4d4d4d;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}



.login .content .forget-form,
.login .content .login-form {
    padding: 10px 0;
    margin: 0
}

.login .content .form-control {
    background-color: #FFFFFF;
    height: 43px;
    color: #878787;
    border: 1px solid #8d8d8d;
}

.login .ft1, .login .ft2 {
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;


}

.login .ft2 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
}



.login .call{
    color: #FFDD00;
    line-height: 20px


}
.login .content .form-control:active,
.login .content .form-control:focus {
    border: 1px solid #8D8D8D;
}

.login .content .form-control::-moz-placeholder {
    color: #8d8d8d;
    opacity: 1
}

.login .content .form-control:-ms-input-placeholder {
    color: #8d8d8d
}

.login .content .form-control::-webkit-input-placeholder {
    color: #8d8d8d
}



.login .content .forget-form,
.login .content .register-form {
    display: none
}

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 20px;
}

.login .content .form-actions {
    clear: both;
    border: 0;

}



.login .content .form-actions .btn {
    height: 45px;
    display: inline-block;
    padding: 10px 20px;
    width: auto;
    margin: 0 auto;
    margin-right: 20px;
    background: #fd0;
    color: #4d4d4d;
    border: none;
    font-size: 18px;
    line-height: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;

}

.login .content .form-actions .btn:hover { 
    background-color: #FFCC00;   
}

.login .content .form-actions .btn-default {
    padding: 10px 25px!important;
    color: #000;
    background-color: #eee;
    border: #878787
}

.login .content .form-actions .btn-default:hover {
    background-color: #8d8d8d;
}


a:hover{
    color: #337ab7;
  
}



.login .copyright a {
    color: #FFFFFF;
    padding: 10px;
    display: inline-flex;
    text-decoration: none;
    list-style-type: none
}

.login .copyright a:hover {
    color: #F1C40F;
    text-decoration: none
}

.login .copyright {
    text-align: center;
    margin: 0 auto 30px 0;
    padding: 10px;
    color: #F1C40F;
    font-size: 13px
}

.login .copyright .ft3{
    display: block;
    color: #FFFFFF;
    font-size: 13px;
    padding-top: 0;
    font-weight: 300
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #27a4b0; }

  .has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #e73d4a; }

   .has-error .help-block{
     padding-left: 10px;
   }


.passwordInput{
   margin-bottom: 20px;
}

@media (max-width:440px) {


  .form-group{
    margin-bottom: 30px;
  }
    .login .content,
    .login .logo {
        margin-top: 10px
    }
    .login .content {
        width: 280px
    }

    .login .content .form-actions {
    padding: 0;
  }

    .login .content .form-actions .btn{
      display: block;
    }

    .login .content .form-actions .btn {
    margin: 10px auto
    }


    .login .ft2 {
    font-size: 18px;
    line-height: 24px;
  }

  .login .copyright{
    margin-top: 0px;
  }


  
}


@media (max-width:321px) {
  .row {
    margin: 0;
  }

  .login .content {
    padding: 4px 0;
    }

  .form-control {
    display: block;
    width: 90%;
    height: 30px;
  }

  .form-group{
    padding-left: 10px
  }


}



/*Skeleton*/

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}


/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}


/* For devices larger than 550px */

@media (min-width: 780px) {
   
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    
   
    .six.columns {
        width: 48%;
        text-align: center;
    }
    
   
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}

