<!DOCTYPE html>

<html lang="es">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>Pinbox | Health Check</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Language" content="es-mx" />
    <meta http-equiv="expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <link rel="shortcut icon" href="Content/img/favicon.ico" />
    <!--Styles-->
    <link rel="stylesheet" href="Content/css/main.min.css">
    <link rel="stylesheet" href="Content/css/healthcheck.min.css">
</head>
<!-- END HEAD -->

<body>
    <header id="top">
        <a class="icon-back"></a>
        <a>
            <div class="header-logo"></div>
        </a>
        <a class="icon-logout"></a>
    </header>
    <div class="page-container">
        <div class="healcheck">
            <div class="title">HealthCheck</div>
            <div class="row heading">
                <div class="five columns alignright">
                    <div class="month-picker"><i class="icon-agenda"></i><button data-bind="daterangepicker: monthRange, daterangepickerFormat: 'MMMM YYYY', daterangepickerOptions: { periods: [ 'month'] }" value="Jun, 2017 – Jul, 2017">Jun, 2017 – Jul, 2017</button>
                    </div>
                </div>
                <div class="seven columns">
                    <div class="subtitle">Cuentas actualmente activas a nivel {{nivel X}} según IAM: 3,624</div>
                </div>
            </div>
            <div class="row stats">
                <div class="stat-c">
                    <div class="stat">
                        <i class="icon-inversion-periodo"></i>
                        <div class="details">
                            <div class="number">
                                $3,635
                            </div>
                            <div class="desc">Inversión del periodo</div>
                        </div>
                    </div>
                </div>
                <div class="stat-c">
                    <div class="stat">
                        <i class="icon-impresiones"></i>
                        <div class="details">
                            <div class="number">
                                7,673
                            </div>
                            <div class="desc">Impresiones</div>
                        </div>
                    </div>
                </div>
                <div class="stat-c">
                    <div class="stat">
                        <i class="icon-clics"></i>
                        <div class="details">
                            <div class="number">
                                288
                            </div>
                            <div class="desc">Clics</div>
                        </div>
                    </div>
                </div>
                <div class="stat-c">
                    <div class="stat">
                        <i class="icon-ctr"></i>
                        <div class="details">
                            <div class="number">
                                3.8%
                            </div>
                            <div class="desc">CTR</div>
                        </div>
                    </div>
                </div>
                <div class="stat-c">
                    <div class="stat">
                        <i class="icon-costo-clic"></i>
                        <div class="details">
                            <div class="number">
                                $12.62
                            </div>
                            <div class="desc">Costo por Clic</div>
                        </div>
                    </div>
                </div>
                <div class="stat-c">
                    <div class="stat">
                        <i class="icon-costo-impresion"></i>
                        <div class="details">
                            <div class="number">
                                0
                            </div>
                            <div class="desc">Conversiones</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row graphs">
                <div class="four columns">
                    <div class="chartitle">Panorama general a nivel {{nivel X}}</div>
                    <div id="panoramaGeneral" style="width:100%; height:300px;">
                    </div>
                </div>
                <div class="eight columns">
                    <div class="chartitle">Rendimiento de las cuentas agrupadas por {{nivel X-1}}</div>
                    <div id="rendimientoCuentas" style="width:100%; height:300px;">
                    </div>
                </div>
            </div>
            <div class="row graphs">
                <div class="six columns">
                    <div class="chartitle">Cuentas terminadas vs cuentas nuevas</div>
                    <div id="terminadasVsNuevas" style="width:100%; height:300px;">
                    </div>
                </div>
                <div class="six columns">
                    <div class="chartitle">Inversión / Cantidad de cuentas según su duración</div>
                    <div id="inversionCantidad" style="width:100%; height:300px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="Content/js/jquery.min.js"></script>
    <!--Monthpicker-->
    <script src="Content/js/vendor.js"></script>
    <script src="Content/js/daterangepicker.js"></script>
    <script>
        (function() {
            var t;
            t = function() {
                    function t() {
                        var t, e;
                        this.monthRange = ko.observable([moment().subtract(29, "days"), moment()]), $("body").is(".docs") && (t = [], this.tree = [], this.activeItem = ko.observable(), e = this, this.originalTop = $("aside").position().top, $(".content h2, .content h3").each(function() {
                            var n, o;
                            return o = $(this).prop("tagName"), n = {
                                name: $(this).text(),
                                id: "#" + $(this).attr("id")
                            }, $(this).data("anchor", n), "H2" === o ? (t = [n], e.tree.push(t)) : (n.parent = t[0], t.push(n))
                        }), this.updateActiveItem(), $(window).scroll(function(t) {
                            return function() {
                                return t.updateActiveItem()
                            }
                        }(this))), $("body").is(".examples") && $("pre").each(function() {
                            var t, e, n, o;
                            return t = $(this).text(), n = $(this).children("code").is(".lang-html") ? "div" : "script", o = "<div class='example-wrapper'></div>", e = "<div><" + n + ">" + t + "</" + n + "></div>", $(this).wrap(o).parent().prepend(e)
                        })
                    }
                    return t.prototype.updateActiveItem = function() {
                        var t, e, n, o;
                        return t = null, n = $(document.body).scrollTop(), e = $(".content h2, .content h3").last().offset().top, o = $(window).height(), $(".content h2, .content h3").each(function(e) {
                            var o;
                            if (o = $(this).offset().top - 5, 0 === e || o < n) return t = $(this).data("anchor")
                        }), this.activeItem(t), $("aside").css({
                            top: Math.max(this.originalTop - n, 0)
                        })
                    }, t
                }(), $(function() {
                    return ko.applyBindings(new t)
                }),
                function() {
                    var t, e, n, o;
                    return n = function(t, e, n, o, a, i, r) {
                        return t.beginPath(), t.moveTo(e + i, n), t.lineTo(e + o - i, n), t.quadraticCurveTo(e + o, n, e + o, n + i), t.lineTo(e + o, n + a - i), t.quadraticCurveTo(e + o, n + a, e + o - i, n + a), t.lineTo(e + i, n + a), t.quadraticCurveTo(e, n + a, e, n + a - i), t.lineTo(e, n + i), t.quadraticCurveTo(e, n, e + i, n), t.closePath(), t.fillStyle = r, t.fill()
                    }, e = function(t, e, o, a, i, r, s, c, u) {
                        return n(t, e, o, a, i, r, u), n(t, e + s, o + s, a - 2 * s, i - 2 * s, r - s, c)
                    }, o = function(t, e, n, o, a) {
                        return t.textAlign = "center", t.font = "bold 9px sans-serif", t.fillStyle = a, t.fillText(e, n, o, 16)
                    }, t = function(t) {
                        var e;
                        return e = document.createElement("link"), e.type = "image/x-icon", e.rel = "shortcut icon", e.href = t.toDataURL("image/x-icon"), document.getElementsByTagName("head")[0].appendChild(e)
                    }, $(function() {
                        var a, i;
                        return a = document.createElement("canvas"), a.width = 16, a.height = 16, i = a.getContext("2d"), e(i, 0, 2, 16, 14, 2, 1, "#20aa9c", "#1b8e82"), n(i, 2, 1, 3, 3, 1.5, "#1b8e82"), n(i, 11, 1, 3, 3, 1.5, "#1b8e82"), o(i, moment().format("DD"), 8, 12.5, "#146960"), o(i, moment().format("DD"), 8, 11.5, "#fff"), t(a)
                    })
                }()
        }).call(this);
    </script>
    <!-- Charts -->
    <script src="Content/js/charts/amcharts.js" type="text/javascript"></script>
    <script src="Content/js/charts/serial.js" type="text/javascript"></script>
    <script src="Content/js/charts/es.js" type="text/javascript"></script>
    <script src="Content/js/charts/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="Content/js/charts/plugins/export/export.css" type="text/css" media="all" />
    <!--Panorama General-->
    <script src="Content/js/charts/pie.js" type="text/javascript"></script>
    <script type="text/javascript">
        AmCharts.makeChart("panoramaGeneral", {
            "type": "pie",
            "balloonText": "[[title]]<br><span style='font-size:12px'><b>[[value]]</b> ([[percents]]%)</span>",
            "innerRadius": "50%",
            "labelText": "[[title]]: [[percents]]%",
            "accessibleLabel": "[[title]]",
            "minRadius": 70,
            "labelRadius": 5,
            "colors": [
                "#e71c1c",
                "#ef661a",
                "#ffcc00",
                "#2cc55e"
            ],
            "marginBottom": 0,
            "marginTop": 0,
            "titleField": "title",
            "valueField": "cantidad",
            "allLabels": [],
            "balloon": {},
            "titles": [],
            "dataProvider": [{
                    "title": "Remanente",
                    "cantidad": "190"
                },
                {
                    "title": "Alto consumo",
                    "cantidad": "407"
                },
                {
                    "title": "Bajo consumo",
                    "cantidad": "759"
                },
                {
                    "title": "Normales",
                    "cantidad": "8645"
                }
            ],

            "export": {
                "enabled": true,
                "fileName": "HealthCheck",
                "pageOrigin": false,
                "menuReviver": function(item, li) {
                    if (item.format === "JSON")
                        li.style.display = "none";
                    return li;
                }
            }
        });
    </script>
    <!--Rendimiento de Cuentas-->
    <script>
        var chart = AmCharts.makeChart("rendimientoCuentas", {
            "type": "serial",
            "startDuration": 1.5,
            "startEffect": "elastic",
            "legend": {
                "position": "bottom",
                "markerSize": 10,
                "valueAlign": "left",
                "borderColor": "#ffffff",
            },
            "chartCursor": {
                "enabled": true
            },
            "dataProvider": [{
                "division": "Div 01",
                "normal": 286,
                "alto-consumo": 11,
                "bajo-consumo": 17,
                "remanente": 5
            }, {
                "division": "Div 02",
                "normal": 230,
                "alto-consumo": 23,
                "bajo-consumo": 11,
                "remanente": 3
            }, {
                "division": "Div 03",
                "normal": 450,
                "alto-consumo": 21,
                "bajo-consumo": 11,
                "remanente": 4
            }, {
                "division": "Div 04",
                "normal": 466,
                "alto-consumo": 14,
                "bajo-consumo": 11,
                "remanente": 2
            }, {
                "division": "Div 05",
                "normal": 340,
                "alto-consumo": 23,
                "bajo-consumo": 10,
                "remanente": 2
            }, {
                "division": "Div 06",
                "normal": 190,
                "alto-consumo": 12,
                "bajo-consumo": 18,
                "remanente": 4
            }, {
                "division": "Div 07",
                "normal": 401,
                "alto-consumo": 20,
                "bajo-consumo": 11,
                "remanente": 2
            }, {
                "division": "Div 08",
                "normal": 560,
                "alto-consumo": 12,
                "bajo-consumo": 18,
                "remanente": 4
            }, {
                "division": "Div 09",
                "normal": 403,
                "alto-consumo": 21,
                "bajo-consumo": 22,
                "remanente": 6
            }, {
                "division": "Div 10",
                "normal": 321,
                "alto-consumo": 19,
                "bajo-consumo": 12,
                "remanente": 3
            }],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.3,
                "gridAlpha": 0
            }],
            "graphs": [{
                "balloonText": "<span style='font-size:12px'>[[title]]: [[value]]</span>",
                "fillAlphas": 1,
                "labelText": "[[value]]",
                "lineColor": "#fff",
                "lineAlpha": 0,
                "title": "Normal",
                "type": "column",
                "fillColors": "#2cc55e",
                "valueField": "normal"
            }, {
                "balloonText": "<span style='font-size:12px'>[[title]]: [[value]]</span>",
                "fillAlphas": 1,
                "labelText": "[[value]]",
                "lineColor": "#fff",
                "lineAlpha": 0,
                "title": "Alto Consumo",
                "type": "column",
                "fillColors": "#ffcc00",
                "valueField": "alto-consumo"
            }, {
                "balloonText": "<span style='font-size:12px'>[[title]]: [[value]]</span>",
                "fillAlphas": 1,
                "labelText": "[[value]]",
                "lineColor": "#fff",
                "lineAlpha": 0,
                "title": "Bajo Consumo",
                "type": "column",
                "fillColors": "#ef661a",
                "valueField": "bajo-consumo"
            }, {
                "balloonText": "<span style='font-size:12px'>[[title]]: [[value]]</span>",
                "fillAlphas": 1,
                "labelText": "[[value]]",
                "lineColor": "#fff",
                "lineAlpha": 0,
                "title": "Remanente",
                "type": "column",
                "fillColors": "#e71c1c",
                "valueField": "remanente"
            }],
            "categoryField": "division",
            "categoryAxis": {},

            "export": {
                "enabled": true,
                "fileName": "HealthCheck",
                "pageOrigin": false,
                "menuReviver": function(item, li) {
                    if (item.format === "JSON")
                        li.style.display = "none";
                    return li;
                }
            }
        });
    </script>
    <!--Cuentas terminadas vs cuentas nuevas-->
    <script type="text/javascript">
        AmCharts.makeChart("terminadasVsNuevas", {
            "type": "serial",
            "categoryField": "date",
            "language": "es",
            "colors": [
                "#1083ff",
                "#128b27"
            ],
            "dataDateFormat": "YYYY-MM",
            "startDuration": 0.5,
            "startEffect": "elastic",
            "categoryAxis": {
                "minPeriod": "MM",
                "parseDates": true,
            },
            "chartCursor": {
                "enabled": true,
                "categoryBalloonDateFormat": "MMM YYYY"
            },
            "trendLines": [],
            "graphs": [{
                    "balloonText": "Campañas Terminadas: [[value]]",
                    "fillAlphas": 0,
                    "lineAlpha": 1,
                    "title": "Campañas Terminadas",
                    "type": "line",
                    "valueField": "terminadas",
                    "lineThickness": 2,
                    "bullet": "round",
                },
                {
                    "balloonText": "Campañas Nueva: [[value]]",
                    "fillAlphas": 0,
                    "lineAlpha": 1,
                    "title": "Campañas Nuevas",
                    "type": "line",
                    "valueField": "nuevas",
                    "lineThickness": 2,
                    "bullet": "round",
                }
            ],
            "allLabels": [],
            "balloon": {},
            "legend": {
                "enabled": true,
                "valueAlign": "left",
                "useGraphSettings": true
            },
            "dataProvider": [{
                    "date": "2016-06",
                    "terminadas": 2505,
                    "nuevas": 1536
                },
                {
                    "date": "2016-07",
                    "terminadas": 1800,
                    "nuevas": 2100
                },
                {
                    "date": "2016-08",
                    "terminadas": 1900,
                    "nuevas": 1691
                },
                {
                    "date": "2016-09",
                    "terminadas": 2800,
                    "nuevas": 1309
                },
                {
                    "date": "2016-10",
                    "terminadas": 3019,
                    "nuevas": 2090
                },
                {
                    "date": "2016-11",
                    "terminadas": 2313,
                    "nuevas": 1231
                },
                {
                    "date": "2016-12",
                    "terminadas": 3213,
                    "nuevas": 4321
                },
                {
                    "date": "2017-01",
                    "terminadas": 1231,
                    "nuevas": 933
                }
            ],

            "export": {
                "enabled": true,
                "fileName": "HealthCheck",
                "pageOrigin": false,
                "menuReviver": function(item, li) {
                    if (item.format === "JSON")
                        li.style.display = "none";
                    return li;
                }
            }
        });
    </script>
    <!--Inversión / Cantidad de cuentas segun su duracion-->
    <script type="text/javascript">
        AmCharts.makeChart("inversionCantidad", {
            "type": "serial",
            "categoryField": "date",
            "language": "es",
            "colors": [
                "#fc560f",
                "#ffdd00",
                "#60c210",
                "#1592f2"
            ],
            "dataDateFormat": "YYYY-MM",
            "startDuration": 0.5,
            "startEffect": "elastic",
            "categoryAxis": {
                "minPeriod": "MM",
                "parseDates": true,
            },
            "chartCursor": {
                "enabled": true,
                "categoryBalloonDateFormat": "MMM YYYY"
            },
            "trendLines": [],
            "graphs": [{
                    "balloonText": "1 a 3 meses: [[value]]",
                    "fillAlphas": 0,
                    "lineAlpha": 1,
                    "title": "1 a 3 meses",
                    "type": "line",
                    "valueField": "1-3meses",
                    "lineThickness": 2,
                    "bullet": "round",
                },
                {
                    "balloonText": "4 a 6 meses: [[value]]",
                    "fillAlphas": 0,
                    "lineAlpha": 1,
                    "title": "4 a 6 meses",
                    "type": "line",
                    "valueField": "4-6meses",
                    "lineThickness": 2,
                    "bullet": "round",
                },
                {
                    "balloonText": "7 a 9 meses: [[value]]",
                    "fillAlphas": 0,
                    "lineAlpha": 1,
                    "title": "7 a 9 meses",
                    "type": "line",
                    "valueField": "7-9meses",
                    "lineThickness": 2,
                    "bullet": "round",
                },
                {
                    "balloonText": "10 a 12 meses: [[value]]",
                    "fillAlphas": 0,
                    "lineAlpha": 1,
                    "title": "10 a 12 meses",
                    "type": "line",
                    "valueField": "10-12meses",
                    "lineThickness": 2,
                    "bullet": "round",
                }
            ],
            "allLabels": [],
            "balloon": {},
            "legend": {
                "enabled": true,
                "valueAlign": "left",
                "useGraphSettings": true
            },
            "dataProvider": [{
                    "date": "2016-06",
                    "1-3meses": 2505,
                    "4-6meses": 1536,
                    "7-9meses": 892,
                    "10-12meses": 1232
                },
                {
                    "date": "2016-07",
                    "1-3meses": 1800,
                    "4-6meses": 2100,
                    "7-9meses": 2321,
                    "10-12meses": 1313
                },
                {
                    "date": "2016-08",
                    "1-3meses": 1900,
                    "4-6meses": 1691,
                    "7-9meses": 398,
                    "10-12meses": 123
                },
                {
                    "date": "2016-09",
                    "1-3meses": 2800,
                    "4-6meses": 1309,
                    "7-9meses": 2333,
                    "10-12meses": 233
                },
                {
                    "date": "2016-10",
                    "1-3meses": 3019,
                    "4-6meses": 2090,
                    "7-9meses": 3212,
                    "10-12meses": 1233
                },
                {
                    "date": "2016-11",
                    "1-3meses": 2313,
                    "4-6meses": 1231,
                    "7-9meses": 1723,
                    "10-12meses": 2344
                },
                {
                    "date": "2016-12",
                    "1-3meses": 3213,
                    "4-6meses": 4321,
                    "7-9meses": 3213,
                    "10-12meses": 131
                },
                {
                    "date": "2017-01",
                    "1-3meses": 1231,
                    "4-6meses": 933,
                    "7-9meses": 3123,
                    "10-12meses": 1233
                }
            ],
            "export": {
                "enabled": true,
                "fileName": "HealthCheck",
                "pageOrigin": false,
                "menuReviver": function(item, li) {
                    if (item.format === "JSON")
                        li.style.display = "none";
                    return li;
                }
            }
        });
    </script>
</body>

</html>