.dashboard-stat.grey {
    background: #fff;
    border-bottom: 0 none;
    border-left: 1px solid #cbcbcb;
    border-radius: 0
}

.portlet.box>.portlet-body {
    padding: 5px 0
}

table {
    width: 90%;
    margin-left:0;

}

.pago table td,
.pago table th {
    text-align: center
}

.dashboard-stat {
    margin-bottom: 0
}

.portlet.box>.portlet-title>.caption {
    color: #2e2e2e
}

.portlet.amarillo,
.portlet.box.amarillo>.portlet-title,
.portlet>.portlet-body.amarillo {
    background-color: #FFEF88
}

.portlet.azul,
.portlet.box.azul>.portlet-title,
.portlet>.portlet-body.azul,
.portlet>.portlet-body.grey {
    background-color: #BCD0E4
}

.portlet.box.grey>.portlet-title,
.portlet.grey,
.portlet>.portlet-body.grey {
    background-color: #E1E3E2
}

.pago table td {
    font-size: 18px;
    background-color: #FFF0B8;
}

.pago table td:last-child {
    font-size: 18px;
    background-color: #FFF;
    }

.pago table .btn{
    margin: 0;
    padding: 10px;
    width: 120px;
    margin-top: 0
}

.pago table th {
    font-size: 14px;
    border-bottom: 2px solid #eee;
    padding: 0;
    font-weight: 700
}

.pago table th:last-child {
    border-bottom: none;
    background-color: #FFFFFF;

}

.pago .fecha-pago {
    color: #217ebd
}

.portlet.light .portlet-body .blog-page .row {
    margin-top: 0
}

@media (max-width:769px) {
    .col-xs-12 {
        width: 50%
    }
    .btn {
        margin: 10px 0 0 6px
    }
    @media (max-width:321px) {
        .portlet.light>.portlet-title>.actions {
            float: left
        }
        .portlet>.portlet-title>.caption {
            font-size: 14px
        }
    }
    @media only screen and (max-width:760px),
    (min-device-width:768px) and (max-device-width:1023px) {
        .pago table td:before,
        .producto table td:before {
            display: block;
            margin-bottom: 10px;
            font-weight: 700
        }
        .producto table,
        .producto table tbody,
        .producto table td,
        .producto table th,
        .producto table thead,
        .producto table tr {
            display: block
        }
        ,
        .producto table td:nth-of-type(2),
        .producto table td:nth-of-type(3),
        .producto table td:nth-of-type(4),
        .producto table td:nth-of-type(5),
        .producto table td:nth-of-type(6),
        .producto table td:nth-of-type(7) {
            border: none
        }
        .table-scrollable>.table-bordered>tbody>tr:last-child>td,
        .table-scrollable>.table-bordered>tbody>tr:last-child>th,
        .table-scrollable>.table-bordered>tfoot>tr:last-child>td,
        .table-scrollable>.table-bordered>tfoot>tr:last-child>th,
        .table-scrollable>.table-bordered>thead>tr:last-child>td,
        .table-scrollable>.table-bordered>thead>tr:last-child>th,
        .table.table-bordered thead>tr>th {
            border-bottom: none
        }
        .table-bordered>tbody>tr>td {
            border: none;
            line-height: .75em
        }
        .table-bordered>tbody>tr {
            border: 1px solid #e7ecf1
        }
        .producto table thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px
        }
        .producto table tr {
            position: relative;
            margin-top: 20px
        }
        .producto table tr:nth-of-type(1) {
            margin-top: 0
        }
        .producto table td {
            position: relative;
            text-align: left;
            border-bottom: none;
            width: 50%
        }
        .producto table td:before {
            width: 100%;
            font-size: 14px
        }
        .producto table tbody tr td.ref2 {
            width: 100%;
            background: #f5f5f5;
            border: none;
            height: 60px;
            float: right;
            line-height: 12px;
            padding-top: 12px;
            margin-bottom: 10px
        }
        .producto table td:nth-of-type(1):before {
            content: "Nombre comercial";
            font-size: 14px
        }
        .producto table td:nth-of-type(2):before {
            content: "Paquete"
        }
        .producto table td:nth-of-type(3):before {
            content: "Fecha de publicación"
        }
        .producto table td:nth-of-type(4):before {
            content: "Teléfono"
        }
        .producto table td:nth-of-type(5):before {
            content: "Ubicación"
        }
        .producto table td:nth-of-type(6):before {
            content: "URL"
        }
        .producto table td:nth-of-type(7) {
            position: absolute;
            top: 0;
            right: -10px;
            padding: 20px
        }
        .producto table td:nth-of-type(4) {
            position: absolute;
            top: 52px;
            right: -10px;
            padding: 20px
        }
        .producto table td:nth-of-type(5) {
            position: absolute;
            top: 96px;
            right: -10px;
            padding: 20px
        }
        .pago table,
        .pago table tbody,
        .pago table td,
        .pago table th,
        .pago table thead,
        .pago table tr {
            display: block
        }
        .pago table thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px
        }
        .pago table tr {
            
            position: relative;
            margin-top: 15px
        }
        .pago table tr:nth-of-type(1) {
            margin-top: 0
        }
        .pago table td {
            border: none;
            background-color: #FFFFFF;
            padding: 10px 0;
            position: relative;
            text-align: center;
            line-height: .75em;
            border-bottom: 1px solid #EFF1F0;
            width: 100%
        }
        .pago table td:before {
            width: 100%;
            font-size: 12px
        }
        .pago table td:nth-of-type(3) {
            border-top: 1px solid #ddd;
             width: 100%;
            background: #f5f5f5;
            border-bottom: 1px solid #ddd;
            height: 70px;
            line-height: 1em
        }
        .pago table td:nth-of-type(1):before {
            content: "SALDO AL CONTRATO";
            font-size: 14px
        }
        .pago table td:nth-of-type(2):before {
            content: "SALDO ACTUAL"
        }
        .pago table td:nth-of-type(3):before {
            content: "FECHA LIMITE DE PAGO";
            font-size: 16px
        }
    }
}