@charset "UTF-8";
*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea,
input,
button {
    outline: none;
    -webkit-appearance: none;
}

ul {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: #000 !important;
}

.mc-header {
    display: block;
    width: 100%;
    text-align: center;
}

.mc-header .mc-title {
    font-size: 1.6em;
    background: #1d1d1d;
    margin: 0;
    padding: 15px;
    color: #fd0;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
}

.mc-header .mc-title span {
    display: block;
    font-size: 0.55em;
    color: #fff;
    letter-spacing: 1px;
    max-width: 180px;
    margin: 0 auto;
    background: #1d1d1d;
    border-top: 1px solid #6f6734;
    padding: 2px;
    margin-top: 3px;
}

ul.mc-paylogo {
    list-style: none;
    text-align: center;
    padding: 10px 5px;
}

ul.mc-paylogo li {
    display: inline-block;
    border-right: 1px solid #eee;
}

ul.mc-paylogo li:last-child {
    border-right: none;
}

ul.mc-paylogo li img {
    height: 40px;
    width: auto;
    margin: 0 7px;
}

.mc-form {
    max-width: 800px;
    margin: 0 auto;
    display: block;
    padding: 10px 20px;
}

.mc-form-section {
    display: block;
    margin-bottom: 20px;
}

.mc-subtitle {
    display: block;
    text-align: center;
    width: 100%;
    background: #e6f3f7;
    padding: 10px;
    color: #444;
    border-bottom: 2px solid #addeec;
    font-weight: 500;
    font-size: 16px;
}

.mc-form button {
    width: 100%;
    padding: 10px;
    text-align: center;
    display: block;
    font-size: 1.1em;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.mc-form button:hover {
    cursor: pointer;
}

button.cancel {
    background: #eeeeee;
    color: #444;
}

button.cancel:hover {
    background: #ddd;
}

button.confirm {
    background: #fd0;
    color: #111;
}

button.confirm:hover {
    background: #fc0;
}

.p-img img {
    width: 100%;
    height: auto;
}

.p-col {
    display: block;
    float: left;
}

.p-img {
    width: 18%;
    padding: 5px;
}

.p-des {
    width: 30%;
}

.p-car {
    width: 22%;
}

.p-can,
.p-sub {
    width: 15%;
    text-align: center;
}

.p-title {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 10px auto;
    background: #e6f3f7;
    padding: 5px;
    color: #444;
    font-weight: 500;
}

.p-text {
    display: block;
    font-size: 13px;
    padding: 5px;
}

.e-title {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 5px auto;
    background: #e6f3f7;
    padding: 5px;
    color: #444;
    font-weight: 500;
    text-align: center;
}

.e-text {
    margin: 5px auto;
    display: block;
    font-size: 13px;
    padding: 5px;
    text-align: center;
}

.p-total {
    border: 2px solid #09b310;
}
#metodo-envio {
    display: block;
    margin-bottom: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

@media (min-width: 550px) {
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
    .one-third.column {
        width: 30.6666666667%;
    }
    .two-thirds.column {
        width: 65.3333333333%;
    }
    .one-half.column {
        width: 48%;
    }
}

@media screen and (max-width:780px) {
    ul.mc-paylogo li img {
        height: 30px;
        margin: 5px;
    }
    ul.mc-paylogo {
        padding: 5px;
    }
}

.two-col {
    display: block;
    float: left;
    width: 46%;
}

.two-col:last-child {
    margin-left: 8%;
}

input,
textarea,
select {
    width: 100%;
    border: 1px solid #aaa;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}


/*Check datos*/

.check-datos {
    font-size: 0.9em;
    max-width: 235px;
    margin: 20px auto;
    display: block;
}

.check-datos input[type=checkbox],
.check-datos input[type=radio] {
    display: none
}

.check-datos input[type=checkbox]+label,
.check-datos input[type=radio]+label {
    position: relative;
    display: flex;
    margin: 15px 0;
    align-items: center;
    color: #333;
    transition: color 250ms cubic-bezier(.4, 0, .23, 1);
    font-size: 1em;
    font-weight: 400;
}

.check-datos input[type=checkbox]+label>span,
.check-datos input[type=radio]+label>span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: 0 0;
    border: 1px solid #aaa;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4, 0, .23, 1);
    position: relative;
}

.check-datos input[type=checkbox]:checked+label>span,
.check-datos input[type=radio]:checked+label>span {
    border: .7em solid #09b310;
}

.check-datos input[type=checkbox]:checked+label>span:before,
.check-datos input[type=radio]:checked+label>span:before {
    position: absolute;
    top: -1px;
    left: -6px;
    content: '';
    display: block;
    width: 4px;
    height: 7px;
    border: solid #fff;
    border-width: 0 3px 0 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.check-datos input[type=checkbox]:checked+label>span:after,
.check-datos input[type=radio]:checked+label>span:after {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: -1px;
    width: 4px;
    height: 13px;
    border: solid #fff;
    border-width: 0 3px 0 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.check-datos label p {
    display: block;
    float: left;
    width: calc(100% - 30px);
    margin: 0;
    text-align: left !important;
}

.check-datos label p img {
    height: 40px;
    width: auto;
}

.check-datos label p a {
    color: #2975da;
}

.payu .check-datos {
    margin: 10px auto !important;
}

.payu .check-datos input[type=radio]+label {
    margin: 0;
}


/*Animated Input*/

.input-wrapper {
    position: relative;
    line-height: 14px;
    display: inline-block;
    font-size: 1em;
    width: 100%;
    margin-top: 25px;
}

.input-wrapper label {
    color: #999;
    font-size: 0.8em;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    left: 15px;
    top: 17px;
    padding: 0 5px;
    pointer-events: none;
    background: #fff;
    -webkit-transition: -webkit-transform 100ms ease;
    -moz-transition: -moz-transform 100ms ease;
    -o-transition: -o-transform 100ms ease;
    -ms-transition: -ms-transform 100ms ease;
    transition: transform 100ms ease;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.input-wrapper.input-filled label,
.input-wrapper label.lup {
    -webkit-transform: translateY(-22px);
    -moz-transform: translateY(-22px);
    -o-transform: translateY(-22px);
    -ms-transform: translateY(-22px);
    transform: translateY(-22px);
}

.input-wrapper input {
    font-size: 1em;
    color: #333;
    outline: none;
    padding: 11px 20px 10px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    position: relative;
    text-transform: capitalize;
    height: 46px;
}

.input-wrapper input[type=email],
.input-wrapper input[type=url] {
    text-transform: lowercase;
}

.input-wrapper input[type=date]+label {
    -webkit-transform: translateY(-22px);
    -moz-transform: translateY(-22px);
    -o-transform: translateY(-22px);
    -ms-transform: translateY(-22px);
    transform: translateY(-22px);
}

.input-wrapper input:focus {
    border: 2px solid #ffdd00;
    padding: 11px 20px 10px;
}

.input-wrapper input:focus+label {
    color: #666;
    font-size: 0.8em;
    -webkit-transform: translateY(-22px);
    -moz-transform: translateY(-22px);
    -o-transform: translateY(-22px);
    -ms-transform: translateY(-22px);
    transform: translateY(-22px);
}

.textarea-wrapper {
    position: relative;
    margin-top: 25px;
    display: block;
}

.textarea-wrapper textarea {
    display: block;
    width: 100%;
    height: 188px;
    border-radius: 20px;
    padding: 15px;
    font-size: 1em
}

.textarea-wrapper label {
    color: #999;
}

.textarea-wrapper.mandatory:after {
    top: -12px;
}

.field-title {
    position: absolute;
    display: block;
    background: #fff;
    z-index: 3;
    top: -6px;
    padding: 0 5px;
    left: 15px;
    text-transform: uppercase;
    font-size: 0.8em;
    color: #999;
}

input.error,
textarea.error,
.selectize-input.error {
    border: 1px solid #ff5353;
}

.height80 {
    height: 80px !important;
}

.error-msg {
    color: #fd3333;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.mandatory:after {
    display: block;
    position: absolute;
    content: ' \25CF';
    color: #ff5353;
    right: -3px;
    font-size: 1.8em;
    top: -3px;
    z-index: 10
}

.select-wrapper {
    margin-top: 25px;
    display: block;
    position: relative;
}

.select-wrapper.mandatory:after {
    top: -11px;
}


/*Selectize*/

.selectize-control.plugin-drag_drop.multi>.selectize-input>div.ui-sortable-placeholder {
    visibility: visible !important;
    background: #f2f2f2 !important;
    background: rgba(0, 0, 0, 0.06) !important;
    border: 0 none !important;
    -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
    box-shadow: inset 0 0 12px 4px #ffffff;
}

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
    content: '!';
    visibility: hidden;
}

.selectize-control.plugin-drag_drop .ui-sortable-helper {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.selectize-dropdown-header {
    position: relative;
    padding: 3px 12px;
    border-bottom: 1px solid #d0d0d0;
    background: #f8f8f8;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.selectize-dropdown-header-close {
    position: absolute;
    right: 12px;
    top: 50%;
    color: #333333;
    opacity: 0.4;
    margin-top: -12px;
    line-height: 20px;
    font-size: 20px !important;
}

.selectize-dropdown-header-close:hover {
    color: #000000;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup {
    border-right: 1px solid #f2f2f2;
    border-top: 0 none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
    border-right: 0 none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
    display: none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
    border-top: 0 none;
}

.selectize-control.plugin-remove_button [data-value] {
    position: relative;
    padding-right: 24px !important;
}

.selectize-control.plugin-remove_button [data-value] .remove {
    z-index: 1;
    /* fixes ie bug (see #392) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    padding: 1px 0 0 0;
    border-left: 1px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.selectize-control.plugin-remove_button [data-value] .remove:hover {
    background: rgba(0, 0, 0, 0.05);
}

.selectize-control.plugin-remove_button [data-value].active .remove {
    border-left-color: rgba(0, 0, 0, 0);
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
    background: none;
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
    border-left-color: rgba(77, 77, 77, 0);
}

.selectize-control.plugin-remove_button .remove-single {
    position: absolute;
    right: 28px;
    top: 6px;
    font-size: 23px;
}

.selectize-control {
    position: relative;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
    color: #333333;
    font-family: inherit;
    font-size: inherit;
    line-height: 20px;
    -webkit-font-smoothing: inherit;
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
    background: #ffffff;
    cursor: text;
    display: inline-block;
}

.selectize-input {
    border: 1px solid #aaaaaa;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 20px;
    padding: 14px 20px 10px;
}

.selectize-control.multi .selectize-input.has-items {
    padding: 5px 12px 2px;
}

.selectize-input.full {
    background-color: #ffffff;
}

.selectize-input.disabled,
.selectize-input.disabled * {
    cursor: default !important;
}

.selectize-input.focus {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.selectize-input.dropdown-active {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.selectize-input>* {
    vertical-align: baseline;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.selectize-control.multi .selectize-input>div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 1px 3px;
    background: #efefef;
    color: #333333;
    border: 0 solid rgba(0, 0, 0, 0);
}

.selectize-control.multi .selectize-input>div.active {
    background: #428bca;
    color: #ffffff;
    border: 0 solid rgba(0, 0, 0, 0);
}

.selectize-control.multi .selectize-input.disabled>div,
.selectize-control.multi .selectize-input.disabled>div.active {
    color: #808080;
    background: #ffffff;
    border: 0 solid rgba(77, 77, 77, 0);
}

.selectize-input>input {
    display: inline-block !important;
    padding: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    margin: 0 !important;
    text-indent: 0 !important;
    border: 0 none !important;
    background: none !important;
    line-height: inherit !important;
    -webkit-user-select: auto !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.selectize-input>input::-ms-clear {
    display: none;
}

.selectize-input>input:focus {
    outline: none !important;
}

.selectize-input::after {
    content: ' ';
    display: block;
    clear: left;
}

.selectize-input.dropdown-active::before {
    content: ' ';
    display: block;
    position: absolute;
    background: #ffffff;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
}

.selectize-dropdown {
    position: absolute;
    z-index: 10;
    border: 1px solid #d0d0d0;
    background: #ffffff;
    margin: -1px 0 0 0;
    border-top: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.selectize-dropdown [data-selectable] {
    cursor: pointer;
    overflow: hidden;
}

.selectize-dropdown [data-selectable] .highlight {
    background: rgba(255, 237, 40, 0.4);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
    padding: 5px 20px;
}

.selectize-dropdown .optgroup:first-child .optgroup-header {
    border-top: 0 none;
}

.selectize-dropdown .optgroup-header {
    color: #777777;
    background: #ffffff;
    cursor: default;
}

.selectize-dropdown .active {
    background-color: #fffccc;
    color: #262626;
}

.selectize-dropdown .active.create {
    color: #262626;
}

.selectize-dropdown .create {
    color: rgba(51, 51, 51, 0.5);
}

.selectize-dropdown-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    -webkit-overflow-scrolling: touch;
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
    cursor: pointer;
}

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
    cursor: text;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #333333 transparent transparent transparent;
}

.selectize-control.single .selectize-input.dropdown-active:after {
    margin-top: -4px;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #333333 transparent;
}

.selectize-control.rtl.single .selectize-input:after {
    left: 17px;
    right: auto;
}

.selectize-control.rtl .selectize-input>input {
    margin: 0 4px 0 -2px !important;
}

.selectize-control .selectize-input.disabled {
    opacity: 0.5;
    background-color: #ffffff;
}

.selectize-dropdown,
.selectize-dropdown.form-control {
    height: auto;
    padding: 0;
    margin: 0;
    z-index: 1000;
    background: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.selectize-dropdown .optgroup-header {
    font-size: 12px;
    line-height: 1.42857143;
}

.selectize-dropdown .optgroup:first-child:before {
    display: none;
}

.selectize-dropdown .optgroup:before {
    content: ' ';
    display: block;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    margin-left: -12px;
    margin-right: -12px;
}

.selectize-dropdown-content {
    padding: 5px 0;
}

.selectize-dropdown-header {
    padding: 6px 12px;
}

.selectize-input {
    min-height: 46px;
}

.selectize-input.dropdown-active {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.selectize-input.dropdown-active::before {
    display: none;
}

.selectize-input.focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.has-error .selectize-input {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .selectize-input:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.selectize-control.multi .selectize-input.has-items {
    padding-left: 9px;
    padding-right: 9px;
}

.selectize-control.multi .selectize-input>div {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.form-control.selectize-control {
    padding: 0;
    height: auto;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/*Pago*/

.pago {
    width: 100%;
    margin: 10px auto 0;
}

.pago h2 {
    width: 100%;
    font-size: 21px
}

.pago .tab-content {
    display: none;
    padding: 20px;
}

.pago input[name=tabs] {
    display: none
}

.pago label.tab-menu {
    display: inline-block;
    margin: 0 -5px 0 0;
    padding: 10px 0;
    font-weight: 400;
    color: #A5ABAF;
    width: 20%;
    font-size: 15px;
    background: #eee;
    text-align: center;
    border: 3px solid #eee;
}

.pago label.tab-menu img {
    height: 35px;
    width: auto;
    opacity: 0.6;
}

.pago label.tab-menu:hover {
    color: #888;
    cursor: pointer
}

.pago input:checked+label.tab-menu {
    color: #0E202C;
    border: 3px solid #fd0;
    background: #fff;
}

.pago input:checked+label.tab-menu img {
    opacity: 1;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5 {
    display: block
}


/*Extra Widths*/

.w400 {
    max-width: 400px;
    margin: 0 auto;
}

.w300 {
    max-width: 300px;
    margin: 0 auto;
}

.w200 {
    max-width: 200px;
    margin: 0 auto;
}

.w100 {
    max-width: 100px;
    margin: 0 auto;
}

.w170 {
    max-width: 170px;
    margin: 0 auto;
}

.mw650 {
    max-width: 650px;
}

.title2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -15px;
    font-size: 13px;
    text-transform: uppercase;
    color: #777
}

.mtitle {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1em;
    font-weight: bold;
    text-align: center
}

.payu {
    display: block;
    margin-bottom: 20px;
}

.payus {
    width: 26%;
    float: left;
    display: block;
    margin-left: 4%;
}

.payus:first-chld {
    margin-left: 0;
}

.payu .payus:nth-child(2) {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 40%;
}

.payu .payus p {
    font-size: 0.9em;
    text-align: center;
}

@media (max-width: 760px) {
    .pago label.tab-menu img {
        height: 30px;
    }
    .pago .tab-content {
        padding: 20px 0;
    }
}

@media (max-width: 620px) {
    .pago label.tab-menu img {
        height: 25px;
    }
    .p-img {
        width: 25%;
    }
    .p-des {
        width: 75%;
    }
    .p-car {
        width: 50%;
    }
    .p-can,
    .p-sub {
        width: 25%;
    }
    .clear-mobile {
        display: block;
        width: 100%;
        clear: both;
    }
    .mc-subtitle {
        font-size: 15px;
    }
}

@media (max-width: 560px) {
    .payus {
        width: 100% !important;
        margin-left: 0 !important;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
    }
    .payus:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }
    .payu .payus:nth-child(2) {
        border-right: 0;
        border-left: 0;
    }
    .p-img {
        width: 30%;
    }
    .p-des {
        width: 70%;
    }
}

@media (max-width: 520px) {
    .pago label.tab-menu {
        width: 33.333%;
    }
    .tab-menu.tm2 {
        width: 50% !important;
    }
    .pago label.tab-menu img {
        height: 30px;
    }
    .p-img {
        width: 35%;
    }
    .p-des {
        width: 65%;
    }
    .p-car {
        width: 40%;
    }
    .p-can,
    .p-sub {
        width: 30%;
    }
}

@media (max-width: 360px) {
    .pago label.tab-menu img {
        height: 25px;
    }
    .p-img {
        width: 40%;
    }
    .p-des {
        width: 60%;
    }
}