@charset "UTF-8";
.l-logo,
.lc-message,
.pm-btn,
.pm-stat,
.sesion-disp,
.table-title,
a.llama-gratis {
    text-align: center
}

.fa-info-circle:before {
    content: "\f05a"
}

.fa-mouse-pointer:before {
    content: "\f245"
}

.fa-comment-o:before {
    content: "\f0e5"
}

.fa-group:before {
    content: "\f0c0"
}

.fa-angle-right:before {
    content: "\f105"
}

.fa-angle-double-right:before {
    content: "\f101"
}

.fa-angle-left:before {
    content: "\f104"
}

.fa-angle-double-left:before {
    content: "\f100"
}

.fa-eye:before {
    content: "\f06e"
}

.fa-list-ul:before {
    content: "\f0ca"
}

.fa-cube:before {
    content: "\f1b2"
}

.pm-heading {
    position: relative
}

.pm-heading h1 {
    font-size: 1.5em;
    padding: 0 15px 18px;
    border-bottom: 1px solid #bfc1c0;
    color: #444
}

.left5 {
    margin-left: 5px
}

.daterangepicker_input {
    display: none!important
}

.pm-daterange {
    display: block;
    position: fixed;
    top: 10px;
    z-index: 10000
}

.l-info,
.l-tel span.icon-tel,
.pricetag,
a.l-btn,
a.l-btn span,
a.llama-gratis span:before {
    position: relative
}

.daterangepicker td.in-range {
    background: #c9e7f5!important
}

.daterangepicker td.active {
    background-color: #357ebd!important
}

.daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 30000!important
}

.daterangepicker select.monthselect {
    width: 60%!important
}

#mapdiv,
.btn-previa,
.divider,
.dropdown-menu,
.pm-btn {
    width: 100%
}

.daterangepicker .ranges li {
    padding: 7px 12px!important
}

.btn.green {
    background: #fd0
}

.grey {
    color: #878787
}

.pm-content {
    padding: 0 20px
}

h3 {
    font-size: 21px
}

.graph-container {
    padding-left: 50px
}

.graph-container2 {
    padding-right: 30px
}

.portlet.light>.portlet-title>.caption {
    padding: 0
}

.top10 {
    margin-top: 10px!important
}

.top30 {
    margin-top: 30px!important
}

.top40 {
    margin-top: 40px!important
}

.top50 {
    margin-top: 50px!important
}

.top60 {
    margin-top: 60px!important
}

.top70 {
    margin-top: 70px!important
}

.divider {
    display: block;
    border: 1px solid #bfc1c0;
    margin: 20px 0 10px
}

.table-title {
    width: 100%;
    margin: 25px 0 10px;
    font-weight: 600
}

.row.l-btn-container,
.row.l-info {
    margin-top: 0!important
}

.sesion-disp {
    padding-left: 10px!important;
    padding-right: 10px!important;
    color: #777
}

.sesion-disp span {
    font-size: 3.5em;
    color: #777
}

.sesion-disp p {
    margin-bottom: 10px;
    color: #777;
    margin-top: 10px
}

.sesion-num {
    font-size: 1.7em;
    border-top: 1px solid #eff1f0;
    padding-top: 10px;
    margin-top: 5px;
    color: #878787;
    font-weight: 300
}

#mapdiv {
    background-color: #fff!important;
    height: 430px
}

.top20 {
    margin-top: 20px!important
}

.nav-pills {
    margin: 10px 0 20px!important;
    border-bottom: 1px solid #bdc3c7
}

.btn-previa i,
.pm-btn i {
    margin-right: 5px
}

.nav-pills>li+li {
    margin-left: -1px
}

.nav-pills>li>a {
    font-size: 14px!important;
    padding: 8px 20px!important;
    border: 1px solid #bdc3c7;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    top: 7px
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #fd0!important;
    color: #000!important;
    border: 1px solid #fd0!important;
    font-size: 16px!important;
    top: 0;
    padding: 10px 40px!important
}

.sacom-menu .btn-group {
    display: none
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.btn-default.dropdown-toggle.focus,
.open>.btn-default.dropdown-toggle:focus,
.open>.btn-default.dropdown-toggle:hover {
    color: #000;
    background-color: #fc0;
    border: none
}

.btn-default.active,
.btn-default:active,
.btn-default:hover,
.open>.btn-default.dropdown-toggle {
    color: #333;
    background-color: #fc0;
    border-color: #fff
}

.btn-group>.dropdown-menu,
.dropdown-toggle>.dropdown-menu,
.dropdown>.dropdown-menu {
    margin-top: -5px
}

.pm-stat {
    color: #878787;
    border: 1px solid #eff1f0;
    padding: 10px 0;
    margin-bottom: 30px
}

.pm-stat .visual {
    display: block;
    font-size: 3em
}

.pm-stat .number {
    font-size: 24px;
    font-weight: 300
}

.pm-stat .desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 10px;
    margin-bottom: 5px
}

.btn-previa {
    margin-bottom: 10px
}

.dashboard-stat {
    color: #777
}

.pm-btn {
    display: block;
    border: 1px solid #ccc;
    padding: 6px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #333;
    transition: .3s ease
}

.pm-btn:hover {
    background: #fd0;
    text-decoration: none
}

@media (max-width:1199px) {
    .pm-stat {
        margin-bottom: 30px
    }
}

@media (min-width:992px) {
    .page-content-wrapper .page-content {
        padding: 0 20px 10px
    }
}

@media screen and (max-width:991px) {
    .dashboard-stat {
        width: 30%;
        float: left;
        position: relative;
        margin-left: 5%
    }
    .dashboard-stat:first-child,
    ul.list {
        margin-left: 0
    }
    ul.list {
        -webkit-margin-before: 0;
        -webkit-padding-start: 0
    }
    .dashboard-stat.dashboard-stat-v2 .visual {
        margin-right: 0
    }
    .dashboard-stat .visual>i {
        font-size: 32px
    }
    .dashboard-stat .details {
        padding-right: 45px;
        padding-left: 0;
        left: 0
    }
    .graph-container {
        padding-left: 0
    }
    .graph-container2 {
        padding-right: 0
    }
    .col-md-9 {
        padding: 0
    }
    .nav-pills {
        margin: 0 0 20px!important
    }
    .sacom-menu {
        padding: 0!important
    }
    .pm-daterange {
        left: 145px
    }
}

@media screen and (max-width:767px) {
    .pm-daterange #rangofechas,
    .pm-select-product,
    .pm-select-product .btn-group,
    .pm-select-product .btn-group button {
        width: 100%!important
    }
    .pm-daterange {
        position: relative;
        left: 0;
        top: -15px;
        z-index: 0
    }
    .page-header.navbar.navbar-fixed-top {
        z-index: 99999!important
    }
    .pm-select-product {
        top: -25px!important
    }
    .pm-select-product .dropdown-menu {
        left: 0!important
    }
    .pm-heading {
        margin-top: 20px!important
    }
    .pm-heading h1 {
        font-size: 1.4em;
        padding: 5px 10px 10px
    }
}

@media screen and (max-width:710px) {
    .dashboard-stat {
        width: 100%;
        margin-left: 0
    }
    .portlet {
        padding: 0!important
    }
}

@media (max-width:590px) {
    .pm-stats>div {
        padding-left: 5px!important;
        padding-right: 5px!important
    }
    .mpad0 {
        padding: 0!important
    }
    .pm-stat .number {
        font-size: 20px
    }
    .pm-stat {
        margin-bottom: 10px
    }
    .sacom-menu .nav-pills {
        display: none
    }
    .sacom-menu .btn-group {
        display: block;
        position: relative;
        height: 50px
    }
    .sacom-menu .btn-group button {
        width: 100%;
        background: #fd0;
        font-size: 1.1em;
        border: none
    }
    .page-content-wrapper .page-content {
        padding: 5px 10px 10px!important
    }
    .pm-daterange {
        top: -5px;
        z-index: 0;
        display: block;
        height: 40px
    }
    .pm-daterange #rangofechas {
        padding: 6px 0!important
    }
}

.lc-message {
    background: #639341;
    width: initial;
    border-radius: 50px;
    max-width: 600px;
    padding: 5px;
    color: #fff
}

.lc-message i {
    margin-right: 5px
}

.row {
    margin: 0 auto
}

.eight.columns {
    width: 65.3333333333%
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box
}

@media(min-width:780px) {
    .column,
    .columns {
        margin-left: 4%
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0
    }
}

.list {
    display: block;
    margin-left: 0;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
    margin-top: 10px
}

.list-title h1 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 20px
}

.list-title span {
    color: #555;
    font-size: .9em;
    margin-bottom: 5px;
    display: block
}

.list-title span.do-you-mean {
    color: #e74c3c;
    font-size: 1.2em;
    margin-top: 15px;
    display: block
}

.list-title span.do-you-mean a:visited,
ul.list a h2 {
    color: #0d71ba
}

.list-title span.do-you-mean a {
    color: #0d71ba;
    text-decoration: underline;
    font-style: italic
}

ul.list li {
    border: 1px solid #bdc3c7;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-size: 1.1em
}

.star00:before,
.star05:before,
.star10:before,
.star15:before,
.star20:before,
.star30:before,
.star35:before,
.star40:before,
.star45:before,
.star50:before {
    font-family: sacomfont
}

ul.list li a:hover {
    cursor: pointer;
    text-decoration: none
}

.l-info {
    padding: 15px
}

ul.list a h2 {
    font-size: 1em;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px
}

.three.columns.l-logo {
    width: 17%
}

.six.columns.l-datos {
    width: 55%
}

.logo-link,
a.llama-gratis {
    display: block;
    width: 124px;
    margin: 0 auto 10px
}

.logo-link {
    border: 2px solid #bdc3c7;
    background-image: url(../Images/logo_generico.svg);
    height: 64px;
    background-size: 120px 60px;
    background-repeat: no-repeat;
    background-position: center center
}

a.llama-gratis {
    background: #fd0;
    color: #000;
    font-size: .85em;
    padding: 5px 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-decoration: none
}

.l-address a,
.l-address a:visited,
.l-categoria-tags a:visited {
    color: #0d71ba
}

a.llama-gratis:hover {
    background: #fc0
}

a.llama-gratis span:before {
    font-size: 1em;
    top: 4px;
    margin-right: 5px
}

.l-address {
    font-size: .85em
}

.l-categoria-tags a {
    display: block;
    width: 100%;
    font-size: .8em;
    padding: 10px 0;
    color: #0d71ba
}

.l-product a,
.l-product a:visited {
    color: #e74c3c
}

.l-product a {
    display: block;
    width: 100%;
    font-size: .9em;
    padding: 5px 0
}

.l-product a span.icon-oferta {
    font-size: 1.8em;
    margin-right: 3px;
    top: 6px;
    position: relative
}

.l-product a span.l-precio {
    display: block;
    margin-left: 35px;
    margin-top: 2px
}

.l-tel a,
.l-tel a:visited,
a.l-btn,
a.l-btn:visited {
    color: #000
}

.three.columns.rank {
    width: 20%;
    text-align: right
}

.l-plus {
    width: 120px;
    display: block;
    float: right
}

.l-tel {
    display: block;
    width: 100%;
    float: left;
    font-size: 1em;
    padding-bottom: 15px;
    margin-right: 5px;
    padding-top: 10px
}

.l-distance,
a.l-btn {
    float: right;
    display: block
}

.l-tel span.icon-tel {
    font-size: 1.2em;
    top: 3px;
    margin-right: 7px
}

.l-rating {
    width: 100%;
    display: block;
    text-align: center
}

.ratingstars {
    width: 100%;
    display: block;
    margin-bottom: 0;
    color: #ffd100;
    font-size: 1.5em
}

.star00:before {
    content: "\e03c \e03c \e03c \e03c \e03c"
}

.star05:before {
    content: "\e03b \e03c \e03c \e03c \e03c"
}

.star10:before {
    content: "\e03a \e03c \e03c \e03c \e03c"
}

.star15:before {
    content: "\e03a \e03b \e03c \e03c \e03c"
}

.star20:before {
    content: "\e03a \e03a \e03c \e03c \e03c"
}

.star25:before {
    font-family: sacomfont;
    content: "\e03a \e03a \e03b \e03c \e03c"
}

.star30:before {
    content: "\e03a \e03a \e03a \e03c \e03c"
}

.star35:before {
    content: "\e03a \e03a \e03a \e03b \e03c"
}

.star40:before {
    content: "\e03a \e03a \e03a \e03a \e03c"
}

.star45:before {
    content: "\e03a \e03a \e03a \e03a \e03b"
}

.star50:before {
    content: "\e03a \e03a \e03a \e03a \e03a"
}

.r-comments {
    display: block;
    color: #888;
    text-align: center;
    width: 100%;
    font-size: .85em;
    margin-bottom: 10px
}

.l-distance {
    width: 100%;
    text-align: right;
    color: #333;
    font-size: .9em;
    margin: 5px 5px 0 0
}

.l-distance span {
    margin-right: 3px
}

.l-btn-container {
    background: #eff1f0;
    border-top: 1px solid #bdc3c7
}

a.l-btn {
    width: 25%;
    background: #eff1f0;
    padding: 4px 0 10px;
    text-align: center;
    font-size: .85em;
    border-left: 1px solid #bdc3c7;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    height: 100%
}

a.l-btn:nth-child(4) {
    border-left: none
}

a.l-btn:hover {
    background: #fd0;
    cursor: pointer
}

a.l-btn span {
    font-size: 1.4em;
    margin-right: 5px;
    top: 4px
}

.pricetag {
    white-space: nowrap;
    displaY: inline-block;
    height: 30px;
    border-radius: 0 5px 5px 0;
    padding: 0 14px 0 15px;
    background: #e74c3c;
    color: #fff;
    border: 0;
    font-size: .9em;
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: 10px
}

.pricetag:hover {
    color: #fff
}

.pricetag:before {
    position: absolute;
    content: "\25CF";
    color: #fff;
    font-size: 11px;
    line-height: 0;
    text-indent: 12px;
    left: -14px;
    width: 1px;
    height: 0;
    border-right: 14px solid #e74c3c;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent
}

.pm-subtitle {
    width: 100%;
    margin-bottom: 30px;
    display: block;
    padding: 20px 20px 15px;
    font-size: 15px;
    margin-top: 5px;
    border-bottom: 1px dashed #ccc;
    font-weight: 600
}

ul.comments {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0
}

ul.comments:after {
    content: "";
    display: table;
    clear: both
}

.comments h4 {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0
}

.comment-name {
    float: left;
    width: 40%;
    text-align: center
}

.comment-text {
    float: left;
    width: 55%;
    margin-left: 5%;
    border: 1px solid #bdc3c7;
    padding: 15px;
    height: 100%;
    position: relative
}

.comment-text:after,
.comment-text:before {
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    top: 20px;
    position: absolute;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent
}

.comment-text:before {
    border-right: 20px solid #bdc3c7
}

.comment-text:after {
    margin-right: -2px;
    border-right: 20px solid #fff
}

.comment-name .d-comments {
    margin-bottom: 0;
    font-size: 13px
}

li.comment-row {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 20px;
    width: 47%;
    margin-right: 2%;
    box-sizing: border-box;
    vertical-align: top
}

.hvr-bounce-in,
.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    vertical-align: middle
}

.comment-text p {
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 0
}

@media (max-width:1140px) {
    .comment-name {
        width: 50%
    }
    .comment-text {
        width: 45%
    }
}

@media (max-width:1020px) {
    .comment-name {
        width: 100%
    }
    .comment-text {
        width: 100%;
        margin-left: 0;
        margin-top: 27px
    }
    .comment-text:before {
        top: -23px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg)
    }
    .comment-text:after,
    .comment-text:before {
        right: 50%;
        margin-right: -13px;
        transform: rotate(90deg)
    }
    .comment-text:after {
        top: -21px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg)
    }
    li.comment-row {
        width: 30%
    }
}

@media only screen and (max-width:779px) {
    li.comment-row {
        width: 47%
    }
}

@media only screen and (max-width:490px) {
    li.comment-row {
        width: 100%;
        margin-right: 0
    }
}

a.l-btn span.sacom-clics {
    position: absolute!important;
    top: 48px!important;
    display: block!important;
    left: 50%!important;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    background: #444;
    padding: 5px;
    color: #fff;
    font-size: 15px
}

.hvr-bounce-in {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: .5s;
    transition-duration: .5s
}

.hvr-bounce-in:active,
.hvr-bounce-in:focus,
.hvr-bounce-in:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(.47, 2.02, .31, -.36);
    transition-timing-function: cubic-bezier(.47, 2.02, .31, -.36)
}

@media only screen and (max-width:1300px) and (min-width:1200px) {
    .six.columns.l-datos {
        width: 53%;
        margin-left: 6%
    }
}

@media only screen and (max-width:1060px) {
    .three.columns.l-logo {
        width: 23%
    }
    .six.columns.l-datos {
        width: 49%
    }
}

@media (min-width:780px) {
    .wrapper-dropdown.active .dropdown {
        max-height: 300px;
        overflow-y: auto
    }
}

@media only screen and (max-width:979px) and (min-width:779px) {
    .pricetag {
        padding: 0 15px
    }
}

@media only screen and (max-width:860px) {
    .three.columns.rank {
        width: 100%;
        text-align: left
    }
    .six.columns.l-datos {
        margin-left: 0;
        width: 100%
    }
    .three.columns.l-logo {
        width: 100%;
        margin-bottom: 5px
    }
    a.logo-link {
        float: left;
        width: 124px;
        height: 64px;
        margin-right: 10px
    }
    .l-distance,
    a.llama-gratis {
        float: right
    }
    .l-plus {
        position: absolute;
        top: 13px;
        left: 150px
    }
    .l-distance {
        top: 60px;
        position: absolute;
        width: 39%;
        margin-left: 50%
    }
    .pagination {
        max-width: 334px;
        float: none;
        padding: 10px 0;
        margin: 20px auto 10px;
        text-align: center
    }
    .pricetag {
        left: 20px;
        margin-top: 15px
    }
    .pricetag-container {
        position: absolute;
        bottom: 20px;
        right: 35px
    }
    .l-product {
        width: 75%
    }
    .wrapper-dropdown {
        width: 100%;
        display: block;
        margin-bottom: 0;
        padding: 12px 30px 12px 6px
    }
    .filtros-tipo {
        display: block;
        width: 100%
    }
    .filtros-tipo.filtros-tipo-off {
        display: none
    }
    .filtros-toggle {
        display: block;
        width: 100%;
        font-size: .9em;
        padding: 5px 0 3px;
        text-align: center
    }
    .filtros-toggle:before {
        display: inline-block;
        font-size: 1.2em;
        position: relative;
        top: 2px;
        margin-right: 4px
    }
    .filtro-title {
        display: none
    }
    .wrapper-dropdown {
        font-size: 1em
    }
    .wrapper-dropdown.active {
        padding: 30px 30px 60px;
        position: fixed;
        z-index: 2000;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .9);
        width: 100%;
        height: 100%;
        border: none
    }
    .wrapper-dropdown.active span {
        display: block;
        z-index: 1000;
        background: #fff;
        width: 100%;
        padding: 10px 0;
        border: 1px solid #fd0;
        position: relative;
        box-sizing: border-box
    }
    .wrapper-dropdown.active span:after {
        font-family: sacomfont;
        content: "\e000";
        color: #f73a27;
        position: absolute;
        right: 12px;
        font-weight: 700;
        top: 11px
    }
    .wrapper-dropdown.active .dropdown {
        opacity: 1;
        pointer-events: auto;
        z-index: 50;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        border-top: none;
        -webkit-overflow-scrolling: touch
    }
    .filtro-selected {
        width: 100%;
        padding: 10px 30px 10px 6px;
        margin: 0 auto;
        background: #fff;
        display: block;
        font-size: .9em;
        height: auto;
        line-height: initial
    }
    .filtro-selected:after {
        margin-top: -6px
    }
    .filtros {
        padding-bottom: 7px
    }
    .wrapper-dropdown .dropdown {
        max-height: initial
    }
}

@media only screen and (max-width:600px) {
    a.l-btn {
        width: 50%;
        font-size: .8em;
        float: right;
        border-right: 0;
        border-left: 0
    }
    .hidem {
        display: none!important
    }
    a.l-btn.mail-btn {
        border-right: 1px solid #bdc3c7
    }
    .l-product {
        width: 70%
    }
}

@media only screen and (max-width:490px) {
    .three.columns.l-logo {
        margin-bottom: 60px
    }
    .l-plus {
        top: 75px;
        float: left;
        margin-top: 10px;
        left: 17px
    }
    .ratingstars {
        margin-bottom: 0
    }
}

@media only screen and (max-width:480px) {
    .flickity-slider {
        margin: 0
    }
    .l-distance {
        display: block
    }
    .pricetag {
        padding: 0 15px
    }
}

@media only screen and (max-width:420px) {
    .flickity-slider {
        margin: 0
    }
    .blog-content h4 {
        font-size: .9em
    }
    .l-product {
        width: 60%
    }
}

@media only screen and (max-width:350px) {
    a.llama-gratis {
        display: block;
        width: 110px;
        font-size: .8em;
        padding: 8px 0 10px
    }
    .pricetag {
        padding: 0 10px
    }
    .flickity-viewport {
        border-left: none;
        border-right: none
    }
}

@-webkit-keyframes loader {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}

@keyframes loader {
    0% {
        width: 0
    }
    100% {
        width: 100%
    }
}

.l-load {
    overflow: hidden;
    width: 100%;
    margin: 13px 0;
    background: #eff1f0
}

.l-load span {
    display: block;
    -webkit-animation: loader 1.5s ease infinite;
    animation: loader 1.5s ease infinite;
    color: #fff;
    padding: 5px;
    width: 0
}

.ld-yellow span {
    background: #fd0
}

.ld-grey span {
    background: #ddd
}

.ld-red span {
    background: #e74c3c
}

.ld-blue span {
    background: #86c6f5
}

.l-r-load {
    width: 100%;
    height: auto
}

.ld-o-title-bar {
    display: block;
    width: 100%;
    height: 2px;
    background: #fd0
}

.w300 {
    max-width: 300px
}

.w200 {
    max-width: 200px
}

#tabla-pedidos a.btn-previa,
.w100 {
    max-width: 100px
}

.noborder {
    border: 0!important
}

.ld-carousel-container {
    padding: 30px 0 20px
}

.ld-carousel {
    display: block;
    height: 210px;
    width: 100%;
    border: 1px solid transparent
}

.ld-carousel .pin {
    width: 70px!important;
    height: 70px!important;
    animation: ball2 500ms cubic-bezier(.165, .84, .44, 1) infinite alternate!important;
    margin-top: 85px!important
}

@keyframes ball2 {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-50px)
    }
}

.ld-carousel {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='180' height='210' stroke='white'><rect fill='white' stroke='#bdc3c7' stroke-width='1' x='0' y='0' width='90%' height='99%'/></svg>");
    background-size: 180px 210px;
    background-position: 0 0;
    background-repeat: repeat-x;
    -webkit-animation: animatedBackground 15s linear infinite;
    animation: animatedBackground 15s linear infinite
}

.btn-map {
    background: #eff1f0;
    width: 140px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: .85em;
    text-align: left;
    padding: 10px 0 12px 10px;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    height: 45px;
    border: 0;
    outline: 0;
    margin: 10px auto 0
}

.audioplayer-novolume .audioplayer-volume,
.mapa-modal.mapa-modal-off {
    display: none
}

.btn-map:hover {
    background: #fd0;
    cursor: pointer
}

.btn-map span {
    margin-right: 10px;
    font-size: 1.4em;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    position: relative;
    top: 2px
}

.mapa-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    z-index: 500;
    top: 0;
    left: 0
}

.map-modal-content {
    padding: 0 20px 20px;
    width: 100%;
    display: block
}

.btn-m-app {
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
    line-height: 0;
    padding: 13px 0 13px 60px;
    text-align: left
}

#tooltip,
.pclave-title {
    text-align: center;
    padding: 10px
}

.btn-m-app:first-child {
    border-top: none
}

.btn-m-app img {
    margin-right: 13px
}

.btn-m-app span {
    position: relative;
    top: -12px;
    color: #000
}

.btn-m-app:visited span {
    color: #000
}

.pm-select-product {
    position: absolute;
    top: 15px;
    right: 0
}

.pm-select-product .dropdown-menu {
    left: -55%!important;
    margin-top: 0!important
}

.pm-select-product .btn-group>.dropdown-menu:before,
.pm-select-product .dropdown-toggle>.dropdown-menu:before,
.pm-select-product .dropdown>.dropdown-menu:before {
    left: auto!important;
    right: 12px!important
}

.pm-select-product .btn-group>.dropdown-menu:after,
.pm-select-product .dropdown-toggle>.dropdown-menu:after,
.pm-select-product .dropdown>.dropdown-menu:after {
    left: auto!important;
    right: 13px!important
}

#tooltip {
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100000
}

#tooltip:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px
}

#tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto
}

#tooltip.left:after {
    left: 10px;
    margin: 0
}

#tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0
}

.nw {
    white-space: nowrap
}

table.dataTable.no-footer {
    border: none!important
}

.table-scrollable {
    border: 1px solid #bfc1c0;
    -webkit-overflow-scrolling: touch
}

.table-scrollable.pclave-table {
    max-height: 200px;
    overflow: auto;
    margin: 0 0 30px!important
}

.pclave-title {
    background: #eff1f0;
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #3f444a;
    margin-top: 10px;
    border: 1px solid #bfc1c0;
    border-bottom: 0
}

.audio-container {
    display: block;
    min-width: 240px
}

.audioplayer {
    height: 2.5em;
    color: #333;
    text-shadow: none;
    border: 1px solid #bfc1c0;
    position: relative;
    z-index: 1;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
    background: -webkit-linear-gradient(top, #fff, #fbfcfd);
    background: -moz-linear-gradient(top, #444, #222);
    background: -ms-radial-gradient(top, #444, #222);
    background: -o-linear-gradient(top, #444, #222);
    background: linear-gradient(top, #444, #222);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 0 1.25em rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 0 1.25em rgba(0, 0, 0, .5);
    box-shadow: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.audioplayer-mini {
    width: 2.5em;
    margin: 0 auto
}

.audioplayer>div {
    position: absolute
}

.audioplayer-playpause {
    width: 2.5em;
    height: 100%;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    left: 0
}

.audioplayer:not(.audioplayer-mini) .audioplayer-playpause {
    border-right: 1px solid #555;
    border-right-color: rgba(255, 255, 255, .1)
}

.audioplayer-mini .audioplayer-playpause {
    width: 100%
}

.audioplayer-playpause:focus,
.audioplayer-playpause:hover {
    background-color: #e7ecf1
}

.audioplayer-playpause a {
    display: block
}

.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
    width: 0;
    height: 0;
    border: .5em solid transparent;
    border-right: none;
    border-left-color: #333;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.5em 0 0 -.25em
}

.audioplayer-playing .audioplayer-playpause a {
    width: .75em;
    height: .75em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.375em 0 0 -.375em
}

.audioplayer-playing .audioplayer-playpause a:after,
.audioplayer-playing .audioplayer-playpause a:before {
    width: 40%;
    height: 100%;
    background-color: #333;
    content: '';
    position: absolute;
    top: 0
}

.audioplayer-playing .audioplayer-playpause a:before {
    left: 0
}

.audioplayer-playing .audioplayer-playpause a:after {
    right: 0
}

.audioplayer-time {
    width: 4.375em;
    height: 100%;
    line-height: 2.375em;
    text-align: center;
    z-index: 2;
    top: 0
}

.audioplayer-time-current {
    border-left: 1px solid #111;
    border-left-color: rgba(0, 0, 0, .25);
    left: 2.5em
}

.audioplayer-time-duration {
    border-right: 1px solid #555;
    border-right-color: rgba(255, 255, 255, .1);
    right: 2.5em
}

.audioplayer-novolume .audioplayer-time-duration {
    border-right: 0;
    right: 0
}

.audioplayer-bar {
    height: .875em;
    background-color: #e7ecf1;
    cursor: pointer;
    z-index: 1;
    top: 50%;
    right: 6.875em;
    left: 6.875em;
    margin-top: -.438em
}

.audioplayer-novolume .audioplayer-bar {
    right: 4.375em
}

.audioplayer-bar div {
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.audioplayer-bar-loaded {
    background-color: #ccd2dc;
    z-index: 1
}

.audioplayer-bar-played {
    background: #007fd1;
    background: -webkit-gradient(linear, left top, right top, from(#007fd1), to(#c600ff));
    background: -webkit-linear-gradient(left, #16d069, #37b76a);
    background: -moz-linear-gradient(left, #007fd1, #c600ff);
    background: -ms-radial-gradient(left, #007fd1, #c600ff);
    background: -o-linear-gradient(left, #007fd1, #c600ff);
    background: linear-gradient(left, #007fd1, #c600ff);
    z-index: 2
}

.audioplayer-volume {
    width: 2.5em;
    height: 100%;
    border-left: 1px solid #111;
    border-left-color: rgba(0, 0, 0, .25);
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    right: 0
}

.audioplayer-volume:focus,
.audioplayer-volume:hover {
    background-color: #eef1f5
}

.audioplayer-volume-button {
    width: 100%;
    height: 100%
}

.audioplayer-volume-button a {
    width: .313em;
    height: .375em;
    background-color: #333;
    display: block;
    position: relative;
    z-index: 1;
    top: 40%;
    left: 35%
}

.audioplayer-volume-button a:after,
.audioplayer-volume-button a:before {
    content: '';
    position: absolute
}

.audioplayer-volume-button a:before {
    width: 0;
    height: 0;
    border: .5em solid transparent;
    border-left: none;
    border-right-color: #333;
    z-index: 2;
    top: 50%;
    right: -.25em;
    margin-top: -.5em
}

.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
    width: .5em;
    height: .5em;
    border: .25em double #333;
    border-width: .25em .25em 0 0;
    left: .563em;
    top: -.063em;
    -webkit-border-radius: 0 .938em 0 0;
    -moz-border-radius: 0 .938em 0 0;
    border-radius: 0 .938em 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.audioplayer-volume-adjust {
    height: 6.25em;
    cursor: default;
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    background: #222;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
    background: -webkit-linear-gradient(top, #fefefe, #fff);
    background: -moz-linear-gradient(top, #444, #222);
    background: -ms-radial-gradient(top, #444, #222);
    background: -o-linear-gradient(top, #444, #222);
    background: linear-gradient(top, #444, #222);
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px
}

.audioplayer-volume:not(:hover) .audioplayer-volume-adjust {
    opacity: 0
}

.audioplayer-volume:hover .audioplayer-volume-adjust {
    top: auto;
    bottom: 100%
}

.audioplayer-volume-adjust>div {
    width: 40%;
    height: 80%;
    background-color: #eef1f5;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin: 30% auto 0
}

.audioplayer-volume-adjust div div {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #007fd1;
    background: -webkit-gradient(linear, left bottom, left top, from(#007fd1), to(#c600ff));
    background: -webkit-linear-gradient(bottom, #1ed06d, #35b86a);
    background: -moz-linear-gradient(bottom, #007fd1, #c600ff);
    background: -ms-radial-gradient(bottom, #007fd1, #c600ff);
    background: -o-linear-gradient(bottom, #007fd1, #c600ff);
    background: linear-gradient(bottom, #007fd1, #c600ff)
}

.audioplayer-pause,
.audioplayer-play,
.audioplayer-volume a {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: drop-shadow( 1px 1px 0 #000);
    filter: none
}

.audioplayer-bar,
.audioplayer-bar div,
.audioplayer-volume-adjust div {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.audioplayer-bar,
.audioplayer-volume-adjust>div {
    border: none
}

.audioplayer-bar-played,
.audioplayer-volume-adjust div div {
    -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, .5);
    -moz-box-shadow: inset 0 0 5px rgba(255, 255, 255, .5);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, .5)
}

.audioplayer-volume-adjust {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #bfc1c0
}

.audioplayer *,
.audioplayer :after,
.audioplayer :before {
    -webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    -o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
    transition: color .25s ease, background-color .25s ease, opacity .5s ease
}

.pm-title {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0 10px;
    font-weight: 500;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px
}

#tabla-detalle-pedido th,
#tabla-pedidos th,
.graph-title {
    text-align: center
}

.graph-title {
    font-size: 15px;
    font-weight: 600
}

#tabla-pedidos a.btn-previa span {
    margin-right: 5px
}

.t-total {
    background: #ffc!important
}

@media (min-width:1041px) {
    .table-square tr td,
    .table-square tr th {
        text-align: center
    }
    #tabla-detalle-pedido tr td:nth-of-type(1) {
        text-align: left
    }
    #tabla-detalle-pedido tr td:nth-of-type(3),
    #tabla-detalle-pedido tr td:nth-of-type(4),
    #tabla-pedidos tr td:nth-of-type(5) {
        text-align: right
    }
}

@media (max-width:1040px) {
    .table-hover.table-square>tbody>tr:hover,
    .table-striped.table-square>tbody>tr:nth-of-type(odd) {
        background-color: #fff
    }
    .table-square {
        border: none!important
    }
    .table-square thead {
        display: none!important
    }
    .table-square tr {
        display: block!important;
        border: 1px solid #e7ecf1!important;
        margin-bottom: 4%!important;
        width: 48%!important;
        float: left!important
    }
    .table-square tr:nth-child(odd) {
        margin-right: 4%!important
    }
    .table-square tr td {
        display: block!important;
        border: none!important;
        padding: 0!important
    }
    .table-square tr td:first-child {
        background: #e0e4ec!important
    }
    .table-square tr td:before {
        font-weight: 700!important;
        margin-right: 10px!important;
        width: 95px!important;
        display: inline-block!important;
        text-align: right!important;
        padding: 10px!important;
        border-right: 1px solid #e0e4ec!important;
        white-space: normal!important
    }
    #tabla-llama-gratis tr td:nth-of-type(1):before,
    #tabla-monitoreo tr td:nth-of-type(1):before,
    #tabla-pedidos tr td:nth-of-type(2):before {
        content: "Fecha:"
    }
    #tabla-llama-gratis tr td:nth-of-type(2):before,
    #tabla-monitoreo tr td:nth-of-type(2):before {
        content: "Hora:"
    }
    #tabla-llama-gratis tr td:nth-of-type(3):before,
    #tabla-monitoreo tr td:nth-of-type(4):before {
        content: "Estatus:"
    }
    #tabla-llama-gratis tr td:nth-of-type(4):before,
    #tabla-monitoreo tr td:nth-of-type(5):before {
        content: "Duración:"
    }
    #tabla-llama-gratis tr td:nth-of-type(5):before,
    #tabla-monitoreo tr td:nth-of-type(6):before {
        content: "Origen:"
    }
    #tabla-llama-gratis tr td:nth-of-type(6):before,
    #tabla-monitoreo tr td:nth-of-type(7):before {
        content: "Teléfono:"
    }
    #tabla-pedidos tr td:nth-of-type(1):before {
        content: "Pedido:"
    }
    #tabla-pedidos tr td:nth-of-type(3):before {
        content: "Correo de contacto:";
        width: 100%;
        display: block
    }
    #tabla-pedidos tr td:nth-of-type(4):before {
        content: "Población de destino:"
    }
    #tabla-pedidos tr td:nth-of-type(5):before {
        content: "Monto del pedido:"
    }
    #tabla-pedidos tr td:nth-of-type(6):before {
        content: "Detalle del pedido:"
    }
    #tabla-detalle-pedido tr td:before {
        width: 118px!important
    }
    #tabla-detalle-pedido tr td:nth-of-type(1) {
        text-align: center!important;
        padding-bottom: 5px!important
    }
    #tabla-detalle-pedido tr td:nth-of-type(1):before {
        content: "Artículo:";
        width: 100%!important;
        display: block;
        text-align: center!important;
        padding: 5px!important;
        margin-right: 0!important
    }
    #tabla-detalle-pedido tr td:nth-of-type(2):before {
        content: "Cantidad:"
    }
    #tabla-detalle-pedido tr td:nth-of-type(3):before {
        content: "Costo Unitario:"
    }
    #tabla-detalle-pedido tr td:nth-of-type(4):before {
        content: "Facturación:"
    }
    #tabla-detalle-pedido {
        text-align: left!important
    }
    #tabla-detalle-pedido tr.t-total td:nth-of-type(1),
    #tabla-detalle-pedido tr.t-total td:nth-of-type(1):before,
    #tabla-detalle-pedido tr.t-total td:nth-of-type(2):before,
    #tabla-detalle-pedido tr.t-total td:nth-of-type(3):before {
        display: none!important
    }
    #tabla-detalle-pedido tr.t-total {
        text-align: center!important
    }
    #tabla-detalle-pedido tr.t-total td {
        padding: 3px!important
    }
}

@media (max-width:580px) {
    .table-square tr {
        width: 100%!important;
        margin-bottom: 20px!important
    }
}

.pm-modal.pm-modal-off,
.pm-prod-modal.pm-prod-modal-off {
    display: none
}

.pm-modal,
.pm-prod-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 100000;
    top: 0;
    left: 0
}

.message-modal {
    display: block;
    width: 360px;
    max-height: 90%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

@media (max-width:380px) {
    .message-modal {
        width: 95%
    }
}

.big-modal {
    width: 800px
}

@media (max-height:500px) {
    .big-modal {
        height: 90%
    }
}

.big-modal.prod-modal {
    height: auto
}

@media (max-height:670px) {
    .big-modal.prod-modal {
        height: 90%
    }
}

@media (max-width:520px) {
    .big-modal.prod-modal {
        height: 90%
    }
}

@media (max-width:1040px) {
    .big-modal {
        width: 90%
    }
    .datalles-pedidos-modal {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch
    }
}

.datalles-pedidos-modal {
    height: calc(100% - 50px);
    overflow: auto;
    display: block
}

.message-modal-content {
    padding: 10px;
    height: 100%
}

.message-modal h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    padding: 0 40px;
    display: block
}

.noscroll {
    overflow: hidden
}

.pm-modal-close {
    color: #e74c3c;
    display: block;
    height: 40px;
    width: 40px;
    right: 10px;
    top: 10px;
    position: absolute;
    padding: 10px;
    text-align: center
}

.maxiclic-modal,
.products-modal {
    height: calc(100% - 50px);
    overflow: auto
}

.message-modal.maxiclic-m {
    width: 500px
}

@media (max-width:620px) {
    .message-modal.maxiclic-m {
        width: 90%
    }
}

.products-modal {
    text-align: left;
    padding: 15px;
    background: #fff;
    position: relative
}

.products-modal .col-md-6.col-sm-6 {
    padding-left: 0!important;
    padding-right: 0!important
}

.products-modal .col-md-7.col-sm-7 {
    width: 100%;
    text-align: center
}

.maxiclic-modal {
    text-align: left;
    padding: 15px;
    background: #ebeef2
}

.maxiclic-modal ul {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
    max-height: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.maxiclic-modal ul li {
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #ebeef2;
    font-family: arial, sans-serif!important
}

.max-title {
    color: #1a0dab;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px
}

.max-content {
    font-size: 13px;
    line-height: 15px;
    margin: 3px 0;
    display: block;
    color: #545454
}

.max-link {
    color: #006621;
    font-size: 14px;
    display: block;
    margin: 2px 0
}

.max-link span {
    display: inline-block;
    background: #58946f;
    color: #fff;
    font-size: 12px;
    padding: 1px 4px;
    border-radius: 2px;
    border: 0
}

.check-datos input[type=checkbox],
.dataTables_info,
.dataTables_length {
    display: none
}

.dataTables_filter {
    text-align: right
}

.dataTables_filter input {
    margin-left: 10px
}

button.prod-modal-ver {
    color: #337ab7!important;
    background: #fff;
    border: 0
}

.products-modal table tr td:first-child,
.products-modal table tr th:first-child {
    text-align: center
}

ul.pagination {
    margin: 10px 0 0
}

.products-modal .portlet {
    margin-bottom: 0
}

.icon-pack {
    font-size: 1.2em
}

.p-activo {
    color: #4CAF50
}

.p-pausado {
    color: #F44336
}

.p-inactivo {
    color: #946d5f
}

.check-datos input[type=checkbox]+label {
    position: relative;
    display: flex;
    margin: 15px 0;
    align-items: center;
    color: #000;
    transition: color 250ms cubic-bezier(.4, 0, .23, 1);
    font-size: 1em;
    font-weight: 400
}

.check-datos input[type=checkbox]+label>span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4, 0, .23, 1);
    position: relative
}

.check-datos input[type=checkbox]:checked+label>span {
    border: .7em solid #09b310
}

.check-datos input[type=checkbox]:checked+label>span:before {
    position: absolute;
    top: -1px;
    left: -6px;
    content: '';
    display: block;
    width: 4px;
    height: 7px;
    border: solid #fff;
    border-width: 0 3px 0 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.check-datos input[type=checkbox]:checked+label>span:after {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: -1px;
    width: 4px;
    height: 13px;
    border: solid #fff;
    border-width: 0 3px 0 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.product-type-filter {
    display: block;
    position: absolute;
    top: 0
}

.product-type-filter .check-datos {
    display: inline-block!important;
    width: 70px!important;
    vertical-align: top!important
}

@media (max-width:540px) {
    .product-type-filter {
        width: 100%;
        position: relative;
        text-align: center;
        margin-bottom: -5px;
        margin-top: -15px
    }
    .products-modal .dataTables_filter {
        text-align: center!important
    }
}

@media screen and (min-width:991px) and (max-width:1180px) {
    .sesion-disp {
        padding-left: 0!important;
        padding-right: 0!important
    }
    .sesion-disp span {
        font-size: 3em
    }
    .sesion-num.pormax {
        font-size: 1.2em
    }
}

@media screen and (min-width:1181px) {
    .sesion-num.pormax {
        font-size: 1.5em
    }
}

.chartcontainer {
    width: 100%;
    height: 300px;
    position: relative
}

#curtain,
#curtain span {
    position: absolute;
    width: 100%
}

#curtain {
    height: 100%;
    background: #fff;
    color: #000;
    font-size: 25px
}

#curtain span {
    display: block;
    top: 49%;
    text-align: center
}

.loader {
    animation: showload 1.5s infinite linear;
    transform-origin: 50% 50%;
    stroke: #fd0;
    stroke-width: 4;
    fill: none;
    stroke-linecap: round
}

.rotator {
    animation: rotateme 1s infinite linear;
    transform-origin: 30px 30px
}

@keyframes showload {
    0% {
        stroke-dashoffset: 0;
        stroke-dasharray: 1, 214
    }
    50% {
        stroke-dashoffset: -24;
        stroke-dasharray: 80, 214
    }
    100% {
        stroke-dashoffset: -107;
        stroke-dasharray: 80, 214
    }
}

@keyframes rotateme {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}