.carusel-title {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.carousel {
  height: 330px;
    margin-top: 10px;
    margin-bottom:  30px;
}
.carousel .item {
  height: 330px;
  background-color: #eff1f0;
    text-align: center;
}
.carousel .item iframe, .carousel .item img {
    margin: 0 auto;
    top: 50%;
    transform: translatey(-55%);
    position: relative;
    display: block;
    overflow-y: hidden;
}
.carousel .item p {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}
.carousel-control.right {
  background: none !important;
}
.carousel-control.left {
  background: none !important;
}

.carousel-control {
    top: 50% !important;
    bottom: auto !important;
    height: 64px;
    width: 64px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
      width: 64px;
    height: 64px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  right: 35px;
  background: url(../Images/forward.png) no-repeat center center
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  left: 35px;
  background: url(../Images/back.png) no-repeat center center;
}

.glyphicon:before {
  display: none;
}
.carousel-indicators .active {
    margin: 1px !important;
    width: 13px !important;
    height: 13px !important;
    background-color: #444 !important;
}
.carousel-indicators li {
    display: inline-block;
    width: 13px !important;
    height: 13px !important;
    border: 1px solid #444 !important;
}
.carousel-indicators {
    bottom: 5px !important;
}
.table-scrollable.pclave-table {
    max-height: 300px !important;
}