/*Normalize*/

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"] [type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


/*Grid*/

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

@media (min-width: 550px) {
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
    .one-third.column {
        width: 30.6666666667%;
    }
    .two-thirds.column {
        width: 65.3333333333%;
    }
    .one-half.column {
        width: 48%;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*Font Icons*/

@charset "UTF-8";
@font-face {
    font-family: "mifont";
    src: url("../fonts/mifont.eot");
    src: url("../fonts/mifont.eot?#iefix") format("embedded-opentype"), url("../fonts/mifont.woff") format("woff"), url("../fonts/mifont.ttf") format("truetype"), url("../fonts/mifont.svg#mifont") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "mifont" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "mifont" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\61";
}

.icon-close:before {
    content: "\62";
}

.icon-events:before {
    content: "\63";
}

.icon-facebook:before {
    content: "\64";
}

.icon-food:before {
    content: "\65";
}

.icon-instagram:before {
    content: "\66";
}

.icon-menu:before {
    content: "\67";
}

.icon-miapp:before {
    content: "\68";
}

.icon-offer:before {
    content: "\69";
}

.icon-pin:before {
    content: "\6a";
}

.icon-product:before {
    content: "\6b";
}

.icon-route:before {
    content: "\6c";
}

.icon-search:before {
    content: "\6d";
}

.icon-users:before {
    content: "\6e";
}

.icon-user:before {
    content: "\6f";
}

.icon-twitter:before {
    content: "\70";
}

.icon-to-top:before {
    content: "\71";
}

.icon-to-right:before {
    content: "\72";
}

.icon-to-left:before {
    content: "\73";
}

.icon-to-down:before {
    content: "\74";
}

.icon-talk:before {
    content: "\75";
}

.icon-star-half:before {
    content: "\76";
}

.icon-star-full:before {
    content: "\77";
}

.icon-star-empty:before {
    content: "\78";
}

.icon-share:before {
    content: "\79";
}


/* General */

.header {
    display: block;
    width: 100%;
    background: #000;
    height: 60px;
    position: fixed;
    z-index: 100;
    top: 0;
}

.header .logo {
    color: #fff;
    position: relative;
    font-size: 3em;
    width: 80px;
    height: 60px;
    top: 0;
    left: 0;
    background: #cc3333;
    text-align: center;
    padding-top: 5px;
}

.slide-container {
    width: 100%;
    height: 500px;
    background-image: url(../../Content/img/slide1.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 60px;
}

.slidetxt-cont {
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
}

.slidetxt {
    z-index: 2;
    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 12%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+15,000000+85,7db9e8+100&0+0,0.8+15,0.8+85,0+100 */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 15%, rgba(0, 0, 0, 0.8) 85%, rgba(125, 185, 232, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 15%, rgba(0, 0, 0, 0.8) 85%, rgba(125, 185, 232, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 15%, rgba(0, 0, 0, 0.8) 85%, rgba(125, 185, 232, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#007db9e8', GradientType=1);
    /* IE6-9 */
}

.slidetxt h1 {
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
    margin-top: -25px;
}

.slidetxt h1 i {
    font-size: 2em;
}

.slidetxt h1 i:before {
    position: relative;
    top: 15px;
}

.slidetxt h1 div {
    display: inline-block;
    font-size: 1em;
    position: relative;
    padding: 5px 5px 12px 5px;
    color: #fff;
    width: 150px;
    line-height: 1em;
    bottom: -15px;
    height: 50px;
    overflow: hidden;
    border-bottom: 3px solid #cc3333;
}

.text p {
    font-style: italic;
    font-size: 1em;
    vertical-align: center;
    margin: 0;
    color: #fff;
    font-weight: 600;
}

.word {
    position: absolute;
    width: 200px;
    opacity: 0;
    top: 9px;
    left: 4px;
    color: #fff;
}

.letter {
    display: inline-block;
    position: relative;
    float: left;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-funciona {
    display: block;
    max-width: 400px;
    position: relative;
    top: 215px;
    left: 50%;
    background: #cc3333;
    color: #fff;
    padding: 15px;
    font-size: 1.4em;
    border-radius: 5px;
    font-weight: 400;
    width: 250px;
    margin-left: -125px;
}


/*Experiencia*/

.intro h2 {
    width: 100%;
    display: block;
    text-align: center;
    margin: 100px 0 10px;
    font-size: 1.8em;
}
.intro p {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    max-width: 500px;
    margin: 0 auto;
}
.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 400px;
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.container:hover > .section {
    -webkit-filter: brightness(22%);
    filter: brightness(22%);
}

.container:hover > .section:hover {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.container .section {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    height: 100%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.container .section .cont_title {
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20%;
}

.container .section .cont_title h3 {
    color: white;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
    font-size: 1.8em;
    margin: 0;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s;
    vertical-align: middle;
    font-weight: 600;
}

.container .section .cont_desc {
    position: relative;
    display: block;
    text-align: center;
    width: 12vw;
    height: auto;
    margin: auto;
    opacity: 0;
    -webkit-transition: opacity 0.8s, padding-top 0.9s, -webkit-transform 0.7s;
    transition: opacity 0.8s, padding-top 0.9s, -webkit-transform 0.7s;
    transition: opacity 0.8s, transform 0.7s, padding-top 0.9s;
    transition: opacity 0.8s, transform 0.7s, padding-top 0.9s, -webkit-transform 0.7s;
    padding-top: 6vh;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.container .section .cont_desc p {
    margin: 0;
    color: white;
    font-size: 0.8em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    margin-top: 10px;
}

.container .section:hover {
    -webkit-box-flex: 1.8;
    -webkit-flex-grow: 1.8;
    -ms-flex-positive: 1.8;
    flex-grow: 1.8;
    -webkit-transition: -webkit-box-flex 0.2s, -webkit-flex 0.2s;
    transition: -webkit-box-flex 0.2s, -webkit-flex 0.2s;
    transition: flex 0.2s;
    transition: flex 0.2s, -webkit-box-flex 0.2s, -webkit-flex 0.2s, -ms-flex 0.2s;
}

.container .section:hover > .cont_title h3 {
    font-size: 2.4em;
    -webkit-transition: font-size 0.4s;
    transition: font-size 0.4s;
}

.container .section:hover > .cont_desc {
    opacity: 1;
    padding-top: 2vh;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: opacity 0.7s, padding-top 0.5s, -webkit-transform 0.1s;
    transition: opacity 0.7s, padding-top 0.5s, -webkit-transform 0.1s;
    transition: opacity 0.7s, padding-top 0.5s, transform 0.1s;
    transition: opacity 0.7s, padding-top 0.5s, transform 0.1s, -webkit-transform 0.1s;
    -webkit-transition-delay: 0s, 0.1s, 0s;
    transition-delay: 0s, 0.1s, 0s;
}

.container .section:nth-child(1) {
    background: url("../img/bg-eventos.jpg") center;
}

.container .section:nth-child(2) {
    background: url("../img/bg-restaurantes.jpg") center;
}

.container .section:nth-child(3) {
    background: url("../img/bg-negocios.jpg") center;
}

.container .section:nth-child(4) {
    background: url("../img/bg-productos.jpg") center;
}

.container .section:nth-child(5) {
    background: url("../img/bg-ofertas.jpg") center;
}
.cont_desc a {
    display: block;
    width: 80px;
    color: #fff;
    background: #cc3333;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    text-shadow: none;
    font-size: 0.9em;
}