﻿@charset "utf-8";
/* CSS Document */
.chat-alert {
	display: inline-block;
	background: #ef4f69;
	color: #fff;
	padding: 2px 6px;
	border-radius: 20px;
	font-size: 12px;
}
.chat-header {
	width: 100%;
	background-color: #f5f5f5;
	padding-top: 56px;
	display: table;
}
.chat-content {
	max-width:400px;
	background-color: #fff;
	margin:0 auto;
	position:relative;
}
.chat-header-content {
	max-width:400px;
	text-align:center;
	margin:0 auto;
	padding:15px 0px 15px 0px;
	position:relative;
}
.chat-header-btn-left {
	position: absolute;
	left: 15px;
	top: 15px;
	font-size:21px;
}
.chat-header-btn-right {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size:21px;
}
.chat-content table {
	padding:10px;
}
.chat-content table tr td {
	padding:15px;
}
.chat-content table tr {
	border-bottom:1px solid #ddd;
	width:100%;
}
.chat-foto {
	border-radius: 40px;
	overflow: hidden;
	width: 40px;
	height: 40px;
}
.chat-foto img {
	width: 40px;
	height: auto;
}
.chat-online-icon {
	font-size:12px !important;
	color: #0C6 !important;
	margin-right: 5px;
}
.chat-stalker-icon {
    font-size: 12px !important;
    color: #FF9900;
    margin-right: 5px;
}
.chat-offline-icon {
	font-size:12px !important;
	color: #ef4f69 !important;
	margin-right: 5px;
}
.chat-user-info-content {
	max-width:400px;
	background-color: #fff;
	margin:0 auto;
	position:relative;
}
.chat-user-info-content table {
	padding:10px;
	width:100%;
	border-bottom:1px dashed #ddd;
}
.chat-user-info-content table tr td {
	padding:5px;
	width:100%;
}
.chat-user-info-content fieldset {
	border: none !important;
}
.chat-info-title {
	text-align: left;
	font-weight: bold;
}
.chat-btn-back {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.chat-screen-content iframe {
	width: 93%;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
}
.chat-screen-content button {
	height: 50px;
	width: 50px;
	color: #fff;
	background-color: #000;
}
.chat-screen-content button:hover {
	background-color: #ffdd00;
}
.chat-screen-content textarea {
	height: 50px !important;
}
.chat-user-info-content {
	max-width:400px;
	background-color: #fff;
	margin:0 auto;
	position:relative;
}
.chat-user-info-content table {
	padding:10px;
}
.chat-user-info-content table tr td {
	padding:15px;
}
.chat-user-info-content fieldset {
	border: none !important;
}
.chat-user-info-content table {
	border: none !important;
}
.chat-title {
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}
.search-wrapper.chat-search {
	margin: 10px auto 10px auto !important;
}
.chat-result-info, .chat-result-add {
	width:40px;
}
.chat-result-info a {
	color:#000 !important;
	background-color: #ffdd00;
	padding:10px;
}
.chat-result-add a {
	color:#fff !important;
	background-color: #0c6;
	padding:10px;
}

#chats {
	display: none;
}

.chat-container {
                max-width: 400px;
                margin: 0 auto;
                padding: 0 20px;
}


/*#chats .one-chat,
#chats .one-chat p,
#chats .one-chat div,
#chast .one-chat input {
	position: absolute;
	bottom: 0;
	right: 0;
}*/

#chats .one-chat {
	top: 43px;
	left: 0;
}

#chats .one-chat p {
                color: #000;
                top: 0;
                text-align: center;
                left: 0;
                height: 18px;
                padding: 2px 0;
                font-size: 0.9em;
}


#chats .one-chat div {
	border-bottom: 1px solid #cbcbcb;
	top: 23px;
	left: 0;
	bottom: 25px;
	overflow: auto;
	text-align: left;
}

#chats .one-chat span {
	display: block;
	font-size: 0.85em;
	margin: 4px 6px;
	word-wrap: break-word;
}

#chats .one-chat b {
	margin-right: 3px;
}

#chats .one-chat b.me {
	color: #123a5c;
}

#chats .one-chat b.him {
	color: #801e1e;
}

#chats .one-chat input {
                background-color: white;
                bottom: 0;
                height: 37px;
                width: 100%;
                border: 1px solid #ccc;
                margin-right: -45px;
                padding: 10px;
                

}


#chats .one-chat input.submit {
                right: 0;
                width: 45px;
                color: #fff;
                background-color: #000;
                border: none;
                border-radius: 3px;
                moz-border-radius: 3px;
                webkit-border-radius: 3px;
}

.chat-delete-user-btn {
                right: 15px;
                position: absolute;
                color: red !important;
                font-size: 18px !important;
}
.chat-delete-info-btn {
                right: 35px;
                position: absolute;
                /*color: red !important;*/
                font-size: 18px !important;
}
#VacioHead {
                text-align: center;
                border-bottom: 1px solid #DDDDDD;
                padding: 10px;
}
.chat-group-btn {
                font-size: 18px !important;
                padding-left: 15px;
                padding-top: 1px;
}

.chat-message-compilation {
                border: 1px solid #ccc;
                margin-bottom: 10px;
                border-radius: 10px;
                webkit-border-radius: 10px;
                moz-border-radius: 10px;
                padding: 10px;
}
.chat-list-btn {
                padding-right:20px;
}
