html,
body {
    -webkit-overflow-scrolling: touch;
}

.container {
    position: relative;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
    position: relative
}

@media (min-width: 550px) {
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
    .one-third.column {
        width: 30.6666666667%;
    }
    .two-thirds.column {
        width: 65.3333333333%;
    }
    .one-half.column {
        width: 48%;
    }
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}


/*Contrato*/

.contrato {
    display: block;
    max-width: 1020px;
    margin: 90px auto 20px;
    padding: 0 20px;
}

.contrato-inner {
    max-width: 700px;
    margin: 0 auto;
}

.divisor {
    display: block;
    width: 100%;
    height: 2px;
    background: #ccc;
    margin-bottom: 30px;
}

.contrato h1 {
    font-size: 1.4em;
    text-align: center;
    width: 100%;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 15px;
    margin-bottom: 30px;
    display: block;
}

.contrato h2 {
    text-align: center;
    font-size: 1.1em;
    background: #E4F1FE;
    padding: 10px 0;
    border-top: 1px dashed #d2d2d2;
    border-bottom: 1px dashed #d2d2d2;
    margin-bottom: 30px;
}

.contrato h3 {
    background: #eff2f5;
    font-size: 1em;
    padding: 10px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 25px;
}

.contrato h4 {
    font-size: 0.85em;
    margin-top: 0;
    text-transform: uppercase;
    background: rgb(246, 247, 249);
    padding: 5px 10px;
    text-align: center;
}

.mbottom12 {
    margin-bottom: 12px !important;
}

.height80 {
    height: 80px !important;
}

.textarea-wrapper {
    position: relative;
}

.textarea-wrapper textarea {
    display: block;
    width: 100%;
    height: 188px;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
}

.textarea-wrapper label {
    color: #999;
}

.input-wrapper {
    position: relative;
    line-height: 14px;
    display: inline-block;
    font-size: 1em;
    width: 100%;
    margin-bottom: 25px;
}
.input-wrapper label {
    color: #999;
    font-size: 0.8em;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    left: 15px;
    top: 17px;
    padding: 0 5px;
    pointer-events: none;
    background: #fff;
    -webkit-transition: -webkit-transform 100ms ease;
    -moz-transition: -moz-transform 100ms ease;
    -o-transition: -o-transform 100ms ease;
    -ms-transition: -ms-transform 100ms ease;
    transition: transform 100ms ease;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.input-wrapper.input-filled label {
    -webkit-transform: translateY(-22px);
    -moz-transform: translateY(-22px);
    -o-transform: translateY(-22px);
    -ms-transform: translateY(-22px);
    transform: translateY(-22px);
}

.input-wrapper input {
    font-size: 1.1em;
    color: #333;
    outline: none;
    padding: 15px 20px 10px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    position: relative;
    text-transform: capitalize;
}
.input-wrapper input[type=email], .input-wrapper input[type=url] {
    text-transform: lowercase;
}

.input-wrapper input:focus {
    border: 2px solid #ffdd00;
    padding: 14px 19px 9px;
}

.input-wrapper input:focus+label {
    color: #666;
    font-size: 0.8em;
    -webkit-transform: translateY(-22px);
    -moz-transform: translateY(-22px);
    -o-transform: translateY(-22px);
    -ms-transform: translateY(-22px);
    transform: translateY(-22px);
}

.mandatory:after {
    display: block;
    position: absolute;
    content: "*";
    color: red;
    right: 0px;
    font-size: 2.5em;
    top: 6px;
}

.select-wrapper.intable {
    margin-bottom: 0 !important;
    min-width: 150px;
}

.select-wrapper.intable .select .select-styled {
    padding: 10px 35px 10px 10px !important;
    height: 40px !important;
    font-size: 0.9em;
    min-width: 150px;
}

.select-wrapper.intable .select .select-styled:after {
    top: 16px !important;
}

.select-wrapper.intable .select .select-styled.active:after,
.select-wrapper.intable .select .select-styled:active:after {
    top: 9px !important;
}

.select-wrapper.intable .select ul.select-options {
    border-top: 0;
}


/*Radios*/

.two-col {
    width: 48%;
    margin-left: 4%;
    float: left;
    display: block;
}

.two-col:first-child {
    margin-left: 0;
}

.three-col {
    width: 30.6666666667%;
    margin-left: 4%;
    float: left;
    display: block;
}

.three-col:first-child {
    margin-left: 0;
}

.radios-wrapper {
    margin-bottom: 25px;
    display: block;
}

.h117 {
    height: 117px !important;
}

.radios-title,
.field-title {
    text-transform: uppercase;
    font-size: 0.8em;
    color: #999;
    position: relative;
    top: -5px;
    left: 20px;
}

.field-title {
    position: absolute;
    display: block;
    background: #fff;
    z-index: 3;
    top: -6px;
    padding: 0 5px;
    left: 15px;
}

.field-title~div {
    width: 100% !important;
}

.radio-label label {
    display: block;
    background-color: #fff;
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    margin: 0;
    padding: 6px 5px;
    transition: 0.3s ease;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.radio-label label:hover {
    cursor: pointer;
    background-color: #E4F1FE;
}

.radio-label input[type="radio"],
.radio-label input[type="checkbox"] {
    display: none;
}

.radio-label input[type="radio"]:checked+label,
.radio-label input[type="checkbox"]:checked+label {
    background: #2ecc71;
    border-color: #2ecc71;
    /* padding-left: 20px; */
}

.radio-label input[type="checkbox"]:checked+label:before {
    position: absolute;
    content: '\f00c';
    font-family: 'FontAwesome';
    margin-left: -18px;
    margin-top: 0px;
    color: #fff;
}

.radio-label input[type="radio"]:checked+label:before {
    position: absolute;
    /* content: '\f111'; */
    /* font-family: 'FontAwesome'; */
    /* margin-left: -12px; */
    /* margin-top: 5px; */
    /* color: #fff; */
    /* font-size: 8px; */
}


/*Select*/

.select-wrapper {
    position: relative;
    margin-bottom: 25px;
    width: 100%;
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #333;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background: #fff;
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    height: 46px;
    bottom: 0;
    left: 0;
    border: 1px solid #aaa;
    padding: 15px 20px 10px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    border-radius: 20px;
}

.select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #333 transparent transparent transparent;
    position: absolute;
    top: 20px;
    right: 15px;
}

.select-styled:hover {
    background-color: #f1f1f1;
    border-radius: 20px;
}

.select-styled:active,
.select-styled.active {
    background-color: #fff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.select-styled:active:after,
.select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #333 transparent;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #aaa;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;
}

.select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #E4F1FE;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.select-options li:hover {
    background: #ffe787;
    cursor: pointer;
}

.select-options li[rel="hide"] {
    display: none;
}


/*Normal*/

.check-datos {
    max-width: 226px;
    margin: 0 auto 20px;
    margin-top: 0;
}

.check-datos input[type='checkbox'] {
    display: none;
}

.check-datos input[type='checkbox']+label {
    position: relative;
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    color: #000;
    transition: color 250ms cubic-bezier(.4, 0, .23, 1);
    font-size: 16px;
}

.check-datos input[type='checkbox']+label:hover {
    cursor: pointer;
}

.check-datos input[type='checkbox']+label>span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid #8d8d8d;
    border-radius: 2px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4, .0, .23, 1);
}

.check-datos input[type='checkbox']:checked+label>span {
    border: 1em solid #2ecc71;
}

.check-datos input[type='checkbox']:checked+label>span:before {
    position: absolute;
    top: 13px;
    left: 7px;
    content: '';
    display: block;
    width: 4px;
    height: 11px;
    border: solid #fff;
    border-width: 0 5px 0 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.check-datos input[type='checkbox']:checked+label>span:after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 15px;
    width: 5px;
    height: 17px;
    border: solid #fff;
    border-width: 0 5px 0 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*Radios*/

.check-radio {
    max-width: 100%;
    margin-top: 0;
}

.check-radio input[type='radio'] {
    display: none;
}

.check-radio input[type='radio']+label {
    position: relative;
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    transition: color 250ms cubic-bezier(.4, 0, .23, 1);
    font-size: 14px;
    text-align: left;
    padding: 0 !important;
}

.check-radio input[type='radio']+label:hover {
    cursor: pointer;
}

.check-radio input[type='radio']+label p {
    width: calc(100% - 30px);
    margin: 5px 0;
}

.check-radio input[type='radio']+label>span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background: transparent;
    border: 1px solid #8d8d8d;
    border-radius: 100px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4, .0, .23, 1);
}

.check-radio input[type='radio']:checked+label>span {
    border: 1em solid #2ecc71;
}

@keyframes checkbox-check {
    0% {
        width: 0;
        height: 0;
        border-color: #212121;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }
    33% {
        width: .2em;
        height: 0;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }
    100% {
        width: .2em;
        height: .5em;
        border-color: #212121;
        transform: translate3d(0, -.5em, 0) rotate(45deg);
    }
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

table.t-productos {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

table.t-productos th {
    background: #E4F1FE;
    padding: 10px;
    font-size: 14px;
}

table.t-productos td {
    padding: 10px 7px;
    border-bottom: 1px solid #ccc;
    font-size: 0.95em;
}

table.t-productos td input {
    max-width: 120px;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    text-align: right;
}

table.t-productos tr:nth-child(even) td {
    background: #f6f7f9
}

a.add-btn {
    display: block;
    background: #2ecc71;
    color: #fff;
    height: 30px;
    width: 30px;
    padding-top: 2px;
    font-size: 24px;
    border-radius: 40px;
}

a.add-btn:hover {
    background: #23ad5d;
}

a.remove-btn {
    display: block;
    background: #fb3c0a;
    color: #fff;
    height: 30px;
    width: 30px;
    padding-top: 7px;
    font-size: 16px;
    border-radius: 40px;
    font-weight: bold;
}

a.remove-btn:hover {
    background: #e0370a;
}


/*Tabs*/

.ctab-container section {
    display: none;
    padding: 30px 0 10px;
    border-top: 1px solid #ddd;
}

.ctab-container input[type="radio"] {
    display: none;
}

.btn-container {
    padding-top: 20px;
}

.btn-container input[type="button"] {
    margin: 0 auto;
    margin-bottom: 30px;
    display: block !important;
    color: #ffdd00;
}

.btn-submit-container {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: 10px;
    border-top: 1px solid #e4f1fe;
}

.btn-submit-container input[type="submit"] {
    font-size: 14px;
    padding: 12px 50px 12px 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #000;
    color: #fff;
    border: none !important;
    margin: 0 auto;
}

.btn-submit-container input[type="submit"]:hover {
    background-color: #ffdd00;
    color: #000;
}

.ctab-container label {
    display: inline-block;
    width: 50%;
    margin: 0 -2px -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
    font-size: 1.1em;
}

.ctab-container label:before {
    font-family: fontawesome;
    margin-right: 10px;
    font-size: 1.3em;
    font-weight: 300;
}

.ctab-container label[for*='1']:before {
    content: '\f02d';
}

.ctab-container label[for*='2']:before {
    content: '\f0ac';
}

.ctab-container label:hover {
    color: #888;
    cursor: pointer;
}

.ctab-container input:checked+label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 4px solid #2ecc71;
    border-bottom: 1px solid #fff;
}

#ctab1:checked~#ctab-content1,
#ctab2:checked~#ctab-content2 {
    display: block;
}


/*Searchable*/

select.searchable {
    background: #fff;
    height: 46px !important;
    padding: 10px 20px 10px !important;
    -webkit-appearance: menulist;
    background: #fff;
    height: 46px !important;
    padding: 10px;
    -webkit-appearance: none;
    border-radius: 20px;
    width: 100% !important;
}

select.searchable~select {
    z-index: 99 !important;
}

.alignright {
    text-align: right !important;
}


/*Responsive*/

@media screen and (max-width: 860px) {
    .tp-container {
        display: block;
        overflow-x: scroll;
        width: 100%;
    }
    table.t-productos td {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }
    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 420px) {
    .input-wrapper label.dbline {
        top: 8px;
        width: 95%;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}

@media only screen and (max-width: 360px) {
    .input-wrapper input {
        padding: 15px 15px 10px;
    }
    .input-wrapper label,
    .field-title {
        left: 10px;
    }
    .select-styled {
        padding: 15px 15px 10px;
    }
    .radios-title,
    .field-title {
        left: 15px;
    }
}


/* Flickity */

.flickity-enabled {
    position: relative;
}

.flickity-enabled:focus {
    outline: none;
}

.contrato-inner .flickity-viewport {
    height: 550px !important;
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* draggable */

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}


/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    background: white;
    background: hsla(0, 0%, 100%, 0.75);
    cursor: pointer;
    /* vertically center */
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.flickity-prev-next-button:hover {
    background: white;
}

.flickity-prev-next-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
    opacity: 0.6;
}

.flickity-prev-next-button.previous {
    left: -15px;
}

.flickity-prev-next-button.next {
    right: -15px;
}


/* right to left */

.flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
}

.flickity-prev-next-button:disabled {
    opacity: 0.3;
    cursor: auto;
}

.flickity-prev-next-button svg {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}

.flickity-prev-next-button .arrow {
    fill: #333;
}


/* ---- page dots ---- */

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}

.flickity-rtl .flickity-page-dots {
    direction: rtl;
}

.flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
    opacity: 1;
}

.carousel-cell {
    width: 260px;
    height: 500px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

.carousel-cell.is-selected {}


/* cell number */

.carousel {
    margin-bottom: 80px;
}

.carousel-cell {
    padding: 15px;
}

.carousel-cell.is-selected {
    padding: 0px;
}

.promo {
    width: 100%;
    background: #0F1012;
    color: #f9f9f9;
    text-align: center;
    height: 100%;
}

.deal {
    padding: 15px 10px 0 10px;
    font-size: 11px;
}

.deal span {
    display: block;
    text-align: center;
}

.deal span:first-of-type {
    font-size: 18px;
    margin-bottom: 5px;
}

.promo .price {
    display: block;
    width: 100%;
    background: #34363a;
    margin: 10px 0 1px 0;
    text-align: center;
    font-size: 23px;
    padding: 0px 0 5px 0;
}

.promo .price input {
    background: #000;
    border: 0;
    color: #fff;
    text-align: center;
}

.promo .price2 {
    display: block;
    width: 100%;
    background: #252629;
    margin: 0 0 1px 0;
    text-align: center;
    font-size: 15px;
    padding: 10px 0 10px 0;
}

.promo .price2:first-child {
    margin-bottom: 0;
}

.promo .price2 b {
    font-size: 13px;
    font-weight: 200;
}

.promo ul {
    display: block;
    margin: 20px 0 20px 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    color: #acb1bb;
    padding: 0 10px;
    font-size: 0.9em;
    max-height: 130px;
    overflow-y: auto;
}

.promo ul::-webkit-scrollbar {
    width: 0.7em;
}

.promo ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.promo ul::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border-radius: 10px;
}

.promo li {
    display: block;
    margin: 10px 0 0 0;
}

.promo li input {
    display: block;
    margin-top: 10px;
}

.promo button {
    display: none;
    border: none;
    border-radius: 40px;
    background: #e74c3c;
    color: #f9f9f9;
    padding: 10px 20px;
    margin: 0 auto;
}

.promo button.actualizar {
    background: #2ecc71;
    margin-bottom: 10px;
}

.is-selected .promo button {
    display: block;
}

.is-selected .promo .price {
    color: #ffdd00;
}

span.price span {
    font-size: 14px;
}

.lwcase {
    text-transform: lowercase !important;
}

.features textarea {
    width: 100%;
    height: 100px;
    background: #404144;
    border: 1px solid #000;
    color: #fff;
    padding: 5px;
    font-size: 15px;
}

.features .check-datos input[type='checkbox']+label {
    color: #acb1b0 !important;
    font-size: 14px !important;
}


/*Cobro*/

.cobro {
    z-index: 10;
    width: 260px;
    height: auto;
    padding-bottom: 20px;
    position: relative;
    margin: 20px auto;
    display: block;
    text-align: center;
    -moz-background-clip: padding;
    -o-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /* prevents bg color from leaking outside the border */
    background-color: #fff;
    /* layer fill content */
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .18);
    /* drop shadow */
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .18);
    /* drop shadow */
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, .18);
    /* drop shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, .18);
    /* drop shadow */
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation: iconosani 1.2s forwards;
    animation: iconosani 1.2s forwards;
    -moz-animation: iconosani 1.2s forwards;
    -o-animation: iconosani 1.2s forwards;
    margin-bottom: 35px;
}

@-webkit-keyframes iconosani {
    0% {
        -webkit-transform: perspective(800px) rotateX(-90deg);
        -moz-transform: perspective(800px) rotateX(-90deg);
        -o-transform: perspective(800px) rotateX(-90deg);
        opacity: 1;
    }
    40% {
        -webkit-transform: perspective(800px) rotateX(30deg);
        -moz-transform: perspective(800px) rotateX(30deg);
        -o-transform: perspective(800px) rotateX(30deg);
        opacity: 1;
    }
    70% {
        -webkit-transform: perspective(800px) rotateX(-10deg);
        -moz-transform: perspective(800px) rotateX(-10deg);
        -o-transform: perspective(800px) rotateX(-10deg);
    }
    100% {
        -webkit-transform: perspective(800px) rotateX(0deg);
        -moz-transform: perspective(800px) rotateX(0deg);
        -o-transform: perspective(800px) rotateX(0deg);
        opacity: 1;
    }
}

.cobro h2 {
    position: relative;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    background: #0f1012;
    font-weight: 500;
    padding: 10px 50px;
    margin-bottom: 5px;
}

.ribbon {
    position: absolute;
    z-index: 100;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.ribbon.top-left {
    top: -2.6px;
    left: -5px;
}

.ribbon.top-left.ribbon-primary>small {
    * zoom: 1;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFCC00', endColorstr='#FFDD00');
    background-image: -moz-linear-gradient(top, #ffcc00 0%, #ffdd00 100%);
    background-image: -webkit-linear-gradient(top, #ffcc00 0%, #ffdd00 100%);
    background-image: linear-gradient(to bottom, #ffcc00 0%, #ffcc00 100%);
    position: absolute;
    display: block;
    width: 100%;
    padding: 8px 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 75%;
    color: #0f1012;
    background-color: #428bca;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -moz-box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.5);
    top: 11px;
    left: -24px;
}

.ribbon.top-left.ribbon-primary>small:before,
.ribbon.top-left.ribbon-primary>small:after {
    position: absolute;
    content: " ";
}

.ribbon.top-left.ribbon-primary>small:before {
    left: 0;
}

.ribbon.top-left.ribbon-primary>small:after {
    right: 0;
}

.ribbon.top-left.ribbon-primary>small:before,
.ribbon.top-left.ribbon-primary>small:after {
    bottom: -3px;
    border-top: 3px solid #715d0c;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.cobro-content {
    display: block;
    width: 100%;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.cobro-content span {
    font-size: 15px;
    margin-bottom: 3px;
    display: block;
    color: #34363a;
}

.cobro-content p {
    font-size: 24px;
    margin: 0;
}

.importe-m {
    display: block;
    float: left;
    width: 60%;
    padding-bottom: 10px;
    padding: 10px;
}

.plazos-m {
    float: left;
    width: 40%;
    border-left: 1px solid #ccc;
    padding: 10px;
}

.clave-m {
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding-top: 15px;
}

.clave-m .select-wrapper {
    max-width: 280px;
    margin: 0 auto;
    margin-top: 15px;
}

.clave-m .select-wrapper span.field-title {
    top: -18px;
}

.clave-m .select-wrapper span {
    font-size: 12px !important
}

.cobro-tel {
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.cobro-tel .select-wrapper {
    margin-bottom: 15px;
    max-width: 180px;
    margin: 0 auto;
}

input.cobro-input {
    max-width: 140px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-align: right;
    margin-top: 10px;
    border: 1px solid #aaa;
}

.pago-add-btn {
    display: block;
    background: #2ecc71;
    color: #fff;
    max-width: 190px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    color: #17291f;
}

.cobro-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #656565;
}

.w120 {
    max-width: 120px !important;
}

.cobro-ini {
    margin-top: 15px;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.cobro-ini input {
    max-width: 200px;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

@-webkit-keyframes fade {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }
    66% {
        box-shadow: 0 0 0 10px #3D79D0, 0 0 0 12px white;
    }
    100% {
        box-shadow: 0 0 0 20px transparent, 0 0 0 22px transparent;
    }
}

@-moz-keyframes fade {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }
    66% {
        box-shadow: 0 0 0 10px #3D79D0, 0 0 0 12px white;
    }
    100% {
        box-shadow: 0 0 0 20px transparent, 0 0 0 22px transparent;
    }
}

@-o-keyframes fade {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }
    66% {
        box-shadow: 0 0 0 10px #3D79D0, 0 0 0 12px white;
    }
    100% {
        box-shadow: 0 0 0 20px transparent, 0 0 0 22px transparent;
    }
}

@keyframes fade {
    0% {
        box-shadow: 0 0 0 0 transparent;
    }
    66% {
        box-shadow: 0 0 0 10px #3D79D0, 0 0 0 12px white;
    }
    100% {
        box-shadow: 0 0 0 20px transparent, 0 0 0 22px transparent;
    }
}


/*Selectize*/

.selectize-control.plugin-drag_drop.multi>.selectize-input>div.ui-sortable-placeholder {
    visibility: visible !important;
    background: #f2f2f2 !important;
    background: rgba(0, 0, 0, 0.06) !important;
    border: 0 none !important;
    -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
    box-shadow: inset 0 0 12px 4px #ffffff;
}

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
    content: '!';
    visibility: hidden;
}

.selectize-control.plugin-drag_drop .ui-sortable-helper {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.selectize-dropdown-header {
    position: relative;
    padding: 3px 12px;
    border-bottom: 1px solid #d0d0d0;
    background: #f8f8f8;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.selectize-dropdown-header-close {
    position: absolute;
    right: 12px;
    top: 50%;
    color: #333333;
    opacity: 0.4;
    margin-top: -12px;
    line-height: 20px;
    font-size: 20px !important;
}

.selectize-dropdown-header-close:hover {
    color: #000000;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup {
    border-right: 1px solid #f2f2f2;
    border-top: 0 none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
    border-right: 0 none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
    display: none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
    border-top: 0 none;
}

.selectize-control.plugin-remove_button [data-value] {
    position: relative;
    padding-right: 24px !important;
}

.selectize-control.plugin-remove_button [data-value] .remove {
    z-index: 1;
    /* fixes ie bug (see #392) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    padding: 1px 0 0 0;
    border-left: 1px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.selectize-control.plugin-remove_button [data-value] .remove:hover {
    background: rgba(0, 0, 0, 0.05);
}

.selectize-control.plugin-remove_button [data-value].active .remove {
    border-left-color: rgba(0, 0, 0, 0);
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
    background: none;
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
    border-left-color: rgba(77, 77, 77, 0);
}

.selectize-control.plugin-remove_button .remove-single {
    position: absolute;
    right: 28px;
    top: 6px;
    font-size: 23px;
}

.selectize-control {
    position: relative;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
    color: #333333;
    font-family: inherit;
    font-size: inherit;
    line-height: 20px;
    -webkit-font-smoothing: inherit;
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
    background: #ffffff;
    cursor: text;
    display: inline-block;
}

.selectize-input {
    border: 1px solid #cccccc;
    padding: 6px 12px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 20px;
    padding: 14px 20px 10px;
}

.selectize-control.multi .selectize-input.has-items {
    padding: 5px 12px 2px;
}

.selectize-input.full {
    background-color: #ffffff;
}

.selectize-input.disabled,
.selectize-input.disabled * {
    cursor: default !important;
}

.selectize-input.focus {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}

.selectize-input.dropdown-active {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.selectize-input>* {
    vertical-align: baseline;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.selectize-control.multi .selectize-input>div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 1px 3px;
    background: #efefef;
    color: #333333;
    border: 0 solid rgba(0, 0, 0, 0);
}

.selectize-control.multi .selectize-input>div.active {
    background: #428bca;
    color: #ffffff;
    border: 0 solid rgba(0, 0, 0, 0);
}

.selectize-control.multi .selectize-input.disabled>div,
.selectize-control.multi .selectize-input.disabled>div.active {
    color: #808080;
    background: #ffffff;
    border: 0 solid rgba(77, 77, 77, 0);
}

.selectize-input>input {
    display: inline-block !important;
    padding: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    margin: 0 !important;
    text-indent: 0 !important;
    border: 0 none !important;
    background: none !important;
    line-height: inherit !important;
    -webkit-user-select: auto !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.selectize-input>input::-ms-clear {
    display: none;
}

.selectize-input>input:focus {
    outline: none !important;
}

.selectize-input::after {
    content: ' ';
    display: block;
    clear: left;
}

.selectize-input.dropdown-active::before {
    content: ' ';
    display: block;
    position: absolute;
    background: #ffffff;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
}

.selectize-dropdown {
    position: absolute;
    z-index: 10;
    border: 1px solid #d0d0d0;
    background: #ffffff;
    margin: -1px 0 0 0;
    border-top: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.selectize-dropdown [data-selectable] {
    cursor: pointer;
    overflow: hidden;
}

.selectize-dropdown [data-selectable] .highlight {
    background: rgba(255, 237, 40, 0.4);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
    padding: 5px 20px;
}

.selectize-dropdown .optgroup:first-child .optgroup-header {
    border-top: 0 none;
}

.selectize-dropdown .optgroup-header {
    color: #777777;
    background: #ffffff;
    cursor: default;
}

.selectize-dropdown .active {
    background-color: #fffccc;
    color: #262626;
}

.selectize-dropdown .active.create {
    color: #262626;
}

.selectize-dropdown .create {
    color: rgba(51, 51, 51, 0.5);
}

.selectize-dropdown-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    -webkit-overflow-scrolling: touch;
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
    cursor: pointer;
}

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
    cursor: text;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #333333 transparent transparent transparent;
}

.selectize-control.single .selectize-input.dropdown-active:after {
    margin-top: -4px;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #333333 transparent;
}

.selectize-control.rtl.single .selectize-input:after {
    left: 17px;
    right: auto;
}

.selectize-control.rtl .selectize-input>input {
    margin: 0 4px 0 -2px !important;
}

.selectize-control .selectize-input.disabled {
    opacity: 0.5;
    background-color: #ffffff;
}

.selectize-dropdown,
.selectize-dropdown.form-control {
    height: auto;
    padding: 0;
    margin: 0;
    z-index: 1000;
    background: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.selectize-dropdown .optgroup-header {
    font-size: 12px;
    line-height: 1.42857143;
}

.selectize-dropdown .optgroup:first-child:before {
    display: none;
}

.selectize-dropdown .optgroup:before {
    content: ' ';
    display: block;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    margin-left: -12px;
    margin-right: -12px;
}

.selectize-dropdown-content {
    padding: 5px 0;
}

.selectize-dropdown-header {
    padding: 6px 12px;
}

.selectize-input {
    min-height: 46px;
}

.selectize-input.dropdown-active {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.selectize-input.dropdown-active::before {
    display: none;
}

.selectize-input.focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.has-error .selectize-input {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .selectize-input:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.selectize-control.multi .selectize-input.has-items {
    padding-left: 9px;
    padding-right: 9px;
}

.selectize-control.multi .selectize-input>div {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.form-control.selectize-control {
    padding: 0;
    height: auto;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}