﻿/*CV Syle*/

/* Tabla de Resultados */
.content-box {
    margin-bottom: 40px;
    margin-top: 20px;
}

    .content-box span {
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
    }

    .content-box td:first-child {
        font-weight: bold;
    }

    .content-box table {
        background: none;
        margin-bottom: 1.25em;
        border: none;
        margin: 0 auto;
        margin-top: 20px;
    }

        .content-box table thead, .content-box table tfoot {
            font-weight: bold;
        }

            .content-box table thead tr th, .content-box table thead tr td, .content-box table tfoot tr th, .content-box table tfoot tr td {
                padding: 0.5em 0.625em 0.625em;
                font-size: 1.125em;
                color: #818181;
                text-align: left;
            }

        .content-box table tr th, .content-box table tr td {
            padding: 10px 20px;
            color: #333333;
            border: 1px solid #ccc;
        }

        .content-box table thead tr th {
            text-transform: uppercase;
        }

        .content-box table tbody tr:first-child {
            background: none;
            border-bottom: none;
        }

        .content-box table tbody th {
            text-align: center;
            font-weight: bold;
            font-size: 12px;
            color: #fff;
            background-color: #000;
        }

        .content-box table thead tr th, .content-box table tfoot tr th, .content-box table tbody tr td, .content-box table tr td, .content-box table tfoot tr td {
            display: table-cell;
            line-height: 1.125em;
            width: 210px;
            font-size: 13px;
            vertical-align: top;
        }

    .content-box table, .content-box th, .content-box tr:first-child td {
        font-size: 13px;
    }

    .content-box th, .content-box tr:first-child td {
        font-weight: bold;
    }

.icon-accordion {
    display: none;
}

.content-box td h3 {
    margin: 0;
    padding: 0 0 5px 0;
    display: none;
    font-weight: bold;
}

.content-box h4 {
    margin-top: 0px;
    margin-bottom: 12px;
    font-weight: normal;
}

.green-info {
    color: rgb(15, 154, 8);
    font-weight: bold;
    font-size: 13px !important;
}

@media (max-width: 680px) {
    .content-box table, .content-box tbody, .content-box tr, .content-box td, .content-box th, .content-box table tbody tr td, .content-box table tr td {
        display: block;
        width: 100%;
    }

    .content-box table {
        padding: 0 20px;
    }

        .content-box table tr td {
            border: none;
            border-bottom: 1px solid #ccc;
            padding: 10px 20px;
        }

    .content-box th {
        display: none;
    }

    .content-box tr {
        max-height: 35px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
    }

    .content-box td:first-child {
        color: #FFFFFF;
        background-color: #000;
        height: 35px;
        border: none;
        border-bottom: 1px solid #222;
    }

    .content-box h4 {
        text-align: left;
    }

    .content-box tr:first-child td:first-child {
        color: #6e6e6e;
    }

    .icon-accordion {
        display: block;
        color: #FFFFFF;
        text-align: center;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 15px;
        top: 5px;
        font-style: normal;
        font-size: 1.6em;
    }

    .content-box td h3 {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
    }
}
/*Skill Bars*/

.skillbar p {
    color: #525252;
    font-size: 12px;
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    background: #eee;
    height: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 15px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

    .skillbar-title span {
        display: block;
        background: rgba(0, 0, 0, 0.1);
        padding: 0 20px;
        height: 35px;
        line-height: 35px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

.skillbar-bar {
    height: 20px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 15px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    color: #484848;
}
