@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-size: 28px;
	font-style: normal;
	margin-left: 0px;
}.flaticon-binoculars11:before {
	content: "\e000";
}
.flaticon-calendar146:before {
	content: "\e001";
}
.flaticon-emergency:before {
	content: "\e002";
	color:#000 !important;
}
.flaticon-favourites7:before {
	content: "\e003";
}
.flaticon-finish:before {
	content: "\e004";
}
.flaticon-left208:before {
	content: "\e005";
}
.flaticon-magnifying7:before {
	content: "\e006";
}
.flaticon-male80:before {
	content: "\e007";
	font-size:18px;
}
.flaticon-map35:before {
	content: "\e008";
}
.flaticon-part3:before {
	content: "\e009";
}
.flaticon-running9:before {
	content: "\e004";
}
.flaticon-small27:before {
	content: "\e00b";
}
.flaticon-ssl:before {
	content: "\e00c";
	font-size:18px;
}
.flaticon-users1:before {
	content: "\e00d";
}
.flaticon-write15:before {
	content: "\e00e";
	font-size: 34px !important;
}

.flaticon-magnifying-filter:before {
    content: "\e006";
    font-size: 20px !important;
}