﻿@charset "utf-8";
/* i-Scroll Style */

#i-scroll-wrapper {
	position: relative;
	z-index: 1;
	height: 340px;
	max-width: 600px;
	margin-left: 20px;
	margin-right: 20px;
	background: #fff;
	overflow: hidden;	
}

#i-scroll-wrapper2 {
	position: relative;
	z-index: 1;
	height: 150px;
	max-width: 400px;
	margin-left: 20px;
	margin-right: 20px;
	background: #fff;
	overflow: hidden;	
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/*width: 1800px;*/
	height: 340px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}
#scroller li {
    width: 110px;
    height: 340px;
    float: left;
    background-color: #fff;
    font-size: 11px;
    overflow: hidden;
    text-align: center;
    padding-top: 4px;

}

#scroller li p {
  font-size: 10px;
  width: 100px;
  margin: 0 auto;
  margin-top: 6px;
  height: 32px;
  overflow: auto;
  -ms-overflow-style: none;
}

.selected {
    box-shadow: 0 0 0px 3px rgba(0, 168, 255, 0.8);
}

#scroller img {
    height: 96px !important;

}

#scroller2 {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/*width: 1800px;*/
	height: 160px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller2 ul {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}
#scroller2 li {
    width: 110px;
    height: 150px;
    float: left;
    background-color: #fff;
    font-size: 11px;
    overflow: hidden;
    text-align: center;
    padding-top: 4px;

}
#scroller2 li p {
	font-size: 10px;
	width: 100px;
	margin: 0 auto;
	margin-top: 6px;
}

/*.selected {
    box-shadow: 0 0 0px 3px rgba(0, 168, 255, 0.8);
}*/

#scroller2 img {
    height: 96px !important;

}

.product-percent {
                padding:5px 0px;
                margin-top:5px;
}
.product-percent-detail {
}
.product-percent-detail ul li {
                height:auto !important;
                padding:5px 0px;
                display:block;
}
.fa-sort-down {
                line-height:10px;
}
.red-bg {
                color: #FFF !important;
                background-color: #FF4F4F !important;
}
.yellow-bg {
                color:#000 !important;
                background-color:#ffdd00 !important;
}
.orange-bg {
                color:#000 !important;
                background-color:orange !important;
}
.green-bg {
                color:#000 !important;
                background-color: #2ecc71 !important;
}

.white-bg {
    color: #000 !important;
    background-color: rgba(255, 255, 255, 1) !important;
}

#i-scroll-wrapper.small-scroll {
                height: 160px !important;
}
#scroller.small-scroll {
                height: 160px !important;
}
#scroller.small-scroll li {
                height: 160px !important;
}