  /*Image Stack*/
  
  *,
  *:after,
  *:before {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
  }
  /*Paginacion*/
  
  .pag-title {
      margin: 0 auto;
      max-width: 400px;
      font-size: 14px;
      text-align: center;
  }
  
  .pagination {
      margin: 0 auto;
      width: 100%;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 30px;
  }
  
  .pagination .cf:before,
  .pagination .cf:after {
      content: " ";
      display: table;
  }
  
  .pagination .cf:after {
      clear: both;
  }
  
  .pagination .p {
      display: inline-block;
      border-radius: 4px;
  }
  
  .pagination .p-btn,
  .pagination .p-menu {
      display: inline-block;
      vertical-align: middle;
      height: 40px;
      border: 1px solid #ccc;
  }
  
  .pagination .p-btn + .pagination .p-btn,
  .pagination .p-btn + .pagination .p-menu,
  .pagination .p-menu + .pagination .p-btn,
  .pagination .p-menu + .pagination .p-menu {
      margin-left: 8px;
  }
  
  .pagination .p-btn {
      border: 0;
      background: #000;
      padding: 0;
      min-width: 50px;
      font-size: 1.2em;
      color: #FFFFFF;
  }
  
  .pagination .p-btn:hover {
      background: #ffdd00;
      color: #000;
  }
  
  .pagination .p-btn:first-child {
      border-radius: 3px 0 0 3px;
  }
  
  .pagination .p-btn:last-child {
      border-radius: 0 3px 3px 0;
  }
  
  .pagination .p-menu {
      position: relative;
  }
  
  .pagination .p-menu-select {
      border: 0;
      height: 100%;
      min-width: 60px;
      padding-left: 10px;
      text-align: center;
      background: white;
      border-radius: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      font-size: 14px;
  }
  
  .pagination .icon {
      font-size: 15px;
      position: absolute;
      right: 8px;
      transform: rotate(90deg);
  }
  
  .pagination .icon-left {
      top: 5px;
  }
  
  .pagination .icon-right {
      bottom: 5px;
  }
  
  .search-fields {
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;
  }
  
  .one-third-col {
      width: 32%;
      display: inline-block;
      vertical-align: top;
      padding: 10px;
  }
  
  .c-search-wrapper {
      width: 100%;
      margin: 20px auto 20px auto;
      padding: 0px 20px;
  }
  
  .c-search-wrapper input {
      width: 100%;
      height: 40px;
      padding: 10px 50px 10px 10px;
      float: left;
      font-size: 14px;
      font-family: Arial, sans-serif;
      border: 0;
      background: #FFF;
      border: 1px solid #bbb;
      margin-right: -40px;
  }
  
  .c-search-wrapper input:focus {
      outline: 0;
      background: #fff;
  }
  
  .c-search-wrapper input::-webkit-input-placeholder {
      color: #666;
      font-weight: normal;
      font-style: italic;
  }
  
  .c-search-wrapper input:-moz-placeholder {
      color: #666;
      font-weight: normal;
      font-style: italic;
  }
  
  .c-search-wrapper input:-ms-input-placeholder {
      color: #666;
      font-weight: normal;
      font-style: italic;
  }
  
  .c-search-wrapper button {
      overflow: visible;
      position: relative;
      float: right;
      border: 0;
      padding: 0;
      cursor: pointer;
      height: 40px;
      width: 40px;
      font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
      color: white;
      text-transform: uppercase;
      background: #000;
      border-radius: 0 3px 3px 0;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  }
  
  .c-search-wrapper button i {
      font-size: 21px !important;
      position: relative;
  }
  
  .c-search-wrapper button:hover {
      background: #ffdd00;
      color: #000;
  }
  
  .c-search-wrapper button:active,
  .c-search-wrapper button:focus {
      background: #000;
      color: #fff;
      outline: 0;
  }
  
  .c-search-wrapper button:hover:before {
      border-right-color: #000;
  }
  
  .c-search-wrapper button:focus:before,
  .c-search-wrapper button:active:before {
      border-right-color: #c42f2f;
  }
  
  .c-search-wrapper button::-moz-focus-inner {
      border: 0;
      padding: 0;
  }
  
  .c-search-wrapper select {
      width: 100%;
      padding: 10px;
      border: 1px solid #BBB;
      height: 40px;
      background: #fff;
      font-size: 14px;
  }
  
  .c-search-wrapper select::-ms-expand {
      display: block;
  }
  
  @media only screen and (max-width: 680px) {
      .one-third-col {
          width: 100%;
          display: block;
      }
  }
  
  .alert-danger {
      color: #b94a48;
      background-color: #f2dede;
      border: 1px solid #ebccd1;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 4px;
      width: 100%;
      text-align: center;
  }
  
  .error-message {
      color: #b94a48;
      background-color: #f2dede;
      border: 1px solid #ebccd1;
      padding: 15px;
      border-radius: 4px;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
  }
  
  .ok-message {
      color: #203A2B;
      background-color: #FFFFFF;
      padding: 15px;
      border-radius: 4px;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: bold;
  }
  
  .clear {
      clear: both;
  }
  
  .stack-container {
      max-width: 1400px;
      margin: 0 auto;
      padding: 0 10px;
      text-align: center;
      margin-bottom: 30px;
  }
  
  .stack-single {
      display: inline-block;
      padding: 10px;
      background: #F1F4F5;
      margin: 20px;
  }
  
  .stack-single img {
      width: 280px;
      height: auto;
  }
  
  .stack-info p {
      display: block;
      font-size: 13px;
      margin: 7px 0;
  }
  
  form.stack-download {
      padding: 10px;
      width: 100%;
  }
  
  form.stack-download select {
      height: 35px;
      font-size: 13px;
      background: #fff;
  }
  
  form.stack-download button {
      width: 100%;
      border: 1px solid #2ecc71;
      margin-top: 10px;
      transition: 0.3s ease;
      color: #114828;
      background: transparent;
      font-size: 14px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      padding: 8px 0;
  }
  
  form.stack-download button:hover {
      background: #2ecc71;
      cursor: pointer;
  }
  
  .message-container {
      display: block;
      max-width: 940px;
      padding: 0 20px;
      margin: 0 auto;
  }