﻿@charset "utf-8";
/* ---------- LOGIN ---------- */

fieldset {
	border:none;
}

#body-login {
	background:url(../images/bg-login.png);
	background-repeat:repeat;
	margin:0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#login {
	margin: auto;
	width: 280px;
}

#login form span {
	background-color: #fff;
	border-radius: 3px 0px 0px 3px;
	color: #000;
	display: block;
	float: left;
	height: 53px;
	line-height: 53px;
	text-align: center;
	width: 50px;
	border-top: 1px solid grey;
	border-left: 1px solid grey;
	border-bottom: 1px solid grey;
}

#login form input {
	height: 53px;
}

#login form input[type="text"], input[type="password"] {
	background-color: #fff;
	border-radius: 0px 3px 3px 0px;
	color: #111;
	margin-bottom: 1em;
	padding: 5px 0px 0px 5px;
	width: 203px;
	border-top: 1px solid grey;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	border-left: 0px;
}

#login form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #000;
	color: #ffdd00;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
	max-width: 280px;
	padding-top: 4px;
	line-height: 40px;
}

#login form input[type="submit"]:hover {
	background-color: #ffdd00;
	color: #000;
	cursor:pointer;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}
#content-login {
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top:-200px;
}
.login-logo {
	background-image:url(../images/pinbox-logo1.png);
	background-size:113px 101px;
	height:101px;
	width:113px;
	margin:0 auto;
    background-repeat: no-repeat;
}
.login-error {
	margin: 0 auto;
	font-size: 15px;
	text-align: center;
	margin-bottom: 20px;
	color: red;
	font-weight: bold;
	/*display:none;*/
}
.login-error ul {
	list-style:none;
	margin: 0px !important;
	padding: 0px !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}