@charset "utf-8";
<!-- Agregar siguientes clases en menu_sideslide.css -->
/* Notification Menu */

.menu-notification-wrap a {
	color: #fff;
}

.menu-notification-wrap a:hover,
.menu-notification-wrap a:focus {
	color: #000;
}
.menu-notification-button {
	position: absolute;
	z-index: 1000;
	top: 13px;
	right: 10px;
	padding: 0 15px 0 0;
	width: 2.25em;
	height: 2em;
}
.menu-notification-button i {
    font-size:24px;
    padding-right: 5px;
    padding-top: 7px;
    color:#fd0;
}
span.notification-number {
    position: absolute;
    font-size: 11px;
    color: #fff;
    background-color: #ff4444;
    height: 18px;
    width: 18px;
    display: block;
    border-radius: 30px;
    top: 0;
    right: 0;
    padding-top: 3px;
    text-align: center;
}
.close-notification-button {
	position: absolute;
	z-index: 1000;
	top: 16px;
	right: 10px;
	padding: 0 15px 0 0;
	width: 2.25em;
	height: 2em;
}

.close-notification-button i {
	font-size:24px;
    padding-right: 5px;
    color:#fd0;
}
.menu-notification-wrap {
	position: absolute;
    right: 0;
	z-index: 1001;
	width: 300px;
	height: 100%;
	background: #000;
	padding: 2.5em 1em 0;
	font-size: 1em;
	-webkit-transform: translate3d(320px,0,0);
	transform: translate3d(320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu-notification-wrap .menu .icon-list a i {
    font-size: 10px;
    color: #ff4444;
}
.menu-notification-wrap .menu .icon-list a span {
    font-weight: 300;
}
/* Shown notification menu */
.show-notification-menu .menu-notification-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-notification-menu .icon-list,
.show-notification-menu .icon-list a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-notification-menu .icon-list a {
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
}

.show-notification-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}