 .row:after {
     content: "";
     display: table;
     clear: both;
 }
 
 .p-wrapper {
     padding: 20px;
     margin: 0 auto;
     max-width: 920px;
 }
 
 .plevel1 {
     display: block;
     width: 20%;
     float: left;
     text-align: center;
     border: 1px solid #fd0;
     padding: 20px 0;
     color: #fff;
     background-size: cover;
     background-position: 50% 50%;
     position: relative;
     height: 60px;
 }
 
 .plevel1:hover {
     cursor: pointer;
     color: #fd0;
 }
 
 .plevel1.active div {
     background: rgba(255, 221, 0, 0.8);
     color: #000;
     position: absolute;
     padding: 20px 0;
     top: 0;
     left: 0;
     display: block;
     width: 100%;
     height: 60px;
 }
 
 .l1-1 {
     background-image: url(../images/productos-soluciones-web.jpg);
 }
 
 .l1-2 {
     background-image: url(../images/productos-ecommerce.jpg);
 }
 
 .l1-3 {
     background-image: url(../images/productos-publicidad-digital.jpg);
 }
 
 .l1-4 {
     background-image: url(../images/productos-impreso.jpg);
 }
 
 .l1-5 {
     background-image: url(../images/productos-otros.jpg);
 }
 
 .level2 {
     display: none;
 }
 
 .level2.active {
     display: block;
 }
 
 .level2 {
     max-width: 600px;
     margin: 0 auto;
 }
 
 .transition,
 p,
 .level3,
 .level2 ul li i:before,
 .level2 ul li i:after {
     transition: all 0.25s ease-in-out;
 }
 
 .flipIn,
 h1,
 .level2 ul li {
     animation: flipdown 0.5s ease both;
 }
 
 .no-select,
 h2 {
     -webkit-tap-highlight-color: transparent;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
 
 h2 {
     font-size: 18px;
     line-height: 34px;
     font-weight: 300;
     letter-spacing: 1px;
     display: block;
     margin: 0;
     cursor: pointer;
     text-align: center;
 }
 
 .level3 {
     color: rgba(48, 69, 92, 0.8);
     font-size: 17px;
     line-height: 26px;
     letter-spacing: 1px;
     position: relative;
     overflow: hidden;
     max-height: 800px;
     opacity: 1;
     transform: translate(0, 0);
     margin-top: 14px;
     z-index: 2;
 }
 
 .level2 ul {
     list-style: none;
     perspective: 900;
     padding: 0;
     margin: 0;
 }
 
 .level2 ul li {
     position: relative;
     padding: 15px;
     margin: 0;
     border-top: 1px dotted #dce7eb;
     background: #ecf2f5;
 }
 
 .level2 ul li:nth-of-type(1) {
     animation-delay: 0.2s;
 }
 
 .level2 ul li:nth-of-type(2) {
     animation-delay: 0.4s;
 }
 
 .level2 ul li:nth-of-type(3) {
     animation-delay: 0.6s;
 }
 
 .level2 ul li:nth-of-type(4) {
     animation-delay: 0.8s;
 }
 
 .level2 ul li:nth-of-type(5) {
     animation-delay: 1s;
 }
 
 .level2 ul li:nth-of-type(6) {
     animation-delay: 1.2s;
 }
 
 .level2 ul li:nth-of-type(7) {
     animation-delay: 1.4s;
 }
 
 .level2 ul li:nth-of-type(8) {
     animation-delay: 1.6s;
 }
 
 .level2 ul li i {
     position: absolute;
     transform: translate(-6px, 0);
     margin-top: 12px;
     right: 20px;
 }
 
 .level2 ul li i:before,
 .level2 ul li i:after {
     content: "";
     position: absolute;
     background-color: #7f807e;
     width: 3px;
     height: 9px;
 }
 
 .level2 ul li i:before {
     transform: translate(-2px, 0) rotate(45deg);
 }
 
 .level2 ul li i:after {
     transform: translate(2px, 0) rotate(-45deg);
 }
 
 .level2 ul li input[type=checkbox] {
     position: absolute;
     cursor: pointer;
     width: 100%;
     height: 100%;
     z-index: 1;
     opacity: 0;
 }
 
 .level2 ul li input[type=checkbox]:checked~.level3 {
     margin-top: 0;
     max-height: 0;
     opacity: 0;
     transform: translate(0, 50%);
 }
 
 .level2 ul li input[type=checkbox]:checked~i:before {
     transform: translate(2px, 0) rotate(45deg);
 }
 
 .level2 ul li input[type=checkbox]:checked~i:after {
     transform: translate(-2px, 0) rotate(-45deg);
 }
 
 @keyframes flipdown {
     0% {
         opacity: 0;
         transform-origin: top center;
         transform: rotateX(-90deg);
     }
     5% {
         opacity: 1;
     }
     80% {
         transform: rotateX(8deg);
     }
     83% {
         transform: rotateX(6deg);
     }
     92% {
         transform: rotateX(-3deg);
     }
     100% {
         transform-origin: top center;
         transform: rotateX(0deg);
     }
 }
 
 .l3-icon {
     width: 10%;
     display: block;
     float: left;
     margin-right: 3%;
     padding-top: 0px;
     text-align: center;
     padding: 2px 0;
 }
 
 .l3-icon img {
     width: 70%;
     height: auto;
     margin: 0 auto;
 }
 
 .l3-title {
     width: 70%;
     display: block;
     float: left;
     margin-right: 5%;
     color: #000;
     font-size: 16px;
 }
 
 .l3-title p {
     margin: 0;
     line-height: 21px;
     border-bottom: 1px solid #f5f9fb;
     margin-bottom: 6px;
 }
 
 .l3-title span {
     display: block;
     font-size: 13px;
     padding: 0;
     margin-top: -7px;
 }
 
 .l3-download {
     width: 10%;
     display: block;
     float: left;
     text-align: center;
 }
 
 .l3-download a {
     width: 40px;
     height: 40px;
     margin: 0 auto;
     display: block;
     padding-top: 10px;
 }
 
 .l3-download a img {
     width: 20px;
     height: auto;
 }
 
 .l3-download a:hover img {
     width: 25px;
 }
 
 .plvl3 {
     display: block;
     width: 100%;
     background: #fff;
     padding: 10px 10px 0 10px;
     border-bottom: 1px solid #dce7eb;
 }
 
 .plvl3:last-child {
     border-bottom: none;
 }
 
 @media (max-width:640px) {
     .p-wrapper {
         padding: 10px;
     }
 }
 
 @media (max-width:610px) {
     .plevel1 {
         width: 33.3333%;
     }
     .plevel1:nth-child(4),
     .plevel1:nth-child(5) {
         width: 50%;
     }
     h2 {
         font-size: 16px;
     }
     .level2 ul li {
         padding: 10px;
     }
     .l3-title {
         font-size: 15px;
     }
     .l3-title p {
         line-height: 19px;
     }
     .l3-title span {
         font-size: 12px;
     }
 }
 
 @media (max-width:400px) {
     .plevel1 {
         width: 50%;
     }
     .plevel1:nth-child(3) {
         width: 100%;
     }
     .plevel1:nth-child(4),
     .plevel1:nth-child(5) {
         width: 50%;
     }
     .l3-icon img {
         width: 100%;
     }
 }