/*SAD styles*/


/*SAD Brief*/

.sad-brief {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

.sad-brief label {
    margin: 20px 0px 10px 0px;
    display: block;
}

.sad-brief.title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.sad-brief.title h3 {
    margin-top: 30px;
}

.sad input,
.sad select,
.sad textarea {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.sad-brief textarea,
.sad-brief input,
.sad-brief select {
    width: 100%;
    background: #fff;
    -webkit-appearance: auto;
}

.sad-brief input[type="radio"] {
    -webkit-appearance: radio;
    height: 20px;
    width: 20px;
}

.sad-brief select {
    height: 28px;
}

.sad-brief textarea {
    height: 100px;
    padding: 10px;
}

.sad-brief-title {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 30px;
    border-bottom: 2px solid #E4F1FE;
    padding-bottom: 10px;
}

.sad-brief-title table {
    margin-bottom: 20px;
}

.sad-brief-title table tr td:first-child {
    width: 25%;
    background-color: #E4F1FE;
    text-align: right;
    padding-right: 10px;
}

.alignleft {
    text-align: left;
}

.alignright {
    text-align: right;
}

.column-container {
    display: block;
    width: 100%;
}

.obligatory {
    color: #F30;
    font-weight: bold;
}

.padding-left {
    padding-left: 20px;
}

.sad .one-half {
    display: inline-block;
    width: 50%;
    margin: 0 -2px;
    padding: 0 40px;
    vertical-align: top;
}

.sad .one-third {
    display: inline-block;
    width: 33.3%;
    margin: 0 -2px;
    padding: 0 40px;
    vertical-align: top;
}

.last {
    clear: both;
}

.sad-brief table {
    border: 1px solid #E4F1FE;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.sad-brief table tr th {
    background-color: #E4F1FE;
    padding: 5px;
    font-size: 13px;
}

.sad-brief table tr td {
    padding: 10px 5px;
    text-align: center;
    font-size: 13px;
}

.table-divisor {
    border-top: 3px solid #E4F1FE;
}

.table-head {
    background-color: #E4F1FE;
    text-align: right !important;
    padding-right: 15px !important;
    font-weight: bold;
    vertical-align: middle !important;
}

.btn-container {
    width: 100%;
    display: block;
    margin: 40px 0;
    text-align: center;
}

.sad button {
    margin-bottom: 20px !important;
}

.sad button.save-btn {
    margin: 0 auto;
    background-color: #000;
    color: #fd0;
    width: 200px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: 0.2s ease;
}

.sad button.save-btn:hover {
    background-color: #fd0;
    color: #000;
}

.sad button.save-btn i {
    margin-right: 10px;
}

.sad button.add {
    background: #0DB761;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.sad button.add:hover {
    background: #0B9650;
}

.sad button.add i:before {
    top: 2px;
    position: relative;
}

.sad button.remove {
    background: #fff;
    color: #e74c3c;
    border-radius: 30px;
    transition: 0.2s ease;
    font-size: 20px;
    padding: 2px 1px;
}

.sad button.remove:hover {
    background: #e74c3c;
    color: #fff;
    padding: 4px 2px;
    font-size: 16px;
}

table.demografico-tabla tr td {
    border: 1px solid #E4F1FE;
}

table tr.demografico-type {
    background-color: rgba(228, 241, 254, 0.5);
}

table.radio-toolbar {
    border: none;
}

table.radio-toolbar tr td {
    padding: 5px;
    text-align: center;
}

.radio-toolbar label {
    display: block;
    background-color: #fff;
    border: 2px solid #A5D1FD;
    border-radius: 10px;
    margin: 0;
    width: 100%;
    padding: 5px;
    transition: 0.3s ease;
    text-transform: lowercase;
}

.radio-toolbar label:hover {
    cursor: pointer;
    background-color: #A5D1FD;
}

.radio-toolbar input[type="radio"],
.radio-toolbar input[type="checkbox"] {
    display: none;
}

.radio-toolbar input[type="radio"]:checked + label,
.radio-toolbar input[type="checkbox"]:checked + label {
    background: #2ecc71;
    border-color: #2ecc71;
    padding-left: 20px;
}

.radio-toolbar input[type="checkbox"]:checked + label:before {
    position: absolute;
    content: '\f00c';
    font-family: 'FontAwesome';
    margin-left: -18px;
    margin-top: 0px;
    color: #fff;
}

.radio-toolbar input[type="radio"]:checked + label:before {
    position: absolute;
    content: '\f111';
    font-family: 'FontAwesome';
    margin-left: -12px;
    margin-top: 5px;
    color: #fff;
    font-size: 8px;
}

table.radio-toolbar tr td {
    width: 50%;
}

table.tabla-frecuencia tr td {
    border: 1px solid #E4F1FE;
}

table.tabla-frecuencia tr {
    border-bottom: 2px solid #E4F1FE;
}

.range-slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-left: -1px;
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center;
}

.range-slider input[type="range"] {
    position: relative;
    height: 20px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #b7b8b7), color-stop(100%, #b7b8b7));
    background: linear-gradient(to right, #b7b8b7 0, #b7b8b7 100%);
    background-position: center;
    background-size: 100% 2px;
    background-repeat: no-repeat;
    outline: 0;
    border: none;
    padding: 0;
}

.range-slider input[type="range"]:after {
    height: 4px;
    background: #fff;
    content: ' ';
    top: 50%;
    margin-top: -2px;
    left: -10px;
    z-index: 1;
    position: absolute;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    position: relative;
    background: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb:after {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #b2b2b2;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    content: ' ';
}

.range-slider input[type=range]:focus {
    outline: none;
}

.range-slider input[type='range'],
.range-slider input[type='range']:focus,
.range-slider input[type='range']:active,
.range-slider input[type='range']::-moz-focus-inner,
.range-slider input[type='range']::-moz-focusring {
    border: 0;
    outline: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb:before {
    position: absolute;
    top: 50%;
    right: 100%;
    width: 2000px;
    height: 8px;
    margin-top: -4px;
    z-index: 1;
    background: #2ecc71;
    content: ' ';
    right: 2px;
}

.range-slider input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    background: #2ecc71;
    border: none;
}

.range-slider input[type=range]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #b2b2b2;
    z-index: 10;
    border: 0;
}

.range-slider input[type="range"]::-ms-thumb {
    position: absolute;
    top: 50%;
    right: 100%;
    width: 2000px;
    height: 2px;
    margin-top: -1px;
    z-index: 1;
    background: #007aff;
    content: ' ';
}

.range-slider input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
}

.range-slider input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.range-slider input[type=range]::-ms-thumb {
    cursor: pointer;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0px 0px 2px rgba(13, 13, 13, 0.4);
}

.range-slider input[type=range]::-ms-fill-lower {
    background: #007aff;
}

.range-slider input[type=range]::-ms-fill-upper {
    background: #b7b8b7;
}

@media screen and (max-width: 680px) {
    .sad .one-half {
        display: block;
        width: 100%;
        padding: 0 20px;
    }
    .padding-left {
        padding-left: 0px;
    }
    .sad .one-third {
        display: block;
        width: 100%;
        margin: 20px 0;
    }
}


/*
 * Dropzone CSS
 */

@-webkit-keyframes passing-through {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }
    30%,
    70% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

@-moz-keyframes passing-through {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }
    30%,
    70% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

@keyframes passing-through {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }
    30%,
    70% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

@-webkit-keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }
    30% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-moz-keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }
    30% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }
    30% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    10% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    20% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    10% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    20% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    10% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    20% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.dropzone,
.dropzone * {
    box-sizing: border-box;
}

.dropzone {
    min-height: 110px;
    border: 5px dashed #E4F1FE;
    background: white;
    padding: 20px 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone.dz-clickable * {
    cursor: default;
}

.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message * {
    cursor: pointer;
}

.dropzone.dz-started .dz-message {
    display: none;
}

.dropzone.dz-drag-hover {
    border-style: solid;
}

.dropzone.dz-drag-hover .dz-message {
    opacity: 0.5;
}

.dropzone .dz-message {
    text-align: center;
    margin: 2em 0;
}

.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;
}

.dropzone .dz-preview:hover {
    z-index: 1000;
}

.dropzone .dz-preview:hover .dz-details {
    opacity: 1;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 20px;
    background: #999;
    background: linear-gradient(to bottom, #eee, #ddd);
}

.dropzone .dz-preview.dz-file-preview .dz-details {
    opacity: 1;
}

.dropzone .dz-preview.dz-image-preview {
    background: white;
}

.dropzone .dz-preview.dz-image-preview .dz-details {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.dropzone .dz-preview .dz-remove {
    font-size: 14px;
    text-align: center;
    display: block;
    cursor: pointer;
    border: none;
}

.dropzone .dz-preview .dz-remove:hover {
    text-decoration: underline;
}

.dropzone .dz-preview:hover .dz-details {
    opacity: 1;
}

.dropzone .dz-preview .dz-details {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 13px;
    min-width: 100%;
    max-width: 100%;
    padding: 2em 1em;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    line-height: 150%;
}

.dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 1em;
    font-size: 16px;
}

.dropzone .dz-preview .dz-details .dz-filename {
    white-space: nowrap;
}

.dropzone .dz-preview .dz-details .dz-filename:hover span {
    border: 1px solid rgba(200, 200, 200, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
    border: 1px solid transparent;
}

.dropzone .dz-preview .dz-details .dz-filename span,
.dropzone .dz-preview .dz-details .dz-size span {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 0.4em;
    border-radius: 3px;
}

.dropzone .dz-preview:hover .dz-image img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

.dropzone .dz-preview .dz-image {
    border-radius: 20px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
    display: block;
    z-index: 10;
}

.dropzone .dz-preview .dz-image img {
    display: block;
}

.dropzone .dz-preview.dz-success .dz-success-mark {
    -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.dropzone .dz-preview.dz-error .dz-error-mark {
    opacity: 1;
    -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
    animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.dropzone .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark {
    pointer-events: none;
    opacity: 0;
    z-index: 500;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -27px;
    margin-top: -27px;
}

.dropzone .dz-preview .dz-success-mark svg,
.dropzone .dz-preview .dz-error-mark svg {
    display: block;
    width: 54px;
    height: 54px;
}

.dropzone .dz-preview.dz-processing .dz-progress {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.dropzone .dz-preview.dz-complete .dz-progress {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
}

.dropzone .dz-preview:not(.dz-processing) .dz-progress {
    -webkit-animation: pulse 6s ease infinite;
    -moz-animation: pulse 6s ease infinite;
    -ms-animation: pulse 6s ease infinite;
    -o-animation: pulse 6s ease infinite;
    animation: pulse 6s ease infinite;
}

.dropzone .dz-preview .dz-progress {
    opacity: 1;
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    height: 16px;
    left: 50%;
    top: 50%;
    margin-top: -8px;
    width: 80px;
    margin-left: -40px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-transform: scale(1);
    border-radius: 8px;
    overflow: hidden;
}

.dropzone .dz-preview .dz-progress .dz-upload {
    background: #333;
    background: linear-gradient(to bottom, #666, #444);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
}

.dropzone .dz-preview.dz-error .dz-error-message {
    display: block;
}

.dropzone .dz-preview.dz-error:hover .dz-error-message {
    opacity: 1;
    pointer-events: auto;
}

.dropzone .dz-preview .dz-error-message {
    pointer-events: none;
    z-index: 1000;
    position: absolute;
    display: block;
    display: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    font-size: 13px;
    top: 130px;
    left: -10px;
    width: 140px;
    background: #be2626;
    background: linear-gradient(to bottom, #be2626, #a92222);
    padding: 0.5em 1.2em;
    color: white;
}

.dropzone .dz-preview .dz-error-message:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 64px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #be2626;
}


/*SAD Medios*/

.sad-medios {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 20px;
}

.sad-medios table {
    width: 100%;
    font-size: 13px;
    text-align: center;
    margin-bottom: 20px;
}

.sad-medios table tr th {
    background-color: #E4F1FE;
    border: 1px solid #E4F1FE;
    padding: 5px;
}

.sad-medios table tr td {
    border: 1px solid #E4F1FE;
    padding: 10px 5px;
}

.sad-medios select {
    background-color: transparent;
    width: 100%;
    border: 1px solid #ccc;
    height: 28px;
    border-radius: 0px !important;
}

.sad-medios select:hover {
    cursor: pointer;
}

.sad-medios input[type=number] {
    width: 70px;
}

.sad-medios input[type=number]::-webkit-inner-spin-button,
.sad-medios input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

td.media-category {
    background: #E6FEE4;
    padding: 10px 45px 10px 5px !important;
    font-weight: bold;
    position: relative;
}

td.media-name {
    background: #FEF2E4;
    font-weight: bold;
    padding: 10px 5px !important;
}

tr.subtotal {
    background: #eee !important;
    font-weight: bold;
}

td.subtotal {
    background: #eee !important;
}

td.total {
    background: #eee !important;
    font-weight: bold;
}

tr.bottom2 {
    border-bottom: 2px solid #C5E2FF;
}

td.alignleft {
    text-align: left !important;
    padding-left: 10px !important;
}

.aligncenter {
    text-align: center;
}

.stxt {
    font-size: 11px;
}

@media screen and (max-width: 860px) {
    .sad-medios table {
        overflow-x: auto;
        display: block;
    }
}

a.add-medio {
    display: block;
    position: absolute;
    right: 0;
    height: 36px;
    background: #2ecc71;
    top: 0;
    line-height: 35px;
    font-size: 24px;
    padding: 0 12px;
    color: #fff;
    transition: 0.3s ease;
}

a.add-medio:hover {
    background: #0B9650;
}

.totales-info-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.total-info {
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 12px;
    text-align: center;
    margin: 10px;
    width: 150px;
    padding: 10px;
}

.total-info span {
    display: block;
    font-size: 18px;
    margin-top: 5px;
}

.large-container {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
}
.xmedium-container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
}
.medium-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
}

.small-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.xsmall-container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.msmall-container {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 10px;
}

table.medio-select-categoria {
    border: none;
    max-width: 350px;
    margin: 0 auto;
}

table.medio-select-categoria tr td {
    border: none;
}

table.medio-select-categoria tr td select {
    height: 35px;
}

td.fechas {
    width: 110px;
}

input.fecha {
    width: 100px;
    display: block;
    margin: 0;
}

input.fecha:first-child {
    margin-bottom: 5px;
}


/*Orden de Medio*/

.sad-orden-medios {
    max-width: 1000px;
    margin: 0 auto;
}

.sad-orden-medios table {
    width: 100%;
}

table.orden-medio,
table.orden-medio2 {
    width: 100%;
}

table.orden-medio tr td {
    border: 1px solid #E4F1FE;
    font-size: 13px;
    padding: 8px;
}

table.orden-medio tr td:first-child {
    background: #E4F1FE;
    font-weight: bold;
    text-align: right;
    width: 130px;
}

table.orden-medio2 tr td {
    border: 1px solid #F0F8FF;
    font-size: 13px;
    padding: 8px;
}

table.orden-medio2 tr td:first-child {
    background: #F0F8FF;
    font-weight: bold;
    text-align: right;
    width: 130px;
}

.top-30 {
    margin-top: 30px;
}

.sad-divider {
    display: block;
    max-width: 1000px;
    height: 20px;
    border-top: 2px solid #E4F1FE;
    margin: 0 auto;
    margin-top: 30px;
}

.orden-comments {
    padding: 10px;
}

.orden-comments label {
    padding-bottom: 10px;
    display: block;
}

.orden-comments textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
}

.orden-comments p {
    font-size: 13px;
}

.signature-line {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    height: 120px;
}

.observaciones-pago {
    font-size: 12px;
    text-align: center;
    margin-bottom: 40px;
}

.observaciones-pago p {
    margin: 5px 0;
}

.sad-search-wrapper {
    width: 100%;
    position: relative;
}

.sad-search-wrapper input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px 50px 5px 10px;
}

.sad-search-wrapper button[type=submit] {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background: #000;
    color: #fff;
    transition: 0.3s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
}

.sad-search-wrapper button[type=submit] i {
    font-size: 21px;
}

.sad-search-wrapper button[type=submit]:hover {
    cursor: pointer;
    color: #000;
    background-color: #fd0;
}

table.info-table {
    width: 100%;
}

table.info-table tr td {
    border: 1px solid #E4F1FE;
    font-size: 13px;
    padding: 8px;
}

table.info-table tr td:first-child {
    background: #E4F1FE;
    font-weight: bold;
    text-align: right;
    width: 165px;
}

a.sad-add-comment {
    display: block;
    height: 100%;
    width: 50px;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

a.sad-add-comment i {
    font-size: 18px;
}

a.sad-add-comment:hover {
    background-color: #2ecc71;
}

a.sad-add-comment:hover i {
    color: #fff;
}

table.smalltab {
    border: 0;
    width: 135px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    vertical-align: middle;
}

table.smalltab tr td {
    height: 40px;
}


/*Pop-ups*/

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}

.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 280px;
    height: auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.popup h3 {
    margin-top: 0;
    color: #000;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
}

.popup .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 14px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
}

.popup .close:hover {
    opacity: 1;
}

.popup-content {
    background-color: #fff;
}

.popup p {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.popup textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.sad .popup ul {
    -webkit-padding-start: 20px;
}

.popup ul li {
    font-size: 13px;
}

.popup ul li a {
    display: block;
    padding: 5px 0;
}

.sad .foto_content {
    margin: 0 auto;
}

.form-busqueda input {
    display: block;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}

.form-busqueda .one-half {
    padding: 0 20px;
}

.form-busqueda button.submit-btn {
    color: #fd0;
    background-color: #000;
    width: 100%;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
    transition: 0.2s ease;
}

.form-busqueda button.submit-btn:hover {
    background-color: #fd0;
    color: #000;
}

.form-busqueda button.submit-btn i {
    margin-right: 10px;
}

.form-busqueda select {
    height: 38px;
    width: 100%;
    background-color: #fff;
}

@media screen and (max-width: 680px) {
    .form-busqueda .one-half {
        display: inline-block;
        width: 50%;
        padding: 0 20px;
    }
    .form-busqueda .one-half:first-child {
        padding-right: 10px;
    }
    .form-busqueda .one-half:last-child {
        padding-left: 10px;
    }
}

table.agregar-medio {
    width: 100%;
    margin-bottom: 30px;
}

table.agregar-medio tr td {
    padding: 5px;
}

table.agregar-medio tr td:first-child {
    width: 150px;
    background-color: #E4F1FE;
    text-align: right;
    padding-right: 10px;
}

.red {
    color: red;
    font-weight: bold;
}

h3.add-medio-title {
    margin-top: 11px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
}

table.agregar-servicio-medio {
    width: 100%;
    margin-bottom: 30px;
}

table.agregar-servicio-medio tr td {
    padding: 5px;
}

table.agregar-servicio-medio tr td:first-child {
    width: 210px;
    background-color: #E4F1FE;
    text-align: right;
    padding-right: 10px;
}
table.agregar-servicio-medio.agregar-auditor tr td:first-child {
    width: 170px;
}
select.select-medio {
    padding: 10px;
    background-color: #fff;
    height: 35px;
}
table.agregar-servicio-medio select, table.agregar-medio select {
    height: 32px;
    background-color: #fff;
}
@media screen and (max-width: 860px) {
    table.agregar-servicio-medio tr td:first-child {
        width: 120px;
        background-color: #E4F1FE;
        text-align: right;
        padding-right: 10px;
        font-size: 14px;
    }
}
@media screen and (max-width: 420px) {
    table.agregar-medio tr td:first-child {
        width: 125px;
        background-color: #E4F1FE;
        text-align: right;
        padding-right: 10px;
        font-size: 12px;
        font-weight: bold;
    }
    table.agregar-servicio-medio tr td:first-child {
        width: 140px;
        background-color: #E4F1FE;
        text-align: right;
        padding-right: 10px;
        font-size: 12px;
        font-weight: bold;
    }
    table.agregar-servicio-medio.agregar-auditor tr td:first-child {
    width: 110px;
}
}

@media screen and (max-width: 920px) {
    .add-medio-page .one-half {
        padding: 0 20px;
    }
}

@media screen and (max-width: 360px) {
    .add-medio-page .one-half {
        padding: 0 10px;
    }
}