@charset "utf-8";
/* CSS Document */
body {
    margin: 0;
    background-color:#fff;
    font-weight: 400;
    font-size: 15px;
    font-family: Arial, sans-serif;
    -ms-overflow-style: none;
}

center {
    margin:0 auto;
}
a:hover {
    cursor:pointer;
}

/* Selection color */
::selection {
  background: #ffdd00;
}
::-moz-selection {
  background: #ffdd00;
}
/* Header Navegador*/
#top {
	background-color:#000;
	height:60px;
	width:100%;
	text-align:center;
	color:#fd0;
	padding-top: 5px;
	position: fixed;
	z-index: 100;
	top: 0px;
}
.header-logo {
	background-image:url(../images/pinbox_logo_header.png);
	background-size:250px 50px;
	height:50px;
	width:250px;
	margin:0 auto;
}

#exit {
	display: block;
	position: absolute;
	top: 14px;
	right: 10px;
}
#back {
	display: block;
	position: absolute;
	top: 14px;
	left: 10px;
	color:#fd0;
}
#back .flaticon-left208:before {
	
    color:#fd0;
}
#back button {
	background-color:transparent;
	border:none;
}

.header-list {
  width: 290px;
  margin: 25px auto 20px auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}

/* Hide Scrollbar*/
body::-webkit-scrollbar { 
    display: none; 
}
html::-webkit-scrollbar { 
    display: none; 
}
.container:-webkit-scrollbar { 
    display: none; 
}

/* Datos Usuario */
#contenedordatos {
	width:100%;
	background-color:#f5f5f5;
	display:table;
}

.container {
    -webkit-overflow-scrolling: touch;
    padding-top: 60px;
}

.datos_content {
	max-width:1024px;
    margin: 0 auto;
}

textarea, input {
    outline: none;
    border: 1px solid #ccc;
    -webkit-appearance: none;
}

#content-form textarea {
                width: 100%;
                height: 60px;
}

select {
    outline: none;
    border: 1px solid #ccc;
}

input[type='checkbox'] {
    -webkit-appearance: checkbox !important;
}

.foto_content img {
	position: relative;
	left: -5px;
	top: -5px;
	width: 70px;
	height: auto;
}
.foto_content {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    overflow: hidden;
    width: 60px;
    height: 60px;
}
table.datos_usuario {
	width:100%;
	height: 100%;
}
td.nombre_usuario_content {
	width: 75%;
	font-size: 16px;
	padding-top:20px;
}
td.departamento_usuario_content {
	width:75%;
	font-size: 12px;
	padding-top:5px;
	padding-bottom:15px;
}
.datos_usuario_numeros {
	width:100%;
	position: relative;
}
.fourcolumn {
    width: 24.9%;
	float: left;
	margin:0 auto;
	font-size:12px;
	font-style:bold;
}
.dato1  {
	border-right-style:solid;
	border-color: #aaa;
	border-right-width:1px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 12px;
	margin-top: 7px;
}
.dato2  {
	border-right-style:solid;
	border-color: #aaa;
	border-right-width:1px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 12px;
	margin-top: 7px;
}
.dato3  {
	border-right-style:solid;
	border-color: #aaa;
	border-right-width:1px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 12px;
	margin-top: 7px;
}
.dato4  {
	border-color: #aaa;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 12px;
	margin-top: 7px;
}
.dato1, .dato2, .dato3, .dato4 {
	font-size:16px;
}
.dato1 span, .dato2 span, .dato3 span, .dato4 span {
	font-size:12px;
}

/* Datos Generales */
.info-general-content {
	max-width:1024px;
	margin:0 auto;
	text-align:center;
	margin-top:30px;
	font-size:12px;
}
.info-general-content-in {
	width:100%;
}
.dato-general-icon:before, .dato-general-icon:after {
	font-size: 40px !important;
	color: #000 !important;
}

.dato-general-1  {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 5px;
	vertical-align: top;
	display: inline-block;
	width: 24%;
	background-color:#f5f5f5;
	margin-bottom:4px;
}
.dato-general-2  {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 5px;
	vertical-align: top;
	display: inline-block;
	width: 24%;
	background-color:#f5f5f5;
	margin-bottom:4px;
}
.dato-general-3  {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 5px;
	vertical-align: top;
	display: inline-block;
	width: 24%;
	background-color:#f5f5f5;
	margin-bottom:4px;
}
.dato-general-4  {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 5px;
	vertical-align: top;
	display: inline-block;
	width: 24%;
	background-color:#f5f5f5;
	margin-bottom:4px;
}
.info-general-content span {
	font-size: 16px;
	border-top: 1px solid #aaa;
	padding: 15px 5px 15px 5px;
	display: block;
	max-width: 200px;
	margin: 0 auto;
}
.info-general-content p {
    line-height: 15px;
    margin-bottom: 15px;
    height: 20px;
    padding: 0px 10px;
}
.dato-general-text {
    height:70px;
}

.twocolumn {
    width: 49.9%;
    float: left;
    margin:0 auto;
    font-size:12px;
    padding: 15px 60px 15px 60px;
}

        #contenedordatos {
            margin-bottom: 5px !important;
        }

        .header-data-container {
            max-width: 800px;
            margin: 0 auto;
        }

        .slm-info {
            max-width: 300px;
            margin: 0 auto;
            margin-top: 5px;
            margin-bottom: 18px;
            padding: 0 30px;
            margin-top: 10px;
        }

            .slm-info span {
                font-size: 13px;
            }

        .skillbar {
            margin-top: 5px;
            height: 8px;
            background: #DDD;
        }

        .skillbar-bar {
            height: 8px;
        }

        .skill-bar-percent {
            top: -22px;
            font-size: 12px;
        }

        .easyPieChart span {
            font-weight: normal !important;
        }

        .info-panel table {
            margin-bottom: 10px;
        }

            .info-panel table td:first-child {
                font-weight: bold;
                text-align: center;
            }

        .datos_content2 {
            border-bottom: none !important;
        }

        @media only screen and (max-width: 480px) {
            .datos_content-row1 {
                border-bottom: none;
            }
        }

        td.datos-pv-1 {
            width: 50%;
            text-align: left;
            font-size: 13px;
            vertical-align: bottom;
        }

        td.datos-pv-2 {
            width: 50%;
            text-align: left;
            font-size: 13px;
            vertical-align: top;
        }

        a.repmensual-btn {
            width: 100%;
            display: block;
            border-radius: 5px;
            background: #000;
            color: #ffdd00;
            padding: 8px 0px;
            text-align: center;
            font-size: 14px;
        }

        a.repmensual-btn.active {
            background: #ffdd00;
            color: #000;
        }

        a.repmensual-btn:hover, a.repmensual-btn:active {
            background: #ffdd00;
            color: #000;
        }

        a.acumulado-btn {
            width: 100%;
            display: block;
            border-radius: 5px;
            background: #000;
            color: #ffdd00;
            padding: 8px 0px;
            text-align: center;
            font-size: 14px;
        }

        a.acumulado-btn:hover, a.acumulado-btn:active {
            background: #ffdd00;
            color: #000;
        }

        a.acumulado-btn.active {
            background: #ffdd00;
            color: #000;
        }

        td.datos-pie {
            text-align: center;
            width: 50%;
        }

        td.datos-title {
            padding: 10px;
            font-size: 15px;
            text-align: center;
            background: #f5f5f5;
            font-weight: bold;
            border-top-left-radius: 10px;
            -webkit-border-top-left-radius: 10px;
            -moz-border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            -moz-border-top-right-radius: 10px;
        }

        table.datos-table {
            width: 100%;
            border: 1px solid #ddd;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            border-spacing: 0;
            border-collapse: separate;
        }

        td.datos-1col {
            width: 50%;
            padding: 10px;
        }

        td.datos-1col-btn {
            width: 50%;
            padding: 0 10px;
            cursor: pointer;
        }

        td.datos-3col-btn {
            width: 33.3%;
            padding: 0 5px;
            cursor: pointer;
        }

        td.datos-3col-btn:first-child {
            padding: 0 5px 0 10px;
        }
        
        td.datos-3col-btn:last-child {
            padding: 0 10px 0 5px;
        }
        
        @media only screen and (max-width: 480px) {
            td .datos-pv-1, td.datos-pv-2 {
                display: block;
                width: 100%;
                vertical-align: middle;
                text-align: center;
            }

            td.datos-pv-2 {
                padding-bottom: 10px;
            }

            td.datos-pie {
                display: block;
                width: 100%;
            }

            td.datos-title {
                border-bottom: 1px solid #ddd;
            }

            td.datos-title {
                padding: 10px 0px;
                font-size: 13px;
                text-align: center;
                background: #f5f5f5;
                font-weight: bold;
            }
        }

        #extra-info-container {
            margin: 0 auto;
            max-width: 600px;
        }

        #reporte-mensual-content {
            display: none;
        }

        #reporte-acumulado-content {
            display: none;
        }

        #reporte-avance-content {
            position: absolute;
            top: -100%;
            display: block;
            width: 100%;
            max-width: 600px;
        }

        #reporte-mensual-content:target {
            display: block;
        }

        #reporte-acumulado-content:target {
            display: block;
        }

        #reporte-avance-content:target {
            position: relative;
            top: 0;
        }

        .close-extra-info {
            width: 100%;
            display: block;
            text-align: right;
            padding: 10px 20px 0px 20px;
        }

        #close-extra-info-link, #close-extra-info-link2 {
            color: #ff2222;
            font-weight: bold;
            font-size: 32px;
            cursor: pointer;
        }

        #owl-demo .item img {
            display: block;
            width: 100%;
            height: auto;
        }

        .owl-carousel {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        .line-chart-title {
            text-align: center;
            width: 100%;
            display: block;
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 20px;
        }

/* Calendario */
#calendario {
	max-width: 390px;
	margin: 0 auto;
}
.contenedor_calendario {
	max-width: 300px;
	padding: 0px 20px 0px 20px;
}
.contenedor_label_calendario {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    max-width: 300px;
    padding: 20px 20px 0px 20px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.ui-datepicker {
    z-index: 4001 !important;
}

    /*Pop-ups*/
.overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.9);
                transition: opacity 200ms;
                visibility: hidden;
                opacity: 0;
                z-index: 5000;
}
.overlay .cancel {
                position: absolute;
                width: 100%;
                height: 100%;
                cursor: default;
}
.overlay-visible {
                visibility: visible;
                opacity: 1;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.5);
                transition: opacity 200ms;
                z-index: 1002;
}

.overlay-visible .cancel {
                position: absolute;
                width: 100%;
                height: 100%;
                cursor: default;
}

.popup {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                width: 500px;
                height: auto;
                padding: 20px;
                background: #fff;
                border: 1px solid #666;
                box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
                border-radius: 10px;
}
.popup h3 {
                margin-top: 0;
                color: #000;
                text-align:center;
                padding-bottom:5px;
                border-bottom:1px dashed #ccc;
}
.popup .close {
                position: absolute;
                width: 20px;
                height: 20px;
                top: 14px;
                right: 20px;
                opacity: 0.8;
                transition: all 200ms;
                font-size: 30px;
                font-weight: bold;
                text-decoration: none;
                color: #F00;
}
.popup .close:hover {
               background-color:#fff;
               cursor: pointer;
}
.pop-up-content {
    font-size:13px;
}

@media only screen and (max-width: 480px) {
    .pop-up-content {
        font-size:12px;
    }
    .popup {
        width: 300px;
    }
}

/* Formularios */
.requerido {
	color:#F00;
	font-weight:bold;
	margin-left:3px;
}
.contenedor_label {
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	max-width: 400px;
	padding: 0px 20px 0px 20px;
	margin: 0 auto;
	margin-bottom: 5px;
	margin-top: 20px;
}
.contenedor_texto {
	max-width: 400px;
	padding: 0px 20px 0px 20px;
}
.contenedor_label_agente {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    max-width: 400px;
    padding: 0px 20px 0px 20px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
}
.contenedor_label_2col {
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	max-width: 600px;
	padding: 0px 20px 0px 20px;
	margin: 0 auto;
	margin-bottom: 5px;
	margin-top: 20px;
}
.contenedor_texto_2col {
	max-width: 600px;
	padding: 0px 20px 0px 20px;
}
.contenedor-two-halfs {
	max-width: 600px;
}
.contenedor-one-half {
	width: 50%;
	margin-left: -2px;
	margin-right: -2px;
	display: inline-block;
}
.contenedor-label-one-half {
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	max-width: 300px;
	padding: 0px 20px 0px 20px;
	margin: 0 auto;
	margin-bottom: 5px;
	margin-top: 20px;
}
.contenedor-texto-one-half {
	max-width: 300px;
	padding: 0px 20px 0px 20px;
}
select, input {
	padding:5px;
	width:100%;
}
input[type="submit"], input[type="button"] {
	padding:10px;
	max-width:200px;
}
#content-form {
	margin-top:20px;
}
#content-form-asistencia {
	margin-top:40px;
}
.boton-submit {
	margin:40px;
	font-size:14px;
	padding:10px 50px 10px 50px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #000;
	color: #ffdd00;
	font-weight: bold;
	border:none !important;
}
.boton-submit:hover {
	background-color: #ffdd00;
	color: #000;
}
button {
	background-color: transparent;
	border: none;
}
input[type=button] {
	font-size:14px;
	padding:12px 50px 12px 50px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #000;
	color: #fff;
	border:none !important;
}
input[type=button]:hover {
	background-color: #ffdd00;
	color: #000;
}
input[type=checkbox] {
	height:20px;
	width:20px;
}

.boton-actividades {
    font-size: 14px;
    padding: 12px 50px 12px 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #000;
    color: #ffdd00;
    border: none !important;
    max-width: 200px;
}
.boton-actividades:hover {
    background-color: #ffdd00;
    color: #000;
}

.mensaje-error {
    color: red;
    font-weight: bold;
    text-align: center;
    max-width: 300px;
    display:block;
    margin: 0 auto;
}

.mensaje-error ul {
    -webkit-padding-start: 0px;
}

.mensaje-error ul li {
    list-style-type: none;
}

.mensaje-error-dos {
    color: red;
    font-weight: bold;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    display:block;
}

.mensaje-error-dos ul {
    -webkit-padding-start: 0px;
}

.mensaje-error-dos ul li {
    list-style-type: none;
}

    .pagina-error {
        margin: 0 auto;
        text-align: center;
        background-color: #f5f5f5;
        max-width: 300px;
        padding: 20px;
        border-radius: 20px;
    }
    .error-icon {
        background-color: #FF4444;
        height: 30px;
        width: 30px;
        margin: 0 auto;
        border-radius: 30px;
        font-size: 21px;
        color: #fff;
    }

.label_form_center {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 40px;
	font-weight: bold;
	border-top: 1px dotted #ccc;
	max-width: 560px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 20px;
}
.contenedor-one-third {
	width: 33.3%;
	margin-left: -2px;
	margin-right: -2px;
	display: inline-block;
}
.contenedor-label-one-third {
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	max-width: 200px;
	padding: 0px 20px 0px 20px;
	margin: 0 auto;
	margin-bottom: 5px;
	margin-top: 20px;
}
.contenedor-texto-one-third {
	max-width: 200px;
	padding: 0px 20px 0px 20px;
}

#content-six-col {
	margin:0 auto;
	max-width:1000px;
	margin-top:50px;
	margin-bottom:0px;
}
.one-six-title {
	width: 16.6%;
	text-align: center;
	padding: 15px 0px 15px 0px;
	font-size: 14px;
}

/* Listas */
.listado-content-info {
	width: 50%;
	text-align: left;
	padding-left: 30px;
}
.listado-content-btn {
	width: 50%;
	text-align: right;
}
.customer_name {
	font-size:16px;
	margin-bottom:2px;
}
.actividad, .fecha_visita {
	font-size:12px;
	margin-bottom:2px;
}
.flaticon-left208 input {
	content: "\e004";
}
#listado_content {
  margin: 0 auto;
  max-width: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
}
#listado_content_reporte_agente {
	margin:0 auto;
	max-width:600px;
	margin-top:30px;
	margin-bottom:50px;
}
#listado_content_asistencia {
	margin:0 auto;
	max-width:600px;
	margin-top:50px;
	margin-bottom:0px;
}
#listado_content_reporte_meta {
	margin:0 auto;
	max-width:800px;
	margin-bottom:20px;
}
.listado-content-reporte-agente-dato {
	width:50%;
	text-align:left;
	padding: 5px;
	font-size:14px;
}
.reporte-meta-tag {
	width:17%;
	text-align:center;
	padding: 15px 0px 15px 0px;
	font-size:12px;
	background: #f5f5f5;
	border-bottom:1px solid #ccc;
}
.reporte-meta-tag-name {
	width:32%;
	text-align:center;
	padding: 15px 0px 15px 0px;
	font-size:12px;
	background: #f5f5f5;
	border-bottom:1px solid #ccc;
}
.reporte-meta-dato {
	width:17%;
	text-align:center;
	padding: 10px 0px 10px 0px;
	font-size:12px;
	border-bottom:1px solid #ccc;
}
.reporte-meta-dato-name {
	width:32%;
	text-align:center;
	padding: 10px 0px 10px 0px;
	font-size:12px;
	border-bottom:1px solid #ccc;
}
.td-title {
	color: #000;
	font-size: 18px;
	text-align: center;
	padding: 20px;
	border-bottom: 1px solid #ccc;
	border-top: 1px dotted #ccc;
}
.td-title2 {
	color: #000;
	font-size: 15px;
	text-align: center;
	padding: 15px;
	border-bottom: 1px solid #ccc;
	border-top: 1px dotted #ccc;
}
.listado-row {
	padding: 20px 20px 20px 30px;
	border-bottom:1px solid #ddd;
}
.listado-row-reporte-tag {
	padding: 10px 0px 10px 20px;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
}
.listado-row-reporte-dato {
	padding: 10px 0px 10px 20px;
	border-bottom:1px solid #ddd;
	text-align:center;
}
.listado-content-asistencia-title {
	width: 33.3%;
	text-align: center;
	padding: 15px 0px 15px 0px;
	font-size: 14px;
}
.alt {
	background-color:#f5f5f5;
}

.altdos {
    background-color:#fff;
}

.alt2 {
	background-color:#fffad9;
}
.col1 {
	border-right:1px solid #ddd;
}

.top-100 {
	margin-top:100px !important;
}
.top-10 {
 Margin-top: 10px !important;
}
.top-20 {
 Margin-top: 20px !important;
}
.visitas-anio-tag-1 {
	margin-top:25%;
	text-align: center;
	padding: 15px 0px 15px 0px;
	font-size: 12px;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
}
.visitas-anio-tag-2 {
	margin-top:10%;
	text-align: center;
	padding: 15px 0px 15px 0px;
	font-size: 12px;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
}
.visitas-anio-tag-3 {
	margin-top:40%;
	text-align: center;
	padding: 15px 0px 15px 0px;
	font-size: 12px;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
}
.visitas-anio-dato-1 {
	width: 25%;
	text-align: center;
	padding: 10px 0px 10px 0px;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}
.visitas-anio-dato-2 {
	width: 10%;
	text-align: center;
	padding: 10px 0px 10px 0px;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}
.visitas-anio-dato-3 {
	width: 40%;
	text-align: center;
	padding: 10px 0px 10px 0px;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}


/*Boton buscar*/
.cf:before, .cf:after{
    content:"";
    display:table;
}
.cf:after{
    clear:both;
}
.cf{
    zoom:1;
} 
/* Boton de busqueda */

.buscador-clientes {
    margin: auto;
    max-width: 290px;
    margin-top: 20px;
}

.search-wrapper {
	width: 100%;
	/*margin: 20px auto 25px auto;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);*/
}
.search-wrapper input {
	width: 100%;
	height: 35px;
	padding: 10px 50px 10px 5px;
	float: left;
	font-size: 14px;
	font-family: Arial, sans-serif;
	border: 0;
	background: #FFF;
	border: 1px solid #bbb;
	margin-right: -7px;
}
 
.search-wrapper input:focus {
    outline: 0;
    background: #fff;
}
 
.search-wrapper input::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: italic;
}
 
.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}   
.search-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 35px;
	width: 35px;
	font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: white;
	text-transform: uppercase;
	background: #000;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    margin-left: -35px;
}
.search-wrapper button:hover {     
    background: #ffdd00;
	color:#000;
}     
.search-wrapper button:active,
.search-wrapper button:focus {   
    background: #000;
	color:#fff;
    outline: 0;   
}
.search-wrapper button:hover:before {
    border-right-color: #000;
}
.search-wrapper button:focus:before,
.search-wrapper button:active:before {
    border-right-color: #c42f2f;
}      
 
.search-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Area de Tablas */
.table-tag {
	text-align: center;
	padding: 15px 0px 15px 0px;
	font-size: 12px;
	background: #f5f5f5;
	border-bottom: 1px solid #ccc;
}
.table-data {
	text-align: center;
	padding: 10px 0px 10px 0px;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}

.table-search {
	font-size:12px;
	margin-bottom:30px;
	text-align:center;
	margin-top:20px;
}
.table-search input[type=submit] {
	width: 100% !important;
	padding: 5px;
	max-width: 800px;
	margin-bottom: 20px;
	background: #ffdd00;
	border: 1px solid #ffdd00;
}
.table-search input[type=text] {
	text-align:center;
}
.td-title-filter {
	color: #000;
	font-size: 18px;
	text-align: center;
	padding: 20px;
	border-top: 1px dotted #ccc;
}

.w-5 {
	width: 5%;
}
.w-10 {
	width: 10%;
}
.w-12-5 {
	width: 12.5%;
}
.w-15 {
	width: 15%;
}
.w-20 {
	width: 20%;
}
.w-25 {
	width: 25%;
}
.w-30 {
	width: 30%;
}
.w-33-3 {
	width: 33.33%;
}
.w-40 {
	width: 40%;
}
.w-50 {
	width: 50%;
}
.w-60 {
	width: 60%;
}
.w-70 {
	width: 70%;
}
.w-80 {
	width: 80%;
}
.w-90 {
	width: 90%;
}
.w-100 {
	width: 100%;
}

.table-search-filter-wrapper {
width: auto;
margin: 0px;
box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}
.table-search-filter-wrapper input {
width: 100%;
height: 30px;
/*padding: 10px 5px;*/
float: left;
font-size: 14px;
font-family: Arial, sans-serif;
border: 0;
background: #FFF;
border: 1px solid #bbb;
margin-right: -30px;
}
.table-search-filter-wrapper button:hover:before {
    border-right-color: #000;
}
.table-search-filter input[type=text] {
text-align: left;
}
.table-search-filter-wrapper button:hover {
    background: none repeat scroll 0% 0% #FD0;
    color: #000;
}
.table-search-filter-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0px none;
    padding: 0px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    color: #FFF;
    background: none repeat scroll 0% 0% #000;
    border-radius: 0px 3px 3px 0px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

/*Area Tabla Ventas Mobile*/
.tabla-vm {
            max-width: 1000px;
            margin: 0 auto;
            padding: 0 10px 10px 10px;
        }

            .tabla-vm table {
                width: 100%;
            }

                .tabla-vm table a:link {
                    color: #666;
                    font-weight: bold;
                    text-decoration: none;
                }

            .tabla-vm a:visited {
                color: #999999;
                font-weight: bold;
                text-decoration: none;
            }

            .tabla-vm table a:active,
            .tabla-vm table a:hover {
                color: #bd5a35;
                text-decoration: underline;
            }

            .tabla-vm table {
                font-family: Arial, Helvetica, sans-serif;
                color: #444;
                font-size: 13px;
                background: #eaebec;
                border: #ccc 1px solid;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                position: relative;
            }

                .tabla-vm table th {
                    padding: 5px;
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #e0e0e0;
                    background: #ededed;
                    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
                    background: -moz-linear-gradient(top, #ededed, #ebebeb);
                }

                .tabla-vm table tr:first-child th:first-child {
                    -moz-border-radius-topleft: 3px;
                    -webkit-border-top-left-radius: 3px;
                    border-top-left-radius: 3px;
                }

                .tabla-vm table tr:first-child th:last-child {
                    -moz-border-radius-topright: 3px;
                    -webkit-border-top-right-radius: 3px;
                    border-top-right-radius: 3px;
                }

                .tabla-vm table tr {
                    text-align: center;
                }

                .tabla-vm table td {
                    padding: 5px;
                    border-top: 1px solid #ffffff;
                    border-bottom: 1px solid #e0e0e0;
                    border-left: 1px solid #e0e0e0;
                    text-align: center;
                    background: #ffffff;
                    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
                    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
                }

                .tabla-vm table tr:nth-child(even) td {
                    background: #f6f6f6;
                    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
                    background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
                }

                .tabla-vm table tr:last-child td {
                    border-bottom: 0;
                }

                    .tabla-vm table tr:last-child td:first-child {
                        -moz-border-radius-bottomleft: 3px;
                        -webkit-border-bottom-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }

                    .tabla-vm table tr:last-child td:last-child {
                        -moz-border-radius-bottomright: 3px;
                        -webkit-border-bottom-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }

                .tabla-vm table tr:hover td {
                    background: #f2f2f2;
                    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
                    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
                }

                .tabla-vm table tr:last-child td {
                    background: #ededed;
                    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
                    background: -moz-linear-gradient(top, #ededed, #ebebeb);
                }

@media screen and (max-width: 640px) {
    .tabla-vm table {
        overflow-x: auto;
        display: block;
    }
}


/*Botones */
#btn-group-2col {
	margin:0 auto;
	max-width:600px;
	margin-top:30px;
	margin-bottom:50px;
    text-align: center;
}
#btn-group-2col a {
	display: inline-block;
	width: 150px;
	border: 2px solid #fff;
	background-color: #F5F5F5;
	height: 100px;
	border-radius: 10px;
	margin-bottom: 5px;
    text-align: center;
}
#btn-group-2col a:hover {
	background-color:#ffdd00;
	cursor:pointer;
}

#btn-group-2col a i {
    display:block;
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Cabecera Actividades*/
td.nombre_usuario_content2 {
                width: 50%;
                font-size: 16px;
                padding-top: 20px;
}
td.departamento_usuario_content2 {
                width: 50%;
                font-size: 12px;
                padding-top: 5px;
                padding-bottom: 15px;
}
.datos_content2 {
                max-width: 1024px;
                border-bottom: 1px solid #AAA;
                margin: 0 auto;
}
.datos_content-row1 {
                display:table-cell;
                width:512px;
}
.datos_content-row2 {
                display:table-cell;
                vertical-align:middle;
                width:512px;
                padding: 0px 90px;
}
.w-100p {
                width:100%;
}

/* AREA de pestañas */

		#table-live {
            margin: 0 auto;
            max-width: 1000px;
            margin-top: 20px;
            margin-bottom: 0px;
		}
		#table-live table {
			width:100%;
			border: 1px solid #ddd;
			font-size:13px;
			text-align:center;
			background-color:#fff;
		}
		#table-live thead {
			background: #f5f5f5;
		}
		#table-live td, #table-live th {
			padding:5px 0px 5px 0px;
			border: 1px solid #ddd;
		}
		#table-live a {
			background-color: #ffdd00;
			padding: 3px 8px 3px 9px;
			border-radius: 20px;
		}
		#table-live a:hover {
			background-color: #ffcc00;
		}
		.tabs {
		  max-width: 1000px;
		  float: none;
		  list-style: none;
		  position: relative;
		  text-align: left;
		}
		.tabs li {
		  float: left;
		  display: block;
		}
		.tabs input[type="radio"] {
		  position: absolute;
		  top: -9999px;
		  left: -9999px;
		}
		.tabs label {
		  display: block;
		  padding: 14px 21px;
		  border-radius: 2px 2px 0 0;
		  font-size: 12px;
		  font-weight: normal;
		  text-transform: uppercase;
		  background: #f5f5f5;
		  cursor: pointer;
		  position: relative;
		  -moz-transition: all 0.2s ease-in-out;
		  -o-transition: all 0.2s ease-in-out;
		  -webkit-transition: all 0.2s ease-in-out;
		  transition: all 0.2s ease-in-out;
		}
		.tabs label:hover {
		  background: #ffcc00;
		}
		.tabs .tab-content {
            z-index: 2;
            display: none;
            overflow: hidden;
            width: 100%;
            padding: 0px;
            position: absolute;
            top: 40px;
            left: 0;
            background: #ffdd00;
		}
		.tabs [id^="tab"]:checked + label {
		  top: 0;
		  padding-top: 17px;
		  background: #ffdd00;
		  font-weight:bold;
		}
		.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
		  display: block;
		}
		
		.tabs p.link {
		  clear: both;
		  margin: 380px 0 0 15px;
		}
		.tabs p.link a {
		  text-transform: uppercase;
		  text-decoration: none;
		  display: inline-block;
		  color: #fff;
		  padding: 5px 10px;
		  margin: 0 5px;
		  background-color: #612e76;
		  -moz-transition: all 0.2s ease-in;
		  -o-transition: all 0.2s ease-in;
		  -webkit-transition: all 0.2s ease-in;
		  transition: all 0.2s ease-in;
		}
		.tabs p.link a:hover {
		  background-color: #522764;
		}

/* Tabs Alertas y Notificaciones*/

		.tabs-alertas {
		  max-width: 1000px;
		  float: none;
		  list-style: none;
		  position: relative;
		  text-align: left;
		}
		.tabs-alertas li {
		  float: left;
		  display: block;
		}
		.tabs-alertas input[type="radio"] {
		  position: absolute;
		  top: -9999px;
		  left: -9999px;
		}
		.tabs-alertas label {
		  display: block;
		  padding: 14px 21px;
		  border-radius: 2px 2px 0 0;
		  font-size: 12px;
		  font-weight: normal;
		  text-transform: uppercase;
		  background: #f5f5f5;
		  cursor: pointer;
		  position: relative;
		  top: 4px;
		  -moz-transition: all 0.2s ease-in-out;
		  -o-transition: all 0.2s ease-in-out;
		  -webkit-transition: all 0.2s ease-in-out;
		  transition: all 0.2s ease-in-out;
		}
		.tabs-alertas label:hover {
		  background: #ffcc00;
		}
		.tabs-alertas .tab-content-alertas {
            z-index: 2;
            display: none;
            overflow: hidden;
            width: 100%;
            padding: 0px;
            position: absolute;
            top: 40px;
            left: 0;
            background: #ffdd00;
		}
		.tabs-alertas [id^="tab"]:checked + label {
		  top: 0;
		  padding-top: 17px;
		  background: #ffdd00;
		  font-weight:bold;
		}
		.tabs-alertas [id^="tab"]:checked ~ [id^="tab-content-alertas"] {
		  display: block;
		}
		
		.tabs-alertas p.link {
		  clear: both;
		  margin: 380px 0 0 15px;
		}
		.tabs-alertas p.link a {
		  text-transform: uppercase;
		  text-decoration: none;
		  display: inline-block;
		  color: #fff;
		  padding: 5px 10px;
		  margin: 0 5px;
		  background-color: #612e76;
		  -moz-transition: all 0.2s ease-in;
		  -o-transition: all 0.2s ease-in;
		  -webkit-transition: all 0.2s ease-in;
		  transition: all 0.2s ease-in;
		}
		.tabs-alertas p.link a:hover {
		  background-color: #522764;
		}


/* Pie chart */ 

.panel {
  position: relative;
  background: #fff;
  width: 300px;
  margin: 40px auto;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}
.chart {
  display: inline-block;
  width: 70px;
}

.easyPieChart {
  position: relative;
  text-align: center;
}
.easyPieChart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percentage,
.label {
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: 100;
}

.percentage span {
  font-size: 15px !important;
}

sup {
  top: -0.2em;
  margin-left: 1px;
}

.ctrl {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #c4cdcc;
  word-spacing: 5px;
}
.ctrl span {
  cursor: pointer;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.ctrl span:hover {
  color: #000;
}

.meta {
  margin: auto;
  max-width: 280px;
  border-top: 1px solid rgba(155, 155, 155, 0.2);
  text-align: center;
}

table.pie-chart-info {
    width: 100%;
}
table.pie-chart-info td.w-60 {
    width: 60%;
}
table.pie-chart-info td.w-40 {
    width: 40%;
}
table.pie-chart-info h1 {
    display: block;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin: 0 0 10px 0 !important;
}
table.pie-chart-info p {
    font-size: 13px;
    font-weight: normal;
    padding: 0px;
    color:#000;
    margin-bottom: 5px;
}


/* MAPA */

#map_canvas {
    height: 600px;
}

@media only screen and (max-height: 700px) {
    #map_canvas {
        height: 500px;
    }
}

@media only screen and (max-height: 600px) {
    #map_canvas {
        height: 400px;
    }
}

@media only screen and (max-height: 500px) {
    #map_canvas {
        height: 300px;
    }
}

@media only screen and (max-height: 400px) {
    #map_canvas {
        height: 200px;
    }
}

@media only screen and (max-height: 400px) and (orientation : landscape){
    .tabs [id^="tab"]:checked ~ [id^="tab-content"] {
      padding: 0px 30px;
    }
    .tabs .tab-content {
      background: #FFFFFF;
    }
    #table-live {
    margin: 0px auto 0px;
    max-width: 800px;
    }
}

/*@media only screen and (max-height: 300px) {
    #map_canvas {
        height: 100px;
    }
}*/

/*@media only screen and (max-height: 200px) {
    #map_canvas {
        height: 50px;
    }
}*/

/* Cambios Responsividad GENERAL*/
@media only screen and (max-width: 767px) {
    .fourcolumn {width: 50%; float: left;}
    .fourcolumn:nth-child(2n+1) { clear: left; }
    .twocolumn {width: 100%; float: left; padding:0;}
    .twocolumn:nth-child(2n+1) { clear: left; }
    .dato2  {
	    border-right:none !important;
    }
    .dato3, .dato4 {
	    border-top: 1px solid #aaa;
    }
    .dato1, .dato2, .dato3, .dato4 {
	    font-size:15px;
	    padding-top: 15px;
	    padding-bottom: 15px;
	    margin-top: 0px;
    }
    td.nombre_usuario_content {
	    font-size: 15px;
    }

    .top-100 {
        margin-top: 60px !important;
    }

    .td-title {
	    font-size: 16px;
	    padding: 15px;
    }
    .customer_name {
	    font-size: 14px;
    }
    .actividad, .fecha_visita {
	    font-size: 11px;
	    margin-bottom: 3px;
    }
    .td-title2 {
	    font-size: 14px;
	    padding: 15px;
    }
    .search-wrapper {
	    margin: 30px auto 25px auto;
    }
    .search-wrapper.actividadesview {
	    margin: 20px auto 25px auto;
    }
    #listado_content {
	    margin-top: 30px;
    }
    .dato-general-1 {
	    width:49% !important;
    }
    .dato-general-2 {
	    width:49% !important;
    }
    .dato-general-3 {
	    width:49% !important;
    }
    .dato-general-4 {
	    width:49% !important;
    }
    .dato-general-1 {
	    padding-top: 15px;
	    padding-bottom: 0px;
    }
    .dato-general-2 {
	    padding-top: 15px;
	    padding-bottom: 0px;
    }
    .dato-general-3 {
	    padding-top: 15px;
	    padding-bottom: 0px;
    }
    .dato-general-4 {
	    padding-top: 15px;
	    padding-bottom: 0px;
    }
    .info-general-content span {
	    font-size: 15px;
	    padding: 9px 15px 15px 15px;
    }
    .dato-general-icon:before, .dato-general-icon:after {
	    font-size: 35px !important;
    }
    .info-general-content {
	    margin-top: 20px;
    }
    .reporte-meta-tag {
	    padding: 7px 0px 7px 0px;
	    font-size:11px;
    }
    .reporte-meta-tag-name {
	    padding: 7px 0px 7px 0px;
	    font-size:11px;
    }
    .reporte-meta-dato {
	    padding: 7px 0px 7px 0px;
	    font-size:11px;
    }
    .reporte-meta-dato-name {
	    padding: 7px 0px 7px 0px;
	    font-size:11px;
    }
    .one-six-title {
	    font-size: 12px;
    }

    .visitas-anio-dato-1, .visitas-anio-dato-2, .visitas-anio-dato-3 {
	    padding: 7px 0px 7px 0px;
	    font-size: 11px;
    }

    .visitas-anio-tag-1, .visitas-anio-tag-2, .visitas-anio-tag-3 {
	    padding: 12px 0px 12px 0px;
	    font-size: 11px;
    }
    .hidemobile {
        display: none;
    }
    
    /* Area de tablas */
    .table-tag {
	padding: 12px 0px 12px 0px;
	font-size: 11px;
    }
    .table-data {
	    padding: 7px 0px 7px 0px;
	    font-size: 11px;
    }

    .datos_content-row2 {
        padding: 0px 40px;
    }

}

@media only screen and (max-width: 480px) {
    .dato1, .dato2, .dato3, .dato4 {
	    font-size:14px;
	    padding-top: 12px;
	    padding-bottom: 12px;
	    margin-top: 0px;
    }
    td.nombre_usuario_content {
	    font-size: 14px;
    }
    .listado-row {
	    padding: 15px 0px 15px 10px;
    }

    .top-100 {
        margin-top: 60px !important;
    }

    #content-form-asistencia {
        margin-top: 20px;
    }

    #content-six-col {
        margin-top: 0px;
    }

    .contenedor-one-half {
	    width: 100%;
    }
    .contenedor-label-one-half {
	    max-width: 500px;
    }
    .contenedor-texto-one-half {
	    max-width: 500px;
    }
    .listado-content-reporte-agente-dato {
	    font-size: 12px;
    }
    .dato-general-1 {
	    width:100% !important;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    margin-bottom: 5px;
    }
    .dato-general-2 {
	    width:100% !important;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    margin-bottom: 5px;
    }
    .dato-general-3 {
	    width:100% !important;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    margin-bottom: 5px;
    }
    .dato-general-4 {
	    width:100% !important;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    margin-bottom: 5px;
    }
    .dato-general-icon-label {
	    width: 50%;
	    display: inline-block;
	    float: left;
	    border-right: 1px solid #aaa;
    }
    .info-general-content span {
	    font-size: 14px;
	    border-top: none !important;
	    padding: 25px 5px 15px 5px;
	    display: inline-block;
	    width: 48%;
    }
    .dato-general-icon:before, .dato-general-icon:after {
	    font-size: 25px !important;
	    color: #000 !important;
    }
    .info-general-content p {
        line-height: 15px;
        margin-bottom: 10px;
    }
    #listado_content_reporte_agente {
	    margin-top: 20px;
	    margin-bottom: 20px;
    }
    .listado-content-asistencia-title {
	    font-size: 12px;
    }
    .contenedor-one-third {
	    width: 100%;
    }
    .contenedor-label-one-third {
	    max-width: 500px;
    }
    .contenedor-texto-one-third {
	    max-width: 500px;
    }
    .dato-general-text {
        height:42px;
    }

    #btn-group-2col {
	    margin-top: 20px;
	    margin-bottom: 20px;
    }

    .datos_content-row1 {
        display: block;
        width: 100%;
    }
    .datos_content-row2 {
        display: block;
        padding: 0px 0px;
        width: 100%;
    }
    .datos_content-row2  .search-wrapper {
        margin: 20px auto 20px auto !important;
    }

	#table-live table {
		font-size:12px;
	}
	#table-live {
		margin-top:0px;
		margin-bottom:0px;
	}

}