*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:hover,
select:hover,
button:hover {
    cursor: pointer;
}

textarea,
input,
button {
    outline: none;
}

@charset "UTF-8";
[class*=" icon-"]:before,
[class^=icon-]:before,
[data-icon]:before {
    font-family: sacomfont !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: sacomfont;
    src: url(../../Content/fonts/sacomfont.eot);
    src: url(../../Content/fonts/sacomfont.eot?#iefix) format("embedded-opentype"), url(../../Content/fonts/sacomfont.woff) format("woff"), url(../../Content/fonts/sacomfont.ttf) format("truetype"), url(../../Content/fonts/sacomfont.svg#sacomfont) format("svg");
    font-weight: 400;
    font-style: normal;
}

[data-icon]:before {
    content: attr(data-icon);
}

.icon-inversion-periodo:before {
    content: "\30";
}

.icon-impresiones:before {
    content: "\57";
}

.icon-clics:before {
    content: "\42";
}

.icon-ctr:before {
    content: "\48";
}

.icon-costo-clic:before {
    content: "\46";
}

.icon-costo-impresion:before {
    content: "\47";
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

@media (min-width: 550px) {
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }
    .one-third.column {
        width: 30.6666666667%;
    }
    .two-thirds.column {
        width: 65.3333333333%;
    }
    .one-half.column {
        width: 48%;
    }
}

.page-container {
    padding: 20px;
}

.healcheck {
    max-width: 1400px;
    margin: 0 auto;
}

.title {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.subtitle {
    font-weight: normal;
    display: block;
    font-size: 0.95em;
    width: 100%;
    text-align: right;
    padding: 7px 0;
}

.alignright {
    text-align: right;
}

.stats {
    margin: 0 -10px;
}

.stat-c {
    display: block;
    float: left;
    width: 16.66666%;
    padding: 10px;
}

.stat {
    text-align: center;
    color: #878787;
    border: 1px solid #e5e5e5;
    padding: 10px 0;
    margin: 10px 0;
}

.stat i {
    font-size: 2.5em;
}

.stat .number {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 5px;
}

.stat .desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 10px;
    margin-bottom: 5px;
}

.chartitle {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin: 20px 0 10px;
    font-size: 0.95em;
}

.graphs .columns {
    margin-bottom: 20px;
}

.month-picker {
    position: relative;
}

.month-picker i {
    position: absolute;
    top: 8px;
    left: 10px;
    color: #333;
}

.month-picker button {
    display: block;
    width: 280px;
    padding: 7px 5px 7px 25px;
    background: #fff;
    border: 1px solid #e5e5e5;
    font-size: 0.85em;
    border-radius: 5px;
}

.month-picker button i {
    display: inline-block;
}

.month-picker button:hover {
    background: #f5f5f5;
}

.custom-range-inputs {
    display: none !important;
}

.daterangepicker {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .3);
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 4px;
    padding: 4px;
    font-size: 13px;
    font-family: sans-serif;
    line-height: 1.5em;
    z-index: 100;
}

.daterangepicker button,
.daterangepicker form,
.daterangepicker li,
.daterangepicker ul {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    outline: 0
}

.daterangepicker .controls {
    min-width: 180px;
    margin: 4px
}

.daterangepicker .periods li,
.daterangepicker .ranges li {
    padding: 4px 9px;
    margin: 0;
    background: #f5f5f5;
    color: #08c;
    cursor: pointer
}

.daterangepicker .periods li.active,
.daterangepicker .periods li:hover,
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
    background: #08c;
    color: #fff
}

.daterangepicker .periods {
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0 auto 8px
}

.daterangepicker .periods li:first-child {
    border-radius: 4px 0 0 4px
}

.daterangepicker .periods li:last-child {
    border-radius: 0 4px 4px 0
}

.daterangepicker .ranges {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch;
    align-items: stretch
}

.daterangepicker .ranges li {
    border-radius: 4px;
    margin-bottom: 8px;
    text-align: left
}

.daterangepicker .custom-range-inputs {
    display: -ms-flexbox;
    display: flex;
    margin: -3px -3px 5px
}

.daterangepicker .custom-range-inputs input {
    min-width: 50px;
    width: 50px;
    -ms-flex: 1;
    flex: 1;
    margin: 3px;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: auto;
    padding: .5em;
    font-size: 13px;
    color: #333
}

.daterangepicker .custom-range-buttons {
    display: -ms-flexbox;
    display: flex;
    margin: -3px
}

.daterangepicker .custom-range-buttons button {
    padding: 7px 20px;
    margin: 3px;
    border-radius: 5px;
    background: #e1e5ec;
    color: #333;
    font-size: 1em;
}

.daterangepicker .custom-range-buttons button:hover {
    background: #dcdcdc
}

.daterangepicker .custom-range-buttons button.apply-btn {
    background: #fd0;
    color: #333;
}

.daterangepicker .custom-range-buttons button.apply-btn:hover {
    background: #fc0;
}

.daterangepicker .arrow-left,
.daterangepicker .arrow-right {
    display: inline-block;
    position: relative;
    background-color: #333;
    width: 7px;
    height: 3px;
    margin-bottom: 2px;
    vertical-align: middle
}

.daterangepicker .arrow-left:before,
.daterangepicker .arrow-right:before {
    content: '';
    display: block;
    position: absolute;
    border: 5px solid transparent
}

.daterangepicker .arrow-left {
    margin-left: 5px
}

.daterangepicker .arrow-left:before {
    border-right-width: 6px;
    border-right-color: #333;
    transform: translate(-10px, -3.5px)
}

.daterangepicker .arrow-right {
    margin-right: 5px
}

.daterangepicker .arrow-right:before {
    border-left-width: 6px;
    border-left-color: #333;
    transform: translate(6px, -3.5px)
}

.daterangepicker.orientation-left:not(.standalone):before,
.daterangepicker.orientation-right:not(.standalone):before {
    position: absolute;
    top: -7px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(0, 0, 0, .2);
    border-left: 7px solid transparent
}

.daterangepicker.orientation-right:not(.standalone):before {
    left: 9px;
    content: ''
}

.daterangepicker.orientation-left:not(.standalone):before {
    right: 9px;
    content: ''
}

.daterangepicker.orientation-left:not(.standalone):after,
.daterangepicker.orientation-right:not(.standalone):after {
    position: absolute;
    top: -6px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: ''
}

.daterangepicker.orientation-right:not(.standalone):after {
    left: 10px
}

.daterangepicker.orientation-left:not(.standalone):after {
    right: 10px
}

.calendar,
.daterangepicker select.hidden {
    display: none
}

.daterangepicker select {
    width: 100%;
    box-sizing: border-box;
    padding: 2px 7px;
    height: auto;
    font-size: 13px;
    line-height: 1.5em;
    text-align: center;
    margin: 0 2px
}

.daterangepicker select.month-select {
    -ms-flex: 10;
    flex: 10;
    max-width: 75%
}

.daterangepicker select.decade-select,
.daterangepicker select.year-select {
    -ms-flex: 11;
    flex: 11;
    max-width: 75%
}

.calendar {
    margin: 4px
}

.calendar .calendar-header,
.calendar .calendar-table {
    min-width: 190px;
    margin-left: auto;
    margin-right: auto
}

.calendar .calendar-title {
    padding: 4px 9px;
    margin: 0 auto 8px;
    text-align: center;
    display: block
}

.calendar .calendar-header button {
    margin: 0;
    padding: 4px 0;
    width: 100%;
    border-radius: 4px;
    background: 0 0
}

.calendar .calendar-header button:hover {
    background: #f5f5f5
}

.calendar .calendar-header {
    display: -ms-flexbox;
    display: flex;
    margin: 0 6px 4px
}

.calendar .calendar-header .calendar-selects {
    -ms-flex: 5;
    flex: 5;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2px
}

.calendar .calendar-header .arrow {
    -ms-flex: 1;
    flex: 1;
    text-align: center
}

.calendar .calendar-header .arrow.arrow-hidden {
    visibility: hidden
}

.calendar .calendar-table {
    height: 180px;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
    padding: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-direction: column;
    flex-direction: column
}

.calendar .calendar-table .table-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex: 1;
    flex: 1
}

.calendar .calendar-table .table-row .table-col {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    line-height: 1;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.calendar .calendar-table .table-row .table-col .table-value-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-align: center;
    align-items: center
}

.calendar .calendar-table .table-row .table-col .table-value-wrapper .table-value {
    -ms-flex: 1;
    flex: 1
}

.calendar .calendar-table .table-row .table-col .week-day.unavailable,
.calendar .calendar-table .table-row .table-col.out-of-boundaries,
.calendar .calendar-table .table-row .table-col.unavailable {
    color: #bbb
}

.calendar .calendar-table .table-row .table-col.in-range {
    background: rgba(0, 136, 204, .1)
}

.calendar .calendar-table .table-row .table-col.clickable {
    cursor: pointer
}

.calendar .calendar-table .table-row .table-col.clickable:hover .table-value-wrapper {
    background: #eee;
    border-radius: 4px
}

.calendar .calendar-table .table-row .table-col.end-date .table-value-wrapper,
.calendar .calendar-table .table-row .table-col.start-date .table-value-wrapper {
    border-radius: 4px
}

.calendar .calendar-table .table-row .table-col.end-date .table-value-wrapper,
.calendar .calendar-table .table-row .table-col.end-date .table-value-wrapper:hover,
.calendar .calendar-table .table-row .table-col.start-date .table-value-wrapper,
.calendar .calendar-table .table-row .table-col.start-date .table-value-wrapper:hover {
    background: #08c;
    color: #fff
}

.calendar .calendar-table .table-row .table-col.end-date.out-of-boundaries .table-value-wrapper,
.calendar .calendar-table .table-row .table-col.end-date.out-of-boundaries .table-value-wrapper:hover,
.calendar .calendar-table .table-row .table-col.start-date.out-of-boundaries .table-value-wrapper,
.calendar .calendar-table .table-row .table-col.start-date.out-of-boundaries .table-value-wrapper:hover {
    background: #bbb
}

.calendar .calendar-table .table-row .table-col.start-date {
    border-radius: 4px 0 0 4px
}

.calendar .calendar-table .table-row .table-col.end-date {
    border-radius: 0 4px 4px 0
}

.calendar .calendar-table .table-row .table-col .week-day {
    -ms-flex: 1;
    flex: 1;
    text-align: center
}

.calendar .calendar-table .table-row.weekdays .table-col {
    font-weight: 700
}

.daterangepicker.opened {
    display: -ms-inline-flexbox;
    display: inline-flex
}

.daterangepicker.expanded .calendar {
    display: block
}

.daterangepicker.hide-periods .calendar .calendar-title,
.daterangepicker.hide-periods .periods,
.daterangepicker.hide-weekdays .weekdays,
.daterangepicker.single .calendar .calendar-title,
.daterangepicker.single .custom-range-buttons,
.daterangepicker.single .custom-range-inputs,
.daterangepicker.single .ranges,
.daterangepicker.standalone .custom-range-buttons {
    display: none
}

.daterangepicker.standalone {
    position: static
}

.daterangepicker.single {
    -ms-flex-direction: column;
    flex-direction: column
}

.daterangepicker.single .controls {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
}

.daterangepicker.single .controls .periods {
    margin-bottom: 0
}

.daterangepicker.single .calendar .calendar-header {
    margin-left: 0;
    margin-right: 0
}

.daterangepicker.single .calendar .calendar-table {
    border: none;
    padding: 0
}

.daterangepicker.single.hide-periods .controls {
    display: none
}

.daterangepicker.month-period .table-col,
.daterangepicker.year-period .table-col {
    font-size: 1.25em
}

.daterangepicker.quarter-period .table-col {
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 2em
}

.daterangepicker.quarter-period .table-col .months {
    font-size: .5em;
    opacity: .75
}

.daterangepicker.orientation-left:not(.single) .controls {
    -ms-flex-order: 2;
    order: 2
}


/*Responsive*/

@media (max-width: 980px) {
    .stat-c {
        width: 33.33333%
    }
    .stats {
        margin-top: 10px;
    }
    .stat {
        margin: 0;
    }
    .graphs .columns {
        width: 100% !important;
    }
}

@media (max-width: 760px) {
    .heading .columns {
        width: 100% !important;
    }
    .subtitle {
        text-align: center;
    }
    .month-picker button {
        width: 100%;
        margin: 7px 0;
    }
}

@media (max-width: 660px) {
    .daterangepicker.opened {
        display: block;
    }
    .daterangepicker .controls {
        margin-bottom: 15px;
    }
    .calendar .calendar-table {
        height: 130px;
    }
    .calendar .calendar-table .table-row .table-col .table-value-wrapper .table-value {
        font-size: 0.9em;
    }
    .daterangepicker.expanded .calendar {
        margin-bottom: 15px;
    }
}

@media (max-width: 580px) {
    .stat-c {
        width: 50%
    }
    .stat .number {
        font-size: 21px;
    }
    .stat .desc {
        font-size: 13px;
    }
    .stat i {
        font-size: 2.2em;
    }
}

@media (max-width: 549px) {
    .title {
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    .subtitle {
        text-align: center;
    }
    .header-logo {
        background-size: 200px 40px;
        height: 40px;
        width: 200px;
        margin: 5px auto;
    }
}