*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@charset "UTF-8";
[class*=" icon-"]:before,
[class^=icon-]:before,
[data-icon]:before {
    font-family: sacomfont !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: sacomfont;
    src: url(../../Content/fonts/sacomfont.eot);
    src: url(../../Content/fonts/sacomfont.eot?#iefix) format("embedded-opentype"), url(../../Content/fonts/sacomfont.woff) format("woff"), url(../../Content/fonts/sacomfont.ttf) format("truetype"), url(../../Content/fonts/sacomfont.svg#sacomfont) format("svg");
    font-weight: 400;
    font-style: normal;
}

[data-icon]:before {
    content: attr(data-icon);
}
.icon-back:before {
    content: "\65";
}
.icon-logout:before {
    content: "\34";
}
.icon-agenda:before {
    content: "\62";
}
#top {
    background-color: #000;
    height: 60px;
    width: 100%;
    text-align: center;
    color: #fd0;
    padding-top: 5px;
    position: fixed;
    z-index: 10000;
    top: 0px;
}

#top a.icon-back {
    position: absolute;
    font-size: 26px;
    color: #fd0;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    left: 5px;
    top: 10px;
}

#top a.icon-logout {
    position: absolute;
    font-size: 26px;
    color: #fd0;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    right: 5px;
    top: 10px;
}

#top a:hover {
    cursor: pointer;
    text-decoration: none;
}

.header-logo {
    background-image: url(../img/pinbox_logo_header.png);
    background-size: 250px 50px;
    height: 50px;
    width: 250px;
    margin: 0 auto;
}
.page-container {
    margin-top: 60px
}