/*Normalize*/

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

template,
[hidden] {
    display: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0;
}

optgroup {
    font-weight: bold;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}


/*Skeleton*/

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.one-third.column {
    width: 30.6666666667%;
}

.two-thirds.column {
    width: 65.3333333333%;
}

.one-half.column {
    width: 48%;
}

@media (max-width: 549px) {
    .ml4 {
        margin-right: 4%;
    }
}


/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}


/* For devices larger than 550px */

@media (min-width: 780px) {
    .container {
        width: 80%;
    }
    .column,
    .columns {
        margin-right: 4%;
    }
    .column:last-child,
    .columns:last-child {
        margin-right: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-right: 0;
    }
    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-right: 8.66666666667%;
    }
    .offset-by-two.column,
    .offset-by-two.columns {
        margin-right: 17.3333333333%;
    }
    .offset-by-three.column,
    .offset-by-three.columns {
        margin-right: 26%;
    }
    .offset-by-four.column,
    .offset-by-four.columns {
        margin-right: 34.6666666667%;
    }
    .offset-by-five.column,
    .offset-by-five.columns {
        margin-right: 43.3333333333%;
    }
    .offset-by-six.column,
    .offset-by-six.columns {
        margin-right: 52%;
    }
    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-right: 60.6666666667%;
    }
    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-right: 69.3333333333%;
    }
    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-right: 78.0%;
    }
    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-right: 86.6666666667%;
    }
    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-right: 95.3333333333%;
    }
    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-right: 34.6666666667%;
    }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-right: 69.3333333333%;
    }
    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-right: 52%;
    }
}

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}


/*Cotizacion TLMK*/

body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 16px;
}

.header {
    display: block;
    width: 100%;
    padding: 20px;
    border-bottom: 1px dashed #ccc;
}

.header .row {
    max-width: 900px;
    margin: 0 auto;
    display: block;
    line-height: 30px;
}

.secam-logo img {
    max-width: 800px;
}

.head-text {
    line-height: 16px;
    margin-top: 10px;
}

.content {
    max-width: 1020px;
    margin: 0 auto;
}

.content h2 {
    font-size: 21px;
    padding: 0 20px;
    width: 100%;
    display: block;
    padding-top: 20px;
}

table.folio {
    border-collapse: collapse;
    font-size: 13px;
    max-width: 500px;
    text-align: center;
    margin-top: 20px;
}

table.folio tr th {
    background: #ecf0f1;
    padding: 10px;
    border: 1px solid #ecf0f1;
    border-bottom: 0;
}

table.folio tr td {
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
}

.input {
    padding: 15px 20px;
}

.input label {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
    color: #6a7989;
}

.input input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #ffdd00;
    height: 40px;
    font-size: 16px;
}

textarea,
input {
    outline: none;
}

::-webkit-input-placeholder {
    color: #000000;
}

:-ms-input-placeholder {
    color: #000000;
}

::-moz-placeholder {
    color: #000000;
    opacity: 1;
}

:-moz-placeholder {
    color: #000000;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #000;
}

:-moz-placeholder {
    color: #000;
}

td.np {
    padding: 0 !important;
}

.main-title {
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
    display: block;
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
    background-color: #ffdd00;
    position: relative;
    z-index: 6;
    left: -30px;
    bottom: -61px;
    width: 200px;
}

.main-title:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    font-size: 0;
    line-height: 0;
    z-index: 5;
    border-top: 0 solid transparent;
    border-bottom: 20px solid transparent;
    bottom: -20px;
    border-right: 30px solid #fa0;
    left: 0;
}

.main-title img {
    margin-right: 10px;
}

@media (min-width: 640px) and (max-width: 779px) {
    .six.columns.one-h {
        width: 48% !important;
        margin-right: 4% !important;
        float: left !important;
    }
    .six.columns.one-h.last {
        margin-right: 0 !important;
    }
}


/*Tabla*/

.table-container {
    padding: 0 20px 20px 20px;
    border-top: 1px dashed #ccc;
    margin-top: 20px;
}

table.cot {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

table.cot tr.head {
    padding: 10px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #95a5a6;
    border-top: 1px solid #95a5a6;
}

table.cot tr.head td {
    padding: 10px;
    font-weight: 700;
}

table.cot tr td {
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

table.cot tr.cot-h td {
    background: #ecf0f1;
}

table.cot tr td.cot-title {
    font-weight: 700;
    font-size: 16px;
}

.num {
    text-align: right !important;
}

tr.totl td {
    border-top: 2px solid #ccc !important;
    padding-top: 20px !important;
}

tr.toti td {
    padding-bottom: 20px !important;
}

tr.total td {
    vertical-align: top !important;
}

span.noiva {
    display: block;
    color: #555;
    width: 100%;
    text-align: right;
    margin-top: 5px;
}

td.bga {
    background: #fffeee !important;
}

td.bgt {
    background: #fff0b8 !important;
    border-top: 2px solid #ffdd00;
}

.relative {
    position: relative;
}

button.print-btn {
    display: block;
    border: 0;
    background: #fd0;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    font-size: 13px;
    position: absolute;
    top: 120px;
}

button.print-btn:hover {
    background: #ffcc00;
}

button.print-btn img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}


/*Responsive*/

@media (max-width: 779px) {
    .secam-logo {
        text-align: center;
    }
    .head-text {
        text-align: center;
        line-height: 15px;
        margin-top: 20px;
    }
    table.folio {
        margin-left: 20px;
    }
    button.print-btn {
        top: 20px;
        right: 20px;
    }
}

@media only screen and (max-width: 760px) {
    table.cot,
    table.cot tbody,
    table.cot td,
    table.cot th,
    table.cot thead,
    table.cot tr {
        display: block;
    }
    tr.head {
        display: none !important;
    }
    table.cot td {
        border: none;
        position: relative;
        text-align: left;
        border-bottom: none;
        width: 50%;
    }
    table.cot tr td:empty {
        display: none;
    }
    table.cot tr td.des {
        display: none;
    }
    table.cot tr.cot-h td {
        background: #fff;
    }
    table.cot tr td.cot-title {
        width: 100%;
        background: #ecf0f1;
        text-align: center;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }
    td.name1:before {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        content: "PRODUCTO";
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        font-size: 14px;
    }
    td.name1 {
        border-right: 1px solid #ccc !important;
    }
    tr.cot-h td.pf {
        right: 0;
        max-width: 50% !important;
        position: absolute !important;
        text-align: center !important;
        top: 0;
        background: #fffeee !important;
    }
    tr.cot-h {
        position: relative;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
    }
    tr.cot-c td {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 5px 10px;
    }
    tr.cot-c {
        border-right: 1px solid #ccc !important;
    }
    td.pl {
        text-align: left !important;
        border-right: 1px solid #ccc !important;
    }
    td.pl:before {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        content: "PRECIO DE LISTA";
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        font-size: 14px;
    }
    td.pf:before {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        content: "PRECIO FINAL";
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        font-size: 14px;
    }
    tr.last {
        border-bottom: 1px solid #ccc !important;
    }
    td.cont1 {
        border-right: 1px solid #ccc !important;
    }
    td.cont1:before {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        font-weight: 700;
        content: "CONTENIDO";
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        font-size: 14px;
    }
    table.cot tr.totl,
    table.cot tr.toti,
    table.cot tr.total {
        display: block !important;
        width: 100% !important;
        margin-top: 10px;
        position: relative;
    }
    table.cot tr.totl td.num,
    table.cot tr.toti td.num,
    table.cot tr.total td.num {
        display: block !important;
        width: 50% !important;
    }
    table.cot tr.totl td:last-child,
    table.cot tr.toti td:last-child,
    table.cot tr.total td:last-child {
        position: absolute;
        right: 0;
        width: 50% !important;
        top: 0;
    }
    tr.totl td {
        border-top: 0 !important;
        padding-top: 10px !important;
    }
    table.cot tr.totl {
        margin-top: 50px;
    }
    tr.toti td {
        padding-bottom: 10px !important;
    }
}

@media print {
    .not-print {
        display: none !important;
    }
    .column,
    .columns {
        margin-right: 4%;
    }
    .column:last-child,
    .columns:last-child {
        margin-right: 0;
    }
    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-right: 0;
    }
    .main-title:after {
        border-right: 30px solid #fff;
    }
    table.cot tr td,
    table.cot tr.head {
        font-size: 10px;
    }
    table.cot tr td.cot-title {
        font-size: 12px;
    }
    table.folio {
        font-size: 11px;
    }
    .input label {
        font-size: 11px;
    }
    .input input {
        height: 30px;
        font-size: 12px;
    }
    .head-text {
        font-size: 13px;
        margin-top: 0;
}
}