.pm-heading {
    position: relative;
}

.pm-heading h1 {
    font-size: 1.5em;
    padding: 0 15px;
    border-bottom: 1px solid #bfc1c0;
    padding-bottom: 18px;
    color: #444;
}

.row {
    margin: 0 auto;
}
i.i-red {
    color: #F44336 !important;
}

i.i-green {
    color: #4CAF50 !important;
}

i.i-grey {
    color: #999 !important;
}

i.i-yellow {
    color: #FFC107 !important;
}

i.i-brown {
    color: #946d5f !important;
}

#tooltip {
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100000;
    padding: 10px;
}

#tooltip:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto;
}

#tooltip.left:after {
    left: 10px;
    margin: 0;
}

#tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}


div.dataTables_wrapper div.dataTables_info, .dataTables_length, .dataTables_filter {
    display: none;
}
.adv-search {
    display: block;
    width: 100%;
    margin: 30px 0 10px;
}
.adv-search-cont {
    float: right;
}
.adv-search-cont input {
    width: 200px;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    height: 35px;
    display: block;
    float: left;
    margin-right: 10px;
}
.adv-search-cont select {
    border: 1px solid #ccc;
    height: 35px;
    display: block;
    float: left;
    margin-right: 10px;
}
.adv-search-cont button {
    border: 0;
    background: #fd0;
    width: 35px;
    height: 35px;
    font-size: 1.2em;
    padding-top: 6px;
    text-align: center;
    display: block;
    float: left;
    border-radius: 5px;
    transition: 0.3s ease;
}
.adv-search-cont button:hover {
    background: #fc0;
    cursor: pointer;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    top: 8px;
    left: 4px;
    height: 16px;
    width: 16px;
    display: block;
    position: absolute;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    text-indent: 4px;
    line-height: 16px;
    content: '+';
    background-color: #31b131;
}
table.dataTable.dtr-column>tbody>tr>td.control:before, table.dataTable.dtr-column>tbody>tr>th.control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    box-shadow: none!important;
    background-color: #31b131;
    font-weight: 300;
    vertical-align: middle;
    line-height: 16px;
    border: 0;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    top: 10px;
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    content: '-';
}
table.dataTable.dtr-column>tbody>tr.parent td.control:before, table.dataTable.dtr-column>tbody>tr.parent th.control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    background-color: #f48e36;
    font-weight: 300;
    vertical-align: middle;
    border: 0;
}
td.child:before {
    display: none !important;
}
table.dataTable>tbody>tr.child ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table.dataTable>tbody>tr.child ul li {
    border: 0;
}
table.dataTable>tbody>tr.child ul li:first-child {
    padding-top: 0;
}
table.dataTable>tbody>tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: bold;
}
@media (min-width: 992px) {
    .page-content-wrapper .page-content {
        padding: 0px 20px 10px;
    }
}