.pm-heading {
    position: relative;
}

.pm-heading h1 {
    font-size: 1.5em;
    padding: 0 15px;
    border-bottom: 1px solid #bfc1c0;
    padding-bottom: 18px;
    color: #444;
}

.row {
    margin: 0 auto;
}

.tabla-cac tr td a {
    color: #337ab7
}

.tabla-cac i {
    font-size: 1.1em !important;
}

i.i-red {
    color: #F44336 !important;
}

i.i-green {
    color: #4CAF50 !important;
}

i.i-grey {
    color: #999 !important;
}

i.i-yellow {
    color: #FFC107 !important;
}

i.i-brown {
    color: #946d5f !important;
}

table.tabla-cac th:nth-child(1),
table.tabla-cac th:nth-child(2),
table.tabla-cac th:nth-child(3),
table.tabla-cac td:nth-child(1),
table.tabla-cac td:nth-child(2),
table.tabla-cac td:nth-child(3) {
    text-align: center;
}

#tooltip {
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100000;
    padding: 10px;
}

#tooltip:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto;
}

#tooltip.left:after {
    left: 10px;
    margin: 0;
}

#tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}

.cac-data-container {
    margin-bottom: 20px;
}

.cac-data-container .col-md-7,
.cac-data-container .col-md-5 {
    padding-left: 0 !important;
    padding-right: 0!important;
}

table.cac-data {
    width: 100%
}

table.cac-data tr td {
    padding: 8px;
    vertical-align: middle
}

table.cac-data tr td:first-child {
    font-weight: bold;
    background: #e7ecf1;
    text-align: right;
    width: 180px;
}

table.cac-data tr:first-child td {
    border-bottom: 1px solid #fff;
}

table.cac-data tr td:nth-child(2) {
    border: 1px solid #e7ecf1;
}

.pm-modal.pm-modal-off,
.pm-prod-modal.pm-prod-modal-off {
    display: none;
}

.pm-modal,
.pm-prod-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100000;
    top: 0;
    left: 0;
}

.message-modal {
    display: block;
    width: 360px;
    max-height: 90%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.message-modal-content {
    padding: 10px;
    height: 100%;
}

.message-modal h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0 10px;
    padding: 0 40px;
    display: block;
}

.pm-modal-close {
    color: #e74c3c;
    text-align: right;
    display: block;
    height: 40px;
    width: 40px;
    right: 0;
    top: 0;
    position: absolute;
    padding: 10px;
    text-align: center;
}

.message-modal.modal-cac {
    width: 600px;
}

table.cac-product td {
    border: 1px solid #e7ecf1;
    padding: 5px;
}

table.cac-product {
    width: 100%;
}
div.dataTables_wrapper div.dataTables_info, .dataTables_length, .dataTables_filter {
    display: none;
}
.adv-search {
    display: block;
    width: 100%;
    margin: 30px 0 10px;
}
.adv-search-cont {
    float: right;
}
.adv-search-cont input {
    width: 200px;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    height: 35px;
    display: block;
    float: left;
    margin-right: 10px;
}
.adv-search-cont select {
    border: 1px solid #ccc;
    height: 35px;
    display: block;
    float: left;
    margin-right: 10px;
}
.adv-search-cont button {
    border: 0;
    background: #fd0;
    width: 35px;
    height: 35px;
    font-size: 1.2em;
    padding-top: 6px;
    text-align: center;
    display: block;
    float: left;
    border-radius: 5px;
    transition: 0.3s ease;
}
.adv-search-cont button:hover {
    background: #fc0;
    cursor: pointer;
}

@media (min-width: 992px) {
    .page-content-wrapper .page-content {
        padding: 0px 20px 10px;
    }
}
@media (max-width: 620px) {
    .message-modal.modal-cac {
        width: 95%;
    }
    table.cac-data tr td:first-child {
    width: 100px;
}
}