
.btn {
    outline: 0!important
}

.btn:hover {
    transition: all .3s
}

.btn:hover {
    transition: all .3s
}

.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44
}

.btn.btn-outline.blue {
    color: #3598dc;
    background: 0 0;
    border: 1px solid #3598dc;
}

.btn.btn-outline.blue:active,
.btn.btn-outline.blue:active:focus,
.btn.btn-outline.blue:active:hover,
.btn.btn-outline.blue:focus,
.btn.btn-outline.blue:hover {
    border-color: #3598dc;
    color: #FFF;
    background-color: #3598dc
}


.btn.red:not(.btn-outline) {
    color: #fff;
    background-color: #e7505a;
    border-color: #e7505a
}

.btn.red:not(.btn-outline):focus {
    color: #fff;
    background-color: #e12330;
    border-color: #a1161f
}

.btn.red:not(.btn-outline):active,
.btn.red:not(.btn-outline):hover {
    color: #fff;
    background-color: #e12330;
    border-color: #dc1e2b
}

.btn.red:not(.btn-outline):active:focus,
.btn.red:not(.btn-outline):active:hover {
    color: #fff;
    background-color: #c51b26;
    border-color: #a1161f
}

.btn.red:not(.btn-outline):active {
    background-image: none
}

.btn.yellow:not(.btn-outline) {
    color: #000;
    background-color: #FD0;
    border-color: #FD0
}

.btn.yellow:not(.btn-outline):focus {
    color: #fff;
    background-color: #FFF0B8;
    border-color: #FFF0B8
}

.btn.yellow:not(.btn-outline):active,
.btn.yellow:not(.btn-outline):hover {
    color: #FD0;
    background-color: #000;
    border-color: #000;
}

.btn.yellow:not(.btn-outline):active:focus,
.btn.yellow:not(.btn-outline):active:hover {
    color: #fff;
    background-color: #896d2c;
    border-color: #6a5422
}

.btn.yellow:not(.btn-outline):active {
    background-image: none
}


.btn-circle {
    border-radius: 25px!important;
    overflow: hidden
}

.dropdown-menu {
    box-shadow: 5px 5px rgba(102, 102, 102, .1);
    left: 0;
    min-width: 175px;
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    padding: 0;
    background-color: #fff;
    margin: 10px 0 0;
    border: 1px solid #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

.dropdown-menu li.divider {
    background: #f1f3f6
}

.dropdown-menu>li>a {
    padding: 8px 16px;
    color: #6f6f6f;
    text-decoration: none;
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap
}

.dropdown-menu>li:hover>a {
    text-decoration: none;
    background-image: none;
    background-color: #f6f6f6;
    color: #555;
    filter: none
}

.dropdown-menu>li:first-child:hover>a {
    border-radius: 4px 4px 0 0
}

.dropdown-menu>li:last-child:hover>a {
    border-radius: 0 0 4px 4px
}

.btn-group>.dropdown-menu {
    margin-top: 10px
}

.btn-group>.dropdown-menu:before {
    position: absolute;
    top: -8px;
    left: 9px;
    right: auto;
    display: inline-block!important;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e0e0e0;
    border-left: 8px solid transparent;
    content: ''
}

.btn-group>.dropdown-menu:after {
    position: absolute;
    top: -7px;
    left: 10px;
    right: auto;
    display: inline-block!important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 7px solid transparent;
    content: ''
}

.btn-group>.dropdown-menu.pull-right:before {
    left: auto;
    right: 9px
}

.btn-group>.dropdown-menu.pull-right:after {
    left: auto;
    right: 10px
}

.dropdown-checkboxes {
    padding: 5px
}

.dropdown-checkboxes label {
    display: block;
    font-weight: 300;
    color: #333;
    margin-bottom: 4px;
    margin-top: 4px
}



.feeds
[class*=" fa-"]:not(.fa-stack) {
    padding-right: 5px;
}

.feeds {
    margin: 0;
    padding: 0;
    list-style: none
}

.feeds li {
    background-color: #fafafa;
    color: #2E2E2E;
    margin-bottom: 7px;
    padding-top: 4px;
}
.feeds li:first-child {
    border-top: 1px solid #eee;
}

.feeds li:last-child {
    border-bottom: 1px solid #eee;
}


.feeds li:after,
.feeds li:before {
    display: table;
    line-height: 0;
    content: ""
}

.feeds li:after {
    clear: both
}

.feeds li:last-child {
    margin-bottom: 0
}

.feeds li .date {
    padding: 4px 9px 5px 4px;
    text-align: right;
    font-style: italic;
    color: #3b9bdd
}

.feeds li .rol {
    font-weight: 600;
    color: #878787
}

.mt-radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.mt-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0)
}

.mt-radio>span {
    border: 1px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background: #E6E6E6
}

.mt-radio>span:after {
    content: '';
    position: absolute;
    display: none
}

.mt-radio>input:checked~span:after {
    display: block
}

.mt-radio:hover>input:not([disabled])~span,
.mt-radio>input:focus~span {
    background: #d9d9d9;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.mt-radio:hover>input:not([disabled]):checked~span,
.mt-radio>input:checked~span {
    webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: #d9d9d9
}

.mt-radio>input:disabled~span {
    opacity: .6;
    filter: alpha(opacity=60);
    pointer-events: none
}



.mt-radio.mt-radio-outline:hover>input:not([disabled]):checked~span,
.mt-radio.mt-radio-outline:hover>input:not([disabled])~span,
.mt-radio.mt-radio-outline>input:checked~span,
.mt-radio.mt-radio-outline>input:focus~span,
.mt-radio.mt-radio-outline>span {
    border: 1px solid #d9d9d9;
    background: 0 0
}

.mt-radio>span {
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important
}

.mt-radio>span {
    -ms-border-radius: 50%!important;
    -o-border-radius: 50%!important;
    border-radius: 50%!important
}

.mt-radio>span:after {
    left: 6px;
    top: 6px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #666
}

.mt-radio>input:disabled~span:after {
    background: #666
}

.label {
    text-shadow: none!important;
    font-size: 14px;
    font-weight: 300;
    padding: 3px 6px;
    color: #fff;
}

.label.label-sm {
    font-size: 14px;
    line-height: 20px
}

.label-success {
    background-color: #0AC96C
}

.label-info {
    background-color: #3598dc
}

.label-danger {
    background-color: ##F44C32
}

.dashboard-stat,
.portlet {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px
}

.portlet {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0;
    border-radius: 4px
}

.portlet>.portlet-title {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 41px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

.portlet>.portlet-title:after,
.portlet>.portlet-title:before {
    content: " ";
    display: table
}

.portlet>.portlet-title:after {
    clear: both
}

.portlet>.portlet-title>.caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0
}

.portlet>.portlet-title>.caption>i {
    float: left;
    margin-top: 4px;
    display: inline-block;
    font-size: 13px;
    margin-right: 5px;
    color: #666
}

.portlet>.portlet-title>.actions {
    float: right;
    display: inline-block;
    padding: 6px 0
}

.portlet>.portlet-title>.actions>.btn,
.portlet>.portlet-title>.actions>.btn-group>.btn,
.portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm,
.portlet>.portlet-title>.actions>.btn.btn-sm {
    padding: 4px 10px;
    font-size: 13px;
    line-height: 1.5
}

.portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm>i,
.portlet>.portlet-title>.actions>.btn-group>.btn>i,
.portlet>.portlet-title>.actions>.btn.btn-sm>i,
.portlet>.portlet-title>.actions>.btn>i {
    font-size: 13px
}

.portlet>.portlet-title>.tools {
    float: right;
    display: inline-block;
    padding: 12px 0 8px
}

.portlet>.portlet-title>.tools>a {
    display: inline-block;
    height: 16px;
    margin-left: 5px;
    opacity: 1;
    filter: alpha(opacity=100)
}

.portlet>.portlet-title>.tools>a.expand {
    background-image: url(../img/portlet-expand-icon.png);
    width: 14px;
    visibility: visible
}

.portlet>.portlet-title>.tools>a:hover {
    text-decoration: none;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    opacity: .8;
    filter: alpha(opacity=80)
}

.portlet>.portlet-body p,
.table .btn {
    margin-top: 0
}

.portlet>.portlet-body {
    clear: both;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.portlet.bordered {
    border-left: 2px solid #e6e9ec!important
}

.portlet.bordered>.portlet-title {
    border-bottom: 0
}

.portlet.box {
    padding: 0!important
}

.portlet.box>.portlet-title {
    border-bottom: 0;
    padding: 0 10px;
    margin-bottom: 0;
    color: #fff
}

.portlet.box>.portlet-title>.caption {
    padding: 11px 0 9px
}

.portlet.box>.portlet-title>.tools>a.expand {
    background-image: url(../Images/portlet-collapse-icon.png)
}

.portlet.box>.portlet-body {
    background-color: #fff;
    padding: 0px 15px 10px;
}

.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff
}

.portlet.light.bordered {
    border: 1px solid #e7ecf1!important
}

.portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #eef1f5
}

.portlet.light>.portlet-title {
    padding: 0;
    min-height: 48px
}

.portlet.light>.portlet-title>.caption {
    color: #878787;
    padding: 10px 0
}

.portlet.light>.portlet-title>.caption>.caption-subject {
    font-size: 16px
}

.portlet.light>.portlet-title>.caption>i {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px
}

.portlet.light>.portlet-title>.actions {
    padding: 6px 0 14px
}

.portlet.light>.portlet-title>.actions .dropdown-menu li>a {
    color: #555
}

.portlet.light .portlet-body {
    padding-top: 5px
}
.row {
    margin-left: 0;
    margin-right: 0

}



@media (max-width:768px) {
    .portlet.light .portlet-body .row {
    margin-top: 0px;
}
}

@media (max-width:991px) {
    .portlet-collapsed-on-mobile {
        display: none
    }
}

.portlet.box.grey {
    border: 1px solid #fff;
    border-top: 0
}

.portlet.box.grey>.portlet-title>.caption,
.portlet.box.grey>.portlet-title>.caption>i {
    color: #333
}


.dashboard-stat {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
    border-radius: 4px
}

.dashboard-stat:after,
.dashboard-stat:before {
    content: " ";
    display: table
}

.dashboard-stat:after {
    clear: both
}

.portlet .dashboard-stat:last-child {
    margin-bottom: 10px;
}

.dashboard-stat .visual {
    width: auto;
    max-height: 60px;
    display: block;
    float: right;
    padding-top: 10px;
    padding-right: -10px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px
}

.dashboard-stat .visual>i {
    margin-left: -25px;
    font-size: 75px;
    line-height: 90px
}

.dashboard-stat .details {
    position: absolute;
    left: 15px;
    padding-left: 10px
}

.dashboard-stat .details .number {
    padding-top: 10px       ;
    text-align: left;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
}

.dashboard-stat .details .desc {
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 300
}

.dashboard-stat.dashboard-stat-v2 .visual {
    padding-top: 15px;
    margin-bottom: 10px
}



.dashboard-stat.grey {
    background-color: #DDDDDD;
}

.dashboard-stat.grey .visual>i {
    color: #2E2E2E;
    opacity: .1;
    filter: alpha(opacity=10)
}

.dashboard-stat.grey .details .number {
    color: #333
}

.dashboard-stat.grey .details .desc {
    color: #333;
    opacity: 1;
    filter: alpha(opacity=100)
}

.table-scrollable {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 10px 0!important
}

.table-scrollable>.table-bordered {
    border: 0
}

.table-scrollable>.table-bordered>tbody>tr:last-child>td,
.table-scrollable>.table-bordered>thead>tr:last-child>th,
.table.table-bordered thead>tr>th {
    border-bottom: 1px solid #EFF1F0;
}

.table-scrollable>.table {
    width: 100%!important;
    margin: 0!important;
    background-color: #fff
}

.table-scrollable>.table>thead>tr>th {
    white-space: nowrap
}

.table-scrollable>.table-bordered>tbody>tr>td:first-child,
.table-scrollable>.table-bordered>thead>tr>th:first-child {
    border-left: 0
}

.table-scrollable>.table-bordered>tbody>tr>td:last-child,
.table-scrollable>.table-bordered>thead>tr>th:last-child {
    border-right: 0
}

.table td,
.table th {
    font-size: 14px
}

.table .btn {
    margin-left: 0;
    margin-right: 5px
}

.table thead tr th {
    font-size: 14px;
    font-weight: 600
}

.table-advance {
    margin-bottom: 10px!important
}

.table-advance thead {
    color: #3f444a
}

.table-advance thead tr th {
    background-color: #EFF1F0;
    font-size: 14px;
    font-weight: 400;
    color: #3f444a
}

.table-advance tr td {
    border-left-width: 0
}

.table-advance tr td:first-child {
    border-left-width: 2px!important
}

.table-advance td.highlight div.bronce {
    width: 12px;
    height: 12px;
    background: #FE6129;
    border-radius: 10px;
    display: inline-block;
}

.table-advance td.highlight div.plata {
    width: 12px;
    height: 12px;
    background: #5C636B;
    border-radius: 10px;
    display: inline-block;
}

@media (max-width:480px) {
    .btn.pull-right {
        float: none!important;
        margin: 0 5px 10px 0!important
    }
}

.font-dark {
    color: #2f353b!important
}

.font-yellow {
    color: #c49f47!important
}


/**
* A stylesheet for use with Bootstrap 3.x
* @author: Dan Grossman http://www.dangrossman.info/
* @copyright: Copyright (c) 2012-2015 Dan Grossman. All rights reserved.
* @license: Licensed under the MIT license. See http://www.opensource.org/licenses/mit-license.php
* @website: https://www.improvely.com/
*/

/* Container Appearance */

/* Calendars */

/* Text Input Above Each Calendar */

/* Time Picker */

/* Predefined Ranges */

/*  Larger Screen Styling */

@charset "UTF-8";

@media print {
    body {
        background-color: #fff!important
    }
    .page-bar {
        display: none
    }
    .page-container {
        margin: 0!important;
        padding: 0!important
    }
    .page-content {
        min-height: 300px!important;
        padding: 0 20px 20px!important;
        margin: 0!important
    }
}

.page-bar:after,
.page-container:after {
    clear: both
}

.page-container {
    margin: 0;
    padding: 0;
    position: relative
}

.page-container:after,
.page-container:before {
    content: " ";
    display: table
}

@media (max-width:991px) {
    .page-container {
        margin: 0!important;
        padding: 0!important
    }
}

.page-bar {
    padding: 0 20px;
    margin: -25px -20px 0;
    background-color: #fff;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 1px solid #e7ecf1
}

.page-bar:after,
.page-bar:before {
    content: " ";
    display: table
}

.page-bar .page-breadcrumb {
    display: inline-block;
    float: left;
    padding: 20px 6px;
    margin: 0;
    list-style: none
}

.page-bar .page-breadcrumb>li {
    display: inline-block
}

.page-bar .page-breadcrumb>li>a,
.page-bar .page-breadcrumb>li>span {
    color: #888;
    font-size: 14px;
    text-shadow: none
}

.page-bar .page-breadcrumb>li>i {
    color: #aaa;
    font-size: 5px;
    text-shadow: none;
    margin: 0 5px;
    position: relative;
    top: -3px;
    opacity: .4
}

.page-bar .page-toolbar {
    display: inline-block;
    float: right
}

.page-content {
    margin-top: 0;
    padding: 0;
    background-color: #fff
}

@media (min-width:992px) {
    .page-content-wrapper {
        float: left;
        width: 100%
    }
    .page-content-wrapper .page-content {
        margin-left: 195px;
        margin-top: 0;
        min-height: 600px;
        padding: 25px 20px 10px
    }
}

@media (max-width:991px) {
    .page-content-wrapper .page-content {
        margin: 0!important;
        padding: 20px!important;
        min-height: 280px
    }
}

@media (max-width:767px) {
    .page-content-wrapper .page-content {
        padding: 20px 10px 10px!important;
        overflow: hidden
    }
}



/***
jQuery Slimscroll
***/

.scroller-footer {
  margin-top: 10px; }
  .scroller-footer:before, .scroller-footer:after {
    content: " ";
    display: table; }
  .scroller-footer:after {
    clear: both; }


/*Blog*/


.blog-page .bordered {
  border: 1px solid;
  border-color: #e7ecf1; }

.blog-page .blog-container {
  margin-bottom: 30px; }

.blog-page .blog-title > a {
  color: #110D09;
  font-weight: 300; }

  .blog-page .blog-title > a:hover {
    color: #878787;
    text-decoration: none; }

.blog-content-1 .blog-img-thumb {
  overflow: hidden;
  position: relative; }
  .blog-content-1 .blog-img-thumb img {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto; }

.blog-content-1 .blog-post-content {
  padding: 20px 30px 30px 30px;
  background-color: #fff; }
  .blog-content-1 .blog-post-content > .blog-post-title {
    margin: 0 0 30px 0; }
    .blog-content-1 .blog-post-content > .blog-post-title > a {
      font-size: 20px; }
  .blog-content-1 .blog-post-content > .blog-post-desc {
    color: #111111;
    font-size: 14px;
    margin: 15px 0; }
  .blog-content-1 .blog-post-content > .blog-post-foot > .blog-post-meta {
    display: inline-block;
    margin-right: 10px; }
    .blog-content-1 .blog-post-content > .blog-post-foot > .blog-post-meta > a {
      color: #878787;
      font-size: 13px;
      font-weight: 600; }
      .blog-content-1 .blog-post-content > .blog-post-foot > .blog-post-meta > a:hover {
        color: #3598DC;
        text-decoration: none; }
    .blog-content-1 .blog-post-content > .blog-post-foot > .blog-post-meta > i {
      margin-right: 5px; }
    .blog-content-1 .blog-post-content > .blog-post-foot > .blog-post-meta:last-child {
      margin-right: 0; }

.blog-content-1 .blog-post-lg > .blog-img-thumb {
  height: 480px; }

.blog-content-1 .blog-post-lg > .blog-post-content > .blog-post-desc {
  margin-bottom: 30px; }

.blog-content-1 .blog-post-lg > .blog-post-content > .blog-post-foot {
  border-top: 1px solid;
  border-top-color: #f0f1f2;
  padding-top: 20px;
  text-align: right; }
  .blog-content-1 .blog-post-lg > .blog-post-content > .blog-post-foot > .blog-post-tags {
    text-align: left;
    float: left;
    padding: 0; }
    .blog-content-1 .blog-post-lg > .blog-post-content > .blog-post-foot > .blog-post-tags > li {
      list-style: none;
      display: inline-block;
      margin-right: 5px; }
      .blog-content-1 .blog-post-lg > .blog-post-content > .blog-post-foot > .blog-post-tags > li > a {
        background: #ffd800;
        color: #110d09;
        display: inline-block;
        line-height: 20px;
        margin: 2px 1px;
        padding: 0 8px;
        font-size: 14px !important;}
        .blog-content-1 .blog-post-lg > .blog-post-content > .blog-post-foot > .blog-post-tags > li > a:hover {
          background-color: #2e2e2e;
          color: #fff;
          text-decoration: none; }
      .blog-content-1 .blog-post-lg > .blog-post-content > .blog-post-foot > .blog-post-tags > li:last-child {
        margin-right: 0; }

.blog-content-1 .blog-post-sm > .blog-img-thumb {
  height: 200px; }

.blog-content-1 .blog-post-sm > .blog-post-content > .blog-post-title {
  margin: 0 0 15px 0; }

.blog-content-1 .blog-post-sm > .blog-post-content > .blog-post-foot {
  border: none; }

.blog-content-1 .blog-banner {
  background-position: center;
  text-align: center;
  padding: 100px 0; }
  .blog-content-1 .blog-banner > .blog-banner-title > a {
    color: #fff; }
    .blog-content-1 .blog-banner > .blog-banner-title > a:hover {
      color: #3598DC; }

@media (max-width: 991px) {
  .blog-content-1 .blog-post-lg > .blog-img-thumb {
    height: 330px; }
  .blog-content-1 .blog-post-sm > .blog-img-thumb {
    height: 170px; } }

@media (max-width: 480px) {
  .blog-content-1 .blog-post-lg > .blog-post-content > .blog-post-foot {
    text-align: left; }
    .blog-content-1 .blog-post-lg > .blog-post-content > .blog-post-foot > .blog-post-tags {
      float: none; }
    .blog-content-1 .blog-post-lg > .blog-post-content > .blog-post-foot > .blog-post-meta {
      margin-right: 10px;
      margin-top: 10px; } }

/*Custom*/
.dashboard-stat.grey {
    background: #fff;
    border-bottom: 0 none;
    border-left: 1px solid #cbcbcb;
    border-radius: 0
}

.portlet.box>.portlet-body {
    padding: 5px 0
}

table {
    width: 90%;
    margin-left:0;

}

.pago table td,
.pago table th {
    text-align: center
}

.dashboard-stat {
    margin-bottom: 0
}

.portlet.box>.portlet-title>.caption {
    color: #2e2e2e
}

.portlet.amarillo,
.portlet.box.amarillo>.portlet-title,
.portlet>.portlet-body.amarillo {
    background-color: #FFEF88
}

.portlet.azul,
.portlet.box.azul>.portlet-title,
.portlet>.portlet-body.azul,
.portlet>.portlet-body.grey {
    background-color: #BCD0E4
}

.portlet.box.grey>.portlet-title,
.portlet.grey,
.portlet>.portlet-body.grey {
    background-color: #E1E3E2
}

.pago table td {
    font-size: 18px;
    background-color: #FFF0B8;
}

.pago table td:last-child {
    font-size: 18px;
    background-color: #FFF;
    }

.pago table .btn{
    margin: 0;
    padding: 10px;
    width: 120px;
    margin-top: 0
}

.pago table th {
    font-size: 14px;
    border-bottom: 2px solid #eee;
    padding: 0;
    font-weight: 700
}

.pago table th:last-child {
    border-bottom: none;
    background-color: #FFFFFF;

}

.pago .fecha-pago {
    color: #217ebd
}

.portlet.light .portlet-body .blog-page .row {
    margin-top: 0
}

@media (max-width:769px) {
    .col-xs-12 {
        width: 50%
    }
    .btn {
        margin: 10px 0 0 6px
    }
    @media (max-width:321px) {
        .portlet.light>.portlet-title>.actions {
            float: left
        }
        .portlet>.portlet-title>.caption {
            font-size: 14px
        }
    }
    @media only screen and (max-width:760px),
    (min-device-width:768px) and (max-device-width:1023px) {
        .pago table td:before,
        .producto table td:before {
            display: block;
            margin-bottom: 10px;
            font-weight: 700
        }
        .producto table,
        .producto table tbody,
        .producto table td,
        .producto table th,
        .producto table thead,
        .producto table tr {
            display: block
        }
        ,
        .producto table td:nth-of-type(2),
        .producto table td:nth-of-type(3),
        .producto table td:nth-of-type(4),
        .producto table td:nth-of-type(5),
        .producto table td:nth-of-type(6),
        .producto table td:nth-of-type(7) {
            border: none
        }
        .table-scrollable>.table-bordered>tbody>tr:last-child>td,
        .table-scrollable>.table-bordered>tbody>tr:last-child>th,
        .table-scrollable>.table-bordered>tfoot>tr:last-child>td,
        .table-scrollable>.table-bordered>tfoot>tr:last-child>th,
        .table-scrollable>.table-bordered>thead>tr:last-child>td,
        .table-scrollable>.table-bordered>thead>tr:last-child>th,
        .table.table-bordered thead>tr>th {
            border-bottom: none
        }
        .table-bordered>tbody>tr>td {
            border: none;
            line-height: .75em
        }
        .table-bordered>tbody>tr {
            border: 1px solid #e7ecf1
        }
        .producto table thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px
        }
        .producto table tr {
            position: relative;
            margin-top: 20px
        }
        .producto table tr:nth-of-type(1) {
            margin-top: 0
        }
        .producto table td {
            position: relative;
            text-align: left;
            border-bottom: none;
            width: 50%
        }
        .producto table td:before {
            width: 100%;
            font-size: 14px
        }
        .producto table tbody tr td.ref2 {
            width: 100%;
            background: #f5f5f5;
            border: none;
            height: 60px;
            float: right;
            line-height: 12px;
            padding-top: 12px;
            margin-bottom: 10px
        }
        .producto table td:nth-of-type(1):before {
            content: "Nombre comercial";
            font-size: 14px
        }
        .producto table td:nth-of-type(2):before {
            content: "Paquete"
        }
        .producto table td:nth-of-type(3):before {
            content: "Fecha de publicación"
        }
        .producto table td:nth-of-type(4):before {
            content: "Teléfono"
        }
        .producto table td:nth-of-type(5):before {
            content: "Ubicación"
        }
        .producto table td:nth-of-type(6):before {
            content: "URL"
        }
        .producto table td:nth-of-type(7) {
            position: absolute;
            top: 0;
            right: -10px;
            padding: 20px
        }
        .producto table td:nth-of-type(4) {
            position: absolute;
            top: 52px;
            right: -10px;
            padding: 20px
        }
        .producto table td:nth-of-type(5) {
            position: absolute;
            top: 96px;
            right: -10px;
            padding: 20px
        }
        .pago table,
        .pago table tbody,
        .pago table td,
        .pago table th,
        .pago table thead,
        .pago table tr {
            display: block
        }
        .pago table thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px
        }
        .pago table tr {
            
            position: relative;
            margin-top: 15px
        }
        .pago table tr:nth-of-type(1) {
            margin-top: 0
        }
        .pago table td {
            border: none;
            background-color: #FFFFFF;
            padding: 10px 0;
            position: relative;
            text-align: center;
            line-height: .75em;
            border-bottom: 1px solid #EFF1F0;
            width: 100%
        }
        .pago table td:before {
            width: 100%;
            font-size: 12px
        }
        .pago table td:nth-of-type(3) {
            border-top: 1px solid #ddd;
             width: 100%;
            background: #f5f5f5;
            border-bottom: 1px solid #ddd;
            height: 70px;
            line-height: 1em
        }
        .pago table td:nth-of-type(1):before {
            content: "SALDO AL CONTRATO";
            font-size: 14px
        }
        .pago table td:nth-of-type(2):before {
            content: "SALDO ACTUAL"
        }
        .pago table td:nth-of-type(3):before {
            content: "FECHA LIMITE DE PAGO";
            font-size: 16px
        }
    }
}