
@charset "UTF-8";
/*!
 * Bootstrap v3.3.6 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0; }

input {
  color: inherit;
  font: inherit;
  margin: 0; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2 {
    orphans: 3;
    widows: 3; }
  h2 {
    page-break-after: avoid; }
  .label {
    border: 1px solid #000; }
  .table {
    border-collapse: collapse !important; }
    .table td,
    .table th {
      background-color: #fff !important; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff; }

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }
  a:hover, a:focus {
    color: #23527c;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

img {
  vertical-align: middle; }

h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

h2 {
  margin-top: 20px;
  margin-bottom: 10px; }

h2 {
  font-size: 30px; }

p {
  margin: 0 0 10px; }

.text-right {
  text-align: right; }

ul {
  margin-top: 0;
  margin-bottom: 10px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-md-1, .col-md-3, .col-md-4, .col-sm-6, .col-lg-6, .col-md-8, .col-xs-12, .col-sm-12, .col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

@media (min-width: 768px) {
  .col-sm-6, .col-sm-12 {
    float: left; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-12 {
    width: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-3, .col-md-4, .col-md-8, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-12 {
    width: 100%; } }

@media (min-width: 1200px) {
  .col-lg-6 {
    float: left; }
  .col-lg-6 {
    width: 50%; } }

table {
  background-color: transparent; }

th {
  text-align: left; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px; }
  .table > thead > tr > th,
  .table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #e7ecf1; }
  .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #e7ecf1; }
  .table > thead:first-child > tr:first-child > th {
    border-top: 0; }

.table-bordered {
  border: 1px solid #e7ecf1; }
  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > td {
    border: 1px solid #e7ecf1; }
  .table-bordered > thead > tr > th {
    border-bottom-width: 2px; }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }

input[type="radio"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

input[type="radio"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn:focus, .btn:active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus {
    color: #333;
    text-decoration: none; }
  .btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0/*rtl:auto*/;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #e1e5ec; }

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .btn-group > .btn {
    position: relative;
    float: left; }
    .btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active {
      z-index: 2; }

.btn-group > .btn:first-child {
  margin-left: 0; }
  .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em; }

.label-success {
  background-color: #5cb85c; }

.label-info {
  background-color: #5bc0de; }

.label-danger {
  background-color: #d9534f; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.pull-right {
  float: right !important; }

.hide {
  display: none !important; }

@-ms-viewport {
  width: device-width; }

.visible-xs-inline-block,
.visible-sm-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }


.btn {
    box-shadow: none!important
}

.bold {
    font-weight: 700!important
}

.thin {
    font-weight: 300!important
}

.uppercase {
    text-transform: uppercase!important
}

[class*=" fa-"]:not(.fa-stack),
[class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}


li [class*=" fa-"] {
    display: inline-block;
    width: 1.25em;
    text-align: center
}


/*Fuentes*/
[class*=" icon-"]:before,
[class^=icon-]:before,
[data-icon]:before {
    font-family: sacomfont!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

button,
select {
    text-transform: none
}

@font-face {
    font-family: sacomfont;
    src: url(../Fonts/sacomfont.eot);
    src: url(../Fonts/sacomfont.eot?#iefix) format("embedded-opentype"), url(../Fonts/sacomfont.woff) format("woff"), url(../Fonts/sacomfont.ttf) format("truetype"), url(../Fonts/sacomfont.svg#sacomfont) format("svg");
    font-weight: 400;
    font-style: normal
}

[data-icon]:before {
    content: attr(data-icon)
}

.icon-user:before {
    content: "\e027"
}

.icon-envelope:before {
    content: "\57"
}

.icon-bubbles-talk:before {
    content: "\3b"
}

.icon-plus:before {
    content: "\56"
}

@font-face {
    font-family: FontAwesome;
    src: url(../Fonts/fontawesome-webfont.eot?v=4.4.0);
    src: url(../Fonts/fontawesome-webfont.eot?#iefix&v=4.4.0) format('embedded-opentype'), url(../Fonts/fontawesome-webfont.woff2?v=4.4.0) format('woff2'), url(../Fonts/fontawesome-webfont.woff?v=4.4.0) format('woff'), url(../Fonts/fontawesome-webfont.ttf?v=4.4.0) format('truetype'), url(../Fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


.pull-right {
    float: right!important
}

.fa-home:before {
    content: "\f015"
}

.fa-line-chart:before {
    content: "\f201"
}

.fa-cubes:before {
    content: "\f1b3"
}

.fa-credit-card:before {
    content: "\f09d"
}

.fa-book:before {
    content: "\f02d"
}

.fa-sign-out:before {
    content: "\f08b"
}

.fa-map-marker:before {
    content: "\f041"
}

.fa-edit:before {
    content: "\f044"
}

.fa-calendar:before {
    content: "\f073"
}

.fa-bar-chart-o:before {
    content: "\f080"
}

.fa-globe:before {
    content: "\f0ac"
}

.fa-briefcase:before {
    content: "\f0b1"
}

.fa-building-o:before {
    content: "\f0f7"
}

.fa-angle-down:before {
    content: "\f107"
}

.fa-circle:before {
    content: "\f111"
}

.fa-question:before {
    content: "\f128"
}

.fa-chevron-circle-up:before {
    content: "\f139"
}

.fa-area-chart:before {
    content: "\f1fe"
}



/*Conteiner - Header - Sidebar*/
.page-container:after,
.page-container:before {
    content: " ";
    display: table
}


.img-circle {
    border-radius: 50%!important
}

.badge {
    line-height: 1;
    white-space: nowrap
}

.page-header.navbar {
    box-shadow: none;
     width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    height: 60px;
    min-height: 50px;
    filter: none;
    background-color: #eff1f0;
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.page-header.navbar.navbar-fixed-top {
    z-index: 9999
}

.page-header.navbar .page-logo {
    float: left;
    display: block;
    width: 195px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2e2e2e
}

.page-header.navbar .page-logo>a {
    display: block;
    float: left
}

.page-header.navbar .page-logo .logo-default {
    margin: 8px 0 0 2px;
    height: 46px
}

.page-header.navbar .menu-toggler {
    display: block;
    cursor: pointer;
    opacity: .6;
    filter: alpha(opacity=60);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../Images/sidebar_toggler_icon_grey.png)
}

.page-header.navbar .menu-toggler:hover,
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}

.page-header.navbar .menu-toggler.sidebar-toggler {
    float: right;
    margin: 18px -10px 0 0
}

.page-header.navbar .menu-toggler.responsive-toggler {
    display: none;
    float: right;
    margin: 15px 14px 0 6px;
    background-image: url(../Images/sidebar-toggler-inverse.png)
}

.page-header.navbar .top-menu {
    margin: 0;
    padding-right: 40px;
    float: right
}

.page-header.navbar .top-menu .navbar-nav {
    padding: 0;
    margin-right: 10px;
    display: block
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown {
    margin: 0;
    padding: 0 4px;
    height: 60px;
    display: inline-block
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle {
    margin: 0;
    padding: 18px 10px
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>i {
    font-size: 17px;
    color: #2e2e2e
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>.badge {
    position: absolute;
    top: 10px;
    right: 5px;
    font-weight: 300;
    padding: 3px 6px
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle:focus {
    background: 0 0
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu {
    margin-top: 9px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 10px;
    display: inline-block!important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #eee;
    border-left: 7px solid transparent;
    content: ''
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block!important;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: ''
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu>li>a {
    color: #555
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu {
    min-width: 160px;
    max-width: 275px;
    width: 275px;
    z-index: 9995
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
    display: block;
    overflow: hidden;
    padding: 15px;
    letter-spacing: .5px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>h3 {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 13px;
    display: inline-block
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>a {
    display: inline-block;
    padding: 0;
    background: 0 0;
    clear: inherit;
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    right: 10px;
    border: 0;
    margin-top: -1px
}

.page-bar:after,
.page-container:after,
.page-footer:after {
    clear: both
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a {
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 20px;
    white-space: normal;
    font-size: 13px;
    padding: 16px 15px 18px;
    text-shadow: none
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li:first-child a {
    border-top: none
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .details {
    overflow: hidden
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .details .label-icon {
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .details .label-icon i {
    margin-right: 2px;
    margin-left: 1px
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .time {
    float: right;
    font-size: 11px;
    font-weight: 400;
    opacity: .7;
    filter: alpha(opacity=70);
    text-align: right;
    padding: 1px 5px
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .photo {
    float: left;
    margin: 0 6px 6px 0
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .photo img {
    height: 40px;
    width: 40px;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    -ms-border-radius: 50%!important;
    -o-border-radius: 50%!important;
    border-radius: 50%!important
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .subject {
    display: block;
    margin-left: 46px
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .subject .from {
    font-size: 13px;
    font-weight: 600
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .subject .time {
    font-size: 12px;
    font-weight: 400;
    opacity: .5;
    filter: alpha(opacity=50);
    float: right
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .message {
    display: block!important;
    font-size: 12px;
    line-height: 1.3;
    margin-left: 46px
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover.navbar-collapse,
.page-sidebar.navbar-collapse {
    padding: 0;
    box-shadow: none
}

.page-sidebar .page-sidebar-menu,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0
}

.page-sidebar .page-sidebar-menu>li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0
}

.page-sidebar .page-sidebar-menu>li.start>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.start>a {
    border-top-color: transparent!important
}

.page-sidebar .page-sidebar-menu>li>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    display: block;
    position: relative;
    margin-top: 0;
    border: 0;
    padding: 14px 0 10px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    width: 195px
}

.page-sidebar .page-sidebar-menu>li>a>.title,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.title {
    display: inline;
    text-align: left;
    margin-top: 5px
}

.badge,
.page-footer,
.scroll-to-top {
    text-align: center
}

.page-sidebar .page-sidebar-menu>li>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i {
    font-size: 18px;
    text-shadow: none;
    font-weight: 300
}

.page-sidebar-fixed .page-sidebar .page-sidebar-menu>li>a,
.page-sidebar-fixed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    transition: all .2s ease
}

.page-sidebar .page-sidebar-menu>li.open>a {
    font-size: 13px
}

.page-sidebar .page-sidebar-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
    border: none;
    text-shadow: none;
    font-size: 13px
}

.page-sidebar .page-sidebar-menu>li.active>a>.selected,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.selected {
    display: block;
    float: right;
    position: absolute;
    right: 0;
    top: 8px;
    background: 0 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 0;
    border-right: 12px solid #fff
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list {
    padding-right: 0!important;
    padding-left: 0;
    list-style: none
}

.page-bar {
    padding: 0 20px;
    margin: -25px -20px 20px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 1px solid #e7ecf1
}

.page-bar:after,
.page-bar:before {
    content: " ";
    display: table
}

.page-bar .page-breadcrumb {
    display: inline-block;
    float: left;
    padding: 20px 6px;
    margin: 0;
    list-style: none
}

.page-bar .page-breadcrumb>li {
    display: inline-block
}

.page-bar .page-breadcrumb>li>a,
.page-bar .page-breadcrumb>li>span {
    color: #888;
    font-size: 14px;
    text-shadow: none
}

.page-bar .page-breadcrumb>li>i {
    color: #aaa;
    font-size: 5px;
    text-shadow: none;
    margin: 0 5px;
    position: relative;
    top: -3px;
    opacity: .4
}

.page-content {
    margin-top: 0;
    padding: 0;
    background-color: #fff
}

.page-footer {
    background-color: #2e2e2e;
    padding: 5px 20px;
    font-size: 12px;
    height: 33px
}

.page-footer:after,
.page-footer:before {
    content: " ";
    display: table
}

.page-footer .page-footer-inner {
    display: inline-block
}

.page-footer p {
    margin: 0
}

.scroll-to-top {
    padding: 2px;
    position: fixed;
    z-index: 10001;
    bottom: 10px;
    display: none;
    right: 10px
}

.badge,
.label {
    font-weight: 300;
    padding: 3px 6px
}

.scroll-to-top>i {
    display: inline-block;
    color: #000;
    font-size: 40px;
    opacity: .8;
    filter: alpha(opacity=50)
}

.scroll-to-top:hover>i {
    opacity: 1;
    filter: alpha(opacity=100)
}

.page-header.navbar .page-top {
    background: #2e2e2e
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover {
    background-color: #FD0
}

.page-header.navbar .top-menu .navbar-nav>li a {
    color: #2e2e2e
}

.page-header.navbar .top-menu .navbar-nav>li a:hover {
    background-color: #2e2e2e
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default {
    background-color: #F44336;
    color: #fff
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu:before {
    border-bottom-color: #e4e8ee
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu {
    border: 1px solid #e4e8ee
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu:before {
    border-bottom-color: #d4dae4
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu:after {
    border-bottom-color: #eaedf2
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
    background: #EFF1F0
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>h3 {
    color: #2e2e2e
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>a {
    color: #F44336
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>a:hover {
    color: #878787;
    text-decoration: none
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a {
    border-bottom: 1px solid #EFF2F6!important;
    color: #888
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a:hover {
    background: #f8f9fa;
    text-decoration: none
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li>a .time {
    background: #f1f1f1
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li>a:hover .time {
    background: #e4e4e4
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
    color: #878787
}

.page-sidebar {
    background-color: #2e2e2e
}

.page-sidebar .page-sidebar-menu>li>a {
    border-top: 1px solid #000;
    color: #FFF
}

.page-sidebar .page-sidebar-menu>li>a>i {
    color: #FD0
}

.page-sidebar .page-sidebar-menu>li.open>a,
.page-sidebar .page-sidebar-menu>li:hover>a {
    background: #000;
    color: #e4e9f2
}

.page-sidebar .page-sidebar-menu>li.open>a>i,
.page-sidebar .page-sidebar-menu>li:hover>a>i {
    color: #FFF
}

.page-sidebar .page-sidebar-menu>li.active.open>a,
.page-sidebar .page-sidebar-menu>li.active>a {
    background: #FD0;
    color: #000
}

.page-sidebar .page-sidebar-menu>li.active.open>a:hover,
.page-sidebar .page-sidebar-menu>li.active>a:hover {
    background: #FD0
}

.page-sidebar .page-sidebar-menu>li.active.open>a>i,
.page-sidebar .page-sidebar-menu>li.active>a>i {
    color: #000
}

.page-sidebar .page-sidebar-menu>li:last-child>a {
    border-bottom: 1px solid transparent!important
}

.page-footer .page-footer-inner {
    color: #FD0
}

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .menu-toggler.sidebar-toggler {
    margin-right: 17px
}

.badge-default {
    background-image: none;
    background-color: #bac3d0
}

.badge {
    font-size: 11px!important;
    height: 18px;
    color: #fff;
    -webkit-border-radius: 12px!important;
    -moz-border-radius: 12px!important;
    border-radius: 12px!important;
    text-shadow: none!important
}

.dropdown-menu {
    float: left;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px
}

.dropdown-menu>li>a {
    text-decoration: none;
    clear: both
}

.dropdown-menu>li:hover>a {
    text-decoration: none;
    background-image: none;
    background-color: #f6f6f6;
    color: #555;
    filter: none
}

.dropdown-menu>li:first-child:hover>a {
    border-radius: 4px 4px 0 0
}

.dropdown-menu>li:last-child:hover>a {
    border-radius: 0 0 4px 4px
}

.dropdown-toggle:after {
    display: none
}

.nav.pull-right>li>.dropdown-menu {
    right: 0;
    left: auto
}

.nav.pull-right>li>.dropdown-menu:before {
    right: 12px;
    left: auto
}

.nav.pull-right>li>.dropdown-menu:after {
    right: 13px;
    left: auto
}

.label {
    text-shadow: none!important;
    font-size: 14px;
    color: #fff
}

.label.label-sm {
    font-size: 13px;
    padding: 2px 5px
}

.label-success {
    background-color: #0AC96C
}

.label.label-icon {
    padding: 4px 0 4px 4px;
    margin-right: 2px;
    text-align: center!important
}

.label.label-icon>i {
    font-size: 12px;
    text-align: center!important
}

@media (min-width:992px) {
    .page-sidebar {
        width: 195px;
        float: left;
        position: relative;
        margin-right: -100%
    }
    .page-sidebar.navbar-collapse {
        max-height: none!important
    }
    .page-sidebar .page-sidebar-menu {
        margin-bottom: 10px
    }
    .page-sidebar-fixed .page-sidebar {
        position: fixed!important;
        margin-left: 0
    }
    .page-content-wrapper {
        float: left;
        width: 100%
    }
    .page-content-wrapper .page-content {
        margin-left: 195px;
        margin-top: 0;
        min-height: 600px;
        padding: 25px 20px 10px
    }
    .page-footer {
        clear: left
    }
    .page-sidebar-fixed .page-footer {
        margin-left: 195px;
        padding: 8px 20px 5px
    }
    .scroll-to-top {
        right: 10px
    }
    .page-sidebar-fixed:not(.page-footer-fixed) .page-content {
        border-bottom: 0
    }
    .page-sidebar-fixed:not(.page-footer-fixed) .page-footer {
        background-color: #FFF
    }
    .page-sidebar-fixed:not(.page-footer-fixed) .page-footer .page-footer-inner {
        color: #2e2e2e
    }
    .page-sidebar-fixed:not(.page-footer-fixed) .page-footer .page-footer-inner p {
        margin: 0
    }
    .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
        padding: 0;
        width: 54px
    }
    .page-sidebar-closed .page-sidebar,
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed {
        width: 54px!important
    }
    .page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo .logo-default {
        display: none
    }
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li>a {
        min-height: 54px;
        padding-left: 11px
    }
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li:hover {
        width: 249px!important;
        position: relative!important;
        z-index: 10000;
        display: block!important
    }
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li:hover>a {
        -webkit-border-radius: 0 4px 0 0;
        -moz-border-radius: 0 4px 0 0;
        -ms-border-radius: 0 4px 0 0;
        -o-border-radius: 0 4px 0 0;
        border-radius: 0 4px 0 0;
        text-align: left
    }
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li:hover>a>i {
        display: inline-block;
        margin-right: 10px
    }
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li:hover>a>.title {
        display: inline!important;
        padding-left: 20px
    }
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li:hover>a>.selected {
        display: none
    }
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li>a .selected {
        top: 16px;
        right: -2px!important
    }
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li>a>.arrow,
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li>a>.badge,
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li>a>.title {
        display: none!important
    }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
        width: 195px!important;
        display: block;
        z-index: 10000
    }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
        width: 195px!important
    }
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .selected,
    .page-sidebar-closed.page-sidebar-hide .page-sidebar {
        display: none!important
    }
}

@media (min-width:991px) {
    .scroll-to-top {
        right: 10px
    }
    .scroll-to-top>i {
        font-size: 48px
    }
}

@media (max-width:991px) {
    .page-sidebar.navbar-collapse.navbar-no-scroll {
        max-height: none!important
    }
    .page-header.navbar {
        box-shadow: 0 1px 10px 0 rgba(50, 50, 50, .2);
        padding: 0
    }
    .page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle:hover {
        background-color: #f6f7fa
    }
    .page-header.navbar .page-top {
        box-shadow: none
    }
    .page-content-wrapper .page-content {
        margin: 0!important;
        padding: 20px!important;
        min-height: 280px
    }
    .page-container {
        margin: 0!important;
        padding: 0!important;
        background: #eef1f5
    }
    .page-header-fixed.page-header-fixed-mobile .page-container {
        margin-top: 68px!important
    }
    .page-header.navbar {
        margin: 0;
        position: relative;
        clear: both
    }
    .page-header.navbar .page-logo {
        width: auto;
        padding: 0 15px 0 10px
    }
    .page-header.navbar .page-logo img {
        margin-left: 4px!important
    }
    .page-header.navbar .menu-toggler.sidebar-toggler {
        display: none!important
    }
    .page-header.navbar .menu-toggler.responsive-toggler {
        display: inline-block
    }
    .page-header.navbar .top-menu .navbar-nav>li {
        float: left
    }
    .page-header-fixed.page-header-fixed-mobile .navbar-fixed-top {
        position: fixed
    }
    .page-sidebar .selected,
    .page-sidebar.navbar-collapse.collapse {
        display: none!important
    }
    .page-sidebar.navbar-collapse {
        max-height: none
    }
    .page-sidebar .page-sidebar-menu>li>a {
        border-top: 1px solid #000
    }
 
    .scroll-to-top {
        right: 10px
    }
    .scroll-to-top>i {
        font-size: 36px
    }
    .page-sidebar .page-sidebar-menu>li>a,
    .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
        width: 100%
    }
}

@media (max-width:767px) {
    .page-content-wrapper .page-content {
        padding: 20px 10px 10px!important;
        overflow: hidden
    }
    .page-header.navbar .page-logo {
        width: auto
    }
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-extended>.dropdown-menu {
        max-width: 275px
    }
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu {
        margin-right: -90px
    }
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu:after,
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu:before {
        margin-right: 90px
    }
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox .dropdown-menu {
        margin-right: -40px
    }
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox .dropdown-menu:after,
    .page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox .dropdown-menu:before {
        margin-right: 50px
    }
    .page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle {
        padding: 20px 10px
    }
    .page-header.navbar .menu-toggler.responsive-toggler {
        background-image: url(../Images/sidebar-toggler.png);
        margin: 20px 20px 0 6px
    }
    .page-header.navbar {
        background: #2e2e2e
    }
    .page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
        color: #EFF1F0
    }
    .page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i:hover {
        color: #2e2e2e
    }
    .page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle:hover {
        background-color: #FD0
    }
    .page-header.navbar .page-top {
        display: block;
        clear: both
    }
    .page-header.navbar .top-menu {
        margin-top: -70px
    }
    .page-footer {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (max-width:480px) {
   
    .page-sidebar,
    .page-sidebar.in {
        margin: 0 10px!important
    }
    .page-header-fixed.page-header-fixed-mobile .page-sidebar,
    .page-header-fixed.page-header-fixed-mobile .page-sidebar.in {
        margin-top: 10px!important
    }
    .page-header.navbar .page-logo .logo-default {
        margin: 8px 0 0;
        height: 40px
    }
}

@media (max-width:991px) {
    .page-sidebar .selected,
    .page-sidebar.navbar-collapse.collapse {
        display: none!important
    }
    .page-sidebar {
        border-top: 0!important;
        margin: 0 30px 10px
    }
    .page-sidebar.navbar-collapse {
        max-height: none
    }
    .page-sidebar.navbar-collapse.in {
        position: relative;
        overflow: hidden!important;
        overflow-y: auto!important;
        display: block!important
    }
}

@media print {
    body {
        background-color: #fff!important
    }
    .page-bar,
    .page-footer,
    .page-sidebar-wrapper {
        display: none
    }
    .page-container {
        margin: 0!important;
        padding: 0!important
    }
    .page-content {
        min-height: 300px!important;
        padding: 0 20px 20px!important;
        margin: 0!important
    }
}

.collapsing,
.dropdown,
.dropup {
    position: relative
}

.collapsing {
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box
}

.dropdown-header,
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    line-height: 1.42857;
    white-space: nowrap
}

.dropdown-menu>li>a {
    font-weight: 400;
    color: #333
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #e1e5ec
}

.open>.dropdown-menu {
    display: block
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav:after,
.nav:before {
    content: " ";
    display: table
}

.nav>li,
.nav>li>a {
    display: block;
    position: relative
}

.nav:after {
    clear: both
}

.nav>li>a {
    padding: 10px 15px
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #eee
}

.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before {
    display: table;
    content: " "
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    -webkit-overflow-scrolling: touch
}

@media (min-width:768px) {
    .navbar {
        border-radius: 4px
    }
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }
    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important
    }
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px
}

.navbar-nav {
    margin: 7.5px -15px
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px
}

@media (min-width:768px) {
    .navbar-toggle {
        display: none
    }
    .navbar-nav {
        float: left;
        margin: 0
    }
    .navbar-nav>li {
        float: left
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

