.clearfix:after,
.row:after {
    clear: both
}

.blog-page .bordered {
    border: 1px solid #e7ecf1
}

.blog-page .blog-container {
    margin-bottom: 30px
}

.blog-content-2 .blog-single-content {
    padding: 40px 30px 15px;
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
}

.blog-content-2 .blog-single-content>.blog-single-head>.blog-single-head-title {
    font-size: 25px;
    font-weight: 600;
    color: #4e5a64;
    margin: 0 0 40px;
    display: inline-block
}

.blog-content-2 .blog-single-content>.blog-single-head>.blog-single-head-date {
    float: right;
    font-size: 13px;
    font-weight: 600;
    margin-top: 7px
}

.blog-content-2 .blog-single-content>.blog-single-head>.blog-single-head-date>i {
    margin-right: 5px
}

.blog-content-2 .blog-single-content>.blog-single-head>.blog-single-head-date>a {
    color: #9aa5b2
}

.blog-content-2 .blog-single-content>.blog-single-head>.blog-single-head-date>a:hover {
    color: #3598DC;
    text-decoration: none
}

.blog-content-2 .blog-single-content>.blog-single-img {
    margin: 0 0 35px
}

.blog-content-2 .blog-single-content>.blog-single-img>img {
    width: 100%
}
.blog-single-img iframe {
    width: 100% !important;
    height: 400px !important;
}
.blog-content-2 .blog-single-content>.blog-single-desc>p {
    margin: 0 0 35px;
    font-size: 16px;
    color: #7e8691;
    line-height: 24px
}

.blog-content-2 .blog-single-content>.blog-single-foot {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #f0f1f2;
    padding: 20px 0 25px;
    margin-bottom: 20px
}

.blog-content-2 .blog-single-content>.blog-single-foot>.blog-post-tags {
    text-align: left;
    padding: 0;
    margin: 0
}

.blog-content-2 .blog-single-content>.blog-single-foot>.blog-post-tags>li {
    list-style: none;
    display: inline-block;
    margin-right: 5px
}

.blog-content-2 .blog-single-content>.blog-single-foot>.blog-post-tags>li>a {
    background: #ffd800;
    color: #110d09;
    display: inline-block;
    line-height: 20px;
    margin: 2px 1px;
    padding: 0 8px;
    font-size: 14px!important
}

.blog-content-2 .blog-single-content>.blog-single-foot>.blog-post-tags>li>a:hover {
    background-color: #2e2e2e;
    color: #fff;
    text-decoration: none
}

.blog-content-2 .blog-single-content>.blog-single-foot>.blog-post-tags>li:last-child {
    margin-right: 0
}

.blog-content-2 .blog-single-sidebar {
    padding: 40px 30px;
    background-color: #fff
}

.blog-content-2 .blog-single-sidebar .blog-sidebar-title {
    font-weight: 600;
    font-size: 14px;
    color: #4e5a64;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 30px
}

.blog-content-2 .blog-single-sidebar>.blog-single-sidebar-search input {
    font-size: 14px;
    color: #a0a9b4
}

.blog-content-2 .blog-single-sidebar>.blog-single-sidebar-search input:focus {
    outline: 0;
    border: 1px solid #ccc
}

.blog-content-2 .blog-single-sidebar>.blog-single-sidebar-recent>ul {
    padding: 0
}

.blog-content-2 .blog-single-sidebar>.blog-single-sidebar-recent>ul>li {
    list-style: none;
    margin-bottom: 10px;
    position: relative
}

.blog-content-2 .blog-single-sidebar>.blog-single-sidebar-recent>ul>li>a {
    color: #292929;
    font-size: 14px;
    padding-left: 20px;
    display: block
}

.blog-content-2 .blog-single-sidebar>.blog-single-sidebar-recent>ul>li>a:hover {
    text-decoration: none;
    color: #ff7200
}

.blog-content-2 .blog-single-sidebar>.blog-single-sidebar-recent>ul>li:before {
    content: "•";
    color: #dae0e5;
    font-size: 30px;
    position: absolute;
    margin-top: -9px
}

.blog-content-2 .blog-single-sidebar>.blog-single-sidebar-tags .blog-post-tags {
    text-align: left;
    padding: 0;
    margin: 20px 0 0
}

.blog-content-2 .blog-single-sidebar>.blog-single-sidebar-tags .blog-post-tags>li {
    list-style: none;
    display: inline-block;
    margin: 0 5px 20px 0
}

.blog-content-2 .blog-single-sidebar>.blog-single-sidebar-tags .blog-post-tags>li>a {
    background: #ffd800;
    color: #110d09;
    display: inline-block;
    line-height: 20px;
    margin: 2px 1px;
    padding: 0 8px;
    font-size: 14px!important
}

.blog-content-2 .blog-single-sidebar>.blog-single-sidebar-tags .blog-post-tags>li>a:hover {
    background-color: #3598DC;
    color: #fff;
    text-decoration: none
}

.blog-content-2 .blog-single-sidebar>.blog-single-sidebar-tags .blog-post-tags>li:last-child {
    margin-right: 0
}
@media (max-width:680px) {
    .blog-single-img iframe {
    height: 300px !important;
}
}
@media (max-width:480px) {
    .blog-content-2 .blog-single-content>.blog-single-head>.blog-single-head-title {
        margin-bottom: 0
    }
    .blog-content-2 .blog-single-content>.blog-single-head>.blog-single-head-date {
        float: none;
        margin-bottom: 40px
    }
    .blog-single-img iframe {
    height: 200px !important;
}
}

.row:after,
.row:before {
    content: " ";
    display: table
}

.col-lg-3,
.col-lg-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:1200px) {
    .col-lg-3,
    .col-lg-9 {
        float: left
    }
    .col-lg-3 {
        width: 25%
    }
    .col-lg-9 {
        width: 75%
    }
}

.form-control {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
    border-color: #93a1bb;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(147, 161, 187, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(147, 161, 187, .6)
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #999
}

.form-control::-webkit-input-placeholder {
    color: #999
}

.form-control::-ms-expand {
    border: 0;
    background-color: transparent
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

@-ms-viewport {
    width: device-width
}

.form-control {
    box-shadow: none!important;
    outline: 0!important;
    width: 90%
}

.uppercase {
    text-transform: uppercase!important
}

.input-icon {
    position: relative;
    left: 0
}

.input-icon>.form-control {
    padding-left: 33px
}

.input-icon>i {
    display: block;
    color: #ccc;
    position: absolute;
    margin: 11px 2px 4px 10px;
    z-index: 3;
    width: 16px;
    font-size: 16px;
    text-align: center;
    left: 0
}

.input-icon.right {
    left: auto;
    right: 0
}

.input-icon.right>.form-control {
    padding-right: 33px;
    padding-left: 12px
}

.input-icon.right>i {
    left: auto;
    right: 8px;
    float: right
}

.row {
    margin-left: 0;
    margin-right: 0
}

.font-yellow {
    color: #c49f47!important
}