@media screen {
    .for-print {
        display: none;
    }
}

@media print {
    .page-header,
    .page-container {
        display: none !important;
    }
    html body {
        margin: 0 auto;
        padding: 0;
    }
    body {
        background-color: white;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857;
        color: #333;
    }
    #wrapper {
        margin: 0 auto;
    }
    #container {
        width: 920px;
        margin: 0 auto;
    }
    .header {
        width: 100%;
    }
    .logo {
        padding: 10px;
    }
    /*calendario*/
    .pm-daterange {
        left: 145px
    }
    .pm-heading {
        position: relative
    }
    .pm-heading h1 {
        font-size: 1.5em;
        padding: 0 15px 18px;
        border-bottom: 1px solid #bfc1c0;
        color: #444
    }
    .left5 {
        margin-left: 5px
    }
    .daterangepicker_input {
        display: none!important
    }
    .pm-daterange {
        display: block;
        position: fixed;
        top: 10px;
        z-index: 10000
    }
    /**/
    h1 {
        font-size: 24px;
        font-weight: lighter;
    }
    .col-md-4 {
        width: 10%;
        margin-left: 5px;
    }
    .col-md-8 {
        width: 20%;
        margin-left: 5px;
    }
    .col-lg-1 {
        width: 5%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .col-lg-2 {
        width: 15%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .col-lg-3 {
        width: 31%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .col-lg-4 {
        width: 35%;
        float: left;
        position: relative;
        min-height: 1px;
    }
    .col-lg-5 {
        width: 55%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 25px;
    }
    .col-lg-6 {
        width: 62%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 25px;
    }
    .col-lg-7 {
        width: 70%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .col-lg-8 {
        width: 80%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .col-lg-9 {
        width: 90%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .col-lg-10 {
        width: 100%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9 {
        float: left;
        position: relative;
        min-height: 1px;
    }
    .row {
        margin: 0 auto;
        width: 100%;
    }
    .top20 {
        margin-top: 20px!important;
    }
    div {
        display: block;
    }
    .pm-heading {
        position: relative
    }
    .pm-heading h1 {
        font-size: 1.5em;
        padding: 0 15px 18px;
        border-bottom: 1px solid #bfc1c0;
        color: #444
    }
    h2 {
        font-size: 1em;
        padding: 0 15px 18px;
        color: #444;
        text-align: center;
    }
    .pm-stat {
        color: #878787;
        border: 1px solid #eff1f0;
        padding: 10px 0;
        margin-bottom: 30px;
        text-align: center;
    }
    .pm-stat .visual {
        display: block;
        font-size: 3em;
    }
    .pm-stat .number {
        font-size: 18px;
        font-weight: 300;
    }
    .pm-stat .desc {
        font-size: 12px;
        font-weight: 300;
        line-height: 10px;
        margin-bottom: 5px;
    }
    .details {
        padding-right: 10px;
        padding-left: 10px;
        left: 0
    }
    /*iconos*/
    @font-face {
        font-family: sacomfont;
        src: url(../fonts/sacomfont.eot);
        src: url(../fonts/sacomfont.eot?#iefix) format("embedded-opentype"), url(../fonts/sacomfont.woff) format("woff"), url(../fonts/sacomfont.ttf) format("truetype"), url(../fonts/sacomfont.svg#sacomfont) format("svg");
        font-weight: 400;
        font-style: normal
    }
    [data-icon]:before {
        content: attr(data-icon)
    }
    @font-face {
        font-family: FontAwesome;
        src: url(../fonts/fontawesome-webfont.eot?v=4.4.0);
        src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0) format('embedded-opentype'), url(../fonts/fontawesome-webfont.woff2?v=4.4.0) format('woff2'), url(../fonts/fontawesome-webfont.woff?v=4.4.0) format('woff'), url(../fonts/fontawesome-webfont.ttf?v=4.4.0) format('truetype'), url(../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular) format('svg');
        font-weight: 400;
        font-style: normal
    }
    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }
    [class*=" icon-"]:before,
    [class^=icon-]:before,
    [data-icon]:before {
        font-family: sacomfont!important;
        font-style: normal!important;
        font-weight: 400!important;
        font-variant: normal!important;
        text-transform: none!important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }
    [class*=" fa-"]:not(.fa-stack),
    [class^=icon-] {
        display: inline-block;
        line-height: 14px;
        -webkit-font-smoothing: antialiased
    }
    .icon-inversion-periodo:before {
        content: "\e042"
    }
    .icon-impresiones:before {
        content: "\e037"
    }
    .icon-clics:before {
        content: "\e04d"
    }
    .icon-ctr:before {
        content: "\e046"
    }
    .icon-costo-impresion:before {
        content: "\e047"
    }
    .icon-costo-clic:before {
        content: "\e048"
    }
    .icon-smartphone-2:before {
        content: "\e03f"
    }
    .icon-equipos-escritorio:before {
        content: "\e036"
    }
    .icon-tablets:before {
        content: "\e03e"
    }
    /**/
    .top10 {
        margin-top: 10px!important
    }
    .top30 {
        margin-top: 30px!important
    }
    .top40 {
        margin-top: 40px!important
    }
    .top50 {
        margin-top: 50px!important
    }
    .top60 {
        margin-top: 60px!important
    }
    .top70 {
        margin-top: 70px!important
    }
    .icon-ver-mosaico:before {
        content: "\37"pm-daterange
    }
    /*tablas*/
    .table {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        border: 1px solid #bfc1c0;
        width: 100%;
        overflow: auto;
        margin: 0 0 30px!important;
        text-align: center;
        border-collapse: collapse;
    }
    tr {
        border: 1px solid #EBE8E8;
    }
    td {
        border-collapse: collapse;
    }
    .table>tr>td {
        padding: 15px;
        line-height: 1.42857;
        vertical-align: top;
        font-weight: lighter;
    }
    .table>tbody>tr>td,
    .table>thead>tr>th {
        padding: 8px;
        line-height: 1.42857;
        vertical-align: top;
        border-top: 1px solid #e7ecf1;
    }
    .table>tr>td>p {
        font-weight: lighter;
    }
    .data {
        background: #E9E9E9;
        padding: .5em!important;
    }
    .value {
        padding: .5em!important;
    }
    .horas {
        width: 25%;
    }
    /*Dispositivos*/
    .graph-title {
        font-size: 15px;
        font-weight: 600;
        text-align: center
    }
    .sesion-disp {
        padding-left: 10px!important;
        padding-right: 10px!important;
        color: #777;
        text-align: center
    }
    .sesion-disp span {
        font-size: 3.5em;
        color: #777
    }
    .sesion-disp p {
        margin-bottom: 10px;
        color: #777;
        margin-top: 10px
    }
    .sesion-num {
        font-size: 1.7em;
        border-top: 1px solid #eff1f0;
        padding-top: 10px;
        margin-top: 5px;
        color: #878787;
        font-weight: 300
    }
}