.page-header.navbar .page-logo {
background-color: white;
}



.page-sidebar .page-sidebar-menu>li>a {
    /* border-top: 1px solid #000; */
    color: #fff;
}


@media (max-width: 767px){
.page-header.navbar {
    background: #2e2e2e;
}
    }


.page-header.navbar {

    background-color: #029EDC;
    border-bottom: 1px solid #029EDC;
}


.page-sidebar .page-sidebar-menu, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
    background-color: #029ED9;
}

.page-sidebar .page-sidebar-menu>li>a>i {
    color: white;
}


.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a {
    background: #00cbff;
    color: #000;
}

.page-sidebar .page-sidebar-menu>li.active.open>a>i, .page-sidebar .page-sidebar-menu>li.active>a>i {
    color: #fff;
}
.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a {
    background: #014556;
    color: #fff;
}

/*button*/ 

.btn.yellow:not(.btn-outline) {
    color: #FFFFFF;
    background-color: #009EC6;
    border-color: #00cbff;
}
.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
.btn {
    display: inline-block;
    padding: 15px 25px;
    color: #4d4d4d;
    border: none;
    font-size: 18px;
    line-height: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 0 auto 0 30px;
}
 
.btn:hover{
    color: #FFFFFF !important;
    background-color: #004253 !important;
    border-color: #00cbff !important;
}

.pm-btn:hover {
    display: block;
    color: #FFFFFF;
    background-color:  #009EC6 !important;

}

.page-sidebar .page-sidebar-menu>li>a {
    border-top: none;  /**/
    color: #FFF;
}
