<!-- Pantallas de chat: Para su correcta visualizacion es necesario tener el link de estilos: chat.css-->

<!-- Chat pantalla general: Añadir dentro de div=container despues de header-->

<div class="chat-header">
          <div class="chat-header-content">
            <div class="chat-header-btn-left"><a href="chat-search-user.html"><i class="fa fa-fw fa-plus"></i></a></div>
            <div><i class="fa fa-fw fa-circle chat-online-icon"></i>javier.castro</div>
            <div class="chat-header-btn-right"><a href="chat-info-user.html"><i class="fa fa-fw fa-info"></i></a></div>
          </div>
      </div>
      <div class="chat-content">
          <table width="100%" border="0">
              <tr>
                <td><a href="chat-screen.html"><i class="fa fa-fw fa-circle chat-online-icon"></i>aldo.godinez</a></td>
              </tr>
              <tr>
                <td><i class="fa fa-fw fa-circle chat-online-icon"></i>carlos.avila</td>
              </tr>
              <tr>
                <td><i class="fa fa-fw fa-circle chat-offline-icon"></i>daniel.velez</td>
              </tr>
              <tr>
                <td><i class="fa fa-fw fa-circle chat-offline-icon"></i>juan.duron</td>
              </tr>
              <tr>
                <td><i class="fa fa-fw fa-circle chat-offline-icon"></i>antonio.amador</td>
              </tr>
        </table>
      </div>
      
      
<!-- Chat pantalla informacion de usuario: Añadir dentro de div=container despues de header-->

<div class="chat-header">
          <div class="chat-header-content">
            <div class="chat-header-btn-left"><a href="Chat.html"><i class="fa fa-fw fa-list-ul"></i></a></div>
            <div><i class="fa fa-fw fa-circle chat-online-icon"></i>javier.castro</div>
          </div>
      </div>
      <div class="chat-user-info-content">
            <form id="frmCard">
                <fieldset>
                <table>
                	<tr><td class="chat-info-title">Nombre:</td></tr>
                    <tr><td><input type="text" id="FN" class="vcardBoxEditable"></td></tr>
                	<tr><td class="chat-info-title">E-mail:</td></tr>
                    <tr><td><input type="text" id="EMAIL" class="vcardBoxEditable"></td></tr>
                </table>
                </fieldset>		
                <fieldset>
                <table>
                	<tr><td class="chat-info-title">Calle:</td></tr>
                    <tr><td><input type="text" id="STREET" class="vcardBoxEditable"></td></tr>  
                    <tr><td class="chat-info-title">Estado:</td></tr>
                    <tr><td><input type="text" id="REGION" class="vcardBoxEditable"></td></tr>
                    <tr><td class="chat-info-title">Codigo Postal:</td></tr>
                    <tr><td><input type="text" id="PCODE" class="vcardBoxEditable"></td></tr>
                    <tr><td class="chat-info-title">País:</td></tr>
                    <tr><td><input type="text" id="CTRY" class="vcardBoxEditable"></td></tr>
                </tbody></table>
                </fieldset>
                <fieldset>
                <table>			  
                    <tbody><tr><td class="chat-info-title">Teléfono:</td></tr>
                    <tr><td><input type="text" id="Telefono" class="vcardBoxEditable"></td></tr>
                    <tr><td class="chat-info-title">Puesto:</td></tr>
                    <tr><td><input type="text" id="puesto" class="vcardBoxEditable"></td></tr>
                    <tr><td class="chat-info-title">Departamento:</td></tr>
                    <tr><td><input type="text" id="departamento" class="vcardBoxEditable"></td></tr>
                </tbody></table>
                </fieldset>
                <div class="chat-btn-back">
                <input type="button" onclick="cancelVCard();" value="Regresar">		
                </div>
            </form>
      </div>


<!-- Chat pantalla para envios de mensajes: Añadir dentro de div=container despues de header-->

<div class="chat-header">
          <div class="chat-header-content">
            <div class="chat-header-btn-left"><a href="Chat.html"><i class="fa fa-fw fa-list-ul"></i></a></div>
            <div>Chat con <i class="fa fa-fw fa-circle chat-online-icon"></i>aldo.godinez</div>
            <div class="chat-header-btn-right"><a href="chat-info-user.html"><i class="fa fa-fw fa-info"></i></a></div>
          </div>
      </div>
      <div class="chat-screen-content">
      <iframe id="chat" name="chat" scrolling="auto"></iframe>
      <table>
      <tr>
      	<td width="100%"><textarea id="msgbox" wrap="virtual" style="width: 100%; height: 4.2em;" onkeypress="return msgboxKeyPressed(this,event);" onkeydown="return msgboxKeyDown(this,event);"></textarea></td>
      	<td><button onclick="submitClicked(); return false;"><i class="fa fa-fw fa-send"></i></button></td>
      </tr>
      </table>
      </div>
      
      
<!-- Chat pantalla para búsqueda de usuario: Añadir dentro de div=container despues de header-->
      
      
<div class="chat-header">
          <div class="chat-header-content">
            <div class="chat-header-btn-left"><a href="Chat.html"><i class="fa fa-fw fa-list-ul"></i></a></div>
            <div><i class="fa fa-fw fa-circle chat-online-icon"></i>javier.castro</div>
          </div>
      </div>
      <div class="chat-content">
      <div class="chat-title">Buscar Usuario</div>
	  	<form action="" class="search-wrapper chat-search cf" method="post" onsubmit="mostrarLoading();">
      		<input id="caja_texto_buscador" name="caja_texto_buscador" placeholder="Introduce email	" type="text" value=""><button type="submit" class="flaticon-magnifying7"></button>
		</form>
        <div class="chat-title">Resultados</div>
        <table width="100%" border="0">
              <tr>
                <td>juan.duron</td>
                <td class="chat-result-info"><a href=""><i class="fa fa-fw fa-info"></i></a></td>
                <td class="chat-result-add"><a href=""><i class="fa fa-fw fa-plus"></i></a></td>
              </tr>
              <tr>
                <td>juan.guzman</td>
                <td class="chat-result-info"><a href=""><i class="fa fa-fw fa-info"></i></a></td>
                <td class="chat-result-add"><a href=""><i class="fa fa-fw fa-plus"></i></a></td>
              </tr>
              <tr>
                <td>juan.fernandez</td>
                <td class="chat-result-info"><a href=""><i class="fa fa-fw fa-info"></i></a></td>
                <td class="chat-result-add"><a href=""><i class="fa fa-fw fa-plus"></i></a></td>
              </tr>
              <tr>
                <td>juan.ortiz</td>
                <td class="chat-result-info"><a href=""><i class="fa fa-fw fa-info"></i></a></td>
                <td class="chat-result-add"><a href=""><i class="fa fa-fw fa-plus"></i></a></td>
              </tr>
              <tr>
                <td>juan.figueroa</td>
                <td class="chat-result-info"><a href=""><i class="fa fa-fw fa-info"></i></a></td>
                <td class="chat-result-add"><a href=""><i class="fa fa-fw fa-plus"></i></a></td>
              </tr>
        </table>
      <div class="chat-btn-back">
                <input type="button" onclick="cancelVCard();" value="Regresar">		
	  </div>
      </div>
