<!-- Estilos -->
<style>
    #table-live {
        margin: 0 auto;
        max-width: 800px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

        #table-live table {
            width: 100%;
            border: 1px solid #ddd;
            font-size: 14px;
            text-align: center;
            background-color: #fff;
        }

        #table-live thead {
            background: #f5f5f5;
        }

        #table-live td, #table-live th {
            padding: 5px 0px 5px 0px;
            border: 1px solid #ddd;
        }

        #table-live a {
            background-color: #ffdd00;
            padding: 3px 8px 3px 9px;
            border-radius: 20px;
        }

            #table-live a:hover {
                background-color: #ffcc00;
            }

    .tabs {
        max-width: 800px;
        float: none;
        list-style: none;
        position: relative;
        text-align: left;
    }

        .tabs li {
            float: left;
            display: block;
        }

        .tabs input[type="radio"] {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .tabs label {
            display: block;
            padding: 14px 21px;
            border-radius: 2px 2px 0 0;
            font-size: 12px;
            font-weight: normal;
            text-transform: uppercase;
            background: #f5f5f5;
            cursor: pointer;
            position: relative;
            top: 4px;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

            .tabs label:hover {
                background: #ffcc00;
            }

        .tabs .tab-content {
            z-index: 2;
            display: none;
            overflow: hidden;
            width: 100%;
            padding: 10px;
            position: absolute;
            top: 40px;
            left: 0;
            background: #ffdd00;
        }

        .tabs [id^="tab"]:checked + label {
            top: 0;
            padding-top: 17px;
            background: #ffdd00;
            font-weight: bold;
        }

        .tabs [id^="tab"]:checked ~ [id^="tab-content"] {
            display: block;
        }

        .tabs p.link {
            clear: both;
            margin: 380px 0 0 15px;
        }

            .tabs p.link a {
                text-transform: uppercase;
                text-decoration: none;
                display: inline-block;
                color: #fff;
                padding: 5px 10px;
                margin: 0 5px;
                background-color: #612e76;
                -moz-transition: all 0.2s ease-in;
                -o-transition: all 0.2s ease-in;
                -webkit-transition: all 0.2s ease-in;
                transition: all 0.2s ease-in;
            }

                .tabs p.link a:hover {
                    background-color: #522764;
                }

    @media only screen and (max-width: 480px) {
        #table-live table {
            font-size: 12px;
        }

        #table-live {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
</style>

<!-- Tabla -->
<center>
    <ul class="tabs">
        <li>
            <input type="radio" name="tabs" id="tab1" checked />
            <label for="tab1">Digital</label>
            <div id="tab-content1" class="tab-content">
                <div id="table-live">
                    <table width="100%" border="0">
                        <thead>
                            <tr>
                                <th>UDAC</th>
                                <th>NOMBRE</th>
                                <th>INFO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SADIA - DIAMANTE (SACOM)</td>
                                <td>AAIR</td>
                                <td><a href=""><i class="fa fa-info"></i></a></td>
                            </tr>
                            <tr class="alt2">
                                <td>SAPLA - PLATA (SACOM)</td>
                                <td>AAIR</td>
                                <td><a href=""><i class="fa fa-info"></i></a></td>
                            </tr>
                            <tr>
                                <td>SAPLA - PLATA (SACOM)</td>
                                <td>ACCESORIOS E INSTALACIONES DE AIRE ACONDICIONADO</td>
                                <td><a href=""><i class="fa fa-info"></i></a></td>
                            </tr>
                            <tr class="alt2">
                                <td>SADIA - DIAMANTE (SACOM)</td>
                                <td>ACCESORIOS E INSTALACIONES DE AIRE ACONDICIONADO</td>
                                <td><a href=""><i class="fa fa-info"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>

        <li>
            <input type="radio" name="tabs" id="tab2" />
            <label for="tab2">Impresa</label>
            <div id="tab-content2" class="tab-content">
                <div id="table-live">
                    <table width="100%" border="0">
                        <thead>
                            <tr>
                                <th>UDAC</th>
                                <th>NOMBRE</th>
                                <th>INFO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SAPLA - PLATA (SACOM)</td>
                                <td>AAIR</td>
                                <td><a href=""><i class="fa fa-info"></i></a></td>
                            </tr>
                            <tr class="alt2">
                                <td>SADIA - DIAMANTE (SACOM)</td>
                                <td>AAIR</td>
                                <td><a href=""><i class="fa fa-info"></i></a></td>
                            </tr>
                            <tr>
                                <td>SAPLA - PLATA (SACOM)</td>
                                <td>ACCESORIOS E INSTALACIONES DE AIRE ACONDICIONADO</td>
                                <td><a href=""><i class="fa fa-info"></i></a></td>
                            </tr>
                            <tr class="alt2">
                                <td>SADIA - DIAMANTE (SACOM)</td>
                                <td>ACCESORIOS E INSTALACIONES DE AIRE ACONDICIONADO</td>
                                <td><a href=""><i class="fa fa-info"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
        <li>
            <input type="radio" name="tabs" id="tab3" />
            <label for="tab3">Tercero</label>
            <div id="tab-content3" class="tab-content">
                <div id="table-live">
                    <table width="100%" border="0">
                        <thead>
                            <tr>
                                <th>UDAC</th>
                                <th>NOMBRE</th>
                                <th>INFO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Hola</td>
                                <td>AAIR</td>
                                <td><a href=""><i class="fa fa-info"></i></a></td>
                            </tr>
                            <tr class="alt2">
                                <td>SADIA - DIAMANTE (SACOM)</td>
                                <td>AAIR</td>
                                <td><a href=""><i class="fa fa-info"></i></a></td>
                            </tr>
                            <tr>
                                <td>SAPLA - PLATA (SACOM)</td>
                                <td>ACCESORIOS E INSTALACIONES DE AIRE ACONDICIONADO</td>
                                <td><a href=""><i class="fa fa-info"></i></a></td>
                            </tr>
                            <tr class="alt2">
                                <td>SADIA - DIAMANTE (SACOM)</td>
                                <td>ACCESORIOS E INSTALACIONES DE AIRE ACONDICIONADO</td>
                                <td><a href=""><i class="fa fa-info"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </li>
    </ul>
</center>